<div *ngIf="viewform" class="modal-content" style="padding: 0;margin: 0">

  <!-- Modal Header -->
  <div class="modal-header text-center">

    <h3> Selectionnez interimaire a exclure</h3>


  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList aria-label="choisir un interimaire">
        <mat-chip
          (removed)="remove(item)"
          *ngFor="let item of intems"
          [removable]="removable"
          [selectable]="selectable">
          {{item.nom}} - {{item.prenom}} 
          <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          #interimInput
          (matChipInputTokenEnd)="add($event)"
          [formControl]="interimCtrl"
          [matAutocomplete]="auto"
          [matChipInputAddOnBlur]="addOnBlur"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          placeholder="selectionez interimaire...">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let item of filteredInterims | async" [value]="item">
          {{item.nom}} - {{item.prenom}}  ({{item.email }})
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <!--<button class="btn btn-white btn-sm" type="submit">Cancel</button>-->
        <button (click)="save()" class="btn btn-primary btn-sm">valider</button>
      </div>
    </div>

  </div>


</div>

