<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <!--Header-->
        <div class="card-header">
          <div class="row">
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 mt-4">
              <h6><span>GESTION DES UTILISATEURS</span></h6>
            </div>
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">
              <mat-form-field>
                <mat-label>Filtrer</mat-label>
                <mat-select multiple [(ngModel)]="elements">
                  <mat-option *ngFor="let item of displayedColumnsFilter" [value]="item.name"
                              (click)="valutElements()">
                    {{item.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <form (ngSubmit)="onSubmitFiltre()" [formGroup]="formFilter" class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item  of elements ">
                  <div *ngIf="item != 'activer' ">

                    <mat-form-field class="erp-full-width">
                      <input matInput type="text" placeholder="{{item}}" id="{{item}}" formControlName="{{item}}" required>
                    </mat-form-field>
                  </div>



                  <div *ngIf="item == 'activer'">

                    <mat-form-field class="erp-full-width">
                      <mat-select placeholder="{{item}}" id="{{item}}" formControlName="{{item}}" required>
                        <mat-option value="oui">Oui</mat-option>
                        <mat-option value="non">Non</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>






                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 text-center">
                  <button class="btn btn-primary" type="submit" [disabled]="formFilter.invalid" *ngIf="elements.length > 0">Valider</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card-body table-responsive">
          <table mat-table #table matSort matSortStart="asc" [dataSource]="dataSource"
                 class="footable table table-hover table-striped">
            <!-- debut des colonnes des champs du tableau -->
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th *matHeaderCellDef mat-header-cell>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td *matCellDef="let client" class="pt-3" mat-cell>
                <mat-checkbox (change)="$event ? selection.toggle(client) : null" (click)="$event.stopPropagation()"
                              [checked]="selection.isSelected(client)">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="number">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>N.</th>
              <td mat-cell *matCellDef="let users" class="pt-3">{{ dataSource.filteredData.indexOf(users) + 1 }}</td>
            </ng-container>

            <ng-container matColumnDef="Nom complet">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Nom complet</th>
              <td mat-cell *matCellDef="let users" class="font-bold color-rms-bleu pt-3 sizeText">

                {{ users.prenom | titlecase}} {{ users.nom | titlecase }}
                <!-- <a *ngIf="users.fonction === 'Interimaire'"
                   [routerLink]="'/RMS-Admin/interim/'+users.idCurrent+'/show'"> {{ users.prenom |
                    titlecase}} {{ users.user.nom | titlecase}}</a>
                <a *ngIf="users.fonction === 'Recruteur'"
                   [routerLink]="'/RMS-Admin/recruteur/'+users.idCurrent+'/show'"> {{ users.prenom
                    | titlecase}} {{ users.user.nom | titlecase}}</a>
                <a *ngIf="users.fonction === 'Gestionnaire interne'"
                   [routerLink]="'/RMS-Admin/gestionnaire-ineterne/'+users.idCurrent+'/show'">
                    </a> -->
              </td>
            </ng-container>
            <ng-container matColumnDef="Email">
              <th class="text-center" mat-header-cell mat-sort-header *matHeaderCellDef>Email</th>
              <td mat-cell *matCellDef="let users" class="pt-3 sizeText">
                <div *ngIf="idItemUpdate===users.idCurrent && keyItemUpdate === 'email'">
                  <div class="input-group">
                    <input type="text" class="form-control" id="updateEmail"
                           placeholder="{{users.email}}"
                           aria-describedby="validationTooltipUsernamePrepend" required #emailUpdate>
                    <div class="input-group-prepend">
                                            <span class="input-group-text pointer" id="actionEmailUpdate">
                                                <span class="text-info glyphicon glyphicon-ok mr-2"></span>
                                                <span class="text-danger glyphicon glyphicon-remove"
                                                      (click)="idItemUpdate = 0;keyItemUpdate = ''"></span>
                                            </span>
                    </div>
                  </div>
                </div>
                <!--<div *ngIf="idItemUpdate!==users.idCurrent || keyItemUpdate !== 'email'"-->
                <!--class="pointer border-input" (click)="onUpdateItem(users, 'email')">-->
                <!--{{ users.user.email }}-->
                <!--<span class="text-warning glyphicon glyphicon-edit"></span>-->
                <!--</div>        -->
                <div class="pointer border-input">
                  {{ users.email }}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="Username">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Pseudo</th>
              <td mat-cell *matCellDef="let users" class="pt-3 sizeText">
                <div *ngIf="idItemUpdate===users.idCurrent && keyItemUpdate === 'username'">
                  <div class="input-group">
                    <input type="text" class="form-control" id="updateUsername"
                           placeholder="{{users.username}}"
                           aria-describedby="validationTooltipUsernamePrepend" required
                           #usernameUpdate>
                    <div class="input-group-prepend">
                                            <span class="input-group-text pointer" id="actionUsernameUpdate">
                                                <span class="text-info glyphicon glyphicon-ok mr-2"></span>
                                                <span class="text-danger glyphicon glyphicon-remove"
                                                      (click)="idItemUpdate = 0;keyItemUpdate = ''"></span>
                                            </span>
                    </div>
                  </div>
                </div>
                <div class="pointer">
                  {{ users.username }}
                  <!--<span class="text-warning glyphicon glyphicon-edit"></span>-->
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="Etat">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Activé</th>
              <td mat-cell *matCellDef="let users" class="sizeText">
                <mat-slide-toggle color="primary" [checked]="users.enabled" (click)="onActiveOuDesactiveUser(users.id, !users.enabled)"></mat-slide-toggle>
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let users" class="sizeText">
                <mat-icon class="pointer" (click)="onSupprimeOnUser(users)" color="warn">delete</mat-icon>
              </td>
            </ng-container>

            <ng-container matColumnDef="pwd">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>Password</th>
              <td *matCellDef="let users" class="pt-3 text-center" mat-cell>
                <mat-icon (click)="updatepassword(users)" color="success" class="text-vert pointer material-icons">autorenew</mat-icon>
              </td>
            </ng-container>


            <ng-container matColumnDef="Fonction">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Fonction</th>


              <td mat-cell *matCellDef="let users" class="pt-2 sizeText">

                <mat-chip-list>
                                    <span *ngIf="users.roles[1] === 'ROLE_CANDIDAT'">
                                        <mat-chip color="primary" selected>Interimaire</mat-chip>
                                    </span>
                  <span *ngIf="users.roles[1] === 'ROLE_RECRUTEUR'">
                                        <mat-chip color="accent" selected>Recruteur</mat-chip>
                                    </span>
                  <span *ngIf="users.roles[0] === 'ROLE_COMMERCIAL'">
                                        <mat-chip>Commercial</mat-chip>
                                    </span>
                  <span *ngIf="users.roles[1] === 'ROLE_SUPER_ADMIN'">
                                        <mat-chip color="warn" selected>Administrateur</mat-chip>
                                    </span>

                </mat-chip-list>


              </td>
            </ng-container>
            <!-- fin des colonnes des champs du tableau -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let interim; columns: displayedColumns;"
                (click)="selection.toggle(interim)"></tr>

          </table>
          <div *ngIf="this.dataSource">
            <div class="text-center" *ngIf="this.dataSource.filteredData.length == 0">
              <strong>Désolé, aucun résultat ne correspond à votre recherche.</strong>
            </div>
          </div>
        </div>
        <div class="card-footer container-fluid">
          <div class="row">
            <div class="col-12 col-lg-4 bg-white pt-2 pl-2">
              <div class="row">
                <div class="col-9">
                  <mat-select [(ngModel)]="action" placeholder="selectionnez une action">
                    <mat-option *ngFor="let action of listActions" [value]="action.type">
                      {{action.label}}
                    </mat-option>
                  </mat-select>
                </div>
                <div class="col-3">
                  <div class="example-button-container">
                    <button (click)="actionbtn(action,selection.selected)" mat-mini-fab color="success" aria-label="Ok">
                      <mat-icon>done</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-8">
              <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pagination($event)"></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
