<div class="modal-content" *ngIf="user" style="padding: 0;margin: 0">

  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h3>
      Mise à jour de votre profil
    </h3>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <form [formGroup]="interimForm" *ngIf="roleInterim()">
      <!-- debut du formulaire information de l'utilisateur -->
      <div [formGroup]="interimForm.get('user')">
        <div class="row">
          <div class="col-sm-4">
            <mat-form-field class="erp-full-width">
              <mat-select placeholder="Civilite" formControlName="civilite" >
                <mat-option value="Mr"> Mr</mat-option>
                <mat-option value="Mme">Mme</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field class="erp-full-width">
              <input matInput type="text" placeholder="Nom" formControlName="nom">
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field class="erp-full-width">
              <input matInput type="text" placeholder="Prenom" formControlName="prenom">
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field  class="erp-full-width">
              <input matInput type="text" placeholder="Numero securité" formControlName="numSecu">
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Date de naissance" formControlName="dateNaissance">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field  class="erp-full-width">
              <input matInput type="text" placeholder="Pays de naissance" formControlName="idPaysNaissance">
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field  class="erp-full-width">
              <input matInput type="text" placeholder="Lieu de naissance" formControlName="lieuNaissance">
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field  class="erp-full-width">
              <input matInput type="text" placeholder="Telephone" formControlName="telephone">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="erp-full-width">
              <input matInput type="text" placeholder="Adresse" formControlName="adresse">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="erp-full-width">
              <input matInput type="text" placeholder="complement Adresse" formControlName="complement_adresse">
            </mat-form-field>
          </div>
          <div class="col-md-6">

            <mat-form-field class="erp-full-width">
              <input type="text" placeholder="Choisissir  commune " aria-label="Text" matInput
                     [matAutocomplete]="auto" (keyup)="onCommune($event.target.value)" formControlName="ville"
                     (blur)="onblurCommune()">
              <mat-autocomplete #auto>
                <mat-option *ngFor="let commune of filteredCommune | async" [value]="commune.nom">
                  {{commune.code}} - {{ commune.nom }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="erp-full-width">
              <input matInput type="text" placeholder="code postal" formControlName="cp">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="erp-full-width">
              <input matInput type="text" placeholder="Région" formControlName="region">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="erp-full-width">
              <input matInput type="text" placeholder="Departement" formControlName="departement">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div  class="row">
        <div class="col-md-4">
          <mat-form-field class="erp-full-width">
            <input matInput type="text" placeholder="Numero RPPS" formControlName="numRPPS">
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <input matInput placeholder="">
          <mat-checkbox class="erp-full-width" formControlName="inscription" labelPosition="after">Inscription</mat-checkbox>
        </div>
        <div class="col-sm-4">
          <mat-form-field class="erp-full-width">
            <mat-select placeholder="Statut" formControlName="statut" >
              <mat-option value="En Cours">En Cours</mat-option>
              <mat-option value="Valider">Valider</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div  class="row">
        <div class="col-sm-4">
          <mat-form-field class="erp-full-width">
            <textarea matInput placeholder="Rayon d'intervention" formControlName="rayonIntervention"></textarea>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field class="erp-full-width">
            <textarea matInput placeholder="Preference de deplacement" formControlName="preferenceDeplacement"></textarea>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field class="erp-full-width">
            <textarea matInput placeholder="Preference de contact" formControlName="preferenceContact"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="hr-line-dashed"></div>
      <div class="form-group row">
        <div class="col-sm-4 col-sm-offset-2">
          <!--<button class="btn btn-white btn-sm" type="submit">Cancel</button>-->
          <button class="btn btn-primary btn-sm" (click)="saveInterim()" [disabled]="interimForm.invalid">Enregister</button>
        </div>
      </div>
    </form>
    <form [formGroup]="recruteurForm" *ngIf="roleRecruteur()">
      <div [formGroup]="recruteurForm.get('user')">
        <div class="row">
          <div class="col-sm-4">
            <mat-form-field class="erp-full-width">
              <mat-select placeholder="Civilite" formControlName="civilite" >
                <mat-option value="Mr"> Mr</mat-option>
                <mat-option value="Mme">Mme</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field class="erp-full-width">
              <input matInput type="text" placeholder="Nom" formControlName="nom">
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field class="erp-full-width">
              <input matInput type="text" placeholder="Prenom" formControlName="prenom">
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field  class="erp-full-width">
              <input matInput type="text" placeholder="Numero securité" formControlName="numSecu">
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Date de naissance" formControlName="dateNaissance">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field  class="erp-full-width">
              <input matInput type="text" placeholder="Pays de naissance" formControlName="idPaysNaissance">
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field  class="erp-full-width">
              <input matInput type="text" placeholder="Lieu de naissance" formControlName="lieuNaissance">
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field  class="erp-full-width">
              <input matInput type="text" placeholder="Telephone" formControlName="telephone">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="erp-full-width">
              <input matInput type="text" placeholder="Adresse" formControlName="adresse">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="erp-full-width">
              <input matInput type="text" placeholder="complement Adresse" formControlName="complement_adresse">
            </mat-form-field>
          </div>
          <div class="col-md-6">

            <mat-form-field class="erp-full-width">
              <input type="text" placeholder="Choisissir  commune " aria-label="Text" matInput
                     [matAutocomplete]="auto" (keyup)="onCommuneRecruteur($event.target.value)" formControlName="ville"
                     (blur)="onblurCommuneRecruteur()">
              <mat-autocomplete #auto>
                <mat-option *ngFor="let commune of filteredCommune | async" [value]="commune.nom">
                  {{commune.code}} - {{ commune.nom }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="erp-full-width">
              <input matInput type="text" placeholder="code postal" formControlName="cp">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="erp-full-width">
              <input matInput type="text" placeholder="Région" formControlName="region">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="erp-full-width">
              <input matInput type="text" placeholder="Departement" formControlName="departement">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div  class="row">
        <div class="col-md-12">
          <mat-form-field class="erp-full-width">
            <input matInput type="text" placeholder="Fonction" formControlName="fonction">
          </mat-form-field>
        </div>
      </div>
      <div class="hr-line-dashed"></div>
      <div class="form-group row">
        <div class="col-sm-4 col-sm-offset-2">
          <!--<button class="btn btn-white btn-sm" type="submit">Cancel</button>-->
          <button class="btn btn-primary btn-sm" (click)="saveRecruteur()" [disabled]="recruteurForm.invalid">Enregister</button>
        </div>
      </div>
    </form>
  </div>
</div>
