<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <!--Header-->
        <div class="card-header">
          <div class="row">
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 mt-4">
              <h6>
                <span>LISTE DES INTERIMAIRES (<b>{{ specialite }}</b>)
                </span>
              </h6>
            </div>
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
              </mat-form-field>
              &nbsp;&nbsp;
            </div>
          </div>
        </div>
        <div class="example-table-container">
          <div class="card-body table-responsive">
            <table mat-table #table [dataSource]="dataSource" matSort
              class="bg-white footable table table-hover table-striped" *ngIf="showLoadInterim">
              <!-- colonne de checkboc   -->

              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let client" class="pt-3">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(client) : null"
                    [checked]="selection.isSelected(client)">
                  </mat-checkbox>
                </td>
              </ng-container>
              <!-- debut des colonnes des champs du tableau -->
              <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef>N°</th>
                <td mat-cell *matCellDef="let interim" class="pt-3">
                  {{ dataSource.data.indexOf(interim) + 1 }}
                </td>
              </ng-container>

              <ng-container matColumnDef="Nom">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Nom</th>
                <td mat-cell *matCellDef="let interim" class="font-weight-bold pt-3">
                  <a routerLink="/RMS-Admin/interim/{{ interim.id }}/show/">{{
                    interim.nom
                  }}</a>
                </td>
              </ng-container>
              <ng-container matColumnDef="Prenom">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                  Prenom
                </th>
                <td mat-cell *matCellDef="let interim" class="font-weight-bold pt-3">
                  <a routerLink="/RMS-Admin/interim/{{ interim.id }}/show/">{{
                    interim.prenom
                  }}</a>
                </td>
              </ng-container>

              <ng-container matColumnDef="Email">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                  E-mail
                </th>
                <td mat-cell *matCellDef="let interim" class="pt-3">
                  {{ interim.email }}
                </td>
              </ng-container>
              <ng-container matColumnDef="telephone">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                  Téléphone
                </th>
                <td mat-cell *matCellDef="let interim" class="pt-3">
                  {{ interim.telephone }}
                </td>
              </ng-container>

              <!-- fin des colonnes des champs du tableau -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let interim; columns: displayedColumns" (click)="selection.toggle(interim)"></tr>
            </table>

            <!-- <div class="text-center" *ngIf="dataSource.data.length == 0">
              <strong
                >Désolé, aucun résultat ne correspond à votre recherche.</strong
              >
            </div> -->
          </div>
        </div>
        <div class="card-footer">


          <div class="row">
            <div class="col-md-6">
              <button mat-button mat-dialog-close class="btn btn-danger btn-sm">
                Annuler
              </button>
              &nbsp;&nbsp;
              <button *ngIf="selection.selected.length > 0" mat-flat-button color="success"
                [mat-dialog-close]="selection.selected" cdkFocusInitial>
                Valider
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>