.mat-header-cell {
  text-align: left;
  font-size: 1em;
  color: black;
  border-bottom: 2px solid #3a97a2;
}

tr.mat-header-row {
  height: 5px;
  background: white;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}
