<div class="modal-content">

  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h3><strong>Type de garde</strong></h3>
  </div>

  <!-- Modal body -->
  <div class="modal-body table-responsive">

    <div class="example-table-container">

      <table #table [dataSource]="dataSource" class="bg-white footable table table-hover table-striped" mat-table matSort
             matSortStart="asc">
        <!-- colonne de checkboc   -->
        <ng-container matColumnDef="number">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>#</th>
          <td *matCellDef="let tg ; let i = index " mat-cell>{{ i + 1}}</td>
        </ng-container>


        <ng-container matColumnDef="Annee">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Annee</th>
          <td *matCellDef="let tg" mat-cell><span *ngIf="tg">{{tg.annee}}</span></td>
        </ng-container>


        <ng-container matColumnDef="Libelle">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Garde</th>
          <td *matCellDef="let tg" mat-cell><span *ngIf="tg">{{ tg.type_de_garde}}</span></td>
        </ng-container>

        <ng-container matColumnDef="Debut">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>H.Debut</th>

          <td *matCellDef="let tg" mat-cell><span *ngIf="tg">{{ tg.heure_debut.date | date:'HH:mm'}}</span></td>
        </ng-container>

        <ng-container matColumnDef="Fin">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>H.Fin</th>
          <td *matCellDef="let tg" mat-cell><span *ngIf="tg">{{ tg.heure_fin.date | date:'HH:mm'}}</span></td>
        </ng-container>
        <ng-container matColumnDef="Tarif">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Tarif</th>
          <td *matCellDef="let tg" mat-cell><span *ngIf="tg">{{ tg.tarif}}</span> €</td>
        </ng-container>
        <ng-container matColumnDef="Salaire Net">
          <th *matHeaderCellDef mat-header-cell mat-sort-header><span *ngIf="roleCommercial()">Salaire</span></th>
          <td *matCellDef="let tg" mat-cell><span *ngIf="(tg) && roleCommercial()">{{ tg.salaire_net}}</span> <span *ngIf="(tg) && roleCommercial()">€</span></td>
        </ng-container>

        <ng-container matColumnDef="T.Reference">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Taux de Reference</th>
          <td *matCellDef="let tg" mat-cell><span *ngIf="tg">{{ tg.txtreference}}</span> €</td>
        </ng-container>


        <!-- <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let tg; let i = index">
            <button  mat-mini-fab="accent" (click)="editVacationModal(tg.typeDeGarde_id)">
                <mat-icon>create</mat-icon>
            </button>

            </td>
        </ng-container> -->


        <!-- fin des colonnes des champs du tableau -->
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let tg; columns: displayedColumns;" mat-row></tr>
      </table>
      <div *ngIf="this.dataSource.filteredData.length == 0" class="text-center">
        <strong>Désolé, aucun résultat ne correspond à votre recherche.</strong>
      </div>
    </div>


    <div class="modal-footer">
      <mat-paginator [length]="length" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
      >
      </mat-paginator>


      <button (click)="onDismiss()" color="warn" mat-button>fermer</button>

    </div>
  </div>
</div>
