<div class="row">


  <div class="col-md-2 pull-right">

  </div>

  <div class="col-md-6"></div>

  <div class="col-md-4">
    <div class="col-12 text-right">

      <!-- <lib-daterangepicker [(start)]="start" format="DD-MM-YYYY" opens="left" [pill]="true" [ranges]="customRanges"
        (complete)="callback($event)">

      </lib-daterangepicker> -->
    </div>
  </div>
</div>



<div class="panel-body table-responsive">
  <table mat-table #table matSort matSortStart="asc" [dataSource]="dataSource"
         class="bg-white footable table table-hover table-striped " >
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let item">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(item) : null"
                      [checked]="selection.isSelected(item)">
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- debut des colonnes des champs du tableau -->
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef>Num.</th>
      <td mat-cell *matCellDef="let item">{{ dataSource.filteredData.indexOf(item) + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="Statut">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Avancement</th>
      <td mat-cell *matCellDef="let item">
        <mat-chip-list>
          <span *ngIf="item.etat == 0">
            <mat-chip color="primary" selected>En Cours</mat-chip>
          </span>
          <span *ngIf="item.etat == 1">
            <mat-chip color="accent" selected>Terminer</mat-chip>
          </span>
          <span *ngIf="item.etat == 2">
            <mat-chip color="warn" selected>Annuler</mat-chip>
          </span>
          <span *ngIf="item.etat == 3">
            <mat-chip>Non Commencée</mat-chip>
          </span>

        </mat-chip-list>

      </td>
    </ng-container>

    <ng-container matColumnDef="Ligne">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ligne</th>
      <td mat-cell *matCellDef="let item">{{ item.telephone_ligne}} - {{ item.email_ligne}}</td>
    </ng-container>

    <ng-container matColumnDef="Type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let item">{{ item.type}}</td>
    </ng-container>

    <ng-container matColumnDef="Heure Debut">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Heure Debut </th>
      <td mat-cell *matCellDef="let item">{{ item.heure_debut}}</td>
    </ng-container>

    <ng-container matColumnDef="Heure Fin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Heure Debut </th>
      <td mat-cell *matCellDef="let item">{{ item.heure_fin}}</td>
    </ng-container>

    <ng-container matColumnDef="Date Debut">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Debut </th>
      <td mat-cell *matCellDef="let item">{{ item.date_debut}}</td>
    </ng-container>

    <ng-container matColumnDef="Date Fin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Fin </th>
      <td mat-cell *matCellDef="let item">{{ item.date_fin}}</td>
    </ng-container>

    <ng-container matColumnDef="Description">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Description </th>
      <td mat-cell *matCellDef="let item" class="font-bold">
        <button mat-mini-fab color="success" (click)="message(item.description)">  <mat-icon>description</mat-icon></button>
      </td>
    </ng-container>



    <!-- fin des colonnes des champs du tableau -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let item columns: displayedColumns;" (click)="selection.toggle(item)"></tr>


  </table>

</div>
