<div class="modal-content" style="padding: 0;margin: 0">

  <div class="modal-header text-center">
    Date(s)
  </div>


  <table mat-table #table [dataSource]="dataSource" matSort class="bg-white footable table table-hover table-striped">
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
      <td mat-cell *matCellDef="let d">{{ dataSource.filteredData.indexOf(d) + 1 }}
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let d" class="font-bold">{{d.date | date:'d-MM-y' }}</td>
    </ng-container>





    <!-- fin des colonnes des champs du tableau -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let d; columns: displayedColumns;" (click)="selection.toggle(d)"></tr>
  </table>

  <div class="text-center" *ngIf="this.dataSource.filteredData.length == 0">
    <strong>Désolé, aucun résultat ne correspond à votre recherche.</strong>
  </div>


  <div class="panel-footer">
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" #listPaginator
     >
    </mat-paginator>

    <span>
      <b>Totale : </b> {{length}}
    </span>

  </div>
</div>