<h2 mat-dialog-title>List Offre</h2>
<mat-dialog-content>
  <div class="input-recherche-container">
    <mat-form-field>
      <input matInput type="text" placeholder="Rechercher" (keyup)="filtrer($event.target.value)">
    </mat-form-field>

  </div>
  <table mat-table #table matSort matSortStart="asc" [dataSource]="dataSource"
         class="footable table table-stripped toggle-arrow-tiny">
    <!-- colonne de checkboc   -->

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let client">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(client) : null"
                      [checked]="selection.isSelected(client)">
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- debut des colonnes des champs du tableau -->
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef>Num.</th>
      <td mat-cell *matCellDef="let item">{{ dataSource.filteredData.indexOf(item) + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="Annee">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Annee</th>
      <td mat-cell *matCellDef="let item">{{ item.annee}}</td>
    </ng-container>

    <ng-container matColumnDef="Mois">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mois</th>
      <td mat-cell *matCellDef="let item">{{ item.mois }}</td>
    </ng-container>

    <ng-container matColumnDef="Reference">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Reference/th>
      <td mat-cell *matCellDef="let item">{{ item.reference }}</td>
    </ng-container>


    <!-- fin des colonnes des champs du tableau -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let item; columns: displayedColumns;" (click)="selection.toggle(item)"></tr>
  </table>
  <mat-paginator #listPaginator [pageSize]="3" [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>


</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button [mat-dialog-close]="selection.selected" cdkFocusInitial>Ok</button>

</mat-dialog-actions>
