.item{
  padding-left: 20px;
  color: #17a2b7;
  line-height: 30px;
}

table{
  /*width: 100%;*/
  /*border: 2px;*/
  border-collapse: separate; border-spacing: 1px;
  text-align: center;
}
td div{
  background: #1b558f;
  color: white;
  padding: 5px;
  border-bottom: 5px solid #17a2b8;
}
.card_p{
  margin-top: -8px;
}
