<div class="ml-4 mr-4 animated zoomInLeft" *ngIf="this.currentUser">
    <mat-tab-group *ngIf="roleService.isManager(this.currentUser.roles)">

        <mat-tab label="General">
            <mat-card>
                <mat-card-content *ngIf="indicateurs">
                    <div class="row row-sm">
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-info rounded overflow-hidden">
                                <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                                    <i class="ion ion-ios-medkit tx-60 lh-0 tx-white op-7"></i>
                                    <div class="mg-l-20">
                                        <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">Client(s)</p>
                                        <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">{{indicateurs.clients}}</p>
                                        <span class="tx-11 tx-roboto tx-white-8">{{indicateurs.client_actif}} actif (s)</span>
                                    </div>
                                </div>
                                <div class="ht-50 tr-y-1" id="ch1"></div>
                            </div>
                        </div>
                        <!-- col-3 -->
                        <div class="col-sm-6 col-xl-3 mg-t-20 mg-sm-t-0">
                            <div class="bg-purple rounded overflow-hidden">
                                <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                                    <i class="ion ion-ios-people tx-60 lh-0 tx-white op-7"></i>
                                    <div class="mg-l-20">
                                        <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">Interimaire(s)</p>
                                        <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">{{indicateurs.interims}}</p>
                                        <span class="tx-11 tx-roboto tx-white-8">{{indicateurs.interims_actif}} actif (s)</span>
                                    </div>
                                </div>
                                <div class="ht-50 tr-y-1" id="ch3"></div>
                            </div>
                        </div>
                        <!-- col-3 -->
                        <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
                            <div class="bg-teal rounded overflow-hidden">
                                <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                                    <i class="ion ion-clock tx-60 lh-0 tx-white op-7"></i>
                                    <div class="mg-l-20">
                                        <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">H. Travaillée(s)
                                        </p>
                                        <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">{{indicateurs.heure_travailler}}</p>
                                        <span class="tx-11 tx-roboto tx-white-8">Réseau Médical services</span>
                                    </div>
                                </div>
                                <div class="ht-50 tr-y-1" id="ch2"></div>
                            </div>
                        </div>
                        <!-- col-3 -->
                        <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
                            <div class="bg-primary rounded overflow-hidden">
                                <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                                    <i class="ion ion-clock tx-60 lh-0 tx-white op-7"></i>
                                    <div class="mg-l-20">
                                        <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">E.journée(s)</p>
                                        <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">{{indicateurs.heure_travailler / 10}}</p>
                                        <span class="tx-11 tx-roboto tx-white-8">Réseau Médical services</span>
                                    </div>
                                </div>
                                <div class="ht-50 tr-y-1" id="ch4"></div>
                            </div>
                        </div>
                        <!-- col-3 -->
                    </div>
                    <!-- row -->
                    <br><br>
                    <div class="row text-right">
                        <div class="col-lg-12 text-right">
                            <button (click)="onFiltrer()" *ngIf="!filtrer" color="primary" mat-raised-button>
                <i class="fa fa-filter"></i> Filtrer
              </button>
                            <button (click)="onFiltrer()" *ngIf="filtrer" color="primary" mat-raised-button>
                <i class="fa fa-chevron-up"></i> Réduire
              </button>
                        </div>
                    </div>

                    <div *ngIf="filtrer" class="row">
                        <div class="container-fluid">
                            <!-- <div class="row">
                <mat-form-field class="col-12">
                  <mat-label>Par Specialite</mat-label>
                  <mat-select [formControl]="specialite" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let item of listSpecialites" [value]="item.nomspecialite">
                      {{item.nomspecialite}}
                    </mat-option>
                  </mat-select>

                </mat-form-field>
              </div> -->
                            <div class="row">
                                <mat-form-field class="col-12">
                                    <mat-label>Par Année(s)</mat-label>
                                    <mat-select [formControl]="annee" required>
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let item of annees" [value]="item">
                                            {{item.annee}}
                                        </mat-option>
                                    </mat-select>


                                </mat-form-field>
                            </div>
                            <div class="row">
                                <div class="col-lg-8"></div>
                                <button (click)="actionRecherche()" aria-label="Button pour valider l'action" class="col-lg-4" color="primary" mat-raised-button> Valider
                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row row-sm mg-t-20">
                        <div class="col-lg-8" *ngIf="barChart">
                            <div class="card bd-0 shadow-base">


                                <div class="pd-l-25 pd-r-15 pd-b-25">

                                    <div class="" id="ch5">
                                        <fusioncharts [width]="barChart.width" [height]="barChart.height" [type]="barChart.type" [dataFormat]="barChart.dataFormat" [dataSource]="barChart.dataSource">
                                        </fusioncharts>

                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                        </div>
                        <!-- col-8 -->
                        <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                            <div class="card shadow-base bd-0 overflow-hidden">
                                <div class="pd-x-25 pd-t-25">


                                    <div class="row">
                                        <div class="col-12" *ngIf="pie3dChart">

                                            <fusioncharts [width]="pie3dChart.width" [height]="pie3dChart.height" [type]="pie3dChart.type" [dataFormat]="pie3dChart.dataFormat" [dataSource]="pie3dChart.dataSource">
                                            </fusioncharts>

                                        </div>
                                    </div>
                                </div>
                                <!-- pd-x-25 -->
                            </div>
                            <!-- card -->
                        </div>
                        <!-- col-4 -->
                    </div>
                    <!-- row -->



                </mat-card-content>
            </mat-card>
        </mat-tab>
        <mat-tab *ngIf="rolesService.isSuperAdmin(this.currentUser.roles)" label="Client">
            <mat-card>
                <mat-card-content>

                    <app-stat-client></app-stat-client>


                </mat-card-content>
            </mat-card>
        </mat-tab>

        <!-- <mat-tab label="Real Time">
      <mat-card style="background-color: #f3f3f4">
        <mat-card-content>


          <apx-chart #chartObj></apx-chart>


        </mat-card-content>
      </mat-card>
    </mat-tab> -->

        <mat-tab *ngIf="rolesService.isSuperAdmin(this.currentUser.roles)" label="Interimaire">
            <mat-card>
                <mat-card-content>
                    <app-stat-interimaire></app-stat-interimaire>
                </mat-card-content>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>

<div *ngIf="roleService.isCandidatUnique(this.currentUser.roles)" class="bg-white m-">
    <div style="background-color: white">
        <div *ngIf="rolesService.isCandidatUnique(this.currentUser.roles)" class="row p-2 background-degrade" data-aos="fade-up" data-aos-duration="3000">
            <div class="col-6">
                <h2> Statistiques </h2>
            </div>
            <div class="col-6 text-right">
                <img alt="interrogation" class="pt-1" height="30" src="../../../../../../../assets/images/new_site/interrogation.png" width="30">
            </div>
        </div>
        <app-statistiquee></app-statistiquee>
    </div>
</div>
<div *ngIf="roleService.isRecruteurUnique(this.currentUser.roles)">
    <div class="bg-white ml-4 mr-4" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-offset="300">
        <div class="background-degrade row ml-1 mr-1 p-3">
            <div class="col-8">
                <h4 class="font-weight-bold">Utilisations</h4>
            </div>
            <div class="col-4 text-right">
                <img alt="interogation" height="35" src="../../../../../assets/images/new_site/interrogation.png" width="35">
            </div>
        </div>
        <div class="col-12 text-center pt-4">
            <p> Bienvenue dans <strong>Hop!RMS</strong>, votre espace préféré pour gérer vos solutions de remplacement.<br /> Cet espace conçu et réfléchi spécialement pour vous est le fruit d’une longue expérience sur la gestion des missions d’intérim médical.<br
                />
            </p>
        </div>
        <div class="col-md-12">
            <mat-accordion class="p-3">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Fiche de poste par service
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="item">
                        Cette rubrique vous permet de renseigner la fiche de profil de poste de chaque spécialité pour laquelle vous avez des demandes.<br /> Pour nous faire parvenir vos besoins dans une spécialité, la création de cette fiche est un préalable.<br
                        /> La fiche de profil de poste est un élément essentiel pour la bonne sélection des profils à vous proposer.
                        <br /> En effet, elle permet de tenir compte des spécificités de chacun de vos services.<br /> Nous vous remercions, par avance, de renseigner l’ensemble des champs du formulaire.<br />
                    </div>

                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Mes missions
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="item">
                        C’est ici que vous pouvez suivre l’ensemble des missions. Par mission, nous entendons:
                        <ul>
                            <li>
                                les remplacements pour lesquels vous avez reçus une candidature. le dossier du médecin est à votre disposition suivant un lien que vous pouvez consulter, à tout moment.
                            </li>
                            <li>
                                les remplacements pour lesquels vous avez reçu et validé une candidature. Vous avez répondu favorablement à la candidature du médecin, la mission est définitivement validée. Une fois cette étape franchie, toute modification n’est possible qu’à partir
                                de notre console de gestion.
                            </li>
                        </ul>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Mes commandes
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="item">
                        Vous venez de connaître vos besoins pour tel ou tel services?<br />
                        <strong>Hop!RMS</strong> par la rubrique <strong>>“mes commandes”</strong> vous permet de nous les faire parvenir en quelques clics!<br /> Une fois les plages à pourvoir renseignées, nous recevons automatiquement une alerte nous
                        informant de votre demande.
                        <br /> Le suivi des dites demandes peut se faire également dans cette partie.<br /> Ainsi, vous pouvez suivre l’évolution du planning plus facilement. Vous n’êtes plus obligés de nous appeler pour savoir où en est votre demande.<br
                        /> Il vous est possible d’apporter des mises à jour à tout moment, directement à partir de <strong>>“mes
              commandes”</strong><br />
                    </div>

                </mat-expansion-panel>
            </mat-accordion>

        </div>
    </div>
</div>
<div *ngIf="roleService.isCommercialUnique(this.currentUser.roles) && gestionnaireInterne">
    <mat-tab-group>
        <mat-tab label="Profil">
            <app-profil-gestionnaire-interne></app-profil-gestionnaire-interne>
        </mat-tab>

        <!-- <mat-tab label="Tache en Cours ">

      <app-tache-en-cours></app-tache-en-cours>
    </mat-tab> -->

        <mat-tab label="Mes Taches">
            <app-tache-gestionnaire-interne></app-tache-gestionnaire-interne>
        </mat-tab>

    </mat-tab-group>
</div>