<div *ngIf="vacationForm" class="modal-content" style="overflow: hidden">
  <!-- Modal Header -->
  <div class="modal-header text-center">
    {{displayName}}
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <form [formGroup]="vacationForm">
      <div class="row">
        <div *ngIf="!edit" class="col-12 col-sm-6 col-md-6 col-lg-4">
          <mat-form-field class="erp-full-width">
            <mat-select formControlName="client" placeholder="Client">
              <mat-option (blur)="onClient()" *ngFor="let client of clientList" [value]="client">
                {{client.nom_etablissement}}
              </mat-option>

            </mat-select>

          </mat-form-field>

        </div>
        <div *ngIf="inputSpecialite" class="col-12 col-sm-6 col-md-6 col-lg-4">
          <mat-form-field class="erp-full-width">
            <mat-select formControlName="fiche_specialite" placeholder="Specialite">

              <mat-option *ngFor="let ficheSpe of listSpecialiteByFiche " [value]="ficheSpe.id">
                {{ficheSpe.specialite}}
              </mat-option>

            </mat-select>

          </mat-form-field>

        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
          <mat-form-field class="erp-full-width">
            <mat-select [compareWith]="compareWithFunc" formControlName="annee" placeholder="Annee">
              <mat-option *ngFor="let item of annee" [value]="item.value">{{item.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">

          <mat-form-field class="erp-full-width">
            <mat-select formControlName="libelle" placeholder="Type Vacation">
              <mat-option *ngFor="let item of list_type" [compareWith]="compareWithFunc" [value]="item.id">
                {{item.designation}}
              </mat-option>

            </mat-select>

          </mat-form-field>


        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
          <mat-form-field class="erp-full-width">
            <input formControlName="heure_debut" matInput placeholder="Heure Debut" type="time">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
          <mat-form-field class="erp-full-width">
            <input formControlName="heure_fin" matInput placeholder="Heure Fin" type="time">
          </mat-form-field>

        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <mat-form-field class="erp-full-width">
            <input formControlName="tarif" matInput placeholder="Tarif" type="number">
          </mat-form-field>

        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <mat-form-field class="erp-full-width">
            <input formControlName="salaire_brute" matInput placeholder="Salaire brute" type="number">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <mat-form-field class="erp-full-width">
            <input formControlName="salaire_net" matInput placeholder="Salaire Net" type="number">
          </mat-form-field>

        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <mat-form-field class="erp-full-width">
            <input formControlName="txtreference" matInput placeholder="Taux de Reference" type="number">
          </mat-form-field>
        </div>


        <div class="col-12">
          <strong>Remarque</strong>
          <ckeditor formControlName="remarque" language="fr" skin="moono-lisa"></ckeditor>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 text-right">
          <button color="warn" mat-dialog-close mat-raised-button>Annuler</button>&nbsp;&nbsp;
          <button (click)="saveVacation()" color="success" mat-raised-button>Enregister</button>
        </div>
      </div>
    </form>
  </div>
</div>
