
<div class="mt-3 example-container mat-elevation-z8" *ngIf="!detailsMMM">
  <table mat-table [dataSource]="dataSource" class="bg-white footable table table-hover table-striped">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef class="text-center"> No. </th>
      <td mat-cell *matCellDef="let element" class="font-12 text-center"> {{element.position}} </td>
    </ng-container>

    <!-- ref Column -->
    <ng-container matColumnDef="ref">
      <th mat-header-cell *matHeaderCellDef class="text-left"> Réference </th>
      <td mat-cell *matCellDef="let element" class="font-12 text-left"> {{element.ref}} </td>
    </ng-container>
    <ng-container matColumnDef="annee">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Année </th>
      <td mat-cell *matCellDef="let element" class="font-12 text-center"> {{element.annee}} </td>
    </ng-container>

    <!-- mois Column -->
    <ng-container matColumnDef="mois">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Mois </th>
      <td mat-cell *matCellDef="let element" class="font-12 text-center"> {{element.mois}} </td>
    </ng-container>

    <!-- specialite Column -->
    <ng-container matColumnDef="specialite">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Spécialité </th>
      <td mat-cell *matCellDef="let element" class="font-12 text-center"> {{element.specialite}} </td>
    </ng-container>

    <!-- renumeration Column -->
    <ng-container matColumnDef="renumeration">
      <th mat-header-cell *matHeaderCellDef class="text-right"> Tarif </th>
      <td mat-cell *matCellDef="let element" class="font-12 text-right">
        {{onGetInterimsForMission(element.ref).tarif }} €
      </td>
    </ng-container>

    <!-- candidatures Column -->
<!--    <ng-container matColumnDef="candidatures">-->
<!--      <th mat-header-cell *matHeaderCellDef class="text-center"> Candidature (s) </th>-->
<!--      <td mat-cell *matCellDef="let element" class="text-center" (click)="onModalCandidature(element.ref, element.candidatures)">-->
<!--        <strong>-->
<!--                      <span class="badge badge-primary" style="cursor: pointer" data-toggle="tooltip" title="{{element.candidatures.length}} candidatures au total et {{nbrCandidaturesValidees(element.ref)}} candidatures validées">-->
<!--                        {{element.candidatures.length}} ({{nbrCandidaturesValidees(element.ref)}})-->
<!--                      </span>-->
<!--        </strong>-->
<!--      </td>-->
<!--    </ng-container>-->

    <!-- action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Contrat (s) </th>
      <td mat-cell *matCellDef="let element" class="font-12 text-center">
        <mat-icon color="vertfoncer" class="pointer" (click)="onDetailMM({ref: element.ref, candidatures: element.candidatures})">remove_red_eye</mat-icon>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div class="overFlowHidden panel panel-default panel-table" style="border-bottom: 2px solid #45B39D" *ngIf="detailsMMM">
  <div class="panel-heading">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="panel-title " style="font-size: 1.3em; color: rgb(47, 64, 80)">Les détails de la mission: {{refDetailsMM}}</h3>
        <button mat-mini-fab color="success" (click)="onDetailMM(null)">
          <mat-icon>arrow_back</mat-icon>
        </button>

      </div>
    </div>
  </div>
  <div class="panel-body">
    <mat-tab-group>
      <mat-tab label="Liste des contrats">
        <div class="container-fluid mt-4 mb-4" *ngIf="dataSourceContrats && dataSourceContrats.data && dataSourceContrats.data.length > 0">
          <div class="row">
            <div class="col-4 mb-3" *ngFor="let element of dataSourceContrats.data;let i = index">
              <div class="card" style="width: 100%;">
                <div class="card-header p-1 font-bold ">
                  Nº: {{element.pld.idpld}}
                </div>
                <ul class="list-group list-group-flush p-1">
                  <li class="list-group-item p-1" *ngIf="element.pld && roleService.isCommercial(this.currentUser.roles)">
                    <a  matTooltip="Ouvrir le contrat du client" class="pointer mr-2" href="{{element.pld.url[1]}}" target="_blank">
                      <span class="font-12 mr-1">Mise à disposition</span> <i class="fa fa-eye"></i>
                    </a>
                  </li>
                  <li class=" list-group-item p-1">
                    <a matTooltip="Ouvrir le contrat de l'interim" class="pointer mr-2" href="{{element.pld.url[0]}} " target="_blank " *ngIf="element.pld.url[0]">
                      <span class="font-12 mr-1">Mission temporaire</span> <i class="fa fa-eye"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>
