.example-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-header-cell{
  color: black;
  border-bottom: #3a97a2 2px solid;
  padding-bottom: 5px;
}
th.mat-header-cell{
  padding-bottom: 14px;
}
td.mat-cell, td.mat-footer-cell {
  padding-top: 14px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
table{
  width: 100%;
}
