<div class="modal-content">
  <!-- Modal Header -->
  <div class="modal-header text-center">
    Listes des dates de la mission
  </div>
  <!-- Modal body -->
  <div class="col-lg-12 push-lg-12 pt-5">
    <table mat-table #table [dataSource]="dataSourceDateCandidature" matSort class="table-responsive table table-hover table-striped">

      <ng-container matColumnDef="date">
        <th *matHeaderCellDef mat-sort-header > <span style="margin-left: 10px"> Date </span></th>
        <td mat-cell *matCellDef="let item" class="text-center">{{item.date}}</td>
      </ng-container>
      <!--libelle-->
      <ng-container matColumnDef="vacation">
        <th *matHeaderCellDef mat-sort-header > <span style="margin-left: 10px">Vacation</span></th>
        <td mat-cell *matCellDef="let item" class="text-center">{{item.designation}}</td>
      </ng-container>
      <!--debut-->
      <ng-container matColumnDef="debut">
        <th *matHeaderCellDef mat-sort-header > <span style="margin-left: 10px"> Debut </span></th>
        <td mat-cell *matCellDef="let item" class="text-center">{{item.heure_debut}}</td>
      </ng-container>
      <!--fin-->
      <ng-container matColumnDef="fin">
        <th *matHeaderCellDef mat-sort-header > <span style="margin-left: 10px"> Fin </span></th>
        <td mat-cell *matCellDef="let item" class="text-center">{{item.heure_fin}}</td>
      </ng-container>
      <!--salaire net-->
      <ng-container matColumnDef="salaire">
        <th *matHeaderCellDef mat-sort-header > <span style="margin-left: 10px"> Salaire </span></th>
        <td mat-cell *matCellDef="let item" class="text-center">{{item.salaireNet}}</td>
      </ng-container>

      <!--tarif-->
      <ng-container matColumnDef="tarif">
        <th *matHeaderCellDef mat-sort-header > <span style="margin-left: 10px"> Tarif </span></th>
        <td mat-cell *matCellDef="let item" class="text-center">{{item.tarif}}</td>
      </ng-container>

      <ng-container matColumnDef="auteur">
        <th *matHeaderCellDef mat-sort-header > <span style="margin-left: 10px"> Auteur </span></th>
        <td mat-cell *matCellDef="let item" class="text-center">{{item.auteur}}</td>
      </ng-container>

      <ng-container matColumnDef="statut">
        <th *matHeaderCellDef mat-sort-header > <span style="margin-left: 10px"> statut </span></th>
        <td mat-cell *matCellDef="let item" class="text-center">{{item.satatut_candidature}}</td>
      </ng-container>

      <!-- fin des colonnes des champs du tableau -->
      <tr mat-header-row *matHeaderRowDef="displaydColumnsList"></tr>
      <tr mat-row *matRowDef="let item; columns: displaydColumnsList;"></tr>
    </table>
    <div class="panel-footer"  *ngIf="dataSourceDateCandidature">
      <b>Total :</b> {{dataSourceDateCandidature.data.length}}
    </div>
  </div>
</div>
