#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 2000px; /* Full height (cover the whole page) */
  top: 0;
  left: 0%;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.dropdown-menu {
  left: -140px
}

.navbar {
  background: url("../../../../assets/images/new_site/back_navbar.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 110px;
  font-family: Rokkitt, Arial, Helvetica, sans-serif;
  /*box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);*/
  position: fixed;
  background-color: white;
  z-index: 2147483647;
}

.logo {
  max-width: 80%;
  position: relative;
  left: 5%;
}

.navigation_fa {
  font-size: 13px;
}

.navigation {
  position: relative;
  top: -8px;

}

.image_petite_profil {
  width: 30px;
  height: 30px;
}

.navigation a {
  color: #002766;
  font-size: 1.5em;
  font-weight: 800;
}

.num_urgence {
  background: #092F6B;
  color: #ffffff;
  font-size: 1.5em;
  position: relative;
  bottom: 35px;
  font-weight: 800;
  border-radius: 25px 25px 25px;
  border-color: #092F6B;
}

.dropdown_profil {
  margin-left: -110px;
}

.btn-primary {
  border: solid 1px #092F6B;
  background: #092F6B;
  color: white;
}

.btn-danger {
  border: solid 1px #D06F80;
  background: #D06F80;
  color: white;
  font-weight: 600px;
}

.group_conn a {
  color: white;
  font-weight: 700;
}

a {
  cursor: pointer;
}

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .logo {
    max-width: 100%;
    position: relative;
    left: -20%;
    margin-top: -50px;
  }

  .navigation a {
    color: #002766;
    font-weight: 800;
    font-size: 16px;
    margin-top: -10px;
  }

  .image_petite_profil {
    margin-left: -19px;
    position: relative;
  }

  .navigation_fa {
    font-size: 11px;
    margin-top: -3px;
  }
  .dropdown_profil {
    margin-left: -216px;
  }
  .dropdown-menu {
    left: -190px
  }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar {
    height: 69px;
  }

  .logo {
    max-width: 103%;
  }

  .num_urgence {
    background: #092F6B;
    color: #ffffff;
    font-size: 0.9em;
    width: 149px;
    position: relative;
    bottom: 14px;
    height: 32px;
    font-weight: 800;
    border-radius: 25px 25px 25px;
    border-color: #092F6B;
  }

  .navigation a {
    color: #002766;
    font-size: 1.2em;
    font-weight: 800;
  }

  .image_petite_profil {
    position: relative;
    margin-left: -30px;
  }

  .dropdown_profil {
    margin-left: -228px;
    box-shadow: 2px 1px 3px 1px #092F6B;
    padding: 20px;
  }
  .dropdown-menu {
    left: -190px
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .num_urgence {
    background: #092F6B;
    color: #ffffff;
    font-size: 1.5em;
    position: relative;
    bottom: 18px;
    left: 13px;
    width: 185px;
    height: 37px;
    font-weight: 800;
    border-radius: 25px 25px 25px;
    border-color: #092F6B;
  }

  .logo {
    max-width: 112%;
    position: relative;
    left: 5%;
  }

  .image_petite_profil {
    position: relative;
    margin-left: -9px;
  }

  .dropdown_profil {
    margin-left: -202px;
    box-shadow: 2px 1px 3px 1px #092F6B;
    padding: 20px;
  }
  .dropdown-menu {
    left: -190px
  }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .num_urgence {
    background: #092F6B;
    color: #ffffff;
    font-size: 1.2em;
    position: relative;
    bottom: 12px;
    width: 200px;
    font-weight: 800;
    border-radius: 25px 25px 25px;
    border-color: #092F6B;
  }

  .dropdown_profil {
    margin-left: -179px;
    box-shadow: 2px 1px 3px 1px #092F6B;
    padding: 20px;
  }
  .dropdown-menu {
    left: -190px
  }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .navbar {
    height: 100px;
  }

  .logo {
    max-width: 75%;
    position: relative;
    left: -33%;
  }

  .num_urgence {
    background: #092F6B;
    color: #ffffff;
    font-size: 1.5em;
    position: relative;
    bottom: 14px;
    width: 239px;
    font-weight: 800;
    border-radius: 25px 25px 25px;
    border-color: #092F6B;
  }
}
