<nav class="navbar">
    <div class="col-md-2 col-lg-2 col-sm-2 col-4 text-right">
        <a href="https://reseaumedical.fr">
            <img src="https://rmsapi-old.azurewebsites.net/uploads/logo/logo.png" class="logo" alt="logo_rms">
        </a>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-2 d-none d-sm-block offset-md-1 offset-lg-1 offset-sm-1">
        <span class="form-control num_urgence shadow text-center"> 05 57 88 25 75</span>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-8 offset-md-1 offset-lg-1 offset-sm-1 text-right">
        <div class="row">
            <div class="col-md-9 col-lg-9 col-sm-9 col-9 navigation">
                <a (click)="lien('offres')">Offres</a>
                <!-- <a class="ml-4" (click)="lien('blog')">Blog</a> -->
                <!-- <a class="ml-5" (click)="onLiensUtiles()" style="cursor: pointer">Utiles</a> -->
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2 col-2     offset-md-1 offset-lg-1 offset-sm-1 text-center">
                <ul *ngIf="jwtToken.isAuthenticated">
                    <div ngbDropdown class="d-inline-block" id="dropdownBasic1" ngbDropdownToggle>
                        <img src="{{currentUser.photo }}" alt="image" class="img-circle image_petite_profil" />
                        <span class="glyphicon glyphicon-chevron-down"></span>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <div class="row p-3">
                                <div class="col-lg-12 text-center">
                                    <div class="thumbnail">
                                        <div style="height: 90px">
                                            <img src="{{currentUser.photo}}" width="70" height="60" alt="image" class="rounded-circle" />
                                        </div>
                                        <div class="caption">
                                            <p><strong>{{currentUser.username}}</strong></p>
                                            <p>{{currentUser.email}} </p>
                                        </div>
                                    </div>
                                    <div class="group_conn">
                                        <a class="btn btn-primary btn-block btn-sm" (click)="lien('RMS-Admin')">
                                            <strong style="color: white">
                        <span *ngIf="currentUser.roles.includes('ROLE_CANDIDAT')">MyRMS</span>
                        <span *ngIf="currentUser.roles.includes('ROLE_RECRUTEUR')">Hop!RMS</span>
                        <span
                          *ngIf="!currentUser.roles.includes('ROLE_RECRUTEUR') && !currentUser.roles.includes('ROLE_CANDIDAT')">Mon
                          compte</span>
                      </strong>
                                        </a>
                                        <a class="btn btn-danger btn-block" (click)="logout()">
                      Déconnexion
                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--          <li class="dropdown list-unstyled" *ngIf="currentUser ">-->
                    <!--            -->
                    <!--            <ul class="dropdown-menu dropdown_profil">-->
                    <!--              <li>-->
                    <!--                <div class="navbar-login" style="width: 200px;">-->
                    <!--                  -->
                    <!--                </div>-->
                    <!--              </li>-->
                    <!--            </ul>-->
                    <!--          </li>-->
                </ul>
                <p class="navigation_fa" *ngIf="!currentUser">
                    <a (click)="lien('espace-membre')"><i class="fas fa-user-circle fa-2x navigation"></i></a>
                </p>
            </div>
        </div>
    </div>
</nav>



