.mat-header-cell{
  font-size: 1em;
  font-weight: bold;
  color: black;
  border-bottom: #3a97a2 2px solid;
  padding-bottom: 5px;
}
.btn-primary{
  background: #3a97a2;
}
table {
  width: 100%;
}
.sizeText{
  font-size: 12px;
  font-weight: 500;
}
.sizeText1{
  font-size: 11px;
  font-weight: 500;
}
td{
  width: 10px;
}
.table th, .table td {
  padding: 0.25rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.material-icons {
  font-size: 17px;
  padding-top: 5px;
  line-height: 0;
}
.mat-mini-fab{
  width: 28px;
  height: 28px;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding-left: 5px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 5px;
}
.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  padding-left: 5px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 5px;
}

.alert-danger {
  padding-left: 5px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 5px;
}

.bottomUpdateIcon{
  position: relative;
  bottom: 6px;
}
