<div class="mr-4 ml-4">
  <div class="card borderTopCard overFlowHidden table-responsive animated fadeIn">
    <div class="card-header p-0 m-0">
      <div class="row">
        <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 pt-4">
          <h5 class="ml-4 font-weight-bold"><span style="color: rgb(47, 64, 80)"><span
            class="glyphicon glyphicon-list"></span> GESTION DES PLANNINGS(S)</span></h5>
        </div>
        <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">
          <div class="mr-4 pt-2">
            <mat-form-field>
              <mat-label>Filtrer</mat-label>
              <mat-select [(ngModel)]="elements" multiple>
                <mat-option (click)="valutElements()" *ngFor="let item of displayedColumnsFilter" [value]="item.name">
                  {{item.label  | uppercase}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <form (ngSubmit)="onSubmitFiltre()" [formGroup]="formFilter" class="example-form container center_div">
        <div class="row">
          <div *ngFor="let item  of elements " class="form-group col-12 col-sm-6 col-md-4 col-lg-3 m-4">
            <div
              *ngIf="item != 'mois' && item != 'date' && item != 'heure_debut' && item != 'heure_fin' && item != 'statut' ">

              <mat-form-field class="erp-full-width">
                <input class="form-control" formControlName="{{item}}" id="{{item}}" matInput placeholder="{{item}}"
                       required
                       type="text">
              </mat-form-field>
            </div>

            <div *ngIf="item == 'mois'" class="pt-4">

              <mat-form-field class="erp-full-width">
                <mat-select formControlName="{{item}}" id="{{item}}" placeholder="{{item}}" required>
                  <mat-option *ngFor="let m  of allmois " value="{{m}}">{{m | uppercase }} </mat-option>

                </mat-select>
              </mat-form-field>
            </div>

            <div *ngIf="item == 'statut'" class="pt-4">

              <mat-form-field class="erp-full-width">
                <mat-select formControlName="{{item}}" id="{{item}}" placeholder="{{item}}" required>
                  <mat-option *ngFor="let s  of statuts " value="{{s}}">{{s | uppercase }} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="item === 'date'">
              <ngx-mat-drp #dateRangePicker (selectedDateRangeChanged)="updateRange($event)" [options]="options">

              </ngx-mat-drp>


            </div>

            <div *ngIf="item == 'heure_debut' || item == 'heure_fin' ">

              <mat-form-field class="erp-full-width">
                <input class="form-control" formControlName="{{item}}" id="{{item}}" matInput placeholder="{{item}}"
                       required
                       type="time">
              </mat-form-field>
            </div>


          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center pt-4">
            <button *ngIf="elements.length > 0" [disabled]="formFilter.invalid" class="btn btn-primary btn-sm"
                    type="submit">
              Valider
            </button>
          </div>
        </div>
      </form>
      <div class="card-body table-responsive">
        <table #table [dataSource]="dataSource" class="bg-white footable table table-hover table-striped" mat-table
               matSort>

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th *matHeaderCellDef mat-header-cell>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td *matCellDef="let client" mat-cell>
              <mat-checkbox (change)="$event ? selection.toggle(client) : null"
                            (click)="$event.stopPropagation()"
                            [checked]="selection.isSelected(client)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="number">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>#</th>
            <td *matCellDef="let planning" mat-cell>{{ dataSource.filteredData.indexOf(planning) + 1 }}
          </ng-container>

          <ng-container matColumnDef="date">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>D.planning</th>
            <td *matCellDef="let planning" class="font-weight-bold sizeText" mat-cell>
              {{planning.dateFormat| date: 'dd-MM-y'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="vacation">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Vacation</th>
            <td *matCellDef="let planning" class="font-bold sizeText" mat-cell>{{planning.designation }}</td>
          </ng-container>

          <ng-container matColumnDef="mois">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Mois</th>
            <td *matCellDef="let planning" class="sizeText" mat-cell>{{planning.mois}}</td>
          </ng-container>

          <ng-container matColumnDef="annee">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Annee</th>
            <td *matCellDef="let planning" class="sizeText" mat-cell>{{planning.annee}}</td>
          </ng-container>

          <ng-container matColumnDef="debut">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Debut</th>
            <td *matCellDef="let planning" class="sizeText" mat-cell>{{planning.debut}}</td>
          </ng-container>

          <ng-container matColumnDef="fin">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Fin</th>
            <td *matCellDef="let planning" class="sizeText" mat-cell>{{planning.fin}}</td>
          </ng-container>

          <ng-container matColumnDef="specialite">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Spécialité</th>
            <td *matCellDef="let planning" class="sizeText" mat-cell>
              <button *ngIf="planning.qualification" [matMenuTriggerFor]="menu"
                      mat-button><span class="sizeText ml-1">{{planning.specialite | uppercase}}</span>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item><span class="ml-1">{{ planning.qualification| uppercase}}</span></button>
              </mat-menu>

              <span *ngIf="!planning.qualification" class="sizeText">{{planning.specialite|uppercase}}</span>

            </td>

          </ng-container>

          <ng-container matColumnDef="statut">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Statut</th>
            <td (click)="onPopover(planning, i)" *matCellDef="let planning;let i = index" class="sizeText" mat-cell>
              <ng-template #popContent>
                <form [formGroup]="popoverForm" class="form-inline">
                  <div class="control-group row form-group">
                    <div class="col-8">
                      <select class="form-control" formControlName="statut">
                        <option value="Non Pourvue">Non Pourvue</option>
                        <option value="Perdue">Perdue</option>
                        <option value="Annuler CH">Annuler Par le CH</option>
                        <option value="A Pourvoir">A Pourvoir</option>
                        <option value="Autre">Autres</option>
                      </select>
                    </div>
                    <div class="col-4 text-center">
                      <i (click)="onValidePopover()" class="fas fa-check-circle"
                         style="font-size: 23px;color: #18A5B3;"></i>
                      <!--                      <i class="fas fa-ban ml-2" style="font-size: 23px;color: red;"></i>-->
                    </div>
                  </div>
                </form>
              </ng-template>
              <ng-template #popTitle>
                statut
              </ng-template>
              <!--              <button type="button" class="btn btn-outline-secondary" >-->
              <!--                I've got markup and bindings in my popover!-->
              <!--              </button>-->
              <div (click)="initFormPopover()" [autoClose]="false" [ngbPopover]="popContent" [popoverTitle]="popTitle"
                   title="Statut">
                <span *ngIf="planning.statut.toLocaleLowerCase() === 'a pourvoir'"
                      class="btn alert-primary btn-xs">{{planning.statut}}</span>
                <span *ngIf="planning.statut.toLocaleLowerCase() === 'pourvue'" class="btn alert-success btn-xs"
                      role="alert">{{planning.statut}}</span>
                <span
                  *ngIf="planning.statut.toLocaleLowerCase() !== 'pourvue' && planning.statut.toLocaleLowerCase() !== 'a pourvoir'"
                  class="btn alert-danger btn-xs" role="alert">{{planning.statut}}</span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="tarif">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Tarif</th>
            <td *matCellDef="let planning" class="sizeText" mat-cell>{{planning.tarif}} €</td>
          </ng-container>

          <ng-container matColumnDef="salaire">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Salaire</th>
            <td *matCellDef="let planning" mat-cell>{{planning.salaire}} €</td>
          </ng-container>

          <ng-container matColumnDef="ville">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Ville</th>
            <td *matCellDef="let planning" class="sizeText" mat-cell>{{planning.ville}}</td>
          </ng-container>

          <!--          <ng-container matColumnDef="departement">-->
          <!--            <th *matHeaderCellDef mat-header-cell mat-sort-header>Departement</th>-->
          <!--            <td *matCellDef="let planning" mat-cell>{{planning.adresse}} (<strong> {{planning.cp}} </strong>)</td>-->
          <!--          </ng-container>-->

          <ng-container matColumnDef="etablissement">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Etablissement</th>
            <td *matCellDef="let planning" class="text-center sizeText font-weight-bold" mat-cell>
              <!--          <a (click)="showClient(planning.etablissement_id)"-->
              <a routerLink="/RMS-Admin/client/{{planning.etablissement_id}}/show">
                {{planning.etablissement}}
              </a>
            </td>
          </ng-container>
          <!--          <ng-container matColumnDef="Edit">-->
          <!--            <th *matHeaderCellDef mat-header-cell>Edit</th>-->
          <!--            <td *matCellDef="let planning" mat-cell>-->
          <!--              &lt;!&ndash;<a routerLink="/RMS-Admin/client/{{client.id}}/edit/" class="color-rms-bleu">&ndash;&gt;-->
          <!--              &lt;!&ndash;<mat-icon>create</mat-icon>&ndash;&gt;-->
          <!--              &lt;!&ndash;</a>&ndash;&gt;-->
          <!--            </td>-->
          <!--          </ng-container>-->
          <!-- fin des colonnes des champs du tableau -->
          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr (click)="selection.toggle(planning)" *matRowDef="let planning; columns: displayedColumns;" mat-row></tr>
        </table>
        <div *ngIf="this.dataSource.filteredData.length == 0" class="text-center">
          <strong>Désolé, aucun résultat ne correspond à votre recherche.</strong>
        </div>
      </div>
      <div class="card-footer">
        <mat-paginator (page)="pagination($event)" [length]="length" [pageSizeOptions]="pageSizeOptions"
                       [pageSize]="pageSize">
        </mat-paginator>
        <form class="form-inline" [formGroup]="sendStatusFormGroup" (ngSubmit)="onSendStatus()">
          <mat-form-field class="example-user-input">
            <mat-select formControlName="status" placeholder="selectionnez une action">
              <mat-option value="">selectionnez une action</mat-option>
              <mat-option *ngFor="let action of listeStatus" [value]="action">
                {{action}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="example-button-container">
            <button mat-mini-fab color="success" *ngIf="sendStatusFormGroup.valid" aria-label="bottomUpdateIcon Example icon button">
              ok
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
