<div class="ml-4 mr-4 animated fadeIn ">
  <div class="row p-0 m-0">
    <div [class]="colMissions">
      <div>
        <div class="modal animated fadeIn" id="addNewSpecialite">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Ajouter une nouvelle spécialité</h4>
                <button class="close" data-dismiss="modal" name="fermerModalAddAspecialite" type="button">&times;
                </button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <div *ngIf="statusAdd" class="alert alert-danger">
                  <strong>Erreur!</strong> {{statusAdd}}
                </div>
                <form (ngSubmit)="OnaddSpecialite()" [formGroup]="addSpecialiteForm">
                  <div class="form-group">
                    <input class="form-control" formControlName="nomspecialite" id="nomspecialite" name="nomspecialite"
                      placeholder="Saisir le nom de la spécialité" required type="text">
                  </div>
                  <div class="form-group">
                    <input class="form-control" formControlName="specialite" id="specialite" name="specialite"
                      placeholder="Saisir la spécialité" required type="text">
                  </div>
                  <div class="form-group">
                    <input class="form-control" formControlName="qualif" id="qualif" name="specialite"
                      placeholder="Saisir la Qualification" type="text">
                  </div>
                  <div class="form-group text-center">
                    <button [disabled]="addSpecialiteForm.invalid" class="btn btn-primary mr-3" type="submit">
                      Enregistrer
                    </button>
                    <a (click)="OnAnnulerAddSpecialite()" class="btn btn-danger text-white">Annuler</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--      <div class="panel panel-default panel-table" style="border-bottom: 2px solid #3a97a2">-->
      <!--        <div class="panel-heading">-->
      <!--          -->
      <!--        </div>-->
      <!--        <div class="panel-body table-responsive">-->
      <!--        </div>-->
      <!--        <div class="panel-footer">-->
      <!--        </div>-->
      <!--      </div>-->
      <div class="card">
        <!--Header-->
        <div class="card-header">
          <div class="row">
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 mt-4">
              <h6><span class="font-weight-bold">GESTION DES SPECIALITES ET DES QUALIFICATIONS</span></h6>
            </div>
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">

              <mat-form-field>
                <mat-label>Filtrer</mat-label>
                <mat-select [(ngModel)]="elements" multiple>
                  <mat-option (click)="valutElements()" *ngFor="let item of displayedColumnsFilter" [value]="item.name">
                    {{item.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              &nbsp;&nbsp;
              <a color="success" (click)="addNewSpecialite()" mat-mini-fab>
                <mat-icon>add_circle</mat-icon>
              </a>


            </div>
          </div>
          <form (ngSubmit)="onSubmitFiltre()" [formGroup]="formFilter" class="example-form container center_div">
            <div *ngFor="let item  of elements " class="form-group">
              <div>

                <mat-form-field class="erp-full-width">
                  <input class="form-control" id="{{item}}" matInput formControlName="{{item}}" placeholder="{{item}}"
                    required type="text">
                </mat-form-field>
              </div>


            </div>
            <button *ngIf="elements.length > 0" [disabled]="formFilter.invalid" class="btn btn-primary" type="submit">Valider
            </button>

          </form>
        </div>
        <!--content-->
        <div class="card-body table-responsive">
          <table #table *ngIf="!showLoadInterim && (dataSource.data.length>0)" [dataSource]="dataSource"
            class="table table-striped table-hover" mat-table matSort matSortStart="asc">
            <!-- debut des colonnes des champs du tableau -->
            <ng-container matColumnDef="number">
              <th *matHeaderCellDef class="mat-header-cell" mat-header-cell>Numero</th>
              <td *matCellDef="let interim" class="pt-3" mat-cell>{{ dataSource.filteredData.indexOf(interim) + 1 }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Specialité">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>Specialité</th>
              <td *matCellDef="let specialite" class="pt-3" mat-cell>
                <span *ngIf="idSpecialite!==specialite.id">{{specialite.nomspecialite}}</span>
                <p class="mb-4" *ngIf="idSpecialite===specialite.id">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nom Specialite" [(ngModel)]="specialite.nomspecialite">
                  </mat-form-field>
                  &nbsp;&nbsp;
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Specialite" [(ngModel)]="specialite.specialite">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input matInput maxlength="15" placeholder="abreviation" [(ngModel)]="specialite.abreviation">
                    <mat-hint style="color: orange">
                      15 caractères autorisés <br>
                      Le caractère spécial "-" n'est pas autorisé
                    </mat-hint>
                  </mat-form-field>
                  &nbsp;&nbsp;

                </p>
                <p *ngIf="idSpecialite===specialite.id">
                  <button mat-stroked-button color="primary"
                          (click)="onConfirmerUpdateSpecialite(specialite)">modifier</button>
                  &nbsp;&nbsp;
                  <button mat-stroked-button color="warn" (click)="annulerModifSpecialite()">annuler</button>
                </p>
              </td>
            </ng-container>

            <ng-container matColumnDef="abreviation">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>Abréviation</th>
              <td *matCellDef="let specialite" class="pt-3" mat-cell>
                <span *ngIf="idSpecialite!==specialite.id">{{specialite.abreviation}}</span>
              </td>
            </ng-container>



            <ng-container matColumnDef="Qualification(s)">
              <th *matHeaderCellDef mat-header-cell>Qualification(s)</th>
              <td *matCellDef="let specialite" class="pt-2" mat-cell>
                <a *ngIf="idSpecialite!==specialite.id">
                  <mat-chip (click)="onDetailQualifications(specialite)" color="vert_foncer" selected>
                    {{ specialite.qualifications.length}}</mat-chip>
                  <!--                  <button (click)="onDetailQualifications(specialite)"-->
                  <!--                          class="btn border-info btn-light">{{ specialite.qualifications.length}}</button>-->
                </a>
              </td>
            </ng-container>

            <ng-container matColumnDef="interimaires">
              <th *matHeaderCellDef mat-header-cell>Interimaires(s)</th>
              <td *matCellDef="let specialite" class="pt-2" mat-cell>
                <mat-chip-list>
                  <mat-chip *ngIf="idSpecialite!==specialite.id" color="vert_foncer" selected>
                    {{ specialite.interims}}
                  </mat-chip>
                </mat-chip-list>
              </td>
            </ng-container>
            chiffre d'affaire

            <ng-container matColumnDef="missions">
              <th *matHeaderCellDef mat-header-cell>Missions</th>
              <td *matCellDef="let specialite" class="pt-2" mat-cell>
                <mat-chip-list>
                  <mat-chip *ngIf="idSpecialite!==specialite.id" color="vert_foncer" selected>
                    {{ specialite.missions}}
                  </mat-chip>
                </mat-chip-list>
              </td>
            </ng-container>
            <ng-container matColumnDef="chiffre d'affaire">
              <th *matHeaderCellDef mat-header-cell>Chiffre d'affaire</th>
              <td *matCellDef="let specialite" class="pt-2" mat-cell>
                <mat-chip-list>
                  <mat-chip *ngIf="idSpecialite!==specialite.id" color="primary" selected>
                    {{ specialite.ca}} €
                  </mat-chip>
                </mat-chip-list>
              </td>
            </ng-container>
            <ng-container matColumnDef="Edit">
              <th *matHeaderCellDef mat-header-cell>Action</th>
              <td *matCellDef="let specialite" class="pt-3" mat-cell>
                <!--           <span *ngIf="idSpecialite===specialite.id">-->
                <!--                <a (click)="annulerModifSpecialite()"-->
                <!--                   class="col-lg-8 col-xs-12 btn btn-danger btn-xs text-white pointer"><span-->
                <!--                  class="glyphicon glyphicon-ban-circle pointer"></span> </a>-->
                <!--           </span>-->
                <span *ngIf="idSpecialite!==specialite.id">
                  <a (click)="onUpdateSpecialite(specialite)" class='text-white pointer'>
                    <mat-icon color="accent">edit</mat-icon>
                  </a>&nbsp;
                  <a (click)="confirmDialog(specialite)" class="text-white pointer">
                    <mat-icon color="warn">remove_circle</mat-icon>
                  </a>
                </span>
              </td>
            </ng-container>

            <!-- fin des colonnes des champs du tableau -->
            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr (click)="selection.toggle(interim)" *matRowDef="let interim; columns: displayedColumns;" mat-row></tr>

          </table>
          <div *ngIf="dataSource.filteredData.length == 0" class="text-center">
            <strong>Désolé, aucun résultat ne correspond à votre recherche.</strong>
          </div>
        </div>
        <!--Footer-->
        <div class="card-footer">
          <mat-paginator (page)="pagination($event)" [length]="length" [pageSizeOptions]="pageSizeOptions"
            [pageSize]="pageSize">
          </mat-paginator>
        </div>
      </div>
    </div>
    <div class="card col-12 animated fadeIn d-none" id="detailQualifications">
        <div class="card-header">
          <div class="col-12">
            <h6>
              <mat-icon (click)="onFermeDetailM()" class="mr-3 pointer" color="primary">
                keyboard_return
              </mat-icon>
              {{detailsQualifs}}
            </h6>
          </div>
        </div>
        <div class="card-body">
          <div class="text-right mb-2">
            <div class="col-12 col-lg-12 text-right">
              <a (click)="open(content)" color="success" mat-mini-fab>
                <mat-icon>add_circle</mat-icon>
              </a>
            </div>
          </div>
          <div class="col-12 table-responsive">
            <table class="table table-striped table-hover table-bordered ">
              <thead>
              <tr class="tr_head">
                <th class="text-white">
                  Numero
                </th>
                <th class="text-white">
                  Libellé
                </th>
                <th class="text-white">
                  Action
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of Qualifs;let i = index" style="cursor: pointer">
                <td>{{i + 1}}</td>
                <td>
                  <span *ngIf="idQualification !==item.id_qualification">{{item.qualif}}</span>
                  <span *ngIf="idQualification===item.id_qualification">
                    <input #modifieQualifItem [ngModel]="item.qualif" class="col-lg-10 col-xs-12 form-control float-left" type="text">
                    <a (click)="onConfirmerUpdateQualification(modifieQualifItem, item.id_qualification)" class='col-lg-2 col-xs-12 btn btn-xs btn-info text-white float-right'>
                      <i class="fa fa-check"></i>
                    </a>
                  </span>
                </td>
                <td>
                  <span *ngIf="idQualification===item.id_qualification">
                    <a (click)="annulerModifQualif()" class="col-lg-8 col-xs-12 btn btn-danger btn-xs text-white">
                      <i class="fa fa-times"></i>
                    </a>
                  </span>
                  <span *ngIf="idQualification!==item.id_qualification">
                    <a (click)="onUpdateQualification(item)" class='col-lg-4 col-xs-12 text-white'>
                      <mat-icon color="accent">edit</mat-icon>
                    </a>&nbsp;
                    <a (click)="deleteQualification(item)" *ngIf="Qualifs.length>1"
                       class="col-lg-4 col-xs-12 text-white">
                      <mat-icon color="warn">remove_circle</mat-icon>
                    </a>
                  </span>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
        <!--        <div class="card-footer">Footer</div>-->
      </div>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Ajouter une nouvelle Qualification</h4>
    <button type="button" name="fermerModalAddQualifs" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12 text-right">
        <mat-icon (click)="addNewRow()" class="vert-fonce-icon">add_circle</mat-icon>
      </div>
    </div>
    <form (ngSubmit)="onAddQualif()" [formGroup]="QualificationForm" class="row mt-3">
      <div class="col-12" formArrayName="qualifications">
        <div *ngFor="let qualification of QualificationForm.get('qualifications')['controls'];let i = index"
          [formGroup]="qualification" class="row" style="margin-top: 2%">
          <div class="form-group col-8 offset-2">
            <mat-form-field class="example-full-width">
              <input formControlName="qualification" matInput placeholder="saisir la qualification">
            </mat-form-field>
          </div>
          <div class="form-group col-2 pt-3">
            <mat-icon (click)="deleteRow(i)" color="warn">remove_circle
            </mat-icon>
          </div>
        </div>
      </div>
      <span class="col-2"></span>
      <button [disabled]="QualificationForm.invalid" class="col-8 offset-2 mt-3" color="vert_foncer" mat-raised-button
        type="submit">Enregistrer
      </button>
    </form>
  </div>

</ng-template>
