<div class="modal-content" *ngIf="editForm">
        <!-- Modal Header -->
        <div class="modal-header text-center">
          <h2 mat-dialog-title>{{displayName}}</h2>
        </div>
      
        <!-- Modal body -->
        <div class="modal-body">
      
          <form [formGroup]="editForm">
            <div class="hr-line-dashed"></div>
            <div class="row">
            <div class="col-sm-12">
              <mat-form-field class="erp-full-width">

                <input matInput type="text" placeholder="nom groupe" formControlName="nom">
              </mat-form-field>

            </div>
      
            </div>
            <div class="row">
              <div class="col-md-2">
              
                  <mat-checkbox class="example-margin" formControlName="dimanche">Dimanche</mat-checkbox>
               
      
              </div>
             
      
              <div class="col-md-2">
              
                  <mat-checkbox class="example-margin" formControlName="samedi">Samedi</mat-checkbox>
              
      
              </div>
      
              <div class="col-md-2">
           
                  <mat-checkbox class="example-margin" formControlName="ferie">Jour Ferier</mat-checkbox>
               
      
              </div>
       
      
           
      
          
      
              <div class="col-md-2">
               
                  <mat-checkbox class="example-margin" formControlName="trente_un">Jour 31</mat-checkbox>
               
      
              </div>
      
              <div class="col-md-2">
               
                  <mat-checkbox class="example-margin" formControlName="vingt_quatre">Jour 24</mat-checkbox>
                
      
              </div>
            </div>
            
          </form>
      
          <div class="row">
            <div class="col-sm-6">
              <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>&nbsp;&nbsp;
              <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial>Valider</button>
            </div>
          </div>
      
      
        </div>
      </div>