<div class="modal-content">
  <!-- Modal Header -->
  <div class="modal-header text-center">
    Saisir l'ID du PLD
  </div>
</div>

<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="col-12 mt-2">
    <mat-form-field class="example-full-width">
      <mat-label>ID PLD</mat-label>
      <input matInput ngModel name="id">
    </mat-form-field>
  </div>
  <div class="col-12 mt-2 mt-2 text-center">
    <button mat-raised-button color="success">continuer</button>
  </div>
</form>
