/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .title_dossier{
    font-size: 12px;
  }
}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { }

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { }

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { }
fieldset
{
  border: 1px solid #ddd !important;
  margin: 0;
  xmin-width: 0;
  padding: 10px;
  position: relative;
  border-radius:4px;
  background-color:white;
  padding-left:10px!important;
}

legend
{
  font-size:14px;
  font-weight:bold;
  margin-bottom: 0px;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 5px 5px 10px;
  background-color: #ffffff;
}