<div class="container-fluid bg-light mt-2 pt-2" data-aos="fade-right" *ngIf="showDossierNow">
  <div class="row alert alert-secondary p-1" *ngIf="dossierInterim">
    <strong class="col-2">Etat :&nbsp;&nbsp;&nbsp;</strong>
    <span class="col-4 text-success m-0" *ngIf="dossierEtat===true">validé
      !</span>
    <span class="col-4" *ngIf="dossierEtat===false">en cours de
      traitement !</span>&nbsp;&nbsp;&nbsp;
    <span *ngIf="roleService.isCommercial(this.currentUser.roles)">
      <strong>Activé :&nbsp;&nbsp;&nbsp;</strong>
      <mat-slide-toggle color="primary" [checked]="actiyeN" (click)="onMailNotification(! actiyeN)"></mat-slide-toggle>
    </span>
    <span *ngIf="roleService.isCandidatUnique(this.currentUser.roles) && dossierEtat===false">
      <strong *ngIf="!dossierEnable">Soumettre mon dossier a RMS :&nbsp;&nbsp;&nbsp;</strong>
      <div class="btn-group btn-group-toggle" *ngIf="!dossierEnable" data-toggle="buttons">
        <mat-slide-toggle color="primary" [checked]="actiyeN" (click)="onSoumetsDossier(! actiyeN)"></mat-slide-toggle>
      </div>
    </span>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 mb-3">
      <fieldset>
        <legend>
          Dossier de l'interimaire
        </legend>
        <div class="container-fluid">
          <div class="row" [ngClass]="{'d-none': ajout === false}">
            <div class="col-12 text-right">
              <button (click)="onUploader()" class="btn btn-sm btn-success">
                Valider &nbsp;
              </button> &nbsp;&nbsp;&nbsp;
              <button (click)="onAnnuleUploader()" class="btn btn-sm btn-danger">
                Annuler
              </button>
            </div>
          </div>
          <div class="row p-0">
            <div class="col-lg-3 col-4 mt-2 text-center" *ngFor="let item of infosPerso; let i = index" (mouseover)="onMiseAjourFile = item" (mouseleave)="onMiseAjourFile = null">
              <p *ngIf="dossierInterim[item]" class="nameTmpUpdate{{dossierService.remettreNameDossier(item)}}">
                <a href="{{dossierInterim[item]}}" target="_blank" class="pointer">
                  <img [src]="fileDifferentImage" #urlFile width="120" height="120" id="{{dossierService.remettreNameDossier(item)}}" alt="{{item}}">
                </a>
              </p>
              <!--          Les action a effectuer si le fichier existe-->
              <p *ngIf="dossierInterim[item]" class="p-0" style="margin-top: -15px" >
                <input type="file" #InputFileUpdate class="d-none" (change)="onChargeFileDossier($event, dossierService.remettreNameDossier(item))" accept="*">
                <a (click)="InputFileUpdate.click()" class="pointer text-secondary"><mat-icon>cloud_upload</mat-icon></a>
<!--                <a class="pointer text-danger"><mat-icon>remove_circle_outline</mat-icon></a>&nbsp;&nbsp;&nbsp;-->
              </p>
              <!--          Fin des actions a effectuer si le fichier-->
              <p *ngIf="!dossierInterim[item]" class="nameTmp{{dossierService.remettreNameDossier(item)}}">
                <input class="d-none" type="file" #InputFile (change)="onChargeFileDossier($event, dossierService.remettreNameDossier(item))" accept="*">
                <a (click)="InputFile.click()" class="pointer text-secondary"><mat-icon>cloud_upload</mat-icon></a>&nbsp;&nbsp;&nbsp;<br>
              </p>
              <p style="margin-top: -15px">{{item}}</p>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 ">
      <fieldset>
        <legend> Complément dossier</legend>
        <div class="container-fluid">
          <div class="row">
            <div class="col-2 text-left">
              <mat-icon color="success" class="pointer" (click)="addNewRow()" *ngIf="addDiplomeEtat">add_circle</mat-icon>
              <mat-icon color="success" class="pointer" (click)="addNewDiplome()" *ngIf="!addDiplomeEtat">add_circle</mat-icon>
            </div>
            <div class="col-10 text-right text-danger font-9"> * Saisir le nom ensuite choisir le fichier</div>

            <div class="col-lg-12" style="margin-top: -10px">
              <form [formGroup]="diplomeForm" *ngIf="addDiplomeEtat">
                <div formArrayName="diplomes">
                  <div [formGroup]="diplome"
                       *ngFor="let diplome of diplomeForm.get('diplomes')['controls'];let i = index"
                       style="margin-top: 2%">
                    <div class="row">
                      <div class="col-12" id="nameTmpDiplome{{i}}"></div>
                      <mat-form-field class="example-full-width col-6">
                        <input matInput formControlName="nom" placeholder="Nom">
                      </mat-form-field>
                      <div class="col-3">
                        <input class="d-none" type="file" #InputFileDiplome (change)="getFile($event, i)" accept="*">
                        <button (click)="InputFileDiplome.click()" [disabled]="diplomeForm.invalid" class="pointer text-secondary"><mat-icon>cloud_upload</mat-icon></button>&nbsp;&nbsp;&nbsp;<br>
                      </div>
                      <div class="form-group col-1 text-right">
                        <!--<button type="submit" class="btn btn-info btn-xs float-left" [disabled]="diplome.invalid">Enregistrer <i class="fa fa-check"></i></button>-->
                        <mat-icon color="warn" class="pointer" (click)="deleteRow(i)">remove_circle</mat-icon>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <button class="col-lg-12 btn btn-primary btn-xs float-right"
                            [hidden]="diplomeForm.invalid  || formArr.length == 0"
                            (click)="onUploadDiplome()">Terminer</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-lg-12  table-responsive">
              <table class="table" mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> N. </th>
                  <td mat-cell *matCellDef="let row"> {{ dataSource.filteredData.indexOf(row) + 1 }}</td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="libelle">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Nom du fichier </th>
                  <td mat-cell class="text-center" *matCellDef="let row">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-9">
                          <a target="_blank" href="{{row.url}}"> {{row.libelle}} </a>
                        </div>
                        <div class="col-3">
                          <a class="pointer" (click)="onDeleteDiplomeElement(row.libelle)">
                            <mat-icon color="warn">remove_circle</mat-icon>
                          </a>
                        </div>
                      </div>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>