<div class="row ">
  <div class="col-md-5">

  </div>

  <div class="col-md-5"></div>

  <div class="col-md-2 text-right">


    <div class="col col-md-4 col-sm-4 col-xs-4 col-lg-4">
      <mat-form-field>
        <mat-label>Filtrer</mat-label>
        <mat-select [(ngModel)]="elements" multiple>
          <mat-option (click)="valutElements()" *ngFor="let item of displayedColumnsFilter" [value]="item.name">
            {{item.label | uppercase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>
</div>

<form (ngSubmit)="onSubmitFiltre(f)" #f="ngForm">
  <div class="row">
    <div *ngFor="let item  of elements ">



      <div class="col-4" *ngIf="item == 'specialite'">


        <mat-form-field>
          <mat-select id="{{item}}" name="{{item}}" ngModel required>
            <mat-option *ngFor="let item of listSpecialites" [value]="item.nomspecialite">
              {{item.nomspecialite}}
            </mat-option>

          </mat-select>

        </mat-form-field>

      </div>

      <div class="col-4" *ngIf="item == 'annee'">

        <mat-form-field>
          <mat-select id="{{item}}" name="{{item}}" ngModel required>
            <mat-option *ngFor="let item of annees" [value]="item.annee">
              {{item.annee}}
            </mat-option>

          </mat-select>

        </mat-form-field>

      </div>



      <div class="col-4" *ngIf="item == 'interim'">

        <mat-form-field class="erp-full-width">
          <input matInput type="text" placeholder="{{item}}" id="{{item}}" name="{{item}}" ngModel required>
        </mat-form-field>

      </div>


    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-left">
      <button class="btn btn-primary" type="submit" [disabled]="f.invalid" *ngIf="elements.length > 0">Valider</button>
    </div>
  </div>

</form>

<div class="row row-sm">
  <div class="col-sm-6 col-xl-3 card_">
    <div class="bg-info rounded overflow-hidden">
      <div class="pd-x-20 pd-t-20 d-flex align-items-center">
        <i class="ion ion-earth tx-60 lh-0 tx-white op-7"></i>
        <div class="mg-l-20">
          <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">Disponible(s)</p>
          <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">{{diponibilite}}</p>
          <!-- <span class="tx-11 tx-roboto tx-white-8">{{indicateurs.client_actif}} actif (s)</span> -->
        </div>
      </div>
      <div class="ht-50 tr-y-1" id="ch1"></div>
    </div>
  </div><!-- col-3 -->
  <div class="col-sm-6 col-xl-3 card_ mg-t-20 mg-sm-t-0">
    <div class="bg-purple rounded overflow-hidden">
      <div class="pd-x-20 pd-t-20 d-flex align-items-center">
        <i class="ion ion-bag tx-60 lh-0 tx-white op-7"></i>
        <div class="mg-l-20">
          <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">Salaire(s)</p>
          <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">{{salaire  | currency:'EUR':true}}</p>
          <!-- <span class="tx-11 tx-roboto tx-white-8">{{indicateurs.interims_actif}} actif (s)</span> -->
        </div>
      </div>
      <div class="ht-50 tr-y-1" id="ch3"></div>
    </div>
  </div><!-- col-3 -->
  <div class="col-sm-6 card_ col-xl-3 mg-t-20 mg-xl-t-0">
    <div class="bg-teal rounded overflow-hidden">
      <div class="pd-x-20 pd-t-20 d-flex align-items-center">
        <i class="ion ion-monitor tx-60 lh-0 tx-white op-7"></i>
        <div class="mg-l-20">
          <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">My RMS</p>
          <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">{{myrms}}</p>
          <span class="tx-11 tx-roboto tx-white-8">Réseau Médical services</span>
        </div>
      </div>
      <div class="ht-50 tr-y-1" id="ch2"></div>
    </div>
  </div><!-- col-3 -->
  <div class="col-sm-6 card_ col-xl-3 mg-t-20 mg-xl-t-0">
    <div class="bg-primary rounded overflow-hidden">
      <div class="pd-x-20 pd-t-20 d-flex align-items-center">
        <i class="ion ion-clock tx-60 lh-0 tx-white op-7"></i>
        <div class="mg-l-20">
          <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">Dossier(s) Valides
            &nbsp;&nbsp;&nbsp;
            <span class="tx-24 tx-roboto tx-bold mg-b-0 lh-1 tx-white-8">
              {{dossier_valider}}
            </span>
          </p>
          <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">Inscrits a l'ordre
            &nbsp;&nbsp;
            <span class="tx-24 tx-roboto tx-bold mg-b-0 lh-1 tx-white-8">
              {{inscrit}}
            </span></p>


        </div>
      </div>
      <div class="ht-50 tr-y-1" id="ch4"></div>
    </div>
  </div><!-- col-3 -->
</div><!-- row -->





<section class="section">
  <mat-radio-group [(ngModel)]="labelPosition" (change)="newStat()">
    <mat-radio-button class="section-margin" checked value="nbr">N.C</mat-radio-button>
    <mat-radio-button class="section-margin" value="ca">C.A</mat-radio-button>
  </mat-radio-group>
</section>
<div class="row">
  <div class="col-md-8" *ngIf="barChart">

    <div class="card-body">
      <fusioncharts [width]="barChart.width" [height]="barChart.height" [type]="barChart.type"
        [dataFormat]="barChart.dataFormat" [dataSource]="barChart.dataSource">
      </fusioncharts>
    </div>

  </div>
  <div class="col-md-4" *ngIf="pie3dChart">
    <div class="card-body">
      <div class="row">
        <div class="col-12">

          <fusioncharts [width]="pie3dChart.width" [height]="pie3dChart.height" [type]="pie3dChart.type"
            [dataFormat]="pie3dChart.dataFormat" [dataSource]="pie3dChart.dataSource">
          </fusioncharts>

        </div>
      </div>
    </div>

  </div>



</div>
<div class="row">
  <div class="col-md-12">


    <div class="card-body" *ngIf="barChartVille">
      <div class="row">
        <div class="col-12">

          <fusioncharts [width]="barChartVille.width" [height]="barChartVille.height" [type]="barChartVille.type"
            [dataFormat]="barChartVille.dataFormat" [dataSource]="barChartVille.dataSource">
          </fusioncharts>

        </div>
      </div>
    </div>
  </div>


</div>