.rounded {
  padding: 08px;
  height: 109px;
  margin-bottom: -5px;
  margin-top: 9px;
}
.h4, h4 {
  font-size: 13px;
  margin-top: 34px;
}

.section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.section-margin {
  margin: 0 10px;
}
