<div class="modal-content">

  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h3><strong>Envoyer Un MAil</strong></h3>
  </div>

  <!-- Modal body -->
  <div class="modal-body">


    <form [formGroup]="editForm" *ngIf="editForm">
      <div class="hr-line-dashed"></div>

      <div class="row">
        <div class="col-md-4">
          <mat-form-field>
            <mat-select placeholder="De" formControlName="from">
              <mat-option *ngFor="let item of list_emails" [value]="item.email">
                {{item.email | uppercase}}
              </mat-option>
            </mat-select>

          </mat-form-field>


        </div>

        <div class="col-md-4">
          <mat-form-field>
            <mat-select placeholder="Mail de Retour" formControlName="replyto">
              <mat-option *ngFor="let item of list_emails" [value]="item.email">
                {{item.email | uppercase}}
              </mat-option>
            </mat-select>

          </mat-form-field>


        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-select placeholder="CC" formControlName="cc">
              <mat-option *ngFor="let item of list_emails" [value]="item.email">
                {{item.email | uppercase}}
              </mat-option>
            </mat-select>

          </mat-form-field>


        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="erp-full-width">
            <input matInput placeholder="Objet" formControlName="objet">
          </mat-form-field>

        </div>

      </div>


      <div class="row">
        <div class="col-sm-12">
          <strong>Message</strong>
          <ckeditor skin="moono-lisa" language="fr"  formControlName="message"></ckeditor>
        </div>


      </div>


    </form>


    <div class="modal-footer">
      <button mat-button (click)="onDismiss()">Annuler</button>
      <button mat-raised-button color="success" (click)="sendEmail()">Envoyer</button>
    </div>
  </div>
</div>
