.global{
  position: relative;
  top: 58px;
}
.card {
  background: #f1f1f1;
}
.imgBlog{
  max-width: 100%;
  height: auto;
}
.btn_blog {
  background-color: #00B5D2;
  border-radius: 50px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.5s;
  cursor: pointer;
}
.btn_blog:hover{
  padding-right: 25px;
  padding-left: 25px;
  background-color: #00788C;
  color: white;
}
.lirePlus a{
  color: #ffffff;
}
ul {
  list-style: circle inside none;
  padding: 0;
}
li {
  padding: 5px 10px;
}
.btn_categorie {
  background-color: #00B5D2;
  border: none;
  color: white;
  padding: 8px 10px;
  margin: 4px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  transition: all 0.5s;
  cursor: pointer;
}
.btn_sociaux.facebook {
  background-color: #4267B2;
}
.btn_sociaux.facebook:hover{
  background-color: #2C4476;
}

.btn_sociaux.linkedin {
  background-color: #0271AE;
}
.btn_sociaux.linkedin:hover{
  background-color: #014B74;
}

.btn_sociaux.instagram {
  background-color: rgb(209, 44, 72);
}
.btn_sociaux.instagram:hover{
  background-color: #F67C43;
}

.btn_sociaux.twitter {
  background-color: #1C9DEB;
}
.btn_sociaux.twitter:hover{
  background-color: #12689C;
}
.btn_sociaux {
  border: none;
  color: white;
  padding: 8px 15px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition: all 0.5s;
  cursor: pointer;
}

.btn_sociaux:hover{
  padding-right: 20px;
  padding-left: 20px;
  color: white;
}
.s003 form .inner-form {
  background: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}
.s003{
  height: 60%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 20px 32px;
  font-size: 16px;
  color: #555;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.s003 form .inner-form {
  background: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}
input[type=submit] {
  background-color: #00B5D2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
  float: right;
}
