<div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header text-center">
        <h6>Les contrats du Dr <strong>{{data.interim | titlecase}}</strong> pour la mission <strong>{{data.refMM | uppercase}}</strong> au CH <strong>{{data.client | titlecase }}</strong></h6>
    </div>
    <div class="col-lg-12 pt-3">
        <div class="row">
            <div class="col-12">
                <strong><u>Liste des contrats générés</u></strong>
            </div>
        </div>
      <mat-divider></mat-divider>
      <div class="row mt-2" *ngIf="dataSourceContrat.length > 0">
            <div class="col-4 mb-3" *ngFor="let item of coontratUnique(dataSourceContrat)">
                <div class="card" style="width: 100%;">
                    <div class="card-header p-1 font-bold ">
                      Nº: {{item.contraPld.idPld}}
                      <a class="pointer mr-2 text-info" matTooltip="Ouvrir la rémunération du contrat" routerLink="/RMS-Admin/renumerations/{{item.contraPld.idRemu}}/show/">
                        <i class="fa fa-money "></i>
                      </a>
<!--                      <a class="pointer text-warning" matTooltip="Modifier le contrat" (click)="OnUpdateModalPld({idInterim: idInterim, idpld: item.contraPld.idPld, idMM: idMM, idclient: idClient})">-->
<!--                        <i class="fa fa-pencil-square-o"></i>-->
<!--                      </a>-->
                      <a class="pointer text-warning" matTooltip="Modifier le contrat" (click)="OnOuvreModalPld(item.contraPld.idPld)">
                        <i class="fa fa-pencil-square-o"></i>
                      </a>
                    </div>
                    <ul class="list-group list-group-flush p-1" *ngIf="item.contraPld.url && item.contraPld.url.length > 0">
                        <li class="list-group-item p-1">&nbsp;
                            <a  matTooltip="Ouvrir le contrat du client" class="pointer mr-2" href="{{item.contraPld.url[0]}}" target="_blank" *ngIf="item.contraPld.url[0]">
                              <span class="font-11 mr-1">Mise à disposition</span> <i class="fa fa-eye"></i>
                            </a>
                            <i class="fa fa-paper-plane-o pointer text-success" *ngIf="!item.contraPld.ch_contrat" matTooltip="Envoyer le contrat en signature" (click)="onSignContrat(item.contraPld.idPld,item.idCandidature,0)"></i>
                            <i class="fa fa-info-circle text-success pointer" *ngIf="item.contraPld.ch_contrat" (click)="getStatutContrat(item.contraPld.idPld,0)"></i>
                        </li>
                        <li class=" list-group-item p-1">
                            <a matTooltip="Ouvrir le contrat de l'interim" class="pointer mr-2" href="{{item.contraPld.url[1]}} " target="_blank " *ngIf="item.contraPld.url[1] ">
                              <span class="font-11 mr-1">Mission temporaire</span> <i class="fa fa-eye"></i>
                            </a>
                          <i class="fa fa-paper-plane-o pointer text-success" *ngIf="!item.contraPld.interim_contrat" (click)="onSignContrat(item.contraPld.idPld,item.idCandidature,1)" matTooltip="Envoyer le contrat en signature"></i>
                          <i class="fa fa-info-circle text-success pointer" *ngIf="item.contraPld.interim_contrat" (click)="getStatutContrat(item.contraPld.idPld,1)"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row " *ngIf="dataSourceContrat.length===0 ">
            <div class="col-12 ">
                <p class="alert alert-primary ">Aucun contrat trouvé !</p>
            </div>
        </div>
      <mat-divider></mat-divider>
    </div>
    <div class="col-12 mt-2 ">
        <strong><u>Liste des candidatures validées </u></strong>
    </div>
    <div class="col-12" *ngIf="loader">
      <img width="20" src="../../../../../../../../assets/images/loader.gif" alt="loading">
    </div>
    <div class="col-lg-12 table-responsive">
       <div class="row mt-3 text-warning" *ngIf="!loader && libelleRubriqueMission.length > 0">
         <div class="col-4 offset-1">
           Prime (s) à rajouter sur Pld:
           <span *ngIf="!idClientPld" class="text-danger">
                Le client n'existe pas encore sur PLD,<a (click)="editClientModal(idClient)" *ngIf="!idClientPld && dataSource.data.length > 0" class="text-info pointer"> clique ici </a>pour
                l'enregistrer !
            </span>
         </div>
         <ul class="col-7" *ngIf="idClientPld">
           <li class="font-11 text-info" *ngFor="let item of libelleRubriqueMission">
             {{item}}
           </li>
         </ul>
       </div>
        <p *ngIf="!idInterimPld && dataSource.data.length > 0" class="offset-1 text-danger">
            L'intérimaire n'existe pas sur PLD,<a (click)="OnUpdateInterimaire(idInterim)" class="text-info pointer">
                clique
                ici </a>pour l'enregistrer !
        </p>
        <div *ngIf="selection.selected.length>0 && idInterimPld && idClientPld && !loader">
            <button class="btn btn-outline-success mr-2" (click)="OnOuvreModalPld(null)">Générer le contrat</button>
            <button type="button" class="btn btn-outline-secondary mr-2" (click)="addIdPldContrat()">
                Lier un contrat existant
            </button>
        </div>
        <table mat-table [dataSource]="dataSource" matSort class="bg-white table table-hover table-striped">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select" >
                <th *matHeaderCellDef mat-sort-header class="pl-0">
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()"></mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="number">
                <th mat-sort-header *matHeaderCellDef>N°</th>
                <td mat-cell *matCellDef="let element">{{ dataSource.filteredData.indexOf(element) + 1 }}</td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="date">
                <th mat-sort-header *matHeaderCellDef> Date</th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.date | date: 'dd-MM-yyyy'}} </td>
            </ng-container>
            <!-- Position Column -->
            <ng-container matColumnDef="vacation">
                <th mat-sort-header *matHeaderCellDef> Vacation</th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.designation}} </td>
            </ng-container>

            <!--          <ng-container matColumnDef="primesPld">-->
            <!--            <th mat-sort-header *matHeaderCellDef>-->
            <!--              Libellé de la rubrique (pld)-->
            <!--            </th>-->
            <!--            <td mat-cell *matCellDef="let element" class="text-center">-->
            <!--                      <span class="pointer" (click)="saveOnPLD(element.idClient)" *ngIf="!element.idClientPld">-->
            <!--                        Enregistrer le Client sur PLD ?-->
            <!--                      </span>-->
            <!--              <span *ngIf="element.idClientPld">{{ element.designation}} {{element.specialite}} {{element.idClientPld}}</span>-->
            <!--            </td>-->
            <!--          </ng-container>-->

            <!-- Name Column -->
            <ng-container matColumnDef="debut">
                <th mat-sort-header *matHeaderCellDef>Début</th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.heure_debut }} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="fin">
                <th mat-sort-header *matHeaderCellDef> Fin</th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.heure_fin}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="tarif">
                <th mat-sort-header *matHeaderCellDef> Tarif</th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.tarif}} €</td>
            </ng-container>

            <ng-container matColumnDef="brute">
                <th mat-sort-header *matHeaderCellDef> Brute</th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.salaireBrute}} €</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="net">
                <th mat-sort-header *matHeaderCellDef> Net</th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.salaireNet}} €</td>
            </ng-container>


            <!-- Symbol Column -->
            <ng-container matColumnDef="contrat-pld">
                <th mat-sort-header *matHeaderCellDef class="text-center"> Contrat</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <span *ngIf="element.contraPld">{{element.contraPld.idPld}}</span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row class="pointer" *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>
        </table>
    </div>
    <div class="col-lg-12" *ngIf="dataSource.data.length === 0">
        <p class="alert alert-primary">Pas de candidature (s) validée (s) pour cette mission !</p>
    </div>
</div>
