.mat-header-cell {
  font-size: 1.25em;
  color: black;
  border-bottom: 2px solid #17A2B8;
}
tr.mat-header-row {
  height: 40px;
  background-image: linear-gradient(to right, white 0%, white 100%);
  color: black;
}
