<div class="container-fluid animated fadeIn bg-white">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!--Header-->
                <div class="card-header">
                    <div class="row">
                        <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-5 mt-4">
                            <h6><span>GESTION DES INTERIMAIRES</span></h6>
                        </div>
                        <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-7  text-right">
                            <div class="row">
                                <div class="col-5">
<!--                                    <div class="mt-3" *ngIf="!interimPldToErp">-->
<!--                                        <mat-checkbox (click)="interimPldToErp =!interimPldToErp">Lier les interims pld aux interims erp-->
<!--                                        </mat-checkbox>-->
<!--                                    </div>-->

                                    <form #f="ngForm" (ngSubmit)="onLiePldToERp(f)" class="form" *ngIf="interimPldToErp">
                                        <mat-form-field>
                                            <mat-label>limite</mat-label>
                                            <mat-select name="offset" ngModel required>
                                                <mat-option *ngFor="let limit of limits" [value]="limit.value">
                                                    {{limit.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <button mat-button style="background-color: #3a97a2;color: white">Ok</button>
                                    </form>



                                </div>
                                <div class="col-7">
                                    <div class="mr-4">
                                        <mat-form-field>
                                            <mat-label>Filtrer</mat-label>
                                            <mat-select multiple [(ngModel)]="elements">
                                                <mat-option *ngFor="let item of displayedColumnsFilter" [value]="item.name" (click)="valutElements()">
                                                    {{item.label | uppercase}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        &nbsp;&nbsp;

                                        <button mat-mini-fab color="success" (click)="OnUpdateInterimaire()">
                                            <mat-icon>add_circle</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--            <form #f="ngForm" (ngSubmit)="onSubmitFiltre(f)" class="col-12 col-sm-12 col-md-12 col-lg-12">-->
                        <!--              <div class="row">-->
                        <!--                <div *ngFor="let item  of elements " class="col-12 col-sm-6 col-md-4 col-lg-3">-->
                        <!--                  <div *ngIf="item != 'actif' && item != 'activer'  && item != 'inscription' && item != 'specialite' ">-->

                        <!--                    <mat-form-field class="erp-full-width">-->
                        <!--                      <input id="{{item}}" matInput name="{{item}}" ngModel placeholder="{{item}}" required type="text">-->
                        <!--                    </mat-form-field>-->
                        <!--                  </div>-->


                        <!--                  <div *ngIf="item == 'activer' || item == 'actif' || item == 'inscription'">-->

                        <!--                    <mat-form-field class="erp-full-width">-->
                        <!--                      <mat-select id="{{item}}" name="{{item}}" ngModel placeholder="{{item}}" required>-->
                        <!--                        <mat-option value="oui">Oui</mat-option>-->
                        <!--                        <mat-option value="non">Non</mat-option>-->
                        <!--                      </mat-select>-->
                        <!--                    </mat-form-field>-->
                        <!--                  </div>-->
                        <!--                  <div *ngIf="item == 'specialite'">-->
                        <!--                    <mat-select-autocomplete [multiple]='true' [options]="listSpecialites"-->
                        <!--                                             [placeholder]="'selectionnez specialite'" class="erp-full-width"-->
                        <!--                                             name="{{item}}" ngDefaultControl-->
                        <!--                                             ngModel>-->
                        <!--                      &lt;!&ndash; To use formControl within formGroup, provide [formControl] = formGroupName.controls[‘formControlName’] otherwise just [formControl] = ‘formControlName’ &ndash;&gt;-->
                        <!--                    </mat-select-autocomplete>-->
                        <!--                  </div>-->


                        <!--                </div>-->
                        <!--              </div>-->
                        <!--              <div class="row">-->
                        <!--                <div class="col-lg-12 text-center">-->
                        <!--                  <button *ngIf="elements.length > 0" [disabled]="f.invalid" class="btn btn-primary"-->
                        <!--                          type="submit">Valider-->
                        <!--                  </button>-->
                        <!--                </div>-->
                        <!--              </div>-->

                        <!--            </form>-->

                        <form (ngSubmit)="onSubmitFiltre()" [formGroup]="formFilter" class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div *ngFor="let item  of elements " class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div *ngIf="item != 'actif' && item != 'activer' && item != 'age' && item != 'dossier' &&  item !='chAEviter' && item != 'source' && item != 'inscription' && item != 'specialite'  && item != 'date'  && item != 'cible' && item != 'auteur'  && item != 'last_login'">
                                        <mat-form-field class="erp-full-width">
                                            <input formControlName="{{item}}" id="{{item}}" matInput placeholder="{{item}}" required type="text">
                                        </mat-form-field>
                                    </div>


                                    <div *ngIf="item == 'activer' || item == 'actif' || item == 'inscription' || item == 'cible' || item == 'dossier' ">

                                        <mat-form-field class="erp-full-width">
                                            <mat-select formControlName="{{item}}" id="{{item}}" placeholder="{{item}}" required>
                                                <mat-option value="oui">Oui</mat-option>
                                                <mat-option value="non">Non</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="item == 'specialite'">
                                        <mat-select-autocomplete [multiple]='true' [options]="listSpecialites" [placeholder]="'selectionnez specialite'" class="erp-full-width" formControlName="{{item}}" ngDefaultControl>
                                        </mat-select-autocomplete>
                                    </div>

                                    <div *ngIf="item == 'chAEviter'">

                                        <mat-form-field class="erp-full-width" appearance="fill">
                                            <mat-label>CH</mat-label>
                                            <input type="text" matInput formControlName="{{item}}" [matAutocomplete]="auto">
                                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                              <mat-option *ngFor="let option of filteredOptions | async" [value]="option.display">
                                                {{option.display}}
                                              </mat-option>
                                            </mat-autocomplete>
                                          </mat-form-field>
                                      
                                    </div>
                                
                                    
                                    <!-- <div *ngIf="item == 'age'">
                                    <mat-form-field>
                                        <input matInput type="number" placeholder="Age"formControlName="{{item}}">
                                      </mat-form-field>
                                      <mat-radio-button class="section-margin" value="Max">Max</mat-radio-button>
                                      
                                    </div> -->
                                    <div *ngIf="item == 'auteur'">
                                        <mat-form-field>
                                            <mat-select placeholder="Gestionnaire Interne" formControlName="{{item}}">
                                                <mat-option *ngFor="let g of listGestionnaires" [value]="g.username">
                                                    {{g.nom | uppercase}} {{g.prenom | uppercase}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    
                                    <div *ngIf="item == 'source'">
                                        <mat-form-field>
                                            <mat-select placeholder="Source" formControlName="{{item}}">
                                                <mat-option *ngFor="let s of listsource" [value]="s.id">
                                                    {{s.nom | uppercase}} 
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="item == 'date'">
                                        <div *ngIf="item == 'date'">
                                            <ngx-mat-drp #dateRangePicker (selectedDateRangeChanged)="updateRange($event)" [options]="options">

                                            </ngx-mat-drp>

                                        </div>
                                    </div>


                                    <div *ngIf="item =='last_login' ">
                                        <div *ngIf="item == 'last_login'">
                                            <ngx-mat-drp #dateRangePicker (selectedDateRangeChanged)="updateRange($event,true)" [options]="options">

                                            </ngx-mat-drp>

                                        </div>
                                    </div>



                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <button *ngIf="elements.length > 0" [disabled]="formFilter.invalid" class="btn btn-primary" type="submit">Valider
                                    </button>
                                </div>
                            </div>

                        </form>
                        <section class="section" *ngIf="elements.length > 0">
                            <label class="section-margin">Ordre :</label>
                            <mat-radio-group [(ngModel)]="ordre">
                                <mat-radio-button class="section-margin" value="ASC">ASC</mat-radio-button>
                                <mat-radio-button class="section-margin" value="DESC">DESC</mat-radio-button>
                            </mat-radio-group>
                        </section>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table *ngIf="!showLoadInterim" [dataSource]="dataSource" class="bg-white footable table table-hover table-striped" mat-table matSort>
                        <!-- colonne de checkboc   -->

                        <ng-container matColumnDef="select">
                            <th *matHeaderCellDef mat-header-cell>
                                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </th>
                            <td *matCellDef="let client" class="pt-3" mat-cell>
                                <mat-checkbox (change)="$event ? selection.toggle(client) : null" (click)="$event.stopPropagation()" [checked]="selection.isSelected(client)">
                                </mat-checkbox>
                            </td>
                        </ng-container>
                        <!-- debut des colonnes des champs du tableau -->
                        <ng-container matColumnDef="number">
                            <th *matHeaderCellDef mat-header-cell>N°</th>
                            <td *matCellDef="let interim" class="pt-3" mat-cell>
                                {{ dataSource.filteredData.indexOf(interim) + 1 }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="nom">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Interim</th>
                            <td *matCellDef="let interim" class="font-weight-bold pt-3 sizeText tdCentPx" mat-cell>
                                <a routerLink="/RMS-Admin/interim/{{interim.id}}/show/">
                                    {{ getcivilite(interim.civilite)}}.
                                    {{ interim.nom}} {{interim.prenom}}
                                </a>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="ville">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Ville</th>
                            <td *matCellDef="let interim" class="font-bold pt-3 sizeText1" mat-cell>
                                {{interim.ville}} <strong>({{interim.cp}})</strong></td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>E-mail</th>
                            <td *matCellDef="let interim" class="pt-3 sizeText tdCentPx" mat-cell>
                                <span>{{ interim.email}}</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="telephone">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Téléphone</th>
                            <td *matCellDef="let interim" class="pt-3 sizeText1" mat-cell>{{ interim.telephone }}</td>
                        </ng-container>

                        <ng-container matColumnDef="statut">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Statut</th>
                            <td *matCellDef="let interim" class="pt-3 " mat-cell>
                                <mat-icon [matMenuTriggerFor]="menu" class="pointer text-vert">visibility</mat-icon>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item> {{ interim.statut }}</button>
                                </mat-menu>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="contact">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>P.Contact</th>
                            <td *matCellDef="let interim" class="pt-3 text-center" mat-cell>
                                <mat-icon [matMenuTriggerFor]="menu" class="pointer text-vert">contacts</mat-icon>

                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item> {{ interim.preferenceContact }}</button>


                                </mat-menu>


                            </td>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Enreg</th>
                            <td *matCellDef="let interim" class="sizeText1" mat-cell>
                                <span> <strong> {{ interim.date_enreg |date:'d-MM-y'}} </strong></span>
                            </td>

                        </ng-container>

                        <ng-container matColumnDef="last_login">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Dernière connexion</th>
                            <td *matCellDef="let interim" class="sizeText1" mat-cell>
                                <span> <strong> {{ interim.last_login |date:'d-MM-y  hh:mm'}} </strong></span>
                            </td>

                        </ng-container>
                        <!--
                        <ng-container matColumnDef="dossier">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Dossier</th>
                            <td *matCellDef="let interim" class="pt-3" mat-cell>
                                <button mat-mini-fab color="success">
                                    <mat-icon *ngIf="interim.dossier_etat">check_box</mat-icon>
                                    <mat-icon *ngIf="!interim.dossier_etat">check_box_outline_blank</mat-icon>
                                </button>
                            </td>
                        </ng-container> -->

                        <ng-container matColumnDef="actif">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Actif</th>
                            <td *matCellDef="let interim" class="pt-3" mat-cell>
                                <mat-slide-toggle (click)="onActifOuInactif(interim, !interim.actif)" [checked]="interim.actif" color="primary"></mat-slide-toggle>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Etat">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>MyRMS</th>
                            <td *matCellDef="let interim" class="pt-3" mat-cell>
                                <mat-slide-toggle (click)="onActiveOuDesactiveUser(interim.user_id, !interim.enabled, null)" [checked]="interim.enabled" color="primary"></mat-slide-toggle>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="inscription">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Inscrit</th>
                            <td *matCellDef="let interim" class="pt-3" mat-cell>
                                <mat-slide-toggle (click)="onActiveOuDesactiveUser(interim.user_id, !interim.inscription, 'inscription')" [checked]="interim.inscription" color="primary">
                                </mat-slide-toggle>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Action">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Action</th>
                            <td *matCellDef="let interim" class="pt-3" mat-cell>
                                <!--<a (click)="OnUpdateInterimaire(interim)">-->
                                <!--<span class="text-warning glyphicon glyphicon-edit float-right"></span>-->
                                <!--</a>-->
                                <!-- <a routerLink="/RMS-Admin/interim/{{interim.id}}/show/"
                      class="btn btn-xs btn-default mr-2">
                      <mat-icon>visibility</mat-icon>
                  </a> -->
                  <mat-icon (click)="remarques(interim.autre_remarques)" class="pointer text-vert">
                    info</mat-icon>
                                
                    <mat-icon (click)="messageProspection(interim.user_id)" class="pointer text-vert">
                                    message</mat-icon>

                                  

                                <mat-icon class="pointer text-orange" (click)="OnUpdateInterimaire(interim.id)">create
                                </mat-icon>


                            </td>
                        </ng-container>

                        <!-- fin des colonnes des champs du tableau -->
                        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                        <tr *matRowDef="let interim; columns: displayedColumns;" mat-row></tr>

                    </table>
                    <div *ngIf="dataSource.filteredData.length == 0" class="text-center">
                        <strong>Désolé, aucun résultat ne correspond à votre recherche.</strong>
                    </div>
                </div>
                <div class="card-footer">
                    <mat-paginator (page)="pagination($event)" [length]="length" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize">
                    </mat-paginator>

                    <div *ngIf="!actionInput">
                        <mat-form-field class="example-user-input">
                            <mat-select [(ngModel)]="action" placeholder="selectionnez une action">
                                <mat-option *ngFor="let action of listActions" [value]="action.value">
                                    {{action.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button (click)="actionbtn(action,selection.selected)" color="success" mat-mini-fab>OK</button>

                    </div>
                    <form #f="ngForm" (ngSubmit)="onLiePldToERp(f)" class="form" *ngIf="interimPldToErp">
                        <mat-form-field>
                            <mat-label>limite</mat-label>
                            <mat-select name="offset" ngModel required>
                                <mat-option *ngFor="let limit of limits" [value]="limit.value">
                                    {{limit.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-button style="background-color: #3a97a2;color: white">Ok</button>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
