.mat-header-cell {
    font-weight: bold;
    color: black;
    border-bottom: #3a97a2 1px solid;
}

.btn-primary {
    background: #3a97a2;
}

table {
    width: 100%;
}

.sizeText {
    font-size: 11px;
}

.sizeText1 {
    font-size: 11px;
}

td {
    width: 10px;
}

.table th,
.table td {
    padding: 0.25rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.material-icons {
    font-size: 17px;
    padding-top: 5px;
    line-height: 0;
}

.mat-mini-fab {
    width: 28px;
    height: 28px;
}


/*td.mat-cell, td.mat-footer-cell, th.mat-header-cell {*/


/*  padding: 0;*/


/*  border-bottom-width: 1px;*/


/*  !*border-bottom-style: solid;*!*/


/*}*/

.material-icons {
    font-size: 20px;
    padding-top: 5px;
    line-height: 0;
}

.example-h2 {
    margin: 10px;
}

.section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.section-margin {
    margin: 0 10px;
}