<div class="modal-header text-center">
    <div>
        <h3>Gestion des roles </h3>
    </div>
</div>

<!-- Modal body -->
<div class="modal-body">
    <div class="container-fluid" *ngIf="tables">
        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td><strong>Table</strong></td>
                    <td><strong>Voir</strong></td>
                    <td><strong>Modifier</strong></td>
                    <td><strong>Supprimer</strong></td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of tables;let i = index">
                    <td> <strong>{{item}}</strong></td>
                    <td class="text-center"> <mat-checkbox (click)="onAddRoles(item, 'view')"></mat-checkbox> </td>
                    <td class="text-center"> <mat-checkbox (click)="onAddRoles(item, 'edit')"></mat-checkbox> </td>
                    <td class="text-center"> <mat-checkbox (click)="onAddRoles(item, 'delete')"></mat-checkbox> </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>