<div class="modal-content" style="padding: 0;margin: 0">

  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h5>Demande d'acompte pour le contrat : {{data.contratPld.idPld}} </h5>
    <!--      <div class="col-lg-12" style="color: red;margin: 1%" *ngIf="erreurPld" class="alert alert-danger text-center">{{erreurPld}}</div>-->
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <form *ngIf="form" [formGroup]="form" class="container">
      <!-- debut du formulaire information de l'utilisateur -->
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="example-container">
            <input matInput type="number" placeholder="Saisir la somme" formControlName="somme">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <strong>Commentaire</strong>
          <ckeditor formControlName="commentaire" language="fr" skin="moono-lisa"></ckeditor>
        </div>
      </div>
      <di class="row">
        <div class="col-lg-12 text-right mt-3">
          <button color="success" [disabled]="form.invalid" (click)="save()" mat-raised-button>Enregister</button>
        </div>
      </di>
    </form>
  </div>
</div>
