<div class="ml-4 mr-4 animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 pt-4">
          <h5 class="panel-title"><span>LISTE TYPE LIGNE
              TELEPHONIQUE</span></h5>
        </div>
        <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">
          <mat-form-field>
            <mat-label>Filtrer</mat-label>
            <mat-select [(ngModel)]="elements" multiple>
              <mat-option (click)="valutElements()" *ngFor="let item of displayedColumnsFilter" [value]="item.name">
                {{item.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;&nbsp;
          <button (click)="editTypeLigneModal()" color="success" mat-mini-fab>
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
      </div>
      <form (ngSubmit)="onSubmitFiltre()" [formGroup]="formFilter" class="example-form container center_div">
        <div *ngFor="let item  of elements " class="form-group">
          <div>
            <mat-form-field class="erp-full-width">
              <input class="form-control" id="{{item}}" matInput name="{{item}}" ngModel placeholder="{{item}}" required
                type="text">
            </mat-form-field>
          </div>
        </div>
        <button *ngIf="elements.length > 0" [disabled]="f.invalid" class="btn btn-primary" type="submit">Valider
        </button>
      </form>
    </div>
    <div class="card-body table-responsive">
      <table #table [dataSource]="dataSource" class="bg-white footable table table-hover table-striped" mat-table
        matSort matSortStart="asc">
        <!-- colonne de checkboc   -->

        <ng-container matColumnDef="select">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td *matCellDef="let client" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(client) : null" (click)="$event.stopPropagation()"
              [checked]="selection.isSelected(client)">
            </mat-checkbox>
          </td>
        </ng-container>
        <!-- debut des colonnes des champs du tableau -->
        <ng-container matColumnDef="number">
          <th *matHeaderCellDef mat-header-cell>Num.</th>

          <td *matCellDef="let item" mat-cell>{{ dataSource.filteredData.indexOf(item) + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="Designation">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Designation</th>
          <td *matCellDef="let item" class="font-bold" mat-cell>{{ item.designation}}</td>
        </ng-container>

        <ng-container matColumnDef="ligne">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Nombre Ligne</th>
          <td *matCellDef="let item" class="font-bold" mat-cell>{{ item.nbr_ligne}}</td>
        </ng-container>

        <ng-container matColumnDef="apartenance">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Appartenance</th>
          <td *matCellDef="let item" class="font-bold" mat-cell>
            <mat-chip-list>
              <span *ngIf="item.appartenace === 2">
                <mat-chip color="primary" selected>Interimaire</mat-chip>
              </span>
              <span *ngIf="item.appartenace === 1">
                <mat-chip color="accent" selected>Client</mat-chip>
              </span>


            </mat-chip-list>


          </td>
        </ng-container>


        <ng-container matColumnDef="Edit">
          <th *matHeaderCellDef mat-header-cell>Edit</th>
          <td *matCellDef="let item" mat-cell>

            <button (click)="editTypeLigneModal(item.id)" mat-mini-fab="accent">
              <mat-icon>create</mat-icon>
            </button>

          </td>
        </ng-container>

        <!-- fin des colonnes des champs du tableau -->
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr (click)="selection.toggle(interim)" *matRowDef="let interim; columns: displayedColumns;" mat-row></tr>

      </table>
      <div *ngIf="this.dataSource.filteredData.length == 0" class="text-center">
        <strong>Désolé, aucun résultat ne correspond à votre recherche.</strong>
      </div>
    </div>
    <div class="card-footer">
      <!-- <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
            (page)="pagination($event)">
        </mat-paginator> -->
      <!--<div *ngIf="!actionInput">-->
      <!--<mat-form-field class="example-user-input">-->
      <!--<mat-select placeholder="selectionnez une action" [(ngModel)]="action">-->
      <!--<mat-option *ngFor="let action of listActions" [value]="action">-->
      <!--{{action}}-->
      <!--</mat-option>-->
      <!--</mat-select>-->
      <!--</mat-form-field>-->

      <!--<button mat-raised-button-->
      <!--aria-label="Button pour valider l'action"-->
      <!--(click)="actionbtn(action,selection.selected)">-->
      <!--OK-->
      <!--</button>-->
      <!--</div>-->
    </div>
  </div>
</div>