<div class="container-fuild animated fadeIn pl-1 pr-1">
  <div class="row">
    <div class="col-lg-12 text-right">
      <mat-form-field>
        <mat-label>Filtrer</mat-label>
        <mat-select [(ngModel)]="elements" multiple>
          <mat-option (click)="valutElements()" *ngFor="let item of displayedColumnsFilter"
                      [value]="item.name">
            {{item.label | uppercase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;&nbsp;
      <button (click)="editVacationModal()" color="success" mat-mini-fab>
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>
  <div class="row mb-2">
    <form (ngSubmit)="onSubmitFiltre()" [formGroup]="formFilter" class="example-form container center_div">
      <div class="row">
        <div *ngFor="let item  of elements " class="form-group col-12 col-sm-6 col-md-4 col-lg-3">
          <div *ngIf="item != 'heure_fin' && item != 'heure_debut'">

            <mat-form-field class="erp-full-width">
              <input class="form-control" formControlName="{{item}}" id="{{item}}" matInput placeholder="{{item}}"
                     required type="text">
            </mat-form-field>
          </div>


          <div *ngIf="item == 'heure_debut' || item == 'heure_fin' ">

            <mat-form-field class="erp-full-width">
              <input class="form-control" formControlName="{{item}}" id="{{item}}" matInput
                     placeholder="{{item}}" required type="time">
            </mat-form-field>
          </div>


        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center pt-4">
          <button *ngIf="elements.length > 0" [disabled]="formFilter.invalid" class="btn btn-primary btn-sm"
                  type="submit">Valider
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12">
    <div class="card p-0">
      <!--Header-->
      <div class="card-body table-responsive">
        <table #table [dataSource]="dataSource" class="bg-white footable table table-hover table-striped" mat-table
               matSort
               matSortStart="asc">
          <!-- colonne de checkboc   -->
          <ng-container matColumnDef="number">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>#</th>
            <td *matCellDef="let tg ; let i = index " class="pt-3" mat-cell>{{ i + 1}}</td>
          </ng-container>

          <ng-container matColumnDef="Etablissement">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Client</th>
            <td *matCellDef="let tg" class="pt-3 sizeText" mat-cell><span *ngIf="tg">
                                <a
                                        routerLink="/RMS-Admin/client/{{tg.client_id}}/show"><strong>{{tg.etablissement | uppercase}}</strong></a>
                            </span></td>
          </ng-container>
          <ng-container matColumnDef="specialite">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>specialite</th>
            <td *matCellDef="let tg" class="pt-3 sizeText" mat-cell><span *ngIf="tg">{{tg.specialite}}</span></td>
          </ng-container>

          <ng-container matColumnDef="Annee">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Annee</th>
            <td *matCellDef="let tg" class="pt-3 sizeText" mat-cell><span *ngIf="tg">{{tg.annee}}</span></td>
          </ng-container>


          <ng-container matColumnDef="Libelle">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Garde</th>
            <td *matCellDef="let tg" class="pt-3 sizeText" mat-cell><span *ngIf="tg">{{ tg.type_de_garde}}</span></td>
          </ng-container>


          <ng-container matColumnDef="Debut">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Debut</th>

            <td *matCellDef="let tg" class="pt-3 sizeText" mat-cell><span
                    *ngIf="tg">{{ tg.heure_debut | date:'HH:mm':'GMT'}}</span></td>
          </ng-container>

          <ng-container matColumnDef="Fin">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Fin</th>
            <td *matCellDef="let tg" class="pt-3 sizeText" mat-cell><span
                    *ngIf="tg">{{ tg.heure_fin | date:'HH:mm' :'GMT'}}</span></td>
          </ng-container>
          <ng-container matColumnDef="Tarif">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Tarif</th>
            <td *matCellDef="let tg" class="pt-3 sizeText" mat-cell><span *ngIf="tg">{{ tg.tarif}}</span> </td>
          </ng-container>
          <ng-container matColumnDef="Salaire Net">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Net</th>
            <td *matCellDef="let tg" class="pt-3 sizeText" mat-cell><span *ngIf="tg">{{ tg.salaire_net}}</span> </td>
          </ng-container>

          <ng-container matColumnDef="Salaire Brute">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Brute</th>
            <td *matCellDef="let tg" class="pt-3 sizeText" mat-cell><span *ngIf="tg">{{ tg.salaire_brute}}</span></td>
          </ng-container>


          <ng-container matColumnDef="T.Reference">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>T.Ref</th>
            <td *matCellDef="let tg" class="pt-3 sizeText" mat-cell><span *ngIf="tg">{{ tg.txtreference}}</span></td>
          </ng-container>

          <ng-container matColumnDef="auteur">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Auteur</th>
            <td *matCellDef="let tg" class="pt-3 sizeText" mat-cell>

              <a routerLink="/RMS-Admin/gestionnaire-interne/{{tg.auteur}}/show"><strong>{{tg.username}}</strong></a>
            </td>
          </ng-container>

          <!--<ng-container matColumnDef="Show">-->
          <!--<th mat-header-cell *matHeaderCellDef>Show</th>-->
          <!--<td mat-cell *matCellDef="let tg">-->
          <!--<span *ngIf="tg">-->
          <!--<a routerLink="/RMS-Admin/fiche-specialite/{{tg.typeDeGarde_id}}/show/">-->
          <!--<mat-icon>visibility</mat-icon>-->
          <!--</a>-->
          <!--</span>-->
          <!--</td>-->
          <!--</ng-container>-->
          <ng-container matColumnDef="Edit">
            <th *matHeaderCellDef mat-header-cell>Edit</th>
            <td *matCellDef="let tg; let i = index" class="pt-3 sizeText" mat-cell>
              <button (click)="editVacationModal(tg.typeDeGarde_id)" mat-mini-fab="accent">
                <mat-icon>create</mat-icon>
              </button>

            </td>
          </ng-container>


          <!-- fin des colonnes des champs du tableau -->
          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let tg; columns: displayedColumns;" mat-row></tr>
        </table>
        <div *ngIf="this.dataSource.filteredData.length == 0" class="text-center">
          <strong>Désolé, aucun résultat ne correspond à votre recherche.</strong>
        </div>
      </div>
      <div class="card-footer">
        <mat-paginator (page)="pagination($event)" [length]="length" [pageSizeOptions]="pageSizeOptions"
                       [pageSize]="pageSize">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
