<div class="row ">
  <div class="col-md-5">

  </div>

  <div class="col-md-5"></div>

  <div class="col-md-2 text-right">


    <div class="col col-md-4 col-sm-4 col-xs-4 col-lg-4">
      <mat-form-field>
        <mat-label>Filtrer</mat-label>
        <mat-select [(ngModel)]="elements" multiple>
          <mat-option (click)="valutElements()" *ngFor="let item of displayedColumnsFilter" [value]="item.name">
            {{item.label | uppercase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>
</div>

<form (ngSubmit)="onSubmitFiltre(f)" #f="ngForm">
  <div class="row container-fluid ">
    <div *ngFor="let item  of elements ">



      <div class="col-4 " *ngIf="item == 'specialite'">


        <mat-form-field>
          <mat-select id="{{item}}" name="{{item}}" ngModel required>
            <mat-option *ngFor="let item of listSpecialites" [value]="item.nomspecialite">
              {{item.nomspecialite}}
            </mat-option>

          </mat-select>

        </mat-form-field>

      </div>

      <div class="col-4  text-center" *ngIf="item == 'annee'">

        <mat-form-field>
          <mat-select id="{{item}}" name="{{item}}" ngModel required>
            <mat-option *ngFor="let item of annees" [value]="item.annee">
              {{item.annee}}
            </mat-option>

          </mat-select>

        </mat-form-field>

      </div>


    </div>
  </div>
  <div class="row container-fluid">
    <div class="col-lg-12 text-left">

      <button mat-flat-button color="success" type="submit" [disabled]="f.invalid" *ngIf="elements.length > 0">
        Valider
      </button>
    </div>
  </div>

</form>

<div class="row container-fluid">

  <div class="col-sm-6 col-xl-3">
    <div class="bg-info rounded overflow-hidden p-3">
      <table>
        <tr>
          <td>
            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">Salaire(s)</p>
          </td>
          <td>
            <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span
                class="text-vertfoncer">{{salaire  | currency:'EUR':true }}</span></p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">Nombre mission(s)</p>
          </td>
          <td>
            <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span class="text-vertfoncer">{{nbr_mission}}</span>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">Heure(s) Travaillée(s)</p>
          </td>
          <td>
            <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span class="text-vertfoncer">{{heure_travailler}}</span>
            </p>
          </td>
        </tr>

      </table>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3">
    <div class="bg-info rounded overflow-hidden p-3">
      <table>

        <tr>
          <td>
            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">Specialité(s)</p>
          </td>
          <td>
            <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span class="text-vertfoncer">{{nbr_specilaite}}</span>
            </p>
          </td>
        </tr>
      </table>
    </div>
  </div><!-- col-3 -->
</div>


<section class="section">
  <mat-radio-group [(ngModel)]="labelPosition" (change)="newStat()">
    <mat-radio-button class="section-margin" checked value="nbr">N.C</mat-radio-button>
    <mat-radio-button class="section-margin" value="ca">C.A</mat-radio-button>
  </mat-radio-group>
</section>
<div class="row">
  <div class="col-md-8" *ngIf="barChart">

    <div class="card-body">
      <fusioncharts [width]="barChart.width" [height]="barChart.height" [type]="barChart.type"
        [dataFormat]="barChart.dataFormat" [dataSource]="barChart.dataSource">
      </fusioncharts>
    </div>

  </div>
  <div class="col-md-4" *ngIf="pie3dChart">
    <div class="card-body">
      <div class="row">
        <div class="col-12">

          <fusioncharts [width]="pie3dChart.width" [height]="pie3dChart.height" [type]="pie3dChart.type"
            [dataFormat]="pie3dChart.dataFormat" [dataSource]="pie3dChart.dataSource">
          </fusioncharts>

        </div>
      </div>
    </div>
    <!-- <div class="card-footer small text-muted">Réseau medical services</div> -->
  </div>



</div>