<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!--Header-->
                <div class="card-header">
                    <div class="row">
                        <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 mt-4">
                            <h6><span>SUIVIE DES CONTRATS</span></h6>
                        </div>
                        <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">
                            <mat-form-field>
                                <mat-label>Filtrer</mat-label>
                                <mat-select multiple [(ngModel)]="elements">
                                    <mat-option *ngFor="let item of displayedColumnsFilter" [value]="item.name"
                                        (click)="valutElements()">
                                        {{item.label | uppercase}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row">
                        <form (ngSubmit)="onSubmitFiltre(f)" #f="ngForm" class="example-form container center_div">
                            <div class="form-group" *ngFor="let item  of elements ">
                                <div *ngIf="item != 'date' && item != 'contractSelector' && item != 'type'">

                                    <mat-form-field class="erp-full-width">
                                        <input matInput type="text" placeholder="{{item}}" id="{{item}}" name="{{item}}"
                                            class="form-control" ngModel required>
                                    </mat-form-field>
                                </div>

                                <div *ngIf="item == 'contractSelector'">

                                    <mat-form-field class="erp-full-width">
                                        <mat-select placeholder="{{item}}" id="{{item}}" name="{{item}}" ngModel
                                            required>
                                            <mat-option value="{{c.value}}" *ngFor="let c  of statut_contrat ">
                                                {{c.label | uppercase }}
                                            </mat-option>

                                        </mat-select>
                                    </mat-form-field>
                                </div>


                                <div *ngIf="item == 'date'">
                                    <ngx-mat-drp (selectedDateRangeChanged)="updateRange($event)" [options]="options"
                                        #dateRangePicker>
                                    </ngx-mat-drp>
                                    <!-- <input matInput placeholder="Filtrer par Date"

                         ngxDaterangepickerMd name="{{item}}"
                         ngModel
                         class="form-control"
                         [locale]="locale"

                  > -->
                                </div>


                            </div>
                            <button class="btn btn-primary" type="submit" [disabled]="f.invalid"
                                *ngIf="elements.length > 0">Valider</button>

                        </form>

                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table mat-table #table matSort matSortStart="asc" [dataSource]="dataSource"
                        class="bg-white footable table table-hover table-striped">
                        <!-- colonne de checkboc   -->

                        <ng-container matColumnDef="select">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell class="sizeText" *matCellDef="let client">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(client) : null"
                                    [checked]="selection.isSelected(client)">
                                </mat-checkbox>
                            </td>
                        </ng-container>
                        <!-- debut des colonnes des champs du tableau -->
                        <ng-container matColumnDef="number">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>N.</th>
                            <td mat-cell class="sizeText" *matCellDef="let item">
                                {{ dataSource.filteredData.indexOf(item) + 1 }}</td>
                        </ng-container>

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                            <td mat-cell class="sizeText" *matCellDef="let item">{{ item.id }}</td>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                            <td mat-cell class="sizeText" *matCellDef="let item">
                                <b> {{ item.date}}</b>
                            </td>
                        </ng-container>


                        <ng-container matColumnDef="etat">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction</th>
                            <td mat-cell class="sizeText" *matCellDef="let item">

                                <mat-chip-list>
                                    <span *ngIf="item.status == 'ABANDONED'">
                                        <mat-chip color="primary" selected>Abandonner</mat-chip>
                                    </span>
                                    <span *ngIf="item.status == 'CLOSED'">
                                        <mat-chip color="accent" selected>Terminer</mat-chip>
                                    </span>
                                    <span *ngIf="item.status == 'ARCHIVED'">
                                        <mat-chip color="warn" selected>Archiver</mat-chip>
                                    </span>
                                    <span *ngIf="item.status == 'OPEN'">
                                        <mat-chip color="accent">Envoyer </mat-chip>
                                    </span>

                                    <span *ngIf="item.status == 'SIGNED'">
                                        <mat-chip>Signer </mat-chip>
                                    </span>
                                    <span *ngIf="item.status == 'PENDING'">
                                        <mat-chip>EN ATTENTE </mat-chip>
                                    </span>

                                </mat-chip-list>

                            </td>
                        </ng-container>

                        <!-- <ng-container matColumnDef="Représentant">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Représentant</th>
              <td mat-cell class="sizeText" *matCellDef="let item">{{ item?.vendorEmail }}</td>
            </ng-container> -->

                        <ng-container matColumnDef="client">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Raison sociale</th>
                            <td mat-cell class="sizeText" *matCellDef="let item">
                                {{ item?.customer?.companyName }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="ville">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ville</th>
                            <td mat-cell class="sizeText" *matCellDef="let item">
                                {{ item?.customer?.city}}</td>
                        </ng-container>

                        <ng-container matColumnDef="mission">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mission</th>
                            <td mat-cell class="sizeText" *matCellDef="let item">
                                <b>{{ item.mission}}</b>
                            </td>
                        </ng-container>



                        <ng-container matColumnDef="modele">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Modèle de contrat</th>
                            <td mat-cell class="sizeText" *matCellDef="let item">
                                {{ item.filename }}</td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                            <td mat-cell class="pt-4" *matCellDef="let item">

                                <button (click)="getStatutContrat(item.id)" class="mr-2" color="vertfoncer"
                                    mat-mini-fab>
                                    <mat-icon>info</mat-icon>
                                </button>

                            </td>


                        </ng-container>

                        <!-- <ng-container matColumnDef="Options">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Options</th>
              <td mat-cell class="sizeText" *matCellDef="let client">{{ client.filename }}</td>
            </ng-container> -->

                        <!-- <ng-container matColumnDef="telephone">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>telephone</th>
                            <td mat-cell class="sizeText" *matCellDef="let item">
                                {{ item.customer.cellPhone}}
                            </td>
                        </ng-container> -->



                        <!-- <ng-container matColumnDef="Actions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
              <td mat-cell class="sizeText" *matCellDef="let item">

                <a routerLink="/RMS-Admin/suivie-contrat/{{item.id}}/profil-contrat/" class="btn btn-xs btn-default mr-2">
                  <mat-icon>visibility</mat-icon>
                </a>

              </td>
            </ng-container> -->


                        <!-- fin des colonnes des champs du tableau -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let item; columns: displayedColumns;" (click)="selection.toggle(item)">
                        </tr>
                    </table>

                </div>
                <div class="card-footer">
                    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                        (page)="pagination($event)">
                    </mat-paginator>
                    <div *ngIf="selection.selected.length > 0">
                        <mat-form-field class="example-user-input">
                            <mat-select placeholder="selectionnez une action" [(ngModel)]="action">
                                <mat-option *ngFor="let action of listActions" [value]="action">
                                    {{action}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <button mat-raised-button aria-label="Button pour valider l'action"
                            (click)="actionbtn(action,selection.selected)">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>