<div class="modal-content" style="padding: 0;margin: 0">

  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h3 *ngIf="idContratPld"><strong>Relevé d'heures du contrat ({{idContratPld}})</strong></h3>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <div class="row m-auto" *ngIf="content && releveHr">
      <div class="col-12 col-lg-12 text-center mb-3">
        <a (click)="onTelechargeRh()"><h3><strong><u>Télécharger le relevé d'Heures </u></strong></h3></a>
      </div>
      <div class="col-12 col-lg-5 col-md-12 col-sm-12 mb-3">
        <fieldset>
          <legend>Informations complémentaire</legend>
          <ul class="list-group" >
            <!--<li class="list-group-item disabled">-->
            <!--<span class="mr-2"><strong>N° relevé d'heures :</strong></span>-->
            <!--<span class="badge badge-info"><strong>{{releveHr.IdRH}}</strong></span>-->
            <!--</li>-->
            <li class="list-group-item disabled">
              <span class="mr-2"><strong>N° contrat :</strong></span>
              <span class="badge badge-info"><strong>{{releveHr.NumeroContrat}}</strong></span>
            </li>
            <li class="list-group-item disabled">
              <span class="mr-2"><strong>Raison sociale :</strong></span>
              <span class="">{{releveHr.RaisonSociale}}</span>
            </li>
            <li class="list-group-item disabled">
              <span class="mr-2"><strong>Nom & Prenom :</strong></span>
              <span class="">{{releveHr.NomPrenom}}</span>
            </li>
            <li class="list-group-item disabled">
              <span class="mr-2"><strong>Date début :</strong></span>
              <span class="">{{releveHr.DateDebut}}</span>
            </li>
            <li class="list-group-item disabled">
              <span class="mr-2"><strong>Date fin :</strong></span>
              <span class="">{{releveHr.DateFin}}</span>
            </li>
          </ul>
        </fieldset>
      </div>
      <div class="col-12 col-lg-4 col-md-12 col-sm-12 mb-2">
        <fieldset>
          <legend>Tableau d'heures</legend>
          <div class="container">
            <div class="row">
              <div class="col-12 bg-white mb-3 pb-2" *ngFor="let item of releveHr.TabJours;let i = index">
                <fieldset>
                  <!-- Form Name -->
                  <legend>{{item.NomJour}}</legend>
                  <!-- Text input-->
                  <div class="container">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-6">
                          <label class="control-label">Date </label>
                          <div>
                            <span class="bg-white">{{item.DateJour}}</span>
                          </div>
                        </div>
                        <div class="col-6">
                          <label class="control-label">heures</label>
                          <div>
                            <input name="textinput" type="number" disabled [(ngModel)]="item.NbHeureJour" class="form-control input-md">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="col-12 col-lg-3 col-md-12 col-sm-12 mb-3">
        <fieldset>
          <legend>Tableau de primes</legend>
        </fieldset>
      </div>
      <div class="col-12 col-lg-12 col-md-12 col-sm-12 mb-3">
        <fieldset>
          <legend>Commentaire</legend>
          <div class="container">
            <div class="row" *ngIf="!content1.comInterim && this.getData.interimExiste">
              <div class="col-lg-12">
                <form [formGroup]="commentaireForm" (ngSubmit)="onEnregistre()">
                  <div class="form-group row">
                    <textarea class="col-sm-10" name="commentaire" id="commentaire" formControlName="commentaire" placeholder="Des anomalies avec le nombre d'heures travailés ? Veuillez les soulignez ici..."></textarea>
                    <div class="col-sm-2">
                      <button class="btn btn-info">Envoyer </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row bg-white" *ngIf="content1.comInterim" style="overflow-wrap:break-word">
              <div class="col-lg-12">
                <mat-list role="list">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header (opened)="true" (closed)="false">
                      <mat-panel-title>
                        <strong>Interimaire</strong>
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-list role="dense">
                      <div  style="overflow-wrap:break-word">
                        {{content1.comInterim}}
                      </div>
                    </mat-list>

                  </mat-expansion-panel>
                </mat-list>
              </div>
            </div>
            <div class="row" *ngIf="!content1.comClient && !this.getData.interimExiste">
              <div class="col-lg-12">
                <form [formGroup]="commentaireForm" (ngSubmit)="onEnregistre()">
                  <div class="form-group row">
                    <textarea class="col-sm-10" name="commentaire" formControlName="commentaire" placeholder="Des anomalies avec le nombre d'heures travailés ? Veuillez les soulignez ici..."></textarea>
                    <div class="col-sm-2">
                      <button class="btn btn-info">Envoyer </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row bg-white" *ngIf="content1.comClient" style="overflow-wrap:break-word">
              <div class="col-lg-12">
                <mat-list role="list">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header (opened)="true" (closed)="false">
                      <mat-panel-title>
                        <strong>Commentaire du client</strong>
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-list role="dense">
                      <div  style="overflow-wrap:break-word">
                        {{content1.comClient}}
                      </div>
                    </mat-list>
                  </mat-expansion-panel>
                </mat-list>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row m-auto" *ngIf="!content">
      <div class="col-12 col-lg-12 col-md-12 col-sm-12 alert alert-danger">
        Le relevé d'heures de ce contrat n'est pas encore disponible !
      </div>
    </div>
  </div>
</div>
