<div class="modal-content" style="padding: 0;margin: 0">

  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h3><strong>Tableau de rémunération</strong></h3>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <table class="table table-striped">
      <tbody>
      <tr *ngFor="let item of totalKeys;let i = index">
        <th *ngIf="item ==='total'">{{item | uppercase}}</th>
        <td *ngIf="item ==='total'" class="text-right"><strong>{{stringToFloat(renumerationPresta['totalPrestation']) + stringToFloat(renumerationPresta['totalFrais'])}} € </strong></td>
      </tr>
      <tr>
        <td>
          <fieldset>
            <legend>Renumeration Frais</legend>
            <div class="card border-light">
              <div class="card-body text-center">
                <table style="width: 100%">
                  <tr *ngFor="let item of renumerationFraisKeys;let i = index">
                    <th>{{item}}</th>
                    <td>{{renumerationPresta[item]}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </fieldset>
        </td>
        <td>
          <fieldset>
            <legend>Renumeration prestation</legend>
            <div class="card border-light">
              <div class="card-body text-center">
                <table style="width: 100%">
                  <tr *ngFor="let item of renumerationPrestaKeys;let i = index">
                    <th >{{item}}</th>
                    <td >{{renumerationPresta[item]}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </fieldset>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
