<div class="modal-content">
  <!-- Modal Header -->
  <div class="modal-header text-center" style="overflow-x: hidden">
    <h2 mat-dialog-title>Selectionnez Recruteur</h2>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <div class="text-right">
      <mat-form-field>
        <mat-label>Filtrer</mat-label>
        <mat-select multiple [(ngModel)]="elements">
          <mat-option *ngFor="let item of displayedColumnsFilter" [value]="item.name" (click)="valutElements()">
            {{item.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <form (ngSubmit)="onSubmitFiltre(f)" #f="ngForm" class="example-form container center_div">
      <div class="form-group" *ngFor="let item  of elements ">
        <div *ngIf="item != 'activer' ">

          <mat-form-field class="erp-full-width">
            <input matInput type="text" placeholder="{{item}}" id="{{item}}" name="{{item}}" class="form-control"
              ngModel required>
          </mat-form-field>
        </div>


        <div *ngIf="item == 'activer'">

          <mat-form-field class="erp-full-width">
            <mat-select placeholder="{{item}}" id="{{item}}" name="{{item}}" ngModel required>
              <mat-option value="oui">Oui</mat-option>
              <mat-option value="non">Non</mat-option>
            </mat-select>
          </mat-form-field>
        </div>


      </div>
      <button class="btn btn-primary" type="submit" [disabled]="f.invalid" *ngIf="elements.length > 0">Valider
      </button>

    </form>
    <table mat-table #table matSort matSortStart="asc" [dataSource]="dataSource"
      class="bg-white footable table table-hover table-striped">
      <!-- colonne de checkboc   -->

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let client">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(client) : null"
            [checked]="selection.isSelected(client)">
          </mat-checkbox>
        </td>
      </ng-container>
      <!-- debut des colonnes des champs du tableau -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
        <td mat-cell *matCellDef="let recruteur">{{ dataSource.filteredData.indexOf(recruteur) + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="Fonction">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fonction</th>
        <td mat-cell *matCellDef="let recruteur">{{ recruteur['fonction']}}</td>
      </ng-container>

      <ng-container matColumnDef="etablissement">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>etablissement</th>
        <td mat-cell *matCellDef="let recruteur">{{ recruteur['nom_etablissement']}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let recruteur">{{ recruteur.email }}</td>
      </ng-container>


      <ng-container matColumnDef="civilite">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Civilite</th>
        <td mat-cell *matCellDef="let recruteur">{{ recruteur.civilite }}</td>
      </ng-container>

      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let recruteur">{{ recruteur.nom }}</td>
      </ng-container>


      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Prenom</th>
        <td mat-cell *matCellDef="let recruteur">{{ recruteur.prenom }}</td>
      </ng-container>

      <ng-container matColumnDef="telephone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Telephone</th>
        <td mat-cell *matCellDef="let recruteur">{{ recruteur.telephone }}</td>
      </ng-container>


      <!-- fin des colonnes des champs du tableau -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let recruteur; columns: displayedColumns;" (click)="selection.toggle(recruteur)"></tr>
    </table>


    <mat-paginator (page)="pagination($event)" [length]="length" [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>

    <div class="row">
      <div class="col-md-6">

        <button mat-flat-button color="warn" mat-dialog-close>Annuler</button>&nbsp;&nbsp;
        <button mat-flat-button color="success" [mat-dialog-close]="selection.selected" cdkFocusInitial>Valider</button>
      </div>
    </div>


  </div>
</div>