.card-header {
  background-image: linear-gradient(to right, #1CAF9A 0%, #17A2B8 100%);
  color: white;
}
fieldset
{
  border: 1px solid #ddd !important;
  margin: 0;
  xmin-width: 0;
  padding: 10px;
  position: relative;
  border-radius:4px;
  background-color:#f5f5f5;
  padding-left:10px!important;
}

legend
{
  font-size:14px;
  font-weight:bold;
  margin-bottom: 0px;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 5px 5px 10px;
  background-color: #ffffff;
}

td{
  width: 10px;
  font-size: 12px;
}
.table th, .table td {
  font-size: 12px;
  padding: 0.25rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
  text-transform: none;
}