<div class="conatenair-fluid">
  <div class="row" *ngIf="renumerationExiste">
    <fieldset class="col-12 mb-3">
        <legend>
          Frais
          <button mat-stroked-button color="warn" class="ml-3" (click)="updateSalaire()">Mettre à jour les frais de la mission</button>
        </legend>
        <div class="card border-light">
          <div class="card-body table-responsive">
            <table class="table table-striped table-hover bg-w borderTopCard">
              <thead>
              <tr>
                <th class="text-center">T.F</th>
                <th class="text-center" *ngFor="let item of renumerationFraisKeys;let i = index">
                  {{formaterItem(item)}}
                </th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center"> {{Totalfrais() | number }}</td>
                  <td class="text-center" *ngFor="let item of renumerationFraisKeys;let i = index">
                    <span *ngIf="item !== 'dateEnreg'">{{renumerationPresta[item]}} </span>
                    <span *ngIf="item === 'dateEnreg'">{{renumerationPresta[item].date | date: 'dd-MM-y'}} </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </fieldset>
    <hr style="border: #17A2B8 0.6px solid;width: 100%">
    <fieldset class="col-3 m-2 ">
      <legend>
        Total
      </legend>
      <div class="card border-light">
        <div class="card-body table-responsive">
          <table class="table table-striped table-hover">
            <tbody>
            <tr *ngFor="let item of totalKeys;let i = index">
              <th>{{formaterItem(item)}}</th>
              <td>{{renumerationPresta[item]}} </td>
            </tr>
            <tr>
              <th width="50%">Total tarif</th>
              <td >{{TotalTarif()}} </td>
            </tr>
            <tr>
              <th width="50%">Presta + Frais</th>
              <td>{{Total()}} </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
    <fieldset class="col-5 m-2">
      <legend>
        Planning
      </legend>
      <div class="card border-light">
        <div class="card-body table-responsive">
          <table class="table table-striped table-hover bg-w ">
            <thead>
            <tr>
<!--              <th class="text-center">#</th>-->
              <th class="text-center" *ngFor="let item of vacationsKeys;let i = index">
                {{item == 'Date' ? 'Date candidature': item == 'Debut' ? 'Début': item}}
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vacation of vacations;let i = index" >
<!--              <th class="text-center">{{i+1}}</th>-->
              <td class="text-center" *ngFor="let item of vacationsKeys" >
                {{item == "Debut" || item == "Fin" ? (vacation[item].date | date: 'shortTime')  : item == "Date"  ? (vacation[item].date | date) : vacation[item]}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
    <fieldset class="col-3 m-2 ">
      <legend>
        Prestation
      </legend>
      <div class="card border-light">
        <div class="card-body table-responsive">
          <table class="table table-striped table-hover">
            <tbody>
            <tr *ngFor="let item of renumerationPrestaKeys;let i = index">
              <td width="10">{{formaterItem(item)}}</td>
              <td>{{renumerationPresta[item]}}</td>
            </tr>
            <tr>
              <td>Total prestation</td>
              <td>{{TotalPresta()}} </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="row" *ngIf="!renumerationExiste">
    <div class="col-lg-12">
      Cette rénumération n'existe pas !
    </div>
  </div>
</div>
