<mat-card>
    <div class="conatenair-fluid">
        <div class="row">
            <div class="col-12 p-2">
                <fieldset>
                    <legend>
                        Justificatifs de la mission
                    </legend>
                    <div class="card border-light">
                        <div class="card-body table-responsive">
                            <table class="table table-striped table-hover bg-w" *ngIf="justificatifs">
                                <thead>
                                <tr>
                                    <th class="text-center">Enregistrement</th>
                                    <th class="text-center">Adresse interimaire</th>
                                    <th class="text-center">Adresse client</th>
                                    <th class="text-center">Mois</th>
                                    <th class="text-center">Année</th>
                                    <th class="text-center">Spécialité</th>

                                    <th class="text-center">Coef IK</th>
                                    <th class="text-center">Trajet</th>
                                    <th class="text-center">Km</th>
                                    <th class="text-center">Rémunération</th>
                                    <th class="text-center">Liste Candidature</th>
                                    <th class="text-center">Validé</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row" class="text-center">
                                        <span *ngIf="justificatifs && justificatifs.existe">{{justificatifs.date}}</span>

                                    </th>
                                    <th scope="row" class="text-center">{{justificatifs.adresseInterim | titlecase}}</th>
                                    <th scope="row" class="text-center">{{justificatifs.adresseClient | titlecase}}</th>
                                    <th scope="row" class="text-center">{{justificatifs.mois | titlecase}}</th>
                                    <th scope="row" class="text-center">{{justificatifs.annee | titlecase}}</th>
                                    <th scope="row" class="text-center">{{justificatifs.specialite | titlecase}}</th>
                                    <th scope="row" class="text-center">{{siNullRenderZero(justificatifs.ik)}}</th>
                                    <th scope="row" class="text-center">{{siNullRenderZero(justificatifs.trajet)}}</th>
                                    <th scope="row" class="text-center">{{siNullRenderZero(justificatifs.km)}} </th>
                                    <th scope="row" class="text-center">
                                        <a class="pointer" (click)="onModalRenumeration()">
                                            <mat-icon color="vertfoncer">visibility</mat-icon>
                                        </a>
                                    </th>
                                    <th scope="row" class="text-center">
                                        <a class="pointer" (click)="onModalListeCandidatures()">
                                            <mat-icon color="vertfoncer">visibility</mat-icon>
                                        </a>
                                    </th>
                                    <th scope="row" class="text-center">
                                        <mat-slide-toggle color="primary" *ngIf="justificatifs && justificatifs.existe" [checked]="justificatifs.actif" (click)="onActifOuInactif(justificatifs , !justificatifs.actif)"></mat-slide-toggle>
                                    </th>
                                    <th class="text-center">
                                        <mat-icon color="primary" class="pointer" (click)="onModalUpdateJustificatif()" *ngIf="justificatifs && justificatifs.existe">
                                            edit
                                        </mat-icon>
                                        <mat-icon color="vertfoncer" class="pointer" (click)="onModalUpdateJustificatif()" *ngIf="justificatifs && !justificatifs.existe">
                                            save
                                        </mat-icon>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-3" *ngIf="justificatifs && justificatifs.existe">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-5 col-lg-5 mb-3">
                <mat-list role="list">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <strong>Ajouter un nouveau fichier</strong>
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <mat-list role="dense">
                            <div style="overflow-wrap:break-word">
                                <div class="card border-light">
                                    <div class="card-body text-center">
                                        <!--                  <div class="row">-->
                                        <!--                    <div class="col-6 text-left">-->
                                        <!--                      <button class="btn btn-success btn-xs" (click)="addNewRow()"> <i class="glyphicon glyphicon-plus"></i> Nouveau fichier</button>-->
                                        <!--                    </div>-->
                                        <!--                    <div class="col-6 text-right">-->
                                        <!--                      <button type="submit" class="btn btn-info btn-xs" [disabled]="pieceForm.invalid" (click)="save()">Enregistrer</button>-->
                                        <!--                    </div>-->
                                        <!--                  </div>-->
                                        <form [formGroup]="pieceForm" class="row">
                                            <div formArrayName="items" class="col-12">
                                                <div [formGroup]="item" *ngFor="let item of pieceForm.get('items')['controls'];let i = index"
                                                     style="margin-top: 2%" class="row">
                                                    <div class="form-group col-12">
                                                        <div class="row">
                                                            <div class="col-12 col-sm-6 col-md-5 col-lg-5">
                                                                <div class="form-group">
                                                                    <label for="typefichier">Le type de fichier</label>
                                                                    <select class="form-control" id="typefichier" formControlName="typefichier">
                                                                        <option>Déplacement</option>
                                                                        <option>Repas</option>
                                                                        <option>Hébergement</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6 col-md-7 col-lg-7">
                                                                <div class="form-group">
                                                                    <label for="fichier">Sélectionner le fichier</label>
                                                                    <!--<input class="form-control hidden d-none {{item}}" (change)="onAddDiplomeElement($event, item)" type="file" accept="*">-->

                                                                    <input type="file" class="form-control" id="fichier" [disabled]="pieceForm.invalid"
                                                                           (change)="getFile($event)" accept="*">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="btn btn-info btn-xs float-left col-12"
                                                            [disabled]="pieceForm.invalid" (click)="save()">Enregistrer</button>

                                                    <!--                        <div class="form-group col-12">-->
                                                    <!--&lt;!&ndash;                          <button type="button" class="btn btn-danger btn-xs float-right" (click)="deleteRow(i)"> <i class="glyphicon glyphicon-remove"> Supprimer</i></button>&ndash;&gt;-->
                                                    <!--                        </div>-->
                                                    <hr>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </mat-list>
                    </mat-expansion-panel>
                </mat-list>
            </div>
            <div class="col-12 col-sm-6 col-md-7 col-lg-7" *ngIf="justificatifs">
                <fieldset>
                    <legend>Fichiers</legend>
                    <div class="card border-light">
                        <div class="card-body text-center">
                            <table class="table table-striped" *ngIf="justificatifs.piece">
                                <tbody>
                                <tr *ngFor="let item of justificatifs['piece']; let i = index">
                                    <td>
                                        <h5><strong> {{item.type | uppercase }}</strong></h5>
                                    </td>
                                    <td>
                                        <img src="{{fileDifferentImage}}" alt="{{item.type}}" class="img-thumbnail" width="50">
                                    </td>
                                    <td>
                                        <a rel="noopener" target="_blank" href="{{item.fichier}}"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;
                                        <i class="fa fa-trash text-danger" (click)="onDelete(item.id)"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</mat-card>
