.icon_item{
  font-size: 25px;
  color: #17A2B8 ;
}
.ion-close{
  font-size: 16px;
  color: red ;
}
.example-container > * {
  width: 100%;
}

/*.chosirJtc{*/
/*  position: fixed;*/
/*  z-index: 1080;*/
/*  width: 44%;*/
/*}*/
/*.chosirSpecialite{*/
/*  position: fixed;*/
/*  z-index: 1080;*/
/*  width: 44%;*/
/*  !*top: 20px;*!*/
/*}*/
