<div class="container-fluid">
  <div class="row">
    <div class="col-sm-11 col-md-5 col-lg-5 col-12" style="margin-top: 2%">
      <multiple-date-picker
        (click)="VerifieDateChoisieAfinDadapterlesAjoutDeVacations()"
        *ngIf="month" [(ngModel)]="initialCountCreate"
        [month]="month">
      </multiple-date-picker>
      <div class="row">
        <div *ngIf="!loaderValider && (roleService.isManager(this.currentUser.roles))" class="col-12 pt-3 text-center">
          <mat-checkbox *ngIf="!showAjout" [(ngModel)]="activerMission"
                        style="width: 25px;height: 25px">Activer
          </mat-checkbox>
          <mat-checkbox *ngIf="!showAjout" [(ngModel)]="majorer" class="ml-3"
                        style="width: 25px;height: 25px"> Majorer
          </mat-checkbox>
        </div>
        <div *ngIf="!loaderValider" class="col-12 example-container py-3 animated fadeIn">
          <button (click)="onValider() " *ngIf="!showAjout" color="vertFoncer"
                  mat-raised-button>Valider
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="!showAjout" class="col-sm-12 col-md-6 col-lg-6 col-12 border"
         style="margin-top: 1%;margin-left: 6%;height: 500px;overflow-y: auto;overflow-x: hidden;padding: 10px;">
      <div *ngIf="!loaderValider">
        <!-- choisir le jtc   -->
        <div class="text-right chosirJtc" id="choisir le jtc">
          <mat-form-field>
            <mat-label>JTC <span style="color: red">*</span></mat-label>
            <mat-select [(ngModel)]="jtc">
              <mat-option (click)="showJtc()" *ngFor="let item of jtc_array"
                          [value]="item.value">{{item.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- liste déroulante de la fiche de specialite -->
        <div class="text-center pt-1 chosirSpecialite" id="choisirSpecialite" style="background: #bee7ef">
          <label style="color: black ; text-align: center;
        padding-right: 60px;font-weight: 900; font-size: 1.1em;">
            Choisir la spécialité <span style="color: red">*</span> :
            <select (change)="choiceFicheSpecialite($event.target.value)" *ngIf="showAfterJtc"
                    [(ngModel)]="ficheSpecialiteDefaut" style="width: 150px;border-radius: 25px; margin-top: 1%">
              <!--<option class="text-center" *ngFor="let itemSpecialite of ficheSpecialites" [selected]="itemSpecialite.selected == true" [ngValue]="itemSpecialite">-->
              <option *ngFor="let itemSpecialite of ficheSpecialites;let i = index" class="text-center" value="{{i}}">
                {{itemSpecialite.id}} - {{itemSpecialite.nomspecialite}}
              </option>
            </select>
          </label>
        </div>
        <hr>
        <div *ngIf="showAfterJtc">
          <br>
          <form (ngSubmit)="onValideFormData()" [formGroup]="formArrayPicker">
            <div formArrayName="groupData">
              <div *ngFor="let data_ of formArrayPicker.get('groupData')['controls']; let i = index">
                <div [formGroupName]="i" class="jumbotronCopie mb-3">
                  <mat-card>
                    <mat-card-header style="border-bottom: 1px solid #17A2B8">
                      <div class="col-10 pt-2">
                        <h5 class="mr-4"
                            style="font-weight: 900">{{data_.value.date|date: 'dd/MM/yyyy'}}
                        </h5>
                      </div>
                      <div class="col-2">
                        <i (click)="addOccurence(i);" class="ion-android-add-circle pointer icon_item"></i>
                      </div>
                    </mat-card-header>
                    <mat-card-content>
                      <div formArrayName="occurences">
                        <div *ngFor="let occurence of getOccurences(i);let j = index" class="ml-2 py-3">
                          <div [formArrayName]="j" class="text-center">
                            <select (change)="setDataOnForm(i, j)" formControlName="vacation"
                                    style="margin-left: 10px;border-radius: 25px;width:160px;margin-top: 1%">
                              <option
                                *ngFor="let itemLibelle of ficheSpecialiteDefautChoix;let indexOptionSelect = index"
                                [ngValue]="itemLibelle">{{itemLibelle.type_de_garde}}
                                / {{itemLibelle.heure_debut}}
                                - {{itemLibelle.heure_fin}}</option>
                            </select> |
                            tarif : <input class="text-center" formControlName="tarif" placeholder="0"
                                           style="width:60px; border-radius: 25px"> |
                            salaire : <input class="text-center" formControlName="salaire" placeholder="0"
                                             style="width:60px; border-radius: 25px"> |
                            qualifs :
                            <select *ngIf="getOccurences(i)[j].value"
                                    formControlName="qualif"
                                    style="margin-left: 4px;border-radius: 25px;width:75px;margin-top: 1%">
                              <option
                                *ngFor="let itemLibelle of qualifsData[i+j];"
                                [ngValue]="itemLibelle.qualif">
                                {{itemLibelle.qualif}}
                              </option>
                            </select>
                            <span (click)="delOccurence(i, j)" class="p-2">
                              <mat-icon class="material-icons pointer" color="warn">
                                remove_circle
                              </mat-icon>
                            </span>
                          </div>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
