<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!--Header-->
                <div class="card-header">
                    <div class="row">
                        <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 mt-4">
                            <h6><span>SUIVIE DES CONTRATS PLD</span></h6>
                        </div>
                        <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">
                            <mat-form-field>
                                <mat-label>Filtrer</mat-label>
                                <mat-select multiple [(ngModel)]="elements">
                                    <mat-option *ngFor="let item of displayedColumnsFilter" [value]="item.name" (click)="valutElements()">
                                        {{item.label | uppercase}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="row">
                        <form (ngSubmit)="onSubmitFiltre(f)" #f="ngForm" class="example-form container center_div">
                            <div class="form-group" *ngFor="let item  of elements ">
                                <div *ngIf="item != 'date'  && item != 'type'">

                                    <mat-form-field class="erp-full-width">
                                        <input matInput type="text" placeholder="{{item}}" id="{{item}}" name="{{item}}" class="form-control" ngModel required>
                                    </mat-form-field>
                                </div>

                              


                                <div *ngIf="item == 'date'">
                                    <ngx-mat-drp (selectedDateRangeChanged)="updateRange($event)" [options]="options" #dateRangePicker>
                                    </ngx-mat-drp>
                                    
                                </div>


                            </div>
                            <button class="btn btn-primary" type="submit" [disabled]="f.invalid" *ngIf="elements.length > 0">Valider</button>

                        </form>

                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table mat-table #table matSort matSortStart="asc" [dataSource]="dataSource" class="bg-white footable table table-hover table-striped">
                        <!-- colonne de checkboc   -->

                        <ng-container matColumnDef="select">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell class="sizeText" *matCellDef="let client">
                                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(client) : null" [checked]="selection.isSelected(client)">
                                </mat-checkbox>
                            </td>
                        </ng-container>
                        <!-- debut des colonnes des champs du tableau -->
                        <ng-container matColumnDef="number">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>N.</th>
                            <td mat-cell class="sizeText" *matCellDef="let item">
                                {{ dataSource.filteredData.indexOf(item) + 1 }}</td>
                        </ng-container>

                        <ng-container matColumnDef="idPld">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID PLD</th>
                            <td mat-cell class="sizeText" *matCellDef="let item">{{ item.id }}</td>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                            <td mat-cell class="sizeText" *matCellDef="let item">
                                <b> {{ item.date}}</b></td>
                        </ng-container>

                        <ng-container matColumnDef="contrat">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>COntrat</th>
                            <td mat-cell class="sizeText" *matCellDef="let item">
                                <mat-icon>info</mat-icon>
                        </ng-container>
                 
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let item; columns: displayedColumns;" (click)="selection.toggle(item)">
                        </tr>
                    </table>

                </div>
                <div class="card-footer">
                    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pagination($event)">
                    </mat-paginator>
                    <div *ngIf="selection.selected.length > 0">
                        <mat-form-field class="example-user-input">
                            <mat-select placeholder="selectionnez une action" [(ngModel)]="action">
                                <mat-option *ngFor="let action of listActions" [value]="action">
                                    {{action}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <button mat-raised-button aria-label="Button pour valider l'action" (click)="actionbtn(action,selection.selected)">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>