<header class="content__header header_standalone">
  <h1 class="content__heading">
    Campagnes email</h1>
  <div class="header__cta">


    <a _ngcontent-c47="" rel="noopener" target="_blank" class="btn btn-primary spacer-bottom-sm dash-res-camp btn"
      href="https://my.sendinblue.com/camp/classic/setup">
      <i _ngcontent-c47="" class="fa fa-plus">

      </i> Créer une nouvelle campagne</a>
  </div>

</header>

<div class="panel-body table-responsive">
  <table mat-table #table matSort matSortStart="asc" [dataSource]="dataSource"
    class="bg-white footable table table-hover table-striped">
    <!-- colonne de checkboc   -->

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <!--        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"-->
        <!--                      [indeterminate]="selection.hasValue() && !isAllSelected()">-->
        <!--        </mat-checkbox>-->
        <mat-checkbox (change)="$event" [checked]="selection.hasValue()" [indeterminate]="selection.hasValue()">
        </mat-checkbox>
        <!--        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"-->
        <!--                      [indeterminate]="selection.hasValue() && !isAllSelected()">-->
        <!--        </mat-checkbox>-->
      </th>
      <td mat-cell *matCellDef="let client">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(client) : null"
          [checked]="selection.isSelected(client)">
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- debut des colonnes des champs du tableau -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let item">{{ item.id }}</td>
    </ng-container>

    <ng-container matColumnDef="NOM">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>NOM</th>
      <td mat-cell *matCellDef="let item" class="font-bold">{{ item.name }}</td>
    </ng-container>

    <ng-container matColumnDef="DESTINATAIRES">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>DESTINATAIRES</th>
      <td mat-cell *matCellDef="let item" class="font-bold"> {{item.statistics.globalStats.sent}}
        <!-- <span *ngFor="let c of item.recipients"></span> -->
      </td>
    </ng-container>

    <ng-container matColumnDef="OUVER">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>OUVERT(S)</th>
      <td mat-cell *matCellDef="let item" class="font-bold">{{item.statistics.globalStats.uniqueViews}}</td>
    </ng-container>

    <ng-container matColumnDef="CLIQUER">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>CLIQUÉ(s)</th>
      <td mat-cell *matCellDef="let item" class="font-bold">{{item.statistics.globalStats.uniqueClicks}}</td>
    </ng-container>

    <ng-container matColumnDef="DÉSINSCRITS">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>DÉSINSCRIT(S)</th>
      <td mat-cell *matCellDef="let item" class="font-bold">{{item.statistics.globalStats.unsubscriptions}}</td>
    </ng-container>

    <ng-container matColumnDef="DATE ENVOI">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>DATE D'ENVOI</th>
      <td mat-cell *matCellDef="let item" class="font-bold">{{item.sentDate | date}}</td>
    </ng-container>




    <!-- fin des colonnes des champs du tableau -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let interim; columns: displayedColumns;" (click)="selection.toggle(interim)"></tr>

  </table>

</div>
<div class="panel-footer">
  <mat-paginator #listPaginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
  <div *ngIf="!actionInput">
    <!-- <mat-form-field class="example-user-input">
      <mat-select placeholder="selectionnez une action" [(ngModel)]="action">
        <mat-option *ngFor="let action of listActions" [value]="action">
          {{action}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <!--    <button mat-raised-button aria-label="Button pour valider l'action" (click)="actionbtn(action,selection.selected)">-->
    <!-- <button mat-raised-button aria-label="Button pour valider l'action">
      OK
    </button> -->
  </div>

</div>