<div class="ml-4 mr-4 animated fadeIn">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 pt-4">
                    <h5 class="panel-title"><span>LISTE RESSOURCE PARTENAIRE</span></h5>
                </div>
                <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">
                    <mat-form-field>
                        <mat-label>Filtrer</mat-label>
                        <mat-select [(ngModel)]="elements" multiple>
                            <mat-option (click)="valutElements()" *ngFor="let item of displayedColumnsFilter"
                                [value]="item.name">
                                {{item.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    &nbsp;&nbsp;
                    <button (click)="editRessource()" color="success" mat-mini-fab>
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </div>
            </div>
            <form (ngSubmit)="onSubmitFiltre()" [formGroup]="formFilter" class="example-form container center_div">
                <div *ngFor="let item  of elements " class="form-group">
                    <div>
                        <mat-form-field class="erp-full-width">
                            <input class="form-control" id="{{item}}" matInput formControlName="{{item}}" ngModel
                                placeholder="{{item}}" required type="text">
                        </mat-form-field>
                    </div>
                </div>
                <button *ngIf="elements.length > 0" [disabled]="formFilter.invalid" class="btn btn-primary" type="submit">Valider
                </button>
            </form>
        </div>
        <div class="card-body table-responsive">
            <table #table [dataSource]="dataSource" class="bg-white footable table table-hover table-striped" mat-table
                matSort matSortStart="asc">

                <ng-container matColumnDef="number">
                    <th *matHeaderCellDef mat-header-cell>Num.</th>

                    <td *matCellDef="let item" mat-cell>{{ dataSource.filteredData.indexOf(item) + 1 }}</td>
                </ng-container>

                <ng-container matColumnDef="raison_sociale">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Raison sociale</th>
                    <td *matCellDef="let item" class="font-bold" mat-cell>{{item.raisonSocial}}</td>
                </ng-container>

                <ng-container matColumnDef="nom">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Nom complet contact </th>
                    <td *matCellDef="let item" class="font-bold" mat-cell>{{ item.nom}} {{ item.prenom}}</td>
                </ng-container>

                <ng-container matColumnDef="url">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>site </th>
                    <td *matCellDef="let item" class="font-bold" mat-cell>{{ item.url}}</td>
                </ng-container>

                <ng-container matColumnDef="telephone">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Télephone </th>
                    <td *matCellDef="let item" class="font-bold" mat-cell>{{ item.telephone}}</td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Type</th>
                    <td *matCellDef="let item" class="font-bold" mat-cell>
                        <mat-chip-list>
                            <span *ngIf="item.type === false">
                                <mat-chip color="primary" selected>Interimaire</mat-chip>
                            </span>
                            <span *ngIf="item.type === true">
                                <mat-chip color="accent" selected>Client</mat-chip>
                            </span>


                        </mat-chip-list>


                    </td>
                </ng-container>

                <ng-container matColumnDef="candidature">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>candidature validée </th>
                    <td *matCellDef="let item" class="font-bold" mat-cell>

                        <mat-chip-list>

                            <mat-chip color="success" selected>{{item.candidature}}</mat-chip>



                        </mat-chip-list>
                    </td>
                </ng-container>

                
                <ng-container matColumnDef="medecin">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>interimaire fourni </th>
                    <td *matCellDef="let item" class="font-bold" mat-cell>

                        <mat-chip-list>

                            <mat-chip color="infos" selected>{{item.interim}}</mat-chip>



                        </mat-chip-list>
                    </td>
                </ng-container>



                <ng-container matColumnDef="Edit">
                    <th *matHeaderCellDef mat-header-cell>Edit</th>
                    <td *matCellDef="let item" mat-cell>

                        <button (click)="editRessource(item.id)" mat-mini-fab="accent">
                            <mat-icon>create</mat-icon>
                        </button>

                    </td>
                </ng-container>

                <!-- fin des colonnes des champs du tableau -->
                <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                <tr (click)="selection.toggle(interim)" *matRowDef="let interim; columns: displayedColumns;" mat-row>
                </tr>

            </table>
            <div *ngIf="this.dataSource.filteredData.length == 0" class="text-center">
                <strong>Désolé, aucun résultat ne correspond à votre recherche.</strong>
            </div>
        </div>
        <div class="card-footer">

        </div>
    </div>
</div>
