<div class="card">
  <div class="card-header">
    <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 pt-4">
      <h5 class="panel-title">
        <span style="color: rgb(47, 64, 80)">GESTION DE LA FICHE DE POSTE  <span class="glyphicon glyphicon-paste fa-1x"
                                                                                 style="color: #3a97a2">
        </span></span>
      </h5>
    </div>
  </div>
  <div class="card-body">
    <app-create-fiche-client [ficheClient]="ficheClient">
    </app-create-fiche-client>
  </div>
</div>
