<mat-card class="m-0 p-0 overFlowHidden">
  <mat-card-title class="modal-header">
    <h2 mat-dialog-title>Recruteurs</h2>
  </mat-card-title>
  <mat-card-content>
    <div class="row pl-3">
      <div *ngFor="let item of listeRecruteur" class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <i class="material-icons">person</i>
            <h6 class="font-weight-bold">Mr {{item.nom}} - {{item.prenom}}</h6>
            <p class="card-text">Tel : <span class="text-right">{{item.telephone}}</span></p>
            <p class="card-text">Email : <span class="text-right">{{item.email}}</span></p>
            <p *ngIf="item.adresse" class="card-text">Adresse : <span class="text-right">{{item.adresse}}</span>
            </p>
          </div>
        </div>
      </div>
      <div *ngIf="listeRecruteur.length == 0" class="col-sm-12">
        <div class="alert alert-danger" role="alert">
          Pas de recruteur associé à ce client !
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer class="row">
    <div class="col-12 py-2">
      <p class="text-right pr-4">
        <button mat-raised-button mat-dialog-close color="warn">Fermer</button>
      </p>
    </div>
  </mat-card-footer>
</mat-card>