<div class="modal-content animated fadeInUp">

  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h3><strong>SPECIALITE(S)</strong></h3>
  </div>

  <!-- Modal body -->
  <div class="modal-body">

    <mat-select-autocomplete [placeholder]="'selectionnez specialite'" [options]="listSpecialites"
                             [multiple]='true' class="erp-full-width"
                             name="specialite" ngDefaultControl  (selectionChange)="getSelectedOptions($event)">


    </mat-select-autocomplete>


    <div class="modal-footer">
      <button mat-button (click)="onDismiss()">Annuler</button>
      <button mat-raised-button color="success" (click)="onConfirm()">Valider</button>
    </div>
  </div>
</div>
