<!-- Modal Header -->
<div class="modal-header text-center font-13">
  Les candidature la mission: {{data.reference}}
</div>

<!-- Modal body -->
<div class="modal-body p-0 m-0 table-responsive">
  <table class="table table-hover table-bordered text-center">
    <thead>
    <tr>
      <td class="font-bold font-12">
        Date
      </td>
      <td class="font-bold font-12">
        vacation
      </td>
      <td class="font-bold font-12">Début</td>
      <td class="font-bold font-12">Fin</td>
      <td class="font-bold font-12">S. net</td>
      <td class="font-bold font-12">État</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of data.candidatures;let i = index" style="cursor: pointer">
      <!--<td style="padding: 2%"><input type="checkbox" class="checkbox checkbox{{i}}" style="width: 16px;height: 16px"></td>-->
      <td>{{item.date.date | date: 'dd-MM-yyyy'}}</td>
      <td>{{item['typeGarde']}}</td>
      <td>{{item.debut.date | date : 'shortTime'}}</td>
      <td>{{item.fin.date | date : 'shortTime'}}</td>
      <td>{{item['salaireNet']}} €</td>
      <td>
        <!--{{item.etat}}-->
        <div class="progress">
          <div class="progress-bar bg-danger" style="width:100%"
               *ngIf="item['etat'] !== 'En Attente' && item['etat'] !== 'Validee' && item['etat'] !== 'Rémunération'">
            {{item['etat']}}
          </div>
          <div class="progress-bar bg-warning" style="width:40%"
               *ngIf="onProgress(item['etat']) > 0 && onProgress(item['etat']) <= 40 ">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Traitement" style="color: white;">40%</a>
          </div>
          <div class="progress-bar bg-info" style="width:70%" *ngIf="onProgress(item['etat'])>=70">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Validation" style="color: white;">70%</a>
            <!--Validation-->
          </div>
          <div class="progress-bar bg-info" style="width:100%" *ngIf="item['etat'] === 'Rémunération'">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Validation" style="color: white;">100%</a>
            <!--Validation-->
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

</div>
