<div class="container marge-top-10-bottom-5" style="margin-top: 10%">
  <div class="col-lg-12 text-center">
    <div class="panel panel-info">
      <div class="panel-heading text-center"><h4><strong>Changez votre mot de passe</strong></h4></div>
      <div class="panel-body">
        <form (ngSubmit)="onSubmitForm()" [formGroup]="passwordupdateForm" class="form-horizontal">
          <div class="input-group mb-3 col-lg-12">
            <input #nouveauPwd #reference_pass (keyup)="MatchingPassword(nouveauPwd)" class="form-control"
                   formControlName="new_password" id="new_password" name="nouveauPwd"
                   placeholder="Indiquez à nouveau votre mot de passe" type="password">
            <div class="input-group-append">
              <button (click)="afficherPwd(refPass)" class="btn btn-outline-secondary" type="button"><i
                class="fa fa-eye" id="nouveauPwd"></i></button>
            </div>
          </div>
          <span *ngIf="matchingPwd" class="text-danger">* les mots de passe doivent être identiques</span>
          <div class="input-group mb-3 col-lg-12">
            <input #reference_pass_2 #renouveauPwd (keyup)="MatchingPassword(renouveauPwd)" class="form-control"
                   formControlName="confirmation_new_password" id="confirmation_new_password"
                   name="renouveauPwd" placeholder="Indiquez à nouveau votre mot de passe"
                   type="password">
            <div class="input-group-append">
              <button (click)="afficherPwd(refPass2)" class="btn btn-outline-secondary" type="button"><i
                class="fa fa-eye" id="renouveauPwd"></i></button>
            </div>
          </div>
          <span *ngIf="matchingPwd" class="text-danger">* les mots de passe doivent être identiques</span>
          <div class="form-group">
            <div class="col-sm-12">
              <button (click)="onSubmitForm()" [disabled]="passwordupdateForm.invalid || matchingPwd"
                      class="col-sm-12 btn btn-primary" type="button">Mettre a jour
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
