<div class="modal-content" *ngIf="recruteurForm">
  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h2 mat-dialog-title>{{displayName}}</h2>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <form [formGroup]="recruteurForm">
      <!-- debut du formulaire information de l'utilisateur -->

      <div [formGroup]="recruteurForm.get('user')">
        <div class="row">

          <div class="col-sm-4">
            <mat-form-field class="erp-full-width">
              <mat-select placeholder="Civilite" formControlName="civilite" >
                <mat-option value="Mr"> Mr</mat-option>
                <mat-option value="Mme">Mme</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm-4">
            <mat-form-field class="erp-full-width">
              <input matInput type="text" placeholder="Nom" formControlName="nom">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field class="erp-full-width">
              <input matInput type="text" placeholder="Prenom" formControlName="prenom">
            </mat-form-field>
          </div>


          <div class="col-sm-4">
            <mat-form-field  class="erp-full-width">
              <input matInput type="text" placeholder="Telephone" formControlName="telephone">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field class="erp-full-width">
              <input matInput type="text" placeholder="Nom Utilisateur" formControlName="username">
            </mat-form-field>
          </div>

          <div class="col-sm-4" >
            <mat-form-field class="erp-full-width">
              <input matInput type="email" placeholder="E-mail" formControlName="email">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field class="erp-full-width">
              <input matInput type="text" placeholder="Adresse" formControlName="adresse">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field class="erp-full-width">
              <input matInput type="text" placeholder="complement Adresse" formControlName="complement_adresse">
            </mat-form-field>
          </div>

          <div class="col-md-4">

            <mat-form-field class="erp-full-width">
              <input type="text" placeholder="Choisissir  commune " aria-label="Text" matInput
                     [matAutocomplete]="auto" (keyup)="onCommune($event.target.value)" formControlName="ville"
                     (blur)="onblurCommune()">
              <mat-autocomplete #auto>
               

                <mat-option *ngFor="let commune of filteredCommune | async" [value]="commune.properties.label">
                  {{commune.properties.postcode}} - {{ commune.properties.label }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>


          </div>

          <div class="col-md-4">
            <mat-form-field class="erp-full-width">
              <input matInput type="text" placeholder="code postal"   formControlName="cp">
            </mat-form-field>
          </div>
        </div>
        <!-- Fin du formulaire information de l'utilisateur -->
      </div>
      <!-- Fin du formulaire du formulaire Adresse du recruteur -->
      <!-- formarray pour ajouter et afficher un client -->
      <div formArrayName='recruteurClient' *ngIf="recruteurForm.get('recruteurClient')['controls']">
        <div [formGroup]='recruteurClient' class='row' *ngFor="let recruteurClient of recruteurForm.get('recruteurClient')['controls']; let i = index" >

          <div class="col-md-5">
            <mat-form-field class="erp-full-width">
              <input matInput type="text"  placeholder="Nom Etablissement" formControlName="nom_etablissement">
            </mat-form-field>
          </div>
          <div class="col-sm-2">
            <mat-chip-list class="erp-full-width">
              <mat-chip   color="warn"  selected (click)="retireClient(i)">retirer</mat-chip>
            </mat-chip-list>

          </div>

        </div>
      </div>

      <div  class="row">
        <div class="col-md-12">
          <mat-form-field class="erp-full-width">
            <input matInput type="text" placeholder="Fonction" formControlName="fonction">
          </mat-form-field>

        </div>

      </div>

      <div class="form-group row">
        <div class="col-sm-12 text-right">
          <button   *ngIf="recruteurForm.valid" class="btn btn-primary btn-sm" mat-raised-button color="vert_foncer" (click) ="saveRecruteur()" cdkFocusInitial>Enregister</button> &nbsp; &nbsp;
          <button mat-raised-button class="btn btn-white btn-sm" color="warn" mat-dialog-close >Annuler</button>
        </div>
      </div>
    </form>
  </div>
</div>
