<div class="modal-content" style="padding: 0;margin: 0">

    <div class="modal-header text-center">
        <h2>DEMANDE DE CONSTITUTION DOSSIER</h2>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
        <mat-card>
            <mat-card-content>

                <div class="row">

                    <div class="col-4" *ngFor="let item of elementDossiers; let i = index;">
                        <mat-checkbox class="example-margin" (change)="changeCheckbox(i)" [checked]="item.checked">
                            {{item.name}}
                        </mat-checkbox>

                    </div>

                </div>

            </mat-card-content>
        </mat-card>

        <mat-card class="result">
            <mat-card-content>

                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="allCheckboxSelect" (change)="allSelect()">
                        Tous les élements
                    </mat-checkbox>
                </section>
            </mat-card-content>
        </mat-card>
        <mat-card class="result">
            <mat-card-content>

                <div class="result row">
                    <div class="col-sm-12 col-sm-offset-2">
                        <button mat-button mat-dialog-close class="btn btn-danger btn-sm">
                            Annuler</button>&nbsp;&nbsp;&nbsp;
                        <button mat-button class="btn btn-primary btn-sm" type="submit" (click)="send()">
                            Envoyer
                        </button>

                        <!-- <mat-checkbox class="ml-2" (click)="addIdPldContrat()" *ngIf="!response.idPld">Lier a un interimaire existant sur PLD</mat-checkbox> -->

                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>