<div>
  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h2 mat-dialog-title>{{displayName}}</h2>
  </div>
  <!-- Modal body -->
  <div class="modal-body">
    <form [formGroup]="editForm" *ngIf="editForm">
      <div class="hr-line-dashed"></div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="erp-full-width">
            <input matInput placeholder="Nom" formControlName="designation">
          </mat-form-field>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-lg-6">
          <button class="col-lg-12" mat-raised-button color="warn" mat-dialog-close>Annuler</button>&nbsp;&nbsp;
        </div>
        <div class="col-lg-6">
          <button class="col-lg-12" [disabled]="editForm.invalid" mat-raised-button color="primary" (click)="save()" cdkFocusInitial>Valider</button>
        </div>
      </div>
    </form>
  </div>
</div>
