<div class="modal-content" style="padding: 0;margin: 0" >

  <!-- Modal Header -->
  <div class="modal-header text-center">

    <h3> {{titre}}</h3>


  </div>

  <!-- Modal body -->
  <div class="modal-body">

    <form class="example-form">
      
      <mat-select-autocomplete class="erp-full-width"
      [placeholder]="'selectionnez Centre Hospitalier a eviter'" 
      [options]="listClientFilter"
      [display]="'display'"
      [formControl]="itemCtrl"
      [value]="'value'"
      [multiple]='true'
      [labelCount]="1"
      name="client"
      ngDefaultControl 
     
     >
    </mat-select-autocomplete>

      <mat-form-field  class="example-full-width">
        <input matInput placeholder="Remarque"  [formControl]="remarqueCtrl">
      </mat-form-field>


      <br>


    </form>

    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <!--<button class="btn btn-white btn-sm" type="submit">Cancel</button>-->
        <button class="btn btn-primary btn-sm" (click)="save()">valider</button>
      </div>
    </div>


  </div>
</div>


