<div class="modal-content" *ngIf="hebergementForm" style="overflow: hidden" >
        <!-- Modal Header -->
        <div class="modal-header text-center">
          <h2 mat-dialog-title>{{displayName}}</h2>
        </div>
      
        <!-- Modal body -->
        <div class="modal-body" >
      
          <form [formGroup]="hebergementForm" >
      
      
            <div class="row">
              
        
              <div class="col-md-4">
                <mat-form-field class="erp-full-width">
                  <input matInput type="text" placeholder="Lieu" formControlName="lieu">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="erp-full-width">
                  <input matInput type="text" placeholder="Adresse" formControlName="adresse">
                </mat-form-field>
      
              </div>
      
              <div class="col-md-4">
                <mat-form-field class="erp-full-width">
                  <input matInput type="text" placeholder="Telephone" formControlName="telephone">
                </mat-form-field>
      
              </div>
      
            
      
      
            </div>
      
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="erp-full-width">
                  <input matInput type="number" placeholder="Nombre etoile" formControlName="etoile">
                </mat-form-field>
      
              </div>
            
      
            <div class="col-md-8">
              <mat-form-field class="erp-full-width">
                <mat-select placeholder="Client" formControlName="client"  [compareWith]="compareWithFunc">
                  <mat-option *ngFor="let client of clientList" [value]="client">
                    {{client.nom_etablissement}}
                  </mat-option>
      
                </mat-select>
      
              </mat-form-field>
      
            </div>
            
          </div>

          <div class="row">
            <div class="col-12">
    
            
              <strong> Remarque</strong>
              <ckeditor formControlName="remarque" language="fr" skin="moono-lisa"></ckeditor>
    
            </div>
          </div>
          
        
         
          </form>
          <div class="row">
            <div class="col-sm-6">
              <button mat-raised-button mat-dialog-close color="warn">Annuler</button>&nbsp;&nbsp;
              <button mat-raised-button color="success"  (click)="save()">Enregister</button>
            </div>
          </div>
        </div>
      </div>
      