<div class="card borderTopCard overFlowHidden ml-4 mr-4 mt-1">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 pt-4">
        <h5><span
          style="text-decoration: underline;color: rgb(47, 64, 80)">GESTION DES OFFRE(S)</span>
        </h5>
      </div>
      <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">
        <mat-form-field>
          <mat-label>Filtrer</mat-label>
          <mat-select [(ngModel)]="elements" multiple>
            <mat-option (click)="valutElements()" *ngFor="let item of displayedColumnsFilter"
                        [value]="item.name">
              {{item.label | uppercase}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <form #f="ngForm" (ngSubmit)="onSubmitFiltre(f)" class="example-form container center_div">
      <div *ngFor="let item  of elements " class="form-group">
        <div *ngIf="item != 'mois'   && item != 'enable'">

          <mat-form-field class="erp-full-width">
            <input class="form-control" id="{{item}}" matInput name="{{item}}" ngModel placeholder="{{item}}"
                   required type="text">
          </mat-form-field>
        </div>

        <div *ngIf="item == 'mois'">

          <mat-form-field class="erp-full-width">
            <mat-select id="{{item}}" name="{{item}}" ngModel placeholder="{{item}}" required>
              <mat-option *ngFor="let m  of allmois " value="{{m}}">{{m | uppercase }} </mat-option>

            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="item == 'enable'">

          <mat-form-field class="erp-full-width">
            <mat-select id="{{item}}" name="{{item}}" ngModel placeholder="{{item}}" required>
              <mat-option value="oui">Oui</mat-option>
              <mat-option value="non">Non</mat-option>
            </mat-select>
          </mat-form-field>
        </div>


      </div>
      <button *ngIf="elements.length > 0" [disabled]="f.invalid" class="btn btn-primary"
              type="submit">Valider
      </button>

    </form>
  </div>
  <div class="card-body table-responsive">
    <table #table [dataSource]="dataSource" class="bg-white footable table table-hover table-striped listesOffres" mat-table matSort
           matSortStart="asc">

      <ng-container matColumnDef="number">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>#</th>
        <td *matCellDef="let mission" mat-cell>{{ dataSource.filteredData.indexOf(mission) + 1 }}
      </ng-container>
      <ng-container matColumnDef="nomEtablissement">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Etablissement</th>
        <td *matCellDef="let mission" class="font-bold" mat-cell>
          <span *ngIf="roleSuperAdmin()"><a routerLink="/RMS-Admin/client/{{mission.idClient}}/show"><strong>{{mission.nomEtablissement}}</strong></a></span>
          <!--<span *ngIf="roleInterim()"><strong>{{mission.nomEtablissement}}</strong></span>-->
        </td>
      </ng-container>
      <ng-container matColumnDef="qualif">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Specialite</th>
        <td *matCellDef="let mission" mat-cell>
          {{mission.nomSpecialite}}
        </td>
      </ng-container>
      <ng-container matColumnDef="reference">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Reference</th>
        <td *matCellDef="let mission" mat-cell>
          <a routerLink="/RMS-Admin/client/{{mission.idClient}}/show">{{mission.reference}}</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="mois">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Mois</th>
        <td *matCellDef="let mission" mat-cell>
          {{mission.mois}}
        </td>
      </ng-container>
      <ng-container matColumnDef="annee">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Annee</th>
        <td *matCellDef="let mission" mat-cell>
          {{mission.annee}}
        </td>
      </ng-container>
      <ng-container matColumnDef="addresse">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Addresse</th>
        <td *matCellDef="let mission" mat-cell>
          {{mission.addresse}}
        </td>
      </ng-container>
      <ng-container matColumnDef="cp">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Cp</th>
        <td *matCellDef="let mission" mat-cell>
          {{mission.cp}}
        </td>
      </ng-container>
      <ng-container matColumnDef="dateenreg">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Depuis le</th>
        <td *matCellDef="let mission" mat-cell>
          <span style="font-size: 0.8em;font-weight: bold">&nbsp;&nbsp;{{mission.dateenreg}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Action</th>
        <td *matCellDef="let mission" mat-cell>
          <mat-icon class="pointer ion-ios-eye" (mouseleave)="clearNombreOffres()" (click)="showModalPostuler(mission.plannings)" (mouseover)="onShowModalPostuler(mission, mission.plannings)">
          </mat-icon>
        </td>
      </ng-container>
      <!-- fin des colonnes des champs du tableau -->
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let mission; columns: displayedColumns;"
          mat-row
          style="cursor: pointer"></tr>
    </table>
  </div>
  <div class="card-footer">
    <mat-paginator #listPaginator (page)="pagination($event)" [length]="length" [pageSizeOptions]="pageSizeOptions"
                   [pageSize]="pageSize">
    </mat-paginator>
  </div>
</div>

