.title_confirm {
  width: 100%;
  background-image: linear-gradient(to right, #1CAF9A 0%, #17A2B8 100%);
  color: #ffffff;
  display: block;
  border-radius: 2px 2px 0px 0px;
  text-align: left;
  padding-left: 15px;
  height: 40px;
  line-height: 40px;
  font-family: 'Segoe UI';
  font-size: 1.3em;
  font-weight: 700;
  border-bottom: 1px solid #ebebeb;
}
.confirm-button-primary {
  background-color: #17A2B8;
  color: #ffffff;
  border: 2px solid #17A2B8;
  padding-left: 30px;
  padding-right: 30px;
}
.confirm-button-annuler {
  color: #17A2B8;
  background: transparent;
  border: 2px solid #17A2B8;
  padding-left: 30px;
  padding-right: 30px;
}
