<div class="animated zoomIn overFlowHidden">
  <h1 class="title_confirm">
    Confirmation
  </h1>
  

  <div class="py-4 text-center" *ngIf="data">
    <h5> {{data}}</h5>
  </div>
  <div class="py-4 text-center" *ngIf="!data">
      <h5>Etes - vous sûr de vouloir effectuer la mis à jour ?</h5>
    </div>

  <div class="text-center">
    <button class="confirm-button-annuler" (click)="onDismiss()">Non</button> &nbsp;
    <button class="confirm-button-primary" (click)="onConfirm()">Oui</button>
  </div>

</div>
