<div class="modal-content" style="padding: 0;margin: 0">

  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h3><strong>Mise à jour</strong></h3>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
      <div class="row">

        <div class="col-sm-11">
          <mat-form-field appearance="fill" class="erp-full-width">
            <mat-label>Adresse Interimaire</mat-label>
            <textarea readonly formControlName="adresseMedecin" matInput></textarea>
            <mat-hint align="end" *ngIf="justificatif.adresseInterimJustificatif !== justificatif.adresseInterim">{{justificatif.adresseInterimJustificatif}}</mat-hint>
          </mat-form-field>
        </div>
        <i class="col-sm-1 mt-4 fa fa-edit text-warning pointer" (click)="OnUpdateInterimaire()"></i>
        <div class="col-sm-11">
          <mat-form-field appearance="fill" class="erp-full-width">
            <mat-label>Adresse Client</mat-label>
            <textarea readonly formControlName="adresseHopital" matInput></textarea>
            <mat-hint align="end" *ngIf="justificatif.adresseClientJustificatif !== justificatif.adresseClient">{{justificatif.adresseClientJustificatif}}</mat-hint>
          </mat-form-field>
        </div>
        <i class="col-sm-1 mt-4 fa fa-edit text-warning pointer" (click)="editClientModal()"></i>

        <div class="col-sm-12">
          <mat-form-field class="erp-full-width">
            <input matInput type="text" placeholder="Nombre km" formControlName="nombreKm">
          </mat-form-field>
        </div>
        <a  class="offset-4 col-sm-8" style="color: #0e9aef;cursor: pointer" (click)="mappy()">Voir la distance avec MAPPY <i class="glyphicon glyphicon-eye-open"></i></a>
        <div class="col-sm-12">
          <mat-form-field class="erp-full-width">
            <input matInput type="text" placeholder="Nombre trajet" formControlName="nombreTrajet">
          </mat-form-field>
        </div>

        <div class="col-sm-12 mb-3">
          <mat-form-field class="erp-full-width">
            <input matInput type="text" placeholder="Coefficient Ik" readonly formControlName="coefIk">
            <mat-hint align="start" *ngIf="(justificatif.ikJustificatif | number) !== (justificatif.ik | number)">{{justificatif.ikJustificatif}}</mat-hint>
          </mat-form-field>
        </div>
        <button type="submit" class="btn btn-primary col-sm-12">Valide</button>
      </div>
    </form>
  </div>
</div>

