

<div class="modal-content" >
  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h2 mat-dialog-title>Commentaire</h2>
  </div>

  <!-- Modal body -->
  <div class="modal-body">



    <div [innerHTML]="message"></div>




  </div>
</div>




