<table mat-table #table matSort matSortStart="asc" [dataSource]="dataSourceContratEncours"
    class="bg-white footable table table-hover table-striped">
    <!-- colonne de checkboc   -->

    <ng-container matColumnDef="select">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
        </th>
        <td mat-cell class="sizeText" *matCellDef="let client">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(client) : null"
                [checked]="selection.isSelected(client)">
            </mat-checkbox>
        </td>
    </ng-container>
    <!-- debut des colonnes des champs du tableau -->
    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>N.</th>
        <td mat-cell class="sizeText" *matCellDef="let item">
            {{ dataSourceContratEncours.filteredData.indexOf(item) + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell class="sizeText" *matCellDef="let item">{{ item.id }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell class="sizeText" *matCellDef="let item">
            <b> {{ item.date}}</b>
        </td>
    </ng-container>


    <ng-container matColumnDef="etat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction</th>
        <td mat-cell class="sizeText" *matCellDef="let item">

            <mat-chip-list>
                <span *ngIf="item.status == 'ABANDONED'">
                    <mat-chip color="primary" selected>Abandonner</mat-chip>
                </span>
                <span *ngIf="item.status == 'CLOSED'">
                    <mat-chip color="accent" selected>Terminer</mat-chip>
                </span>
                <span *ngIf="item.status == 'ARCHIVED'">
                    <mat-chip color="warn" selected>Archiver</mat-chip>
                </span>
                <span *ngIf="item.status == 'OPEN'">
                    <mat-chip color="accent">Envoyer </mat-chip>
                </span>

                <span *ngIf="item.status == 'SIGNED'">
                    <mat-chip>Signer </mat-chip>
                </span>

            </mat-chip-list>

        </td>
    </ng-container>

    <!-- <ng-container matColumnDef="Représentant">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Représentant</th>
<td mat-cell class="sizeText" *matCellDef="let item">{{ item?.vendorEmail }}</td>
</ng-container> -->

    <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Raison sociale</th>
        <td mat-cell class="sizeText" *matCellDef="let item">
            {{ item?.customer?.companyName }}
        </td>
    </ng-container>

    <ng-container matColumnDef="ville">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ville</th>
        <td mat-cell class="sizeText" *matCellDef="let item">
            {{ item?.customer?.city}}</td>
    </ng-container>

    <ng-container matColumnDef="mission">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mission</th>
        <td mat-cell class="sizeText" *matCellDef="let item">
            <b>{{ item.mission}}</b>
        </td>
    </ng-container>


    <ng-container matColumnDef="modele">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Modèle de contrat</th>
        <td mat-cell class="sizeText" *matCellDef="let item">
            {{ item.filename }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell class="pt-4" *matCellDef="let item">

            <button (click)="getStatutContrat(item.id)" class="mr-2" color="vertfoncer" mat-mini-fab>
                <mat-icon>info</mat-icon>
            </button>

        </td>


    </ng-container>

    <!-- <ng-container matColumnDef="Options">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Options</th>
<td mat-cell class="sizeText" *matCellDef="let client">{{ client.filename }}</td>
</ng-container> -->

    <!-- <ng-container matColumnDef="telephone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>telephone</th>
      <td mat-cell class="sizeText" *matCellDef="let item">
          {{ item.customer.cellPhone}}
      </td>
  </ng-container> -->



    <!-- <ng-container matColumnDef="Actions">
<th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
<td mat-cell class="sizeText" *matCellDef="let item">

<a routerLink="/RMS-Admin/suivie-contrat/{{item.id}}/profil-contrat/" class="btn btn-xs btn-default mr-2">
<mat-icon>visibility</mat-icon>
</a>

</td>
</ng-container> -->


    <!-- fin des colonnes des champs du tableau -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let item; columns: displayedColumns;" (click)="selection.toggle(item)">
    </tr>
</table>

<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pagination($event)">
</mat-paginator>