<!--====================================================================================================================-->
<div class="container-fluid bg-white p-4 animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="panel panel-default panel-table" style="border-bottom: 2px solid #3a97a2">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 ">
              <h3 class="panel-title"><span style="font-size: 1.26em;color: rgb(47, 64, 80)">Message Prospection</span>
              </h3>
            </div>
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">

              <mat-form-field>
                <mat-label>Filtrer</mat-label>
                <mat-select multiple [(ngModel)]="elements">
                  <mat-option *ngFor="let item of displayedColumnsFilter" [value]="item.name" (click)="valutElements()">
                    {{item.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>


              &nbsp;&nbsp;

              <button mat-mini-fab color="success" (click)="editMessageModal()">
                <mat-icon>add_circle</mat-icon>
              </button>





            </div>
          </div>
        </div>

        <form (ngSubmit)="onSubmitFiltre(f)" #f="ngForm" class="example-form container center_div">
          <div class="form-group" *ngFor="let item  of elements ">


            <div *ngIf="item == 'type'">

              <mat-form-field class="erp-full-width">
                <mat-select placeholder="{{item}}" id="{{item}}" name="{{item}}" ngModel required>
                  <mat-option value="{{m.id}}" *ngFor="let m  of types ">{{m.designation | uppercase }} </mat-option>

                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="item == 'rappeler'">

              <mat-form-field class="erp-full-width">
                <mat-select placeholder="{{item}}" id="{{item}}" name="{{item}}" ngModel required>
                  <mat-option value="oui">Oui</mat-option>
                  <mat-option value="non">Non</mat-option>
                </mat-select>
              </mat-form-field>
            </div>




          </div>
          <button class="btn btn-primary" type="submit" [disabled]="f.invalid" *ngIf="elements.length > 0">Valider</button>

        </form>
        <br><br>
        <div class="panel-body table-responsive">
          <table mat-table #table matSort matSortStart="asc" [dataSource]="dataSource"
                 class="bg-white footable table table-hover table-striped">
            <!-- colonne de checkboc   -->

            <!-- <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let client">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(client) : null"
                  [checked]="selection.isSelected(client)">
                </mat-checkbox>
              </td>
            </ng-container> -->
            <!-- debut des colonnes des champs du tableau -->
            <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef>Num.</th>
              <td mat-cell *matCellDef="let item">{{ dataSource.filteredData.indexOf(item) + 1 }}</td>
            </ng-container>

            <ng-container matColumnDef="Type">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Type</th>
              <td mat-cell *matCellDef="let item" class="font-bold">{{ item.type}}</td>
            </ng-container>
            <ng-container matColumnDef="Date Rapel">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Date Rapel</th>
              <td mat-cell *matCellDef="let item" class="font-bold">{{ item.date_rapel?.date | date}}</td>
            </ng-container>
            <ng-container matColumnDef="Date Enregistrement">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Date Enregistrement</th>
              <td mat-cell *matCellDef="let item">{{ item.date_enreg.date | date :'d-MM-y  HH:mm'}}</td>
            </ng-container>

            <ng-container matColumnDef="auteur">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Auteur</th>
              <td mat-cell *matCellDef="let item"><b>{{ item.gestionnaire}}</b></td>
            </ng-container>

            

            <ng-container matColumnDef="commentaire">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>commentaire</th>
              <td mat-cell *matCellDef="let item">


                <button mat-mini-fab color="success" (click)="message(item.commentaire)">  <mat-icon>message</mat-icon></button>
              </td>
            </ng-container>



            <ng-container matColumnDef="Edit">
              <th mat-header-cell *matHeaderCellDef>Edit</th>
              <td mat-cell *matCellDef="let item">
                <button mat-mini-fab="accent" (click)="editMessageModal(item.id)">
                  <mat-icon>create</mat-icon>
                </button>

              </td>
            </ng-container>

            <!-- fin des colonnes des champs du tableau -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let interim; columns: displayedColumns;" (click)="selection.toggle(interim)"></tr>

          </table>

        </div>
        <div class="panel-footer">
          <mat-paginator #listPaginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
          </mat-paginator>


        </div>
        <!-- <div class="panel-footer">
            <mat-paginator #listPaginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
            <div *ngIf="!actionInput">
              <mat-form-field class="example-user-input">
                <mat-select placeholder="selectionnez une action" [(ngModel)]="action">
                  <mat-option *ngFor="let action of listActions" [value]="action">
                    {{action}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <button mat-raised-button
                      aria-label="Button pour valider l'action"
                      (click)="actionbtn(action,selection.selected)">
                OK
              </button>
            </div>

          </div> -->
      </div>
    </div>

  </div>
</div>
