<div class="modal-content">

  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h2 mat-dialog-title>Rappel de sécurité</h2>
  </div>
  <form (ngSubmit)="onSubmitFiltre(f)" #f="ngForm" class="mt-2 example-form container center_div">
    <div class="form-group" >
      <div class="col-sm-12 mb-2">
        <button class="btn btn-primary" type="submit">Envoyer le rappel </button> &nbsp;
        <mat-checkbox (click)="addCommentaire()">Ajouter un commentaire</mat-checkbox>

      </div>
      <div class="col-sm-12" *ngIf="commentaire">
        <ckeditor skin="moono-lisa" language="fr"  name="commentaire" ngModel></ckeditor>

      </div>
    </div>
  </form>
  <br><br>
  <table mat-table #table matSort matSortStart="asc" [dataSource]="dataSource"
         class="bg-white footable table table-hover table-striped">
    <!-- debut des colonnes des champs du tableau -->
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef>Num.</th>
      <td mat-cell *matCellDef="let item">{{ dataSource.filteredData.indexOf(item) + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="commentaire">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Commentaire</th>
      <td mat-cell *matCellDef="let item" class="font-bold" [innerHTML]="item.commentaire"></td>
    </ng-container>

    <ng-container matColumnDef="auteur">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Auteur</th>
      <td mat-cell *matCellDef="let item" class="font-bold">{{ item.user }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Date Enregistrement</th>
      <td mat-cell *matCellDef="let item">{{ item.date.date | date:'d-MM-y  HH:mm'   }}</td>
    </ng-container>

    <!-- fin des colonnes des champs du tableau -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let interim; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator #listPaginator length="5">
  </mat-paginator>
</div>
