/* 
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
} */

.example-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
  }

  

  .mat-header-cell{
    font-size: 1em;
    font-weight: bold;
    color: black;
    border-bottom: #3a97a2 2px solid;
    padding-bottom: 5px;
  }
  .btn-primary{
    background: #3a97a2;
  }
  