<!-- Modal Header -->
<div class="modal-header text-center">
  <h3>DATE PLANNINGS(S)</h3>
</div>

<!-- Modal body -->
<div class="modal-body p-0 m-0">
  <div class="container-fluid p-0 m-0">
    <table #table [dataSource]="dataSource" class="bg-white footable table table-hover table-striped" mat-table matSort>
      <ng-container matColumnDef="number">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>#</th>
        <td *matCellDef="let planning" mat-cell>{{ dataSource.filteredData.indexOf(planning) + 1 }}
      </ng-container>

      <ng-container matColumnDef="date">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Date</th>
        <td *matCellDef="let planning" class="font-bold" mat-cell>{{planning.date.date | date:'d-MM-y' }}</td>
      </ng-container>

      <ng-container matColumnDef="mois">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Mois</th>
        <td *matCellDef="let planning" mat-cell>{{planning.mois}}</td>
      </ng-container>

      <ng-container matColumnDef="annee">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Annee</th>
        <td *matCellDef="let planning" mat-cell>{{planning.annee}}</td>
      </ng-container>

      <ng-container matColumnDef="debut">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Debut</th>
        <td *matCellDef="let planning" mat-cell>{{planning.debut.date | date:'HH-mm'}}</td>
      </ng-container>

      <ng-container matColumnDef="fin">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Fin</th>
        <td *matCellDef="let planning" mat-cell>{{planning.fin.date  | date:'HH-mm'}}</td>
      </ng-container>

      <ng-container matColumnDef="specialite">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Spécialité</th>
        <td *matCellDef="let planning" mat-cell>{{planning.specialite}}</td>
      </ng-container>

      <ng-container matColumnDef="statut">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Statut</th>
        <td *matCellDef="let planning" mat-cell>
          <span *ngIf="planning.statut == 'A Pourvoir'" class="btn alert-primary btn-xs">{{planning.statut}}</span>
          <span *ngIf="planning.statut == 'Pourvue'" class="btn alert-success btn-xs"
            role="alert">{{planning.statut}}</span>
          <span *ngIf="planning.statut != 'Pourvue' && planning.statut != 'A Pourvoir'" class="btn alert-danger btn-xs"
            role="alert">{{planning.statut}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="tarif">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Tarif</th>
        <td *matCellDef="let planning" mat-cell>{{planning.tarif}} €</td>
      </ng-container>

      <ng-container matColumnDef="salaire">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Salaire</th>
        <td *matCellDef="let planning" mat-cell>{{planning.salaire}} €</td>
      </ng-container>


      <ng-container matColumnDef="etablissement">
        <th *matHeaderCellDef mat-header-cell>Etablissement</th>
        <td *matCellDef="let planning" class="text-center font-bold" mat-cell>
          <!--                  <a (click)="showClient(planning.etablissement_id)"-->
          <a routerLink="/RMS-Admin/client/{{planning.client_id}}/show">
            {{planning.etablissement}}
          </a>
        </td>
      </ng-container>

      <!-- fin des colonnes des champs du tableau -->
      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr (click)="selection.toggle(planning)" *matRowDef="let planning; columns: displayedColumns;" mat-row></tr>
    </table>
    <div *ngIf="this.dataSource.filteredData.length == 0" class="text-center">
      <strong>Désolé, aucun résultat ne correspond à votre recherche.</strong>
    </div>
  </div>
</div>
<notifier-container></notifier-container>