<div class="carousel_back">
  <div class="row">
    <div class="col-12 col-sm-7 col-md-7 col-lg-7" data-aos="fade-down" data-aos-duration="1500"
      data-aos-easing="linear">
      <p class="reseaumedical">RESEAU MÉDICAL SERVICES</p>
      <p class="reseaumedical_item">
        Des médecins de qualité, un service de proximité
      </p>
      <p class="reseaumedical_item">
        Faites nous parvenir vos besoins depuis le site.
      </p>
      <p>
        <button class="btn btn-primary qui_sommes_nous" routerLink="/a-propos">
          QUI SOMMES - NOUS ?
        </button>
      </p>
    </div>
    <div class="col-12  col-sm-5 col-md-5 col-lg-5">
      <p class="pt-2 text-center">
        <img alt="carousel" class="img_carousel" src="../../../../assets/images/new_site/img_carousel.svg">
      </p>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-md-12 col-lg-10 col-sm-12 col-12">
      <form (ngSubmit)="onSubmitForm()" [formGroup]="form" class="form_search border">
        <h2 class="cdi_h2">CDD,CDI,interim </h2>
        <div class="row group_champ">
          <div class="col-12 col-sm-3 col-md-3  col-lg-3  col-sm-1 text-center">
            <label>
              <select class="form-control champ_search" formControlName="mois" id="mois_search" name="mois_search"
                style="height: 44px">
                <option value=""> choisir le mois</option>
                <option value="Janvier"> Janvier</option>
                <option value="Février"> Février</option>
                <option value="Mars"> Mars</option>
                <option value="Avril"> Avril</option>
                <option value="Mai"> Mai</option>
                <option value="Juin"> Juin</option>
                <option value="Juillet"> Juillet</option>
                <option value="Août"> Août</option>
                <option value="Septembre"> Septembre</option>
                <option value="Octobre"> Octobre</option>
                <option value="Novembre"> Novembre</option>
                <option value="Décembre"> Décembre</option>
              </select>
            </label>
          </div>
          <div class="col-12 col-sm-3 col-md-3  col-lg-3  col-sm-1">
            <label>
              <input id="specialite_champ" class="form-control champ_search" formControlName="specialite"
                placeholder="spécialité" type="text">
            </label>
          </div>
          <div class="col-12 col-sm-3 col-md-3  col-lg-3  col-sm-1">
            <label>
              <input id="departement_champ" class="form-control champ_search" formControlName="departement"
                placeholder="adresse" type="text">
            </label>
          </div>
          <div class="col-12 col-sm-3 col-md-3  col-lg-2 col-sm-1">
            <button aria-label="Left Align" [disabled]="form.invalid" name="recherhcer" class="form-control btn-search"
              type="submit">
              <i class="fas fa-search fa-1x" aria-hidden="true"> </i>
            </button>
          </div>
        </div>
        <!--<div class="row">-->
        <!--<div class="col-md-12 col-sm-12 col-lg-12 col-12 border ">-->
        <!---->
        <!--</div>-->
        <!--</div>-->
      </form>
    </div>
    <!--    <form (ngSubmit)="onSubmitForm()" [formGroup]="form">-->
    <!--    <div class="col-10 col-sm-10 col-md-2 col-lg-3">-->
    <!--      <mat-form-field class="example-full-width">-->
    <!--        <mat-label>Mois</mat-label>-->
    <!--        <mat-select formControlName="mois" id="mois_search" matNativeControl name="mois_search" required>-->
    <!--          <mat-option value=""> == choisir le mois ==</mat-option>-->
    <!--          <mat-option value="Janvier"> Janvier</mat-option>-->
    <!--          <mat-option value="Février"> Février</mat-option>-->
    <!--          <mat-option value="Mars"> Mars</mat-option>-->
    <!--          <mat-option value="Avril"> Avril</mat-option>-->
    <!--          <mat-option value="Mai"> Mai</mat-option>-->
    <!--          <mat-option value="Juin"> Juin</mat-option>-->
    <!--          <mat-option value="Juillet"> Juillet</mat-option>-->
    <!--          <mat-option value="Août"> Août</mat-option>-->
    <!--          <mat-option value="Septembre"> Septembre</mat-option>-->
    <!--          <mat-option value="Octobre"> Octobre</mat-option>-->
    <!--          <mat-option value="Novembre"> Novembre</mat-option>-->
    <!--          <mat-option value="Décembre"> Décembre</mat-option>-->
    <!--        </mat-select>-->
    <!--      </mat-form-field>-->
    <!--    </div>-->
    <!--    <div class="col-12 col-sm-12 col-md-3 col-lg-3">-->
    <!--      <mat-form-field class="example-full-width">-->
    <!--        <input matInput placeholder="spécialité" value="Urgences">-->
    <!--      </mat-form-field>-->
    <!--    </div>-->
    <!--    <div class="col-12 col-sm-12 col-md-3 col-lg-3">-->
    <!--      <mat-form-field class="example-full-width">-->
    <!--        <input matInput placeholder="addresse" value="var">-->
    <!--      </mat-form-field>-->
    <!--    </div>-->
    <!--    <div class="col-12 col-sm-12 col-md-3 col-lg-3">-->
    <!--      <button mat-stroked-button color="vertfoncer">Rechercher</button>-->
    <!--    </div>-->
    <!--    </form>-->
  </div>
</div>
<!--  <div class="col-md-10 col-lg-10 col-sm-10 col-10">-->
<!--    <form class="form_search border" [formGroup]="form"  (ngSubmit)="onSubmitForm()">-->
<!--      <h2 style="margin-left: 60px;color: #476391;font-weight: 800">CDD,CDI,interim </h2>-->
<!--      <div class="row group_champ">-->
<!--        <div class="col-12 col-sm-3 col-md-3  col-lg-3  col-sm-1 text-center">-->
<!--          <select name="mois_search" class="form-control champ_search" id="mois_search" formControlName="mois">-->
<!--            <option value=""> == choisir le mois  ==</option>-->
<!--            <option value="Janvier"> Janvier </option>-->
<!--            <option value="Février"> Février </option>-->
<!--            <option value="Mars"> Mars </option>-->
<!--            <option value="Avril"> Avril </option>-->
<!--            <option value="Mai"> Mai </option>-->
<!--            <option value="Juin"> Juin </option>-->
<!--            <option value="Juillet"> Juillet </option>-->
<!--            <option value="Août"> Août </option>-->
<!--            <option value="Septembre"> Septembre </option>-->
<!--            <option value="Octobre"> Octobre </option>-->
<!--            <option value="Novembre"> Novembre </option>-->
<!--            <option value="Décembre"> Décembre </option>-->
<!--          </select>-->

<!--        </div>-->
<!--        <div class="col-12 col-sm-3 col-md-3  col-lg-3  col-sm-1">-->
<!--          <input type="text" class="form-control champ_search" formControlName="specialite" placeholder="spécialité. ex = Urgence">-->
<!--        </div>-->
<!--        <div class="col-12 col-sm-3 col-md-3  col-lg-3  col-sm-1">-->
<!--          <input type="text" class="form-control champ_search" formControlName="departement" placeholder="addresse. ex = Var">-->
<!--        </div>-->
<!--        <div class="col-12 col-sm-3 col-md-3  col-lg-2 col-sm-1">-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash;<div class="row">&ndash;&gt;-->
<!--      &lt;!&ndash;<div class="col-md-12 col-sm-12 col-lg-12 col-12 border ">&ndash;&gt;-->
<!--      &lt;!&ndash;&ndash;&gt;-->
<!--      &lt;!&ndash;</div>&ndash;&gt;-->
<!--      &lt;!&ndash;</div>&ndash;&gt;-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
