.carousel_back {
  background: url('../../../../assets/images/new_site/back_carousel.webp');
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
  overflow: hidden;
}

.reseaumedical {
  padding-top: 10%;
  font-size: 3.6em;
  text-align: center !important;
  font-weight: 700;
  color: #476391;
}

.reseaumedical_item {
  margin-left: 14%;
  color: #476391;
  text-align: left !important;
  font-size: 1.5em;
  padding: 6px;
}

.qui_sommes_nous {
  background: #D06F80;
  color: #ffffff;
  border-color: #D06F80;
  font-weight: 700;
  padding-left: 46px;
  padding-right: 44px;
  border-radius: 15px 15px 15px;
  margin-left: 26%;
}

.img_carousel {
  padding-top: 7%;
  width: 76%;
}

.example-full-width {
  width: 100%;
}

.search {
  width: 70%;
  position: relative;
  left: 6%;
  padding: 27px;
  top: 50%;
}

.cdi_h2 {
  margin-left: 0px;
  padding-top: 5px;
  color: #476391;
  font-weight: 800;
}

.libelleSearch {
  display: block;
  background: #00B5D2;
  color: white;
  position: relative;
  top: -30px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 5px #00B5D2;
}


.reseaumedical_content {
  position: relative;
  top: 86px;
}

.search_content {
  position: relative;
  top: -12px;
  /*left: 18%;*/

}

.form_search {
  width: 70%;
  position: relative;
  left: 10%;
  padding: 18px;
  top: 38%
}

.champ_search {
  font-size: 1.2em;
  color: #092f6b;
  border-radius: 0px;
  border: 1px solid #dee2e6;
}

.btn-search {
  color: #ffffff;
  font-size: 1.2em;
  border-color: #00B5D2;
  background: #00B5D2;
  border-style: solid;
  border-radius: 25px 25px 25px;
  border-width: 2px;
}

.rss {
  width: 70px;
  position: fixed;
  left: 3%;
  top: 40%;
  z-index: 2147483647
}

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .reseaumedical {
    padding-top: 0%;
    font-size: 1.6em;
    text-align: center !important;
    font-weight: 700;
    color: #476391;
  }

  .reseaumedical_item {
    margin-left: 14%;
    color: #476391;
    text-align: left !important;
    font-size: 0.9em;
    padding: 6px;
  }

  .carousel_back {
    background: none;
    background-size: cover;
    background-repeat: no-repeat;
    height: 802px;
    overflow: hidden;
    position: relative;
    left: 0%;
  }

  .qui_sommes_nous {
    background: #D06F80;
    color: #ffffff;
    border-color: #D06F80;
    font-weight: 700;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 15px 15px 15px;
    margin-left: 17%;
  }

  .img_carousel {
    padding-top: 7%;
    width: 85%;
  }

  .form_search {
    width: 98%;
    position: relative;
    left: 2%;
    padding: 18px;
    top: 7%;
  }

  .cdi_h2 {
    margin-left: 0px;
    padding-top: 5px;
    font-size: 1em;
    color: #476391;
    font-weight: 800;
  }

  .champ_search {
    font-size: 1.2em;
    color: #092f6b;
    border-radius: 0px;
    border: 1px solid #dee2e6;
    margin-bottom: 10px;
  }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .carousel_back {
    height: 541px;
    overflow: hidden;
  }

  .reseaumedical {
    padding-top: 10%;
    font-size: 2.2em;
    text-align: center !important;
    font-weight: 700;
    color: #476391;
  }

  .reseaumedical_item {
    margin-left: 8%;
    color: #476391;
    text-align: left !important;
    font-size: 0.9em;
    padding: 6px;
  }

  .qui_sommes_nous {
    background: #D06F80;
    color: #ffffff;
    border-color: #D06F80;
    font-weight: 700;
    padding-left: 21px;
    padding-right: 12px;
    border-radius: 15px 15px 15px;
    margin-left: 23%;
  }

  .img_carousel {
    padding-top: 7%;
    width: 95%;
  }

  .form_search {
    width: 99%;
    position: relative;
    left: 0%;
    padding: 18px;
    top: 21%;
  }

  .cdi_h2 {
    margin-left: 0px;
    padding-top: 5px;
    color: #476391;
    font-weight: 800;
    font-size: 1em;
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .carousel_back {
    height: 541px;
    overflow: hidden;
  }

  .reseaumedical {
    padding-top: 10%;
    font-size: 2.2em;
    text-align: center !important;
    font-weight: 700;
    color: #476391;
  }

  .reseaumedical_item {
    margin-left: 4%;
    color: #476391;
    text-align: left !important;
    font-size: 1.2em;
    padding: 6px;
  }

  .img_carousel {
    padding-top: 7%;
    width: 95%;
  }

  .qui_sommes_nous {
    background: #D06F80;
    color: #ffffff;
    border-color: #D06F80;
    font-weight: 700;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 15px 15px 15px;
    margin-left: 16%;
  }

  .form_search {
    width: 100%;
    position: relative;
    left: 0%;
    padding: 18px;
    top: 38%;
  }

  .cdi_h2 {
    margin-left: 0px;
    padding-top: 5px;
    color: #476391;
    font-weight: 800;
    font-size: 1em;
  }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .carousel_back {
    height: 541px;
    overflow: hidden;
  }

  .reseaumedical {
    padding-top: 10%;
    font-size: 2.6em;
    text-align: center !important;
    font-weight: 700;
    color: #476391;
  }

  .reseaumedical_item {
    margin-left: 11%;
    color: #476391;
    text-align: left !important;
    font-size: 1.2em;
    padding: 1px;
  }

  .qui_sommes_nous {
    background: #D06F80;
    color: #ffffff;
    border-color: #D06F80;
    font-weight: 700;
    padding-left: 46px;
    padding-right: 44px;
    border-radius: 15px 15px 15px;
    margin-left: 23%;
  }

  .img_carousel {
    padding-top: 7%;
    width: 93%;
  }

  .form_search {
    width: 96%;
    position: relative;
    left: 3%;
    padding: 10px;
    top: 8%;
  }

  .cdi_h2 {
    margin-left: 0px;
    padding-top: 5px;
    color: #476391;
    font-weight: 800;
    font-size: 1em;
  }

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .carousel_back {
    height: 900px;
    overflow: hidden;
  }

  .reseaumedical {
    padding-top: 10%;
    font-size: 3.8em;
    margin-left: 3%;
    text-align: left !important;
    font-weight: 700;
    color: #476391;
  }

  .reseaumedical_item {
    margin-left: 9%;
    color: #476391;
    text-align: left !important;
    font-size: 1.6em;
    padding: 9px;
  }

  .qui_sommes_nous {
    background: #D06F80;
    color: #ffffff;
    border-color: #D06F80;
    font-weight: 700;
    padding-left: 53px;
    font-size: 1.2em;
    padding-right: 51px;
    border-radius: 15px 15px 15px;
    margin-left: 24%;
  }

  .img_carousel {
    padding-top: 7%;
    width: 87%;
  }

  .form_search {
    width: 70%;
    position: relative;
    left: 5%;
    padding: 18px;
    top: 30%;
  }
}


