<mat-card class="m-0 p-0">
  <mat-card-title class="modal-header">
    <h3>Ajouter une nouvelle spécialité</h3>
  </mat-card-title>
  <mat-card-content class="p-4">
    <div>
      <div *ngIf="statusAdd" class="alert alert-danger">
        <strong>Erreur!</strong> {{statusAdd}}
      </div>
      <form (ngSubmit)="OnaddSpecialite()" [formGroup]="addSpecialiteForm">
        <div class="form-group">
          <input class="form-control" formControlName="nomspecialite" id="nomspecialite" name="nomspecialite"
                 placeholder="Saisir le nom de la spécialité"  type="text">
        </div>
        <div class="form-group">
          <input class="form-control" formControlName="specialite" id="specialite" name="specialite"
                 placeholder="Saisir la spécialité"  type="text">
        </div>

        <div class="form-group">
          <input class="form-control" formControlName="abreviation" id="abreviation" name="abreviation"
                 placeholder="Saisir Abreviation"  type="text">
        </div>
        <div class="form-group">
          <input class="form-control" formControlName="qualif" id="qualif" name="specialite"
                 placeholder="Saisir la Qualification" type="text">
        </div>
        <div class="form-group text-center">
          <button [disabled]="addSpecialiteForm.invalid" class="btn btn-primary mr-3" type="submit">
            Enregistrer
          </button>
          <a (click)="OnAnnulerAddSpecialite()" class="btn btn-danger text-white">Annuler</a>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>

