<div id="page">

  <!-- Service -->
  <section class="page-section mt-5">
    <div class="container">
      <div class="row ">
        <div class="col-md-6" data-animation="fadeInLeft">
          <img alt="" src="../../../assets/images/new_site/G9.svg"/>
        </div>
        <div class="col-md-6 bottom-xs-pad-30 image-bg" data-animation="fadeInRight">
          <div class="container pl-5">
            <div class="row">
              <div class="col-lg-12">
                <!--                <form  style="padding: 20px;">-->
                <!--                  <h4 style="color: #fff;">Trouvez une offre</h4>-->
                <!--                  <div class="row">-->
                <!--                    <div class="col-md-8 col-lg-8 col-sm-8">-->
                <!--                      <input class="form-control" type="text"  aria-label="Search" style="color: #fff;">-->
                <!--                    </div>-->
                <!--                  </div>-->
                <!--                </form>-->

                <form (ngSubmit)="onSubmitForm()" [formGroup]="form" style="padding: 20px;">
                  <h2 class="text-white font-weight-bold py-4">Trouvez une offre</h2>
                  <div class="form-row py-2">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                      <label style="color: #092F6B;">Par mois</label>
                      <select class="form-control" formControlName="mois" style="height: 44px;">
                        <option value="Janvier" > Janvier</option>
                        <option value="Février"> Février</option>
                        <option value="Mars"> Mars</option>
                        <option value="Avril"> Avril</option>
                        <option value="Mai"> Mai</option>
                        <option value="Juin"> Juin</option>
                        <option value="Juillet"> Juillet</option>
                        <option value="Août"> Août</option>
                        <option value="Septembre"> Septembre</option>
                        <option value="Octobre"> Octobre</option>
                        <option value="Novembre"> Novembre</option>
                        <option value="Décembre"> Décembre</option>
                      </select>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                      <label style="color: #092F6B;">Par Spécialité</label>
                      <input type="text" formControlName="specialite" class="form-control">
                    </div>
                    <div class="col-md-12">
                      <label style="color: #092F6B;">Par departement</label>
                      <input class="form-control champ_search" formControlName="departement" placeholder="adresse" type="text">
                    </div>
                    <div class="col-12 mt-3">
                      <div class="container">
                        <div class="row">
                          <button class="btn col-12 btn-success" type="submit">Recherche</button>

                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="page-section mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center" data-animation="fadeInUp">
            <!-- Title -->
            <h2 class="title" style="color: #D06F80;">Vos avantages</h2>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-4">
          <div class="text-center" data-animation="fadeInRight">
            <div data-animation="fadeInUp">
              <img alt="" src="../../../assets/images/new_site/icons8_customer_support_4.ico"/>
              <h5 class="title" style="color: #092F6B;">Un support disponible 24/7</h5>
              <p>
                Bénéficiez d’un soutien permanent avec notre
                équipe de conseillers réactifs à votre écoute.
              </p>
            </div>
            <!-- Features -->
          </div>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-4">
          <div class="text-center" data-animation="fadeInRight">
            <div data-animation="fadeInUp">
              <img alt="" src="../../../assets/images/new_site/icons8_handshake_1.ico"/>
              <h5 class="title" style="color: #092F6B;">Un rapport de proximité</h5>
              <p>
                RMS, c’est des relations interpersonnelles
                de confiance riches en expérience et en
                découvertes.
              </p>
            </div>
            <!-- Features -->
          </div>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-4">
          <div class="text-center" data-animation="fadeInRight">
            <div data-animation="fadeInUp">
              <img alt="" src="../../../assets/images/new_site/icons8_event.ico"/>
              <h5 class="title" style="color: #092F6B;">Vos disponibilités personnalisées</h5>
              <p>
                RMS vous informe de toutes les dates qui
                matchent avec vos disponibilités par email et
                par SMS.
              </p>
            </div>
            <!-- Features -->
          </div>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-4">
          <div class="text-center" data-animation="fadeInRight">
            <div data-animation="fadeInUp">
              <img alt="" src="../../../assets/images/new_site/icons8_nurse_male_1.ico"/>
              <h5 class="title" style="color: #092F6B;">Une flexibilité</h5>
              <p>
                Exercez vos compétences de manière flexible
                dans toute la France et outre-mer.
              </p>
            </div>
            <!-- Features -->
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-4">
          <div class="text-center" data-animation="fadeInRight">
            <div data-animation="fadeInUp">
              <img alt="" src="../../../assets/images/new_site/icons8_applicant_1.ico"/>
              <h5 class="title" style="color: #092F6B;">Un traitement rapide </h5>
              <p>
                Vos candidatures sont traitées avec célérité et
                minutie. Saisissez l’opportunité de commencer
                rapidement une mission en adéquation avec
                vos disponibilités.
              </p>
            </div>
            <!-- Features -->
          </div>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-4">
          <div class="text-center" data-animation="fadeInRight">
            <div data-animation="fadeInUp">
              <img alt="" src="../../../assets/images/new_site/icons8_intelligence_1.ico"/>
              <h5 class="title" style="color: #092F6B;">Gestion intelligente de vos missions</h5>
              <p>
                L’ensemble du processus d’exécution de vos
                missions est informatisé et automatisé par des
                solutions digitales de dernière technologie.
                MyRMS et Hop!RMS centralisent vos données.
              </p>
            </div>
            <!-- Features -->
          </div>
        </div>


        <div class="col-md-3 col-lg-3 col-sm-4">
          <div class="text-center" data-animation="fadeInRight">
            <div data-animation="fadeInUp">
              <img alt="" src="../../../assets/images/new_site/icons8_resume.ico"/>
              <h5 class="title" style="color: #092F6B;">CDD et CDI intérimaire</h5>
              <p>
                RMS vous propose le type de contrat qui
                vous sied. Effectuez des
                missions continues en cas de CDI intérimaire, ou des vacations en situation de CDD.
              </p>
            </div>
            <!-- Features -->
          </div>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-4">
          <div class="text-center" data-animation="fadeInRight">
            <div data-animation="fadeInUp">
              <img alt="" src="../../../assets/images/new_site/icons8_receive_euro.ico"/>
              <h5 class="title" style="color: #092F6B;">Diligence dans les paiements</h5>
              <p>
                Vous êtes rétribuez de
                votre mission dans les douze jours qui
                suivent la fin du contrat.
                Le remboursement de tous vos frais de
                mission est effectué sous présentation
                d’un justificatif.
              </p>
            </div>
            <!-- Features -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section" id="additional">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-12">
          <img alt="" class="responsive" src="../../../assets/images/new_site/G6.svg"/>
        </div>


      </div>
    </div>
  </section>

</div>
