<div class="modal-content" *ngIf="editForm">
  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h2 mat-dialog-title>{{displayName}}</h2>
  </div>
  <!-- Modal body -->
  <div class="modal-body">
    <form [formGroup]="editForm" *ngIf="editForm">
      <div class="hr-line-dashed"></div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="erp-full-width">
            <input matInput placeholder="Adresse E-mail" formControlName="designation">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="erp-full-width">
            <input matInput placeholder="Nom" formControlName="name">
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field class="erp-full-width">
            <input matInput placeholder="Description" formControlName="description">
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-sm-6">
        <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial>Valider</button>
      </div>
    </div>
  </div>
</div>
