<div *ngIf="editTypeVactionForm">
  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h2 mat-dialog-title>{{displayName}}</h2>
  </div>
  <!-- Modal body -->
  <div class="modal-body">
    <form [formGroup]="editTypeVactionForm" >
      <div class="row">
        <div class="col-md-6">

          <mat-form-field class="erp-full-width">
            <input matInput placeholder="Désignation" formControlName="designation">
          </mat-form-field>
        </div>

        <div class="col-md-6">

          <mat-form-field class="erp-full-width">
            <input matInput placeholder="Nom Vacation" formControlName="nom">
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="erp-full-width">
            <input maxlength="18"  matInput placeholder="abréviation" formControlName="abreviation">
            <mat-hint style="color: orange">Saisir au moins 3 caractères <br> 18 caractères autorisés <br> Le caractère spécial "-" n'est pas autorisé  </mat-hint>
          </mat-form-field>
        </div>

        <div class="col-md-12">
         
          <textarea id="description" class="form-control" name="description" placeholder="description.." style="height:200px"></textarea>
        </div>
      </div>

      <div class="row pt-2">
        <div class="col-lg-6">
          <button class="col-lg-12" mat-raised-button color="warn" mat-dialog-close>Annuler</button>&nbsp;&nbsp;
        </div>
        <div class="col-lg-6">
          <button class="col-lg-12" [disabled]="editTypeVactionForm.invalid" mat-raised-button color="primary" (click)="save()" cdkFocusInitial>Valider</button>
        </div>
      </div>
    </form>
  </div>
</div>
