<div class="animated ml-4 mr-4" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
  <div class="card table-responsive overFlowHidden">
    <div class="card-header p-0 m-0">
      <div class="row">
        <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-5 pt-4">
          <h5 class="ml-4"><span style="color: rgb(47, 64, 80)">
              <mat-icon class="font-weight-bold">format_list_bulleted</mat-icon>
              <span class="glyphicon glyphicon-list"></span> Établissement(s)
            </span></h5>
        </div>
        <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-7  text-right">
          <div class="row">
            <div class="col-5">
              <div class="mt-3" *ngIf="!clientPldToErp">
                <mat-checkbox (click)="clientPldToErp =!clientPldToErp">Lier les clients pld aux clients erp</mat-checkbox>
              </div>
              <form #f="ngForm" (ngSubmit)="onLiePldToERp(f)" class="form" *ngIf="clientPldToErp">
                <mat-form-field>
                  <mat-label>limite</mat-label>
                  <mat-select name="offset" ngModel required>
                    <mat-option *ngFor="let limit of limits" [value]="limit.value">
                      {{limit.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-button style="background-color: #3a97a2;color: white" >Ok</button>
              </form>
            </div>
            <div class="col-7">
              <div class="mr-4">
                <mat-form-field>
                  <mat-label>Filtrer</mat-label>
                  <mat-select [(ngModel)]="elements" multiple>
                    <mat-option (click)="valutElements()" *ngFor="let item of displayedColumnsFilter" [value]="item.name">
                      {{item.label | uppercase }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                &nbsp;&nbsp;
                <button (click)="editClientModal()" color="success" mat-mini-fab>
                  <mat-icon>add_circle</mat-icon>
                </button>


              </div>
            </div>
          </div>
        </div>
      </div>
      <form [formGroup]="formFilter" (ngSubmit)="onSubmitFiltre()" class="example-form container center_div">
        <div *ngFor="let item  of elements " class="form-group">
          <div *ngIf="item != 'actif' && item != 'cible' && item != 'date' && item != 'gestionnaire'">

            <mat-form-field class="erp-full-width">
              <input class="form-control" id="{{item}}" matInput formControlName="{{item}}" placeholder="{{item}}" required
                type="text">
            </mat-form-field>
          </div>


          <div *ngIf="item == 'actif' || item == 'cible'">

            <mat-form-field class="erp-full-width">
              <mat-select id="{{item}}" formControlName="{{item}}" placeholder="{{item}}" required>
                <mat-option value="oui">Oui</mat-option>
                <mat-option value="non">Non</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div *ngIf="item == 'gestionnaire'">

            <mat-form-field class="erp-full-width">
              <mat-select id="{{item}}" formControlName="{{item}}" placeholder="{{item}}" required>
                <mat-option *ngFor="let g  of list_gestionnaire " value="{{g.id}}">{{g.user.nom}} {{g.user.prenom}}
                </mat-option>

              </mat-select>
            </mat-form-field>
          </div>

          <div *ngIf="item == 'date'">
            <div *ngIf="item == 'date'">
                <ngx-mat-drp #dateRangePicker (selectedDateRangeChanged)="updateRange($event)" [options]="options">

                </ngx-mat-drp>

            </div>
        </div>


        </div>
        <button *ngIf="elements.length > 0" [disabled]="formFilter.invalid" class="btn btn-primary" type="submit">Valider
        </button>

      </form>
    </div>
    <div class="card-body table-responsive">
      <table #table *ngIf="!showLoadClient && dataSource" [dataSource]="dataSource"
        class="bg-white footable table table-hover table-striped" mat-table matSort>
        <!-- colonne de checkboc   -->
        <ng-container matColumnDef="select">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td *matCellDef="let client" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(client) : null" (click)="$event.stopPropagation()"
              [checked]="selection.isSelected(client)">
            </mat-checkbox>
          </td>
        </ng-container>
        <!-- debut des colonnes des champs du tableau -->
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> &nbsp;&nbsp;&nbsp;#</th>
          <td mat-cell *matCellDef="let client" mat-cell>
            &nbsp;&nbsp;&nbsp;{{ dataSource.filteredData.indexOf(client) + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="raison">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Établissement</th>
          <td *matCellDef="let client" class="font-weight-bold xs_a sizeText1" mat-cell>
            <a routerLink="/RMS-Admin/client/{{client.id}}/show">
              {{ client.nom_etablissement | uppercase }}
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="recruteur" *ngIf="rolesService.isCommercial(this.currentUser.roles)">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>&nbsp;&nbsp; Recruteur</th>
          <td *matCellDef="let client" mat-cell class="sizeText">
            &nbsp;&nbsp;
            <button (click)="onListeRecruteur(client.recruteurs)" color="success" mat-mini-fab>
              <mat-icon>person</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="telephone">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Telephone</th>
          <td *matCellDef="let client" mat-cell class="sizeText">
            <span *ngIf="client.tel"> {{ client.tel}}</span>
            <span *ngIf="client.tel == '' || !client.tel" class="text-warning">pas de numero</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="adresse">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Adresse</th>
          <td *matCellDef="let client" mat-cell class="sizeText">
            <span> <strong> {{ client.adresse}} </strong></span>
          </td>
          <!-- <strong>{{ item.date |date:'d-MM-y  HH:mm'}}</strong>  -->
        </ng-container>
        <ng-container matColumnDef="commune">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Commune</th>
          <td *matCellDef="let client" mat-cell class="sizeText">
            <span> {{ client.commune}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Email</th>
          <td *matCellDef="let client" mat-cell class="sizeText">

            <span *ngIf="client.email == '' || !client.email" class="text-warning">pas de
              mail</span>
            <span *ngIf="client.email">{{client.email}}</span>

          </td>
        </ng-container>

        <ng-container matColumnDef="prospection">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Prospection</th>
          <td *matCellDef="let client; let i = index;" mat-cell class="sizeText">


            <button mat-mini-fab color="success" class="mr-2" (click)="messageProspection(client.id,i)">
              <mat-icon>message</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Date.enreg</th>
          <td *matCellDef="let client" mat-cell class="sizeText">
            <span> <strong> {{ client.date_enreg |date:'d-MM-y  HH:mm'}} </strong></span>
          </td>

        </ng-container>


        <ng-container matColumnDef="activer">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Actif</th>
          <td *matCellDef="let client; let index_client = index" mat-cell class="sizeText">
            <mat-slide-toggle (click)="onActiveOuDesactiveUser(index_client, client, !client.activer)"
              checked="{{client.activer}}"></mat-slide-toggle>
            <span> <img *ngIf="loader === client.id" alt="loading..." src="../../../../assets/images/loader.gif"
                width="15px"></span>
          </td>
        </ng-container>

        <!--</ng-container>-->
        <ng-container matColumnDef="edit">
          <th *matHeaderCellDef mat-header-cell>Edit</th>
          <td *matCellDef="let client" mat-cell>
            <a (click)="editClientModal(client.id)" class="color-rms-bleu" mat-mini-fab="accent">
              <mat-icon>create</mat-icon>
            </a>

          </td>
        </ng-container>
        <!-- fin des colonnes des champs du tableau -->
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let client; columns: displayedColumns;" mat-row></tr>
      </table>
      <div *ngIf="!dataSource" class="text-center">
        <strong>Désolé, aucun résultat ne correspond à votre recherche.</strong>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-6">
          <div *ngIf="!actionInput && roleCommercial()">
            <mat-form-field class="example-user-input">
              <mat-select [(ngModel)]="action" placeholder="selectionnez une action">
                <mat-option *ngFor="let action of listActions" [value]="action.value">
                  {{action.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <button (click)="actionbtn(action,selection.selected)" color="success" mat-mini-fab>OK</button>
          </div>
        </div>
        <div class="col-6 text-right">
          <mat-paginator (page)="pagination($event)" [length]="length" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions">
          </mat-paginator>
          <!--          <mat-paginator #listPaginator [length]="length" [pageSizeOptions]="pageSizeOptions">-->
          <!--          </mat-paginator>-->
        </div>
      </div>
    </div>
  </div>
</div>
