
#blocImage span {
  width: 100%;
  margin : auto;
  z-index: 200;

  /*ou*/

  /*text-align: center;*/
  /*z-index: 200;*/
}

#blocImage {
  width : 100%;
}
.titre_rubrique{
  background: #3a97a2;
  color: white;
  padding: 0.75rem 1.25rem;
}

.info-perso{
  margin-left: 4%;
}
