<div class="container-fluid mb-5" *ngIf="user">
  <div class="row card">
    <div class="col-lg-12">
      <mat-horizontal-stepper>
        <mat-step>
          <form>
            <ng-template matStepLabel>Informations personnelles</ng-template>
            <div class="row">
              <div class="col-6">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item list-group-item-action"></li>
                  <li class="list-group-item list-group-item-action">
                    <div class="row">
                      <div class="col-12 col-lg-4">
                        <strong>
                          Civilité
                        </strong>
                      </div>
                      <div class="col-12 col-lg-8">
                        {{user.civilite | titlecase}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <div class="row">
                      <div class="col-12 col-lg-4">
                        <strong>
                          Nom & Prénom
                        </strong>
                      </div>
                      <div class="col-12 col-lg-8">
                        {{user.nom | titlecase}} {{user.prenom | titlecase}}
                      </div>
                    </div>
                  </li>

                  <li class="list-group-item list-group-item-action">
                    <div class="row">
                      <div class="col-12 col-lg-4">
                        <strong>
                          N. sécurité sociale
                        </strong>
                      </div>
                      <div class="col-12 col-lg-8">
                        {{user.numSecu | titlecase}}
                      </div>
                    </div>
                  </li>

                  <li class="list-group-item list-group-item-action">
                    <div class="row">
                      <div class="col-4">
                        <strong>
                          E-mail
                        </strong>
                      </div>
                      <div class="col-8">
                        {{user.email }}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <div class="row">
                      <div class="col-4">
                        <strong>
                          Nom d'utilisateur
                        </strong>
                      </div>
                      <div class="col-8">
                        {{user.username | titlecase}}
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-6">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item list-group-item-action">
                    <div class="row">
                      <div class="col-4">
                        <strong>
                          Mot de passe
                        </strong>
                      </div>
                      <div class="col-8">
                        **********
                        <button (click)="open(content)" class="btn btn-warning btn-xs"> <i class="fa fa-pencil"></i></button>
                      </div>
                    </div>
                  </li>

                  <li class="list-group-item list-group-item-action">
                    <div class="row">
                      <div class="col-4">
                        <strong>
                          Téléphone
                        </strong>
                      </div>
                      <div class="col-8">
                        {{user.telephone }}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <div class="row">
                      <div class="col-4">
                        <strong>
                          Pays de naissance
                        </strong>
                      </div>
                      <div class="col-8">
                        {{user.idPaysNaissance }}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <div class="row">
                      <div class="col-4">
                        <strong>
                          Date de naissance
                        </strong>
                      </div>
                      <div class="col-8">
                        {{user.dateNaissance | date: 'short' }}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <div class="row">
                      <div class="col-4">
                        <strong>
                          Lieu de naissance
                        </strong>
                      </div>
                      <div class="col-8">
                        {{user.lieuNaissance }}
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <form>
            <ng-template matStepLabel>Adresse</ng-template>
            <div class="row">
              <div class="col-6">
                <ul class="list-group list-group-flush ">
                  <li class="list-group-item list-group-item-action"></li>
                  <li class="list-group-item list-group-item-action">
                    <div class="row">
                      <div class="col-4">
                        <strong>
                          Région
                        </strong>
                      </div>
                      <div class="col-8">
                        {{user.region | titlecase}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <div class="row">
                      <div class="col-4">
                        <strong>
                          Code postal
                        </strong>
                      </div>
                      <div class="col-8">
                        {{user.cp }}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <div class="row">
                      <div class="col-4">
                        <strong>
                          Ville
                        </strong>
                      </div>
                      <div class="col-8">
                        {{user.ville | titlecase}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <div class="row">
                      <div class="col-4">
                        <strong>
                          Département
                        </strong>
                      </div>
                      <div class="col-8">
                        {{user.departement | titlecase}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <div class="row">
                      <div class="col-4">
                        <strong>
                          Adresse
                        </strong>
                      </div>
                      <div class="col-8">
                        {{user.adresse | titlecase}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item list-group-item-action">
                    <div class="row">
                      <div class="col-4">
                        <strong>
                          C. adresse
                        </strong>
                      </div>
                      <div class="col-8">
                        {{user.complement_adresse | titlecase}}
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item list-group-item-action"></li>
                </ul>
              </div>
              <div class="col-6"></div>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Données suplementaire</ng-template>
          <div class="row">
            <div class="col-6">
              <ul class="list-group list-group-flush" *ngIf="roleInterim()">
                <li class="list-group-item list-group-item-action"></li>
                <li class="list-group-item list-group-item-action">
                  <div class="row">
                    <div class="col-6">
                      <strong>
                        Numéro RPPS
                      </strong>
                    </div>
                    <div class="col-6">
                      {{otherInfo.numRPPS}}
                    </div>
                  </div>
                </li>
                <li class="list-group-item list-group-item-action">
                  <div class="row">
                    <div class="col-6">
                      <strong>
                        Inscription à l'ordre
                      </strong>
                    </div>
                    <div class="col-6">
                      {{otherInfo.inscription}}
                    </div>
                  </div>
                </li>
                <li class="list-group-item list-group-item-action">
                  <div class="row">
                    <div class="col-6">
                      <strong>
                        Status
                      </strong>
                    </div>
                    <div class="col-6">
                      {{otherInfo.statut}}
                    </div>
                  </div>
                </li>
                <li class="list-group-item list-group-item-action">
                  <div class="row">
                    <div class="col-6">
                      <strong>
                        Rayon d'intervention
                      </strong>
                    </div>
                    <div class="col-6">
                      {{otherInfo.rayonIntervention}}
                    </div>
                  </div>
                </li>
                <li class="list-group-item list-group-item-action">
                  <div class="row">
                    <div class="col-6">
                      <strong>
                        Preference déplacement
                      </strong>
                    </div>
                    <div class="col-6">
                      {{otherInfo.preferenceDeplacement}}
                    </div>
                  </div>
                </li>
                <li class="list-group-item list-group-item-action">
                  <div class="row">
                    <div class="col-6">
                      <strong>
                        Preference contact
                      </strong>
                    </div>
                    <div class="col-6">
                      {{currentUser.preferenceContact}}
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="list-group list-group-flush" *ngIf="roleRecruteur()">
                <li class="list-group-item list-group-item-action"></li>
                <li class="list-group-item list-group-item-action">
                  <div class="row">
                    <div class="col-6">
                      <strong>
                        Fonction
                      </strong>
                    </div>
                    <div class="col-6">
                      {{otherInfo.fonction }}
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-action">
                  <div class="row">
                    <div class="col-6">
                      <strong>
                        Membre depuis le
                      </strong>
                    </div>
                    <div class="col-6">
                      {{currentUser.dateEnre.date | date: 'short'}}
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-6"></div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
    <div class="row mb-4">
      <div class="col-lg-12 text-center" *ngIf="roleInterim() || roleRecruteur()">
        <button class="btn btn-warning btn-sm" (click)="editProfilModal()">Modifier mon profil</button>
      </div>
    </div>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Changement de mot de passe</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div  class="col-lg-12" style="color: red; width: 100%" class="alert alert-danger text-center" *ngIf="erreur">{{erreur}} !</div>
        <form class="form-horizontal" [formGroup]="updatePwdForm">
          <div class="input-group mb-3">
            <input type="password" class="form-control" #ancienPwd placeholder="Mot de passe précédent" aria-label="Mot de passe précédent" aria-describedby="basic-addon2" formControlName="ancienPassword">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="afficherPwd(ancienPwd, gyphiconancienPwd)"><i class="fa fa-eye" #gyphiconancienPwd id="ancienPwd"></i></button>
            </div>
          </div>

          <div class="input-group mb-3">
            <input type="password" class="form-control" #nouveauPwd placeholder="Nouveau mot de passe" aria-label="Nouveau mot de passe" aria-describedby="basic-addon2" name="nouveauPwd" formControlName="nouveauPassword" (keyup)="MatchingPassword(nouveauPwd)">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="afficherPwd(nouveauPwd, gyphiconnouveauPwd)"><i class="fa fa-eye" #gyphiconnouveauPwd id="nouveauPwd"></i></button>
            </div>
          </div>
          <div *ngIf="matchingPwd" class="text-danger">* les mots de passe doivent etre identique</div>

          <div class="input-group mb-3">
            <input type="password" class="form-control" #renouveauPwd placeholder="Indiquer de nouveau votre mot de passe" name="renouveauPwd" aria-label="Indiquer à nouveau votre mot de passe" aria-describedby="basic-addon2" formControlName="renouveauPassword" (keyup)="MatchingPassword(renouveauPwd)">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="afficherPwd(renouveauPwd, gyphiconrenouveauPwd)"><i class="fa fa-eye" #gyphiconrenouveauPwd id="renouveauPwd"></i></button>
            </div>
          </div>
          <div *ngIf="matchingPwd" class="text-danger">* les mots de passe doivent etre identique</div>
          <div class="row">
            <button type="button" class="col-sm-12 btn btn-primary" [disabled]="updatePwdForm.invalid || matchingPwd" (click)="UpdatePasswordCompte()" >Enregistrer</button>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
</div>
