<div class="modal-content" *ngIf="editTypeMessageForm">
  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h2 mat-dialog-title>{{displayName}}</h2>
  </div>
  <!-- Modal body -->
  <div class="modal-body">

    <form [formGroup]="editTypeMessageForm">
      <div class="hr-line-dashed"></div>

      <div class="row">
        <div class="col-md-12">

          <mat-form-field class="erp-full-width">
            <input matInput placeholder="Designation" formControlName="designation">
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-sm-6">
        <button mat-raised-button color="warn" mat-dialog-close>Annuler</button> &nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial>Valider</button>
      </div>
    </div>
  </div>
</div>
