<div class="container" *ngIf="erreur">
  <div class="col-lg-12" style="margin-top: 13%;margin-bottom: 26.2%">
    <div class="alert alert-success">
      <p>Oups! <strong>Echec Activation Compte</strong> </p>
      <p>
     {{message}}
      </p>
    </div>
  </div>
</div>
