<div>

    <!-- Modal Header -->
    <div class="modal-header text-center">
        <h3 *ngIf="data"><strong>Postuler</strong></h3>
    </div>

    <!-- Modal body -->
    <div class="modal-body ">
        <div class="table-responsive">
            <table #table [dataSource]="dataSource" class="mat-elevation-z8 table-striped" mat-table matSort>
                <!-- colonne de checkboc   -->

                <ng-container matColumnDef="select">
                    <ng-container matColumnDef="select">
                        <th *matHeaderCellDef class="text-center" mat-header-cell>
                            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </th>
                        <td *matCellDef="let planning" class="text-center" mat-cell style="padding-top: 2%">
                            <mat-checkbox (change)="$event ? selection.toggle(planning) : null" (click)="$event.stopPropagation()" [checked]="selection.isSelected(planning)">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                </ng-container>
                <!-- debut des colonnes des champs du tableau -->

                <ng-container matColumnDef="date">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>
                        <span class="margin_column"> Date </span>
                    </th>
                    <td *matCellDef="let planning" class="pl-4" mat-cell style="padding-top: 2%">
                        {{planning.datePlanning.date | date:'dd-MM-yyyy'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="libelle">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header><span class="margin_column"> Libelle </span></th>
                    <td *matCellDef="let planning" class="pl-4" mat-cell style="padding-top: 2%">
                        {{planning.designation}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="debut">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header><span class="margin_column"> Debut </span></th>
                    <td *matCellDef="let planning" class="pl-4" mat-cell style="padding-top: 2%">
                        {{planning.heureDebut.date | date:'H:mm'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="fin">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header><span class="margin_column"> Fin </span></th>
                    <td *matCellDef="let planning" class="pl-4" mat-cell style="padding-top: 2%">
                        {{planning.heureFin.date | date:'H:mm'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="salaire">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header><span *ngIf="is_connect == true" class="margin_column">
              Salaire </span></th>
                    <td *matCellDef="let planning" class="pl-4" mat-cell style="padding-top: 2%">
                        <span *ngIf="is_connect == true">{{planning.salaire}} <span style="font-weight: bold">€</span></span>
                    </td>
                </ng-container>
                <!-- fin des colonnes des champs du tableau -->
                <tr *matHeaderRowDef="displayedColumnsModal" mat-header-row></tr>
                <tr (click)="selection.toggle(planning);" *matRowDef="let planning; columns: displayedColumnsModal;" mat-row>
                </tr>
            </table>
        </div>
        <div *ngIf="dataSource.data.length<=0">
            <p class="alert alert-primary text-center" role="alert">
                Plus d'offres disponibles...revenez ultérieurement ou postulez sur les offres similaires ci dessous !
            </p>
        </div>
        <!--son dossier nest pas activer-->
        <div *ngIf="etat_dossier === false">
            <div class="alert alert-info" role="alert">
                <span>Pour Pouvoir postuler à ces offres, pensez à soumettre votre dossier !</span>
            </div>
        </div>
        <div  class="panel-footer">
            <mat-paginator  [length]="length" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" >
            </mat-paginator>
        </div>
        <div class="modal-footer">
            <!--<button type="button" class="btn btn-success" data-dismiss="modal" (click)="onPostuler()" *ngIf="plannings_for_modal.length>0 ">Postuler</button>-->
            <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
            <!--si un utilisateur connecter-->
            <div *ngIf="is_connect">
                <!--verification si son dossier est activer-->
                <div *ngIf="etat_dossier === true && selection.selected.length > 0">
                 
                        <button (click)="onPostuler()" *ngIf="!interimaire || roleService.isCandidatUnique(interimaire.roles)" class="btn btn-success btn-sm mr-2" mat-dialog-close style="background: #17a2b8;color: white;border: #17a2b8 2px solid" type="button">P o s t u l e r
                        </button>
                  
                  
                    <button class="btn btn-danger btn-sm" mat-dialog-close type="button">
            Fermer
          </button>
                </div>
            </div>
            <div *ngIf="!is_connect" class="row">
                <div *ngIf="selection.selected.length > 0" class="col-6 text-right ">
                    <button (click)="goToEspaceMembre()" *ngIf="!interimaire || roleService.isCandidatUnique(interimaire.roles)" color="vertfoncer" mat-dialog-close mat-raised-button>P o
            s t u l e r
          </button>
                </div>
                <div class="col-6 text-right">
                    <button color="warn" mat-raised-button mat-dialog-close>Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>