table {
    width: 100%;
    overflow: auto;
}

.modal_header {
    padding: 10px;
}

.mat-header-cell {
    font-size: 1em;
    color: #000000;
    font-weight: 800;
    border-bottom: solid 2px #3a97a2;
}

.modal-content {
    position: absolute;
    width: 50%;
    top: 14%;
}

.margin_column {
    margin-left: 30px;
}

@media (max-width: 575.98px) {
    table {
        overflow: auto;
    }
    .modal-content {
        height: 600px;
        overflow: auto;
        width: 98%;
        left: 1%;
        top: 10%;
    }
}