<div class="modal-content">

  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h2 mat-dialog-title>{{displayName}}</h2>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <form [formGroup]="giForm" *ngIf="giForm">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <mat-form-field class="erp-full-width">
              <mat-select placeholder="Civilite" formControlName="civilite">
                <mat-option value="Monsieur">Monsieur</mat-option>
                <mat-option value="Madame">Madame</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field class="erp-full-width">
              <input matInput placeholder="Nom" formControlName="nom">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field class="erp-full-width">
              <input matInput placeholder="Prénom" formControlName="prenom">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field class="erp-full-width">
              <input matInput placeholder="Nom d'utilisateur" formControlName="username">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field class="erp-full-width">
              <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
          </div>

          <div class="col-sm-4">
            <mat-form-field class="erp-full-width">
              <input matInput placeholder="telephone" formControlName="telephone">
            </mat-form-field>
          </div>
          <div class="col-sm-12 mb-2">
            <mat-form-field class="erp-full-width">
              <mat-select placeholder="IdReferentiel" formControlName="IdReferentiel">
                <mat-option value="{{item.IdReferentiel}}" *ngFor="let item of commerciauxPld; let i = index">{{item.Designation}}</mat-option>
              </mat-select>
              <mat-hint  align = "end" class="text-info"> Pld</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm-10 offset-sm-1 mb-3">
            <div class="card">
              <div class="card-header">
                <strong>Liste des Rôles</strong>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let role of rolesArraykeys;let i = index">
                  <input class="checkbox mr-3" type="checkbox" [(checklist)]="choixCheckBox" [checklistValue]="i"  /> {{role}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer m-2">
    <mat-dialog-actions>
      <button  mat-raised-button color="vert_foncer" (click) ="save()" cdkFocusInitial>Valider</button>
      <button mat-raised-button  color="warn" mat-dialog-close >Fermer</button>
    </mat-dialog-actions>
  </div>
</div>
