<div class="modal-content" style="padding: 0;margin: 0">

  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h3 *ngIf="data"><strong>Mise à jour du relevé d'heures {{data.IdRH}}</strong></h3>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row" *ngIf="data">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="col-12">
          <div *ngFor="let item of data.TabJours;let i = index">

            <fieldset>
              <!-- Form Name -->
              <legend>{{item.NomJour}}</legend>
              <!-- Text input-->
              <div class="row">
                <div class="col-6">
                  <label class="control-label">Date </label>

                  <div>
                    <mat-form-field class="erp-full-width">
                      <input matInput type="text" placeholder="{{item.DateJour}}" disabled>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-6">
                  <label class="control-label">heures</label>
                  <div>
                    <mat-form-field class="erp-full-width">
                      <input matInput type="number" placeholder="{{item.NbHeureJour}}" name="{{item.NomJour}}"
                             ngModel required>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <button [disabled]="f.invalid" class="col-12 col-lg-12 col-md-12 col-sm-12 btn btn-info mt-2">Enregistrer </button>
        </form>
      </div>
    </div>
  </div>
</div>
