<!-- Modal body -->
<div class="modal-body p-0 m-0">
    <form [formGroup]="form" *ngIf="form" (ngSubmit)="save()">
        <div class="row m-auto" >
            <div class="col-12 col-lg-6 col-md-12 col-sm-12 p-1">
                <div class="card border-info mb-3" style="max-width: 100%">
                    <div class="card-header bgvertfoncer">Frais</div>
                    <div class="card-body text-info">
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="paiementfrais" placeholder="Date Paiement Frais" class="bg-white" formControlName="datePaiementFrais">
                                    <mat-datepicker-toggle matSuffix [for]="paiementfrais"></mat-datepicker-toggle>
                                    <mat-datepicker #paiementfrais></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-6">
                                <mat-form-field class="erp-full-width">
                                    <mat-select placeholder="Etat Frais" class="bg-white" formControlName="etatFrais">
                                        <mat-option value="Pas encore payé"> Pas encore payé</mat-option>
                                        <mat-option value="payé">payé</mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                            <div class="col-sm-6">
                                <mat-form-field class="erp-full-width">
                                    <input matInput type="number" placeholder="Train" class="bg-white" formControlName="montantTrain">
                                </mat-form-field>
                            </div>

                            <div class="col-sm-6">
                                <mat-form-field class="erp-full-width">
                                    <input matInput type="number" placeholder="Avion" class="bg-white" formControlName="montantAvion">
                                </mat-form-field>
                            </div>


                            <div class="col-sm-6">
                                <mat-form-field class="erp-full-width">
                                    <input matInput type="number" placeholder="Taxi" formControlName="montantTaxi">
                                </mat-form-field>
                            </div>

                            <div class="col-sm-6">
                                <mat-form-field class="erp-full-width">
                                    <input matInput type="number" placeholder="Bus" class="bg-white" formControlName="montantBus">
                                </mat-form-field>
                            </div>

                            <div class="col-sm-6">
                                <mat-form-field class="erp-full-width">
                                    <input matInput type="number" placeholder="Covoiturage" class="bg-white" formControlName="montantCovoiturage">
                                </mat-form-field>
                            </div>

                            <div class="col-sm-6">
                                <mat-form-field class="erp-full-width">
                                    <input matInput type="number" placeholder="Parking" class="bg-white" formControlName="montantParking">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field class="erp-full-width">
                                    <input matInput type="number" placeholder="Location Voiture" class="bg-white" formControlName="montantLocationVoiture">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field class="erp-full-width">
                                    <input matInput type="number" placeholder="Ticket Peage" class="bg-white" formControlName="montantTicketPeage">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field class="erp-full-width">
                                    <input matInput type="number" placeholder="Hotel" class="bg-white" formControlName="montantHotel">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field class="erp-full-width">
                                    <input matInput type="number" placeholder="Repas" class="bg-white" formControlName="montantRepas">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field class="erp-full-width">
                                    <input matInput type="number" placeholder="IK" class="bg-white" formControlName="montantIk">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-12">
                                <mat-form-field class="erp-full-width">
                                    <input matInput type="text" placeholder="Autre" class="bg-white" formControlName="autre">
                                </mat-form-field>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-12 col-sm-12 p-2">
                <div class="card border-info mb-3" style="max-width: 100%">
                    <div class="card-header bgvertfoncer">Prestation</div>
                    <div class="card-body text-info">
                        <div class="row">
                            <div class="col-lg-12 mb-3">
                                <div class="row">
                                        <div class="col-sm-12">
                                            <mat-form-field>
                                                <input matInput [matDatepicker]="paiement" placeholder="Date Paiement" class="bg-white" formControlName="datePaiement">
                                                <mat-datepicker-toggle matSuffix [for]="paiement"></mat-datepicker-toggle>
                                                <mat-datepicker #paiement></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-12">
                                            <mat-form-field class="erp-full-width">
                                                <mat-select placeholder="Etat" class="bg-white" formControlName="etat">
                                                    <mat-option value="Pas encore payé"> Pas encore payé</mat-option>
                                                    <mat-option value="payé">payé</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <legend>Autre</legend>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <mat-form-field class="erp-full-width">
                                                <mat-select placeholder="Mode Paiement " class="bg-white" formControlName="modePaiement">
                                                    <mat-option value="Virement"> Virement</mat-option>
                                                    <mat-option value="Chéque">Chéque</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                        </div>
                                        <div class="col-sm-12">
                                            <mat-form-field>
                                                <textarea matInput placeholder="Remarque" class="bg-white" formControlName="remarque"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 text-center m-3" >
                <button mat-button mat-dialog-close class="btn btn-danger btn-sm">Annuler</button>&nbsp;&nbsp;&nbsp;
                <button mat-button class="btn btn-primary btn-sm" type="submit" [disabled]="!form.valid">Enregister</button>
            </div>
        </div>
    </form>
</div>
