<div>
  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h2 mat-dialog-title class="modal-title h5 font-weight-bold text-white" *ngIf="data === 1">
      <i class="glyphicon glyphicon-th-list"></i> Listes des
      disponibilitées
    </h2>

    <h2 mat-dialog-title class="modal-title h5 font-weight-bold text-white" *ngIf="data === 2">
      <i class="glyphicon glyphicon-th-list"></i> istes des
      offres en fonction de vos disponibilitées
    </h2>
  </div>
  <!-- Modal body -->
  <div class="modal-body">
    <!--    mes disponibilite-->
    <div *ngIf="data === 1">
      <div class="col-lg-12 push-lg-12">
        <table #table [dataSource]="dataSource" class="bg-white footable table table-hover table-striped" mat-table
               matSort>
          <!-- colonne de checkboc   -->

          <ng-container matColumnDef="select">
            <ng-container matColumnDef="select">
              <th *matHeaderCellDef mat-header-cell>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td *matCellDef="let disponibilite" mat-cell>
                <mat-checkbox (change)="$event ? selection.toggle(disponibilite) : null"
                              (click)="$event.stopPropagation()"
                              [checked]="selection.isSelected(disponibilite)">
                </mat-checkbox>
              </td>
            </ng-container>
          </ng-container>
          <!-- debut des colonnes des champs du tableau -->

          <ng-container matColumnDef="date">
            <th *matHeaderCellDef mat-header-cell mat-sort-header><span class="font-weight-bold"
                                                                        style="margin-left: 150px;"> Date </span>
            </th>
            <td *matCellDef="let disponibilite" class="text-center"
                mat-cell>{{disponibilite.date| date: 'dd-MM-yyyy'}}</td>
          </ng-container>
          <!-- fin des colonnes des champs du tableau -->
          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr (click)="selection.toggle(disponibilite);" *matRowDef="let disponibilite; columns: displayedColumns;"
              mat-row style="cursor: pointer;"></tr>
        </table>
        <div class="panel-footer">
          <mat-paginator #listPaginatorDispo [pageSizeOptions]="[10, 20, 50]" [pageSize]="10">
          </mat-paginator>
        </div>
      </div>
    </div>

    <!--    Matching -->
    <div class="col-12" *ngIf="data === 2">
      <div class="row py-3">
        <div class="col-lg-7"></div>
        <div *ngIf="select_specialite" class="col-lg-5">
          <select (change)="getItemChoiceOnSpecialite($event.target.value)" class="form-control"
                  id="selectionSpecialite"
                  name="selectionSpecialite">
            <option value=""> choisir la specialité</option>
            <option *ngFor="let item of (select_specialite);let i = index" value="{{item.nomspecialite}}">
              {{item.nomspecialite}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-12 push-lg-12">
        <table #table [dataSource]="dataSourceOffresMatching"
               class="bg-white footable table table-hover table-striped py-3" mat-table
               matSort>
          <!-- colonne de checkboc   -->

          <ng-container matColumnDef="select">
            <ng-container matColumnDef="select">
              <th *matHeaderCellDef mat-header-cell>
                <mat-checkbox (change)="$event ? masterToggleMatching() : null"
                              [checked]="selectionMatching.hasValue() && isAllSelectedMatching()"
                              [indeterminate]="selectionMatching.hasValue() && !isAllSelectedMatching()">
                </mat-checkbox>
              </th>
              <td *matCellDef="let disponibilite" class="text-center" mat-cell>
                <mat-checkbox (change)="$event ? selectionMatching.toggle(disponibilite) : null"
                              (click)="$event.stopPropagation()"
                              [checked]="selectionMatching.isSelected(disponibilite)">
                </mat-checkbox>
              </td>
            </ng-container>
          </ng-container>
          <!-- debut des colonnes des champs du tableau -->

          <ng-container matColumnDef="date">
            <th *matHeaderCellDef mat-header-cell mat-sort-header><span style="margin-left: 10px"> Date </span></th>
            <td *matCellDef="let disponibilite" class="text-center" mat-cell>
              &nbsp;&nbsp; {{disponibilite.date | date: 'dd-MM-y'}}</td>
          </ng-container>

          <!--libelle-->
          <ng-container matColumnDef="libelle">
            <th *matHeaderCellDef mat-header-cell mat-sort-header><span style="margin-left: 10px"> Libelle </span>
            </th>
            <td *matCellDef="let disponibilite" class="text-center" mat-cell>{{disponibilite.libelle}}</td>
          </ng-container>
          <!--debut-->
          <ng-container matColumnDef="debut">
            <th *matHeaderCellDef mat-header-cell mat-sort-header><span style="margin-left: 10px"> Debut </span>
            </th>
            <td *matCellDef="let disponibilite" class="text-center" mat-cell>{{disponibilite.heure_debut}}</td>
          </ng-container>
          <!--fin-->
          <ng-container matColumnDef="fin">
            <th *matHeaderCellDef mat-header-cell mat-sort-header><span style="margin-left: 10px"> Fin </span></th>
            <td *matCellDef="let disponibilite" class="text-center" mat-cell>{{disponibilite.heure_fin}}</td>
          </ng-container>
          <!--salaire net-->
          <ng-container matColumnDef="salaire">
            <th *matHeaderCellDef mat-header-cell mat-sort-header><span style="margin-left: 10px"> Salaire </span>
            </th>
            <td *matCellDef="let disponibilite" class="text-center" mat-cell>{{disponibilite.salaireNet}}</td>
          </ng-container>
          <!-- etablissement -->
          <ng-container
            matColumnDef="etablissement">
            <th *matHeaderCellDef mat-header-cell mat-sort-header><span
              style="margin-left: 10px"> Etablissement </span></th>
            <td *matCellDef="let disponibilite" class="text-center" mat-cell>
              <a data-dismiss="modal" [routerLink]="['/RMS-Admin/client/'+disponibilite.client_id+'/show/']"
                 class="font-weight-bold">
                {{disponibilite.nom_etablissement}}
              </a>
            </td>
          </ng-container>
          <!-- departement -->
          <ng-container matColumnDef="departement">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
                  <span *ngIf="rolesService.isRecruteurUnique(this.userService.getCurrentUser().roles)"
                        style="margin-left: 10px"> Departement </span>
            </th>
            <td *matCellDef="let disponibilite" class="text-center" mat-cell>
                  <span *ngIf="rolesService.isRecruteurUnique(this.userService.getCurrentUser().roles)">
                    {{disponibilite.departement}} ({{disponibilite.numeroDepartement}})
                    </span>
            </td>
          </ng-container>
          <!-- fin des colonnes des champs du tableau -->
          <tr *matHeaderRowDef="displaydColumnsMatching" mat-header-row></tr>
          <tr (click)="selectionMatching.toggle(disponibilite);"
              *matRowDef="let disponibilite; columns: displaydColumnsMatching;"
              mat-row style="cursor: pointer;"></tr>
        </table>

        <div *ngIf="dataSourceOffresMatching && select_specialite">
          <div *ngIf="dataSourceOffresMatching.data.length <= 0 && select_specialite.length > 0">
            <div class="alert alert-success text-center" role="alert">
              veuillez choisir votre specialité
            </div>
          </div>

          <div *ngIf="select_specialite.length <= 0">
            <div class="alert alert-info text-center" role="alert">
              Aucune correspondance !!! <br> Soit vos disponibilité(es) et specialité(s) sont pas <br>
              renseignées ou aucune offre ne correspond à vos disponibilitées .
            </div>
          </div>
        </div>
        <mat-paginator #listPaginator [pageSizeOptions]="[5, 10, 50]" [pageSize]="5">
        </mat-paginator>

        <div *ngIf="dataSourceOffresMatching && select_specialite">
          <ckeditor [(ngModel)]="conditionMedecin" language="fr"
                    skin="moono-lisa"></ckeditor>
        </div>


        <div class="panel-footer">
        </div>
      </div>
    </div>
    <!-- Modal footer -->
    <div class="modal-footer" *ngIf="data === 2">
      <button (click)="clearSelectionMatching();dataSourceOffresMatching.data=[];onNoClick()" class="btn btn-danger "
              data-dismiss="modal"
              type="button">Fermer
      </button>
      <button (click)="onPostuler();onNoClick()"
              class="btn btn-primary postuler" data-dismiss="modal"
              style="background-color: #3a97a2;color: white" type="button">Postuler
      </button>

    </div>

    <div class="modal-footer" *ngIf="data === 1">
      <button (click)="clearSelection();onNoClick()" class="btn btn-success ">Fermer</button>
      <button (click)="deleteChoiceDisponibilite();onNoClick()" class="btn btn-danger">
        Supprimer
      </button>

    </div>


  </div>
</div>

