td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  /* padding-right: 24px; */
}
.mat-header-cell{
  font-size: 1.2em;
  font-weight: 900;
  color: black;
  border-bottom: #3a97a2 2px solid;
  padding-bottom: 5px;
}
td.mat-cell, td.mat-footer-cell {
  padding-top: 14px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
