<div class="modal-content" style="padding: 0;margin: 0">

  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h4>Terminer votre inscription</h4>
  </div>
  <!-- Modal body -->
  <div class="modal-body">
    <fieldset>
      <legend><h4>Veuillez saisir les champs suivants pour terminer votre inscription</h4></legend>

      <div class="panel panel-default">
        <div class="panel-body">
          <form [formGroup]="signinRsForm" class="form">
            <div class="row">
              <div class="col-lg-12" style="color: red;margin: 1%" *ngIf="username_existe" class="alert alert-danger text-center">Ce nom d'utilisateur est déja associé à un compte !</div>
              <div class="form-group col-lg-12">
                <label>Email</label>
                <input type="text" class="form-control" disabled value="{{data.email}}">
              </div>
              <div class="form-group col-lg-12" style="font-weight: bold">
                <label>vous êtes ?<span class="champs_obligatoire">*</span></label>
                <h4 class="text-center text-warning">
                  <input type="radio" name="role" value="ROLE_MEDICAL" formControlName="role">&nbsp;Médical
                  <input type="radio" name="role" value="ROLE_PARAMEDICAL" formControlName="role">&nbsp;Paramédical
                  <input type="radio" name="role" value="ROLE_RECRUTEUR" formControlName="role">&nbsp;Je represente une structure de santé
                </h4>
              </div>
              <div class="form-group col-lg-12">
                <label>Nom d'utilisateur <span class="champs_obligatoire">*</span></label>
                <input type="text" class="form-control" name="username" formControlName="username" value="{{data.name}}">
              </div>
              <div class="form-group col-lg-3">
                <label>Civilité <span class="champs_obligatoire">*</span></label>
                <select name="civilite" class="form-control" formControlName="civilite">
                  <option value="">selectionner</option>
                  <option value="Monsieur">Monsieur</option>
                  <option value="Madame">Madame</option>
                </select>
              </div>
              <div class="form-group col-lg-4">
                <label>Nom <span class="champs_obligatoire">*</span></label>
                <input type="text" name="nom" class="form-control" formControlName="nom">
              </div>
              <div class="form-group col-lg-5">
                <label>Prenom <span class="champs_obligatoire">*</span></label>
                <input type="text" name="prenom" class="form-control" formControlName="prenom">
              </div>
              <div class="form-group col-lg-12">
                <label>Telephone <span class="champs_obligatoire">*</span></label>
                <input type="text" name="telephone" class="form-control" formControlName="telephone">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <button type="submit" class="btn btn-block btn-success" [disabled]="signinRsForm.invalid" (click)="terminer_inscription_rs()" >Soumettre</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </fieldset>
  </div>
</div>
