.mat-header-cell{
  font-size: 1em;
  font-weight: bold;
  color: black;
  border-bottom: #3a97a2 2px solid;
  padding-bottom: 5px;
}
.btn-primary{
  background: #3a97a2;
}

th.mat-header-cell{
  padding-bottom: 14px;
}
td.mat-cell, td.mat-footer-cell {
  padding-top: 14px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
