<div class="ml-4 mr-4 animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 pt-4">
          <h5 class="panel-title"><span style="color: rgb(47, 64, 80)">LISTE DES LIGNES TELEPHONIQUES</span>
          </h5>
        </div>
        <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">
          <mat-form-field>
            <mat-label>Filtrer</mat-label>
            <mat-select [(ngModel)]="elements" multiple>
              <mat-option (click)="valutElements()" *ngFor="let item of displayedColumnsFilter" [value]="item.name">
                {{item.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;&nbsp;
          <button (click)="editLigneModal()" color="success" mat-mini-fab>
            <mat-icon>add_circle</mat-icon>
          </button>


        </div>
      </div>
      <form (ngSubmit)="onSubmitFiltre()" [formGroup]="formFilter" class="example-form container center_div">
        <div *ngFor="let item  of elements " class="form-group">
          <div>

            <mat-form-field class="erp-full-width">
              <input matInput type="text" placeholder="{{item}}" id="{{item}}" name="{{item}}" class="form-control"
                ngModel required>
            </mat-form-field>
          </div>


        </div>
        <button class="btn btn-primary" type="submit" [disabled]="f.invalid" *ngIf="elements.length > 0">Valider
        </button>

      </form>
    </div>
    <div class="card-body table-responsive">
      <table mat-table #table matSort matSortStart="asc" [dataSource]="dataSource"
        class="bg-white footable table table-hover table-striped">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let item">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(item) : null"
              [checked]="selection.isSelected(item)">
            </mat-checkbox>
          </td>
        </ng-container>
        <!-- debut des colonnes des champs du tableau -->
        <ng-container matColumnDef="number">
          <th *matHeaderCellDef mat-header-cell>Num.</th>
          <td *matCellDef="let item" mat-cell>{{ dataSource.filteredData.indexOf(item) + 1 }}</td>
        </ng-container>


        <ng-container matColumnDef="Adresse E-mail">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Adresse E-mail</th>
          <td *matCellDef="let item" mat-cell>{{ item.email.email}}</td>
        </ng-container>

        <ng-container matColumnDef="Telephone">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Telephone</th>
          <td *matCellDef="let item" mat-cell>{{ item.telephone}}</td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Type</th>
          <td *matCellDef="let item" mat-cell>{{ item.type_ligne.designation}}</td>
        </ng-container>

        <ng-container matColumnDef="apartenance">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Appartenance</th>
          <td *matCellDef="let item" class="font-bold" mat-cell>
            <mat-chip-list>
              <span *ngIf="item.type_ligne.appartenance === 2">
                <mat-chip color="primary" selected>Interimaire</mat-chip>
              </span>
              <span *ngIf="item.type_ligne.appartenance === 1">
                <mat-chip color="accent" selected>Client</mat-chip>
              </span>


            </mat-chip-list>


          </td>
        </ng-container>


        <ng-container matColumnDef="Specialite">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Specialite</th>

          <td *matCellDef="let item" mat-cell>

            <button [matMenuTriggerFor]="menu" mat-button>{{item.specialite?.length}}</button>
            <mat-menu #menu="matMenu">
              <button *ngFor="let spe of item.specialite" mat-menu-item>{{spe}}</button>
            </mat-menu>

          </td>
        </ng-container>


        <ng-container matColumnDef="Edit">
          <th *matHeaderCellDef mat-header-cell>Edit</th>
          <td *matCellDef="let item" mat-cell>

            <button (click)="editLigneModal(item.id)" mat-mini-fab="accent">
              <mat-icon>create</mat-icon>
            </button>


          </td>
        </ng-container>
        <!-- fin des colonnes des champs du tableau -->
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr (click)="selection.toggle(item)" *matRowDef="let item columns: displayedColumns;" mat-row></tr>
      </table>
    </div>
    <div class="card-footer">
      <!-- <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
            (page)="pagination($event)">
        </mat-paginator> -->
    </div>
  </div>
</div>