<div class="container-fluid bg-white p-4 animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="container-fluid bg-white">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!--Header-->
              <div class="card-header">
                <div class="row">
                  <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 mt-4">
                    <h6><span>LISTES PROSPECTIONS CLIENTS</span></h6>
                  </div>
                  <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">
                    <mat-form-field>
                      <mat-label>Filtrer</mat-label>
                      <mat-select multiple [(ngModel)]="elements">
                        <mat-option *ngFor="let item of displayedColumnsFilter" [value]="item.name"
                          (click)="valutElements()">
                          {{item.label | uppercase}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                  </div>
                </div>
                <div class="row">
                  <form (ngSubmit)="onSubmitFiltre(f)" #f="ngForm" class="example-form container center_div">
                    <div class="form-group" *ngFor="let item  of elements ">
                      <div *ngIf="item != 'date' && item != 'rappeler' && item != 'type'">

                        <mat-form-field class="erp-full-width">
                          <input matInput type="text" placeholder="{{item}}" id="{{item}}" name="{{item}}"
                            class="form-control" ngModel required>
                        </mat-form-field>
                      </div>

                      <div *ngIf="item == 'type'">

                        <mat-form-field class="erp-full-width">
                          <mat-select placeholder="{{item}}" id="{{item}}" name="{{item}}" ngModel required>
                            <mat-option value="{{m.id}}" *ngFor="let m  of types ">{{m.designation | uppercase }}
                            </mat-option>

                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div *ngIf="item == 'rappeler'">

                        <mat-form-field class="erp-full-width">
                          <mat-select placeholder="{{item}}" id="{{item}}" name="{{item}}" ngModel required>
                            <mat-option value="oui">Oui</mat-option>
                            <mat-option value="non">Non</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div *ngIf="item == 'date'">
                        <ngx-mat-drp (selectedDateRangeChanged)="updateRange($event)" [options]="options"
                          #dateRangePicker></ngx-mat-drp>

                      </div>


                    </div>
                    <button class="btn btn-primary" type="submit" [disabled]="f.invalid"
                      *ngIf="elements.length > 0">Valider</button>

                  </form>

                </div>
              </div>
              <div class="card-body table-responsive">
                <table mat-table #table matSort matSortStart="asc" [dataSource]="dataSource"
                  class="bg-white footable table table-hover table-striped">



                  <!-- debut des colonnes des champs du tableau -->


                  <ng-container matColumnDef="number">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>N°</th>
                    <td mat-cell *matCellDef="let item">{{ dataSource.filteredData.indexOf(item) + 1 }}
                    </td>
                  </ng-container>


                  <ng-container matColumnDef="nom_etablisement">
                    <th mat-header-cell mat-sort-header mat-sort-header *matHeaderCellDef>Nom Etablissement</th>
                    <td mat-cell *matCellDef="let item" class="font-bold">
                      <a routerLink="/RMS-Admin/client/{{item.client_id}}/show/">{{ item.nom_etablissement}}</a>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="recruteur">
                    <th mat-header-cell mat-sort-header mat-sort-header *matHeaderCellDef>Recruteur</th>
                    <td mat-cell *matCellDef="let item" class="font-bold">
                      <strong>{{item.nom}} {{item.prenom}}</strong></td>
                  </ng-container>
                  <ng-container matColumnDef="message">
                    <th mat-header-cell mat-sort-header mat-sort-header *matHeaderCellDef>Commentaire </th>
                    <td mat-cell *matCellDef="let item" class="font-bold">
                      <button mat-mini-fab color="success" (click)="message(item.message)">
                        <mat-icon>message</mat-icon>
                      </button>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="type">
                    <th mat-header-cell mat-sort-header mat-sort-header *matHeaderCellDef>Type</th>
                    <td mat-cell *matCellDef="let item"><strong>{{ item.type }}</strong></td>
                  </ng-container>

                  <ng-container matColumnDef="a_rappeler">
                    <th mat-header-cell mat-sort-header mat-sort-header *matHeaderCellDef>A Rappeler</th>
                    <td mat-cell *matCellDef="let item">
                      <button mat-mini-fab color="success" *ngIf="item.a_rappeler"
                        (click)="dateRapel(item.date_rappel)">Oui</button>
                      <button mat-mini-fab color="warn" *ngIf="!item.a_rappeler">Non</button>

                    </td>
                  </ng-container>



                  <ng-container matColumnDef="auteur">
                    <th mat-header-cell mat-sort-header mat-sort-header *matHeaderCellDef>Auteur</th>
                    <td mat-cell *matCellDef="let item">
                      <a routerLink="/RMS-Admin/gestionnaire-interne/{{item.auteur_id}}/show/">{{item.auteur}}</a>

                    </td>

                  </ng-container>

                  <ng-container matColumnDef="date">
                    <th mat-header-cell mat-sort-header mat-sort-header *matHeaderCellDef>Date Enregistrement</th>
                    <td mat-cell *matCellDef="let item"> <strong>{{ item.date | date:'d-MM-y  HH:mm' }}</strong> </td>
                  </ng-container>



                  <!-- fin des colonnes des champs du tableau -->
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let interim; columns: displayedColumns;" (click)="selection.toggle(interim)">
                  </tr>

                </table>

              </div>
              <div class="card-footer">
                <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                  (page)="pagination($event)">
                </mat-paginator>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>