.mat-expansion-panel {
  background: transparent;
  color: #adb5bd;
}
.mat-expansion-panel-header:not([aria-disabled=true]) {
  cursor: pointer;
  padding-left: 5%;
}
.mat-expansion-panel-header-title {
  color: #adb5bd;
}
.mat-list-base .mat-list-item {
  color: #adb5bd;
}
.mat-list-base .mat-list-item {
  font-size: 14px;
}
.mat-list-base {
  display: block;
  -webkit-tap-highlight-color: transparent;
}
.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  display: block;
  height: 35px;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  padding: 0;
}
.sub-item{
  list-style: none;
  margin: 2%;
}
a + .menu-item-icon{
  font-size: 10px;
}
