<!-- ########## START: LEFT PANEL ########## -->
<div class="br-logo">
  <a [routerLink]="['/RMS-Admin']">
    <img *ngIf="roleService.isCommercial(this.currentUser.roles)" alt="Logo RMS"
      src="../../../../../assets/images/rms_logo.png" width="100" />
    <img *ngIf="roleService.isCandidatUnique(this.currentUser.roles)" alt="Logo RMS"
      src="../../../../../assets/images/new_site/ico.png" width="65" />
    <img *ngIf="roleService.isRecruteurUnique(this.currentUser.roles)" alt="Logo RMS" class="py-2"
      src="../../../../../assets/images/new_site/hop_rms.png" width="62" />
  </a>
</div>
<div [routerLinkActiveOptions]="{exact: true}" class="br-sideleft sideleft-scrollbar sizeText"
  routerLinkActive="active-link" style="overflow: auto">
  <br>
  <ul class="br-sideleft-menu">
    <li class="br-menu-item">
      <a [routerLink]="['/RMS-Admin']" class="br-menu-link active">
        <i class="menu-item-icon icon ion-ios-home-outline tx-20"></i>
        <span class="menu-item-label">Accueil</span>
      </a><!-- br-menu-link -->
    </li><!-- br-menu-item -->
    <li *ngIf="roleService.isCandidatUnique(this.currentUser.roles)" class="br-menu-item">
      <a [routerLink]="['/RMS-Admin/Mes-Rubriques']" class="br-menu-link">
        <i class="menu-item-icon icon ion-android-apps tx-20"></i>
        <span class="menu-item-label">Mes Rubriques</span>
      </a><!-- br-menu-link -->
    </li><!-- br-menu-item -->
    <li *ngIf="roleService.isRecruteurUnique(this.currentUser.roles)" class="br-menu-item">
      <a [routerLink]="['mes-etablissements']" class="br-menu-link">
        <i class="menu-item-icon icon ion-android-clipboard tx-20"></i>
        <span class="menu-item-label">Mes Etablissements</span>
      </a><!-- br-menu-link -->
    </li><!-- br-menu-item -->
    <li *ngIf="roleService.isCandidatUnique(this.currentUser.roles)" class="br-menu-item">
      <a href="/offres" target="_blank" class="br-menu-link">
        <i class="menu-item-icon icon ion-ios-list-outline tx-20"></i>
        <span class="menu-item-label">Offres</span>
      </a><!-- br-menu-link -->
    </li><!-- br-menu-item -->
    <li *ngIf="roleService.isCandidatUnique(this.currentUser.roles)" class="br-menu-item">
      <a [routerLink]="['/RMS-Admin/bienvenue-my-rms']" class="br-menu-link">
        <i class="menu-item-icon ion-chatbubble-working tx-20"></i>
        <span class="menu-item-label">FAQ</span>
      </a><!-- br-menu-link -->
    </li><!-- br-menu-item -->
    <li
      *ngIf="roleService.isCandidatUnique(this.currentUser.roles) || roleService.isRecruteurUnique(this.currentUser.roles)"
      class="br-menu-item">
      <a *ngIf="roleService.isRecruteurUnique(this.currentUser.roles)" class="br-menu-link" href="{{docHopRMS}}"
        target="_blank">
        <i class="menu-item-icon icon ion-ios-redo-outline tx-20"></i>
        <span class="menu-item-label">Aide</span>
      </a>
      <a *ngIf="roleService.isCandidatUnique(this.currentUser.roles)" class="br-menu-link" href="{{docMyRMS}}"
        target="_blank">
        <i class="menu-item-icon icon ion-ios-redo-outline tx-20"></i>
        <span class="menu-item-label">Aide</span>
      </a><!-- br-menu-link -->
    </li><!-- br-menu-item -->

    <li *ngIf="roleService.isManager(this.currentUser.roles)" class="br-menu-item">
      <a [routerLink]="['/RMS-Admin/suivie-contrat']" class="br-menu-link">
        <i class="menu-item-icon ion-arrow-graph-up-right tx-20"></i>
        <span class="menu-item-label">Suivi Contrat Signature</span>
      </a>
    </li>
    <li *ngIf="roleService.isManager(this.currentUser.roles)" class="br-menu-item">
      <a [routerLink]="['/RMS-Admin/suivie-contrat/contrat-pld']" class="br-menu-link">
        <i class="menu-item-icon ion-arrow-graph-up-right tx-20"></i>
        <span class="menu-item-label">Suivi Contrat PLD</span>
      </a>
    </li>

    <li *ngIf="roleService.isManager(this.currentUser.roles)" class="br-menu-item">
      <a [routerLink]="['/RMS-Admin/taches/liste']" class="br-menu-link">
        <i class="menu-item-icon ion-ios-list-outline tx-20"></i>
        <span class="menu-item-label">Suivi Disponibilités</span>
      </a><!-- br-menu-link -->
    </li><!-- br-menu-item -->


    <li *ngIf="roleService.isCommercial(this.currentUser.roles)" class="br-menu-item">
      <a (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/recruteurs/liste']" class="br-menu-link">
        <i class="menu-item-icon ion-ios-people tx-20"></i>
        <span class="menu-item-label">Recruteurs</span>
      </a><!-- br-menu-link -->
    </li><!-- br-menu-item -->
    <li class="br-menu-item">
      <a (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/gestionnaire-interne/liste']" class="br-menu-link"
        *ngIf="roleService.isSuperAdmin(this.currentUser.roles)">
        <i class="menu-item-icon ion-ios-people tx-20"></i>
        <span class="menu-item-label">Gestionnaires internes</span>
      </a><!-- br-menu-link -->
    </li><!-- br-menu-item -->
    <li *ngIf="roleService.isSuperAdmin(this.currentUser.roles)" class="br-menu-item">
      <a (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/users/liste']" class="br-menu-link">
        <i class="menu-item-icon ion-ios-people tx-20"></i>
        <span class="menu-item-label">Utilisateurs</span>
      </a><!-- br-menu-link -->
    </li><!-- br-menu-item -->
    <mat-accordion>
      <mat-expansion-panel *ngIf="roleService.isManager(this.currentUser.roles)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="menu-item-icon icon ion-ios-email-outline tx-20"></i>
            &nbsp;&nbsp; EMAIL
          </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/email/boite-email']"
            class="pointer"> -- Tableau de bord
          </mat-list-item>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/email/transactionnels']"
            class="pointer"> -- Transactionnel
          </mat-list-item>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/email/campagnes']" class="pointer">
            -- Campagne</mat-list-item>
          <!-- <mat-list-item class="pointer" [routerLink]="['/RMS-Admin/email/contacts']"> -- Contacts </mat-list-item> -->
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel (closed)="panelOpenState = false" (opened)="panelOpenState = true"
        *ngIf="roleService.isManager(this.currentUser.roles)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="menu-item-icon icon ion-ios-paper-outline tx-20"></i> &nbsp;&nbsp;Prospection
          </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/prospection/clients']"
            class="pointer"> -- Client</mat-list-item>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/prospection/interimaires']"
            class="pointer"> -- intérimaire
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel (closed)="panelOpenState = false" (opened)="panelOpenState = true"
        *ngIf="roleService.isCommercial(this.currentUser.roles)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="menu-item-icon ion-android-clipboard tx-20"> </i> &nbsp;&nbsp;Clients
          </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/client/liste']" class="pointer"> --
            Liste</mat-list-item>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/vacation']" class="pointer"> --
            Gardes</mat-list-item>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/fiche-specialite/liste']"
            class="pointer"> -- F.spécialités
          </mat-list-item>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/liste-planning/liste']"
            class="pointer"> -- plannings
          </mat-list-item>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/liste-missions/liste']"
            class="pointer"> -- Missions
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel (closed)="panelOpenState = false" (opened)="panelOpenState = true"
        *ngIf="roleService.isCommercial(this.currentUser.roles)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="menu-item-icon icon ion-ios-people tx-20"></i> &nbsp;&nbsp;Intérimaires
          </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/interim/liste']" class="pointer"> --
            Liste</mat-list-item>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/missions-interimaires']"
            class="pointer"> -- Missions
          </mat-list-item>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/candidatures']" class="pointer"> --
            Candidatures</mat-list-item>
          <mat-list-item (click)="onClearLocalStorage()" *ngIf="this.roleService.isCommercial(this.currentUser.roles)"
            [routerLink]="['/RMS-Admin/renumerations']" class="pointer"> -- Rémunération
          </mat-list-item>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/disponibilites']" class="pointer">
            -- Disponibilités
          </mat-list-item>
          <mat-list-item (click)="onClearLocalStorage()" *ngIf="this.roleService.isSuperAdmin(this.currentUser.roles)"
            [routerLink]="['/RMS-Admin/renumerations-old']" class="pointer"> -- Rémunération Old
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel (closed)="panelOpenState = false" (opened)="panelOpenState = true"
        *ngIf="roleService.isManager(this.currentUser.roles)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="menu-item-icon icon ion-ios-gear-outline tx-20"></i> &nbsp;&nbsp;Admin-Config
          </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/config/specialite/liste']"
            class="pointer"> -- Spécialité
          </mat-list-item>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/config/hebergement/liste']"
            class="pointer"> -- Hebergement
          </mat-list-item>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/config/ressource/liste']"
            class="pointer"> -- Ressource
          </mat-list-item>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/config/remarque/liste']"
            class="pointer"> -- Remarque
          </mat-list-item>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/config/client-majoration/liste']"
            class="pointer"> -- Majoration
          </mat-list-item>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/config/type-prospection/liste']"
            class="pointer"> -- T. Prospections
          </mat-list-item>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/config/type-taches/liste']"
            class="pointer"> -- Types Taches
          </mat-list-item>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/config/type-vacations/liste']"
            class="pointer"> -- Types Vacations
          </mat-list-item>
          <mat-list-item (click)="onClearLocalStorage()"
            [routerLink]="['/RMS-Admin/config/type-ligne-telephonique/liste']" class="pointer"> -- Types
            Lignes
          </mat-list-item>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/config/ligne-telephonique/liste']"
            class="pointer"> -- Nos Lignes
          </mat-list-item>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/config/boite-email/liste']"
            class="pointer"> -- Nos Boites
          </mat-list-item>
          <mat-list-item (click)="onClearLocalStorage()" [routerLink]="['/RMS-Admin/config/nos-campagnes/liste']"
            class="pointer"> -- Nos Campagnes
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>

    <li *ngIf="roleService.isManager(this.currentUser.roles)" class="br-menu-item">
      <a [routerLink]="['/RMS-Admin/historiques']" class="br-menu-link">
        <i class="menu-item-icon ion-ios-people tx-20"></i>
        <span class="menu-item-label">historiques</span>
      </a><!-- br-menu-link -->
    </li><!-- br-menu-item -->

    <!-- br-menu-item -->

    <!-- <li class="br-menu-item" *ngIf="roleService.isManager(this.currentUser.roles)">
          <a href="#" class="br-menu-link with-sub">
            <i class="menu-item-icon icon ion-ios-email-outline tx-20"></i>
            <span class="menu-item-label">SMS</span>
          </a>
          <ul class="br-menu-sub">
            <li class="sub-item"><a [routerLink]="['/RMS-Admin/sms/boite-email']" class="sub-link">Tableau de bord</a></li>
            <li class="sub-item"><a [routerLink]="['/RMS-Admin/sms/transactionnels']" class="sub-link">Transactionnel</a></li>
            <li class="sub-item"><a [routerLink]="['/RMS-Admin/sms/campagnes']" class="sub-link">Campagne</a></li>
            <li class="sub-item"><a [routerLink]="['/RMS-Admin/sms/contacts']" class="sub-link">Contacts</a></li>
          </ul>
        </li> -->


  </ul><!-- br-sideleft-menu -->
  <br>
</div><!-- br-sideleft -->
<!-- ########## END: LEFT PANEL ########## -->