<div class="modal-content">
  <!-- Modal Header -->
  <div class="modal-header text-center" style="overflow-x: hidden">
    <h2 mat-dialog-title>Listes des interimaires disponibles pour cette mission</h2>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <div class="hr-line-dashed"></div>

    <div class="modal-body">
      <div>
        <div *ngIf="load" class="text-center">
          <img alt="load" src="../../../../../../../assets/images/loader.gif">
        </div>
        <div>
          <div *ngIf="interims.length >0 && !load" class="table-responsive" style="height: 400px;overflow: auto">
            <mat-accordion>
              <mat-expansion-panel *ngFor="let interim of interims" (click)="showCandidatures(interim)" style="border: #18a6ae solid 1px;margin-bottom: 10px;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <a data-dismiss="modal" routerLink="/RMS-Admin/interim/{{interim.interim}}/show/" class="ml-4">
                      {{interim.civilite }}
                    </a>
                    <a data-dismiss="modal" routerLink="/RMS-Admin/interim/{{interim.interim}}/show/" class="ml-4">
                      {{interim.nom | uppercase}}
                    </a>
                    <a data-dismiss="modal" class="ml-4" routerLink="/RMS-Admin/interim/{{interim.interim}}/show/">
                      {{interim.prenom | uppercase }}
                    </a>
                  </mat-panel-title>
                  <mat-panel-description>
                    <span>{{interim.email}}</span>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="table-responsive pl-4 pr-4" *ngIf="dataSource_interims_disponibile.data.length>0">
                  <table #table [dataSource]="dataSource_interims_disponibile"
                         class="bg-white footable table table-hover table-striped py-3" mat-table
                         matSort>
                    <!-- colonne de checkboc   -->

                    <ng-container matColumnDef="select">
                      <ng-container matColumnDef="select">
                        <th *matHeaderCellDef mat-header-cell>
                          <mat-checkbox (change)="$event ? masterToggleMatching() : null"
                                        [checked]="selectionMatching.hasValue() && isAllSelectedMatching()"
                                        [indeterminate]="selectionMatching.hasValue() && !isAllSelectedMatching()">
                          </mat-checkbox>
                        </th>
                        <td *matCellDef="let planning" class="text-center" mat-cell>
                          <mat-checkbox (change)="$event ? selectionMatching.toggle(planning) : null"
                                        (click)="$event.stopPropagation()"
                                        [checked]="selectionMatching.isSelected(planning)">
                          </mat-checkbox>
                        </td>
                      </ng-container>
                    </ng-container>
                    <!-- debut des colonnes des champs du tableau -->

                    <ng-container matColumnDef="date">
                      <th *matHeaderCellDef mat-header-cell mat-sort-header><span style="margin-left: 10px"> Date </span></th>
                      <td *matCellDef="let planning" class="" mat-cell> &nbsp;&nbsp; {{planning.date | date: 'dd-MM-y'}}</td>
                    </ng-container>

                    <!--libelle-->
                    <ng-container matColumnDef="libelle">
                      <th *matHeaderCellDef mat-header-cell mat-sort-header><span style="margin-left: 10px"> Libelle </span>
                      </th>
                      <td *matCellDef="let planning" class="" mat-cell>{{planning.libelle}}</td>
                    </ng-container>
                    <!--debut-->
                    <ng-container matColumnDef="debut">
                      <th *matHeaderCellDef mat-header-cell mat-sort-header><span style="margin-left: 10px"> Debut </span>
                      </th>
                      <td *matCellDef="let planning" class="" mat-cell>{{planning.heure_debut}}</td>
                    </ng-container>
                    <!--fin-->
                    <ng-container matColumnDef="fin">
                      <th *matHeaderCellDef mat-header-cell mat-sort-header><span style="margin-left: 10px"> Fin </span></th>
                      <td *matCellDef="let planning" class="" mat-cell>{{planning.heure_fin}}</td>
                    </ng-container>
                    <!--salaire net-->
                    <ng-container matColumnDef="salaire">
                      <th *matHeaderCellDef mat-header-cell mat-sort-header><span style="margin-left: 10px"> Salaire </span>
                      </th>
                      <td *matCellDef="let planning" class="" mat-cell>{{planning.salaireNet}}</td>
                    </ng-container>
                    <!-- etablissement -->
                    <ng-container
                      matColumnDef="etablissement">
                      <th *matHeaderCellDef mat-header-cell mat-sort-header><span
                        style="margin-left: 10px"> Etablissement </span></th>
                      <td *matCellDef="let planning" class="" mat-cell>
                        <a data-dismiss="modal" [routerLink]="['/RMS-Admin/client/'+planning.client_id+'/show/']" class="font-weight-bold">
                          {{planning.nom_etablissement}}
                        </a>
                      </td>
                    </ng-container>
                    <!-- departement -->
                    <ng-container matColumnDef="departement">
                      <th *matHeaderCellDef mat-header-cell mat-sort-header>
                  <span *ngIf="rolesService.isRecruteurUnique(this.userService.getCurrentUser().roles)"
                        style="margin-left: 10px"> Departement </span>
                      </th>
                      <td *matCellDef="let planning" class="" mat-cell>
                  <span *ngIf="rolesService.isRecruteurUnique(this.userService.getCurrentUser().roles)">
                    {{planning.departement}} ({{planning.numeroDepartement}})
                    </span>
                      </td>
                    </ng-container>
                    <!-- fin des colonnes des champs du tableau -->
                    <tr *matHeaderRowDef="displayedColumns_interimaire_disponibile" mat-header-row></tr>
                    <tr (click)="selectionMatching.toggle(planning);"
                        *matRowDef="let planning; columns: displayedColumns_interimaire_disponibile;"
                        mat-row style="cursor: pointer;"></tr>
                  </table>
                </div>
                <div *ngIf="dataSource_interims_disponibile.data.length<=0" class="text-center">
                  Aucune vacation ne correspond à votre disponibilité !
                </div>

                <mat-paginator #listPaginator [pageSizeOptions]="[10, 20, 50]" [pageSize]="10">
                </mat-paginator>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div *ngIf="interims.length<=0 && !load">
            <div class="alert alert-primary text-center" role="alert">
              Aucune correspondance ! <br>
            </div>
          </div>
        </div>
      </div>
      <!--          <div *ngIf="!isMissionEnabled">-->
      <!--              <div class="alert alert-warning text-center" role="alert">-->
      <!--                  Pour verifier les interimaires disponibles pour cette mission, vous devez l'activer ! <br>-->
      <!--              </div>-->
      <!--          </div>-->
    </div>
    <!-- Modal footer -->
    <div class="modal-footer">
      <button (click)="onPostuler()"
              color="vertfoncer" mat-dialog-close mat-raised-button
              style="background-color: #3a97a2;color: white" type="button">Postuler
      </button>
      <button color="warn" mat-dialog-close mat-raised-button>fermer</button> &nbsp; &nbsp;
    </div>

  </div>
</div>
