<div>
  <div class="row footer">
    <div class="col-md-12 col-lg-12 col-sm-12 col-12 mention_condition">
      <a href="https://reseaumedical.fr/mention-legales">Mentions légales</a> <br>
      <a href="https://reseaumedical.fr/rgpd-rms" class="mt-5">Conditions Générales RGPD</a>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12  localisation text-right">
      <a href="https://www.google.sn/maps/place/Enora+Park/@44.7827286,-0.6523725,17z/data=!3m1!4b1!4m5!3m4!1s0xd54d93072ddd163:0x986c6a5e944b0eb7!8m2!3d44.7827286!4d-0.6501838"
        target="_blank" rel="noopener"> CENTRE D'AFFAIRES J.J BOSC <br />
        386 BIS - 388 Boulevard Jean Jacques BOSC  &nbsp;&nbsp; <i class="fas fa-map-marker-alt fa-1x" style="color: #D06F80"></i>

      </a>

    </div>
    <div class="col-md-12 col-lg-12 col-sm-12 col-12">
      <div class="row contact_row">
        <div class="col-md-12 col-sm-12 col-lg-12 contact_tel">
          <span class="contact">
            C o n t a c t
          </span>
          <div class="contact_ligne">
            <ul class="list-unstyled">
              <li>Tel: 05 57 88 25 75</li>
              <li>Fax: 05 35 54 13 46</li>

              <li>E-Mail: contact@reseaumedical.fr</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12 col-12 text-center copyright_siret">
      sarl réseau médical services © 2010 - {{years.getFullYear()}}. tous droits réservés <br>
      SIRET: 518 363 213 00035 Capital: 20000 €
    </div>
  </div>
</div>