div:first-child {
  opacity: 0.99;
}

.footer {
  background: url('../../../../assets/images/new_site/back_footer.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1280px;
  overflow: hidden;
  position: relative;
  z-index: 21;
}

.mention_condition {
  width: 30%;
}

.mention_condition a {
  font-size: 2em;
  font-weight: 500;
  color: #BAE7FF;
}

.contact_row {
  position: relative;
  top: 60%;
  left: 13.5%;
  color: white;
}

.contact {
  font-size: 2.4em;
  font-weight: 500;
  padding-bottom: 20px;
  border-bottom: 4px #D06F80 solid;
}

.contact_ligne {
  position: relative;
  top: 30px;
  left: 20px;
  font-size: 1.8em;
}

/*.localisation {*/
/*  position: relative;*/
/*  left: 1050px;*/
/*  bottom: 165px;*/
/*}*/

.localisation a {
  font-size: 2em;
  font-weight: 500;
  color: #BAE7FF;
  text-decoration: none;
}

.copyright_siret {
  color: white;
  font-size: 1.3em;
  position: relative;
  top: 300px;
}

/*! Large devices (desktops, 992px and up)*!*/
@media (min-width: 1500px) {
  .footer {
    background: url('../../../../assets/images/new_site/back_footer_lg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 680px;
    overflow: hidden;
    position: relative;
    z-index: 21;
  }

  .mention_condition a {
    font-size: 1.8em;
    position: relative;
    left: -15%;
  }

  .mention_condition {
    top: 250px;
    text-align: right;
    left: -80px;
  }

  .contact_row {
    top: 10px;
    left: 25%;
  }

  .contact {
    color: #95d0d4;
    font-size: 1.2em;
    padding-bottom: 20px;
  }

  .contact_ligne {
    font-size: 1.1em;
    line-height: 35px;
  }

  .localisation {
    position: relative;
    top: 240px;
    left: -20%;
  }

  .localisation a {
    font-size: 1.3em;
    color: #BAE7FF;
    font-weight: bold;
  }

  .copyright_siret {
    top: 20px;
    left: 1%;
    font-size: 0.9em;
  }
}

@media (min-width: 1200px) and (max-width: 1499px) {
  .footer {
    background: url('../../../../assets/images/new_site/back_footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 680px;
    overflow: hidden;
    position: relative;
    z-index: 21;
  }

  .mention_condition a {
    font-size: 1.4em;
    position: relative;
    left: -20px;
  }

  .mention_condition {
    top: 250px;
    text-align: right;
    left: -80px;
  }

  .contact_row {
    top: 100px;
    left: 40%;
  }

  .contact {
    color: #95d0d4;
    font-size: 1em;
    padding-bottom: 20px;
  }

  .contact_ligne {
    font-size: 1.1em;
    line-height: 35px;
  }

  .localisation {
    position: relative;
    top: 300px;
    left: -100px;
  }

  .localisation a {
    font-size: 1.3em;
    color: #BAE7FF;
    font-weight: bold;
  }

  .copyright_siret {
    top: 70px;
    left: 15%;
    font-size: 0.7em;
  }
}

/*!*Large devices (desktops, 992px and up)*!*/
@media (min-width: 795px) and (max-width: 1199.98px) {
  .footer {
    background: url('../../../../assets/images/new_site/back_footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 680px;
    overflow: hidden;
    position: relative;
    z-index: 21;
  }

  .mention_condition a {
    font-size: 1.4em;
    position: relative;
    left: -20px;
  }

  .mention_condition {
    top: 250px;
    text-align: right;
    left: -80px;
  }

  .contact_row {
    top: 100px;
    left: 20%;
  }

  .contact {
    color: #95d0d4;
    font-size: 1em;
    padding-bottom: 20px;
  }

  .contact_ligne {
    font-size: 1.1em;
    line-height: 35px;
  }

  .localisation {
    position: relative;
    top: 300px;
    left: -100px;
  }

  .localisation a {
    font-size: 1.3em;
    color: #BAE7FF;
    font-weight: bold;
  }

  .copyright_siret {
    top: 70px;
    left: 15%;
    font-size: 0.7em;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 794.99px) {
  .footer {
    background: url('../../../../assets/images/new_site/footer_xs.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 680px;
    overflow: hidden;
    position: relative;
    z-index: 21;
  }

  .mention_condition a {
    font-size: 1em;
    position: relative;
    left: -20px;
  }

  .mention_condition {
    top: 170px;
    text-align: right;
  }

  .contact_row {
    top: -5px;
    left: 35%;
  }

  .contact {
    color: #95d0d4;
    font-size: 1em;
    padding-bottom: 20px;
  }

  .contact_ligne {
    font-size: 0.9em;
  }

  .localisation {
    position: relative;
    top: 190px;
    left: -20px;
  }

  .localisation a {
    font-size: 0.9em;
    color: #BAE7FF;
    font-weight: bold;
  }

  .copyright_siret {
    top: 8px;
    left: 15%;
    font-size: 0.8em;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 390px) and (max-width: 576.99px) {
  .footer {
    background: url('../../../../assets/images/new_site/footer_xs.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 680px;
    overflow: hidden;
    position: relative;
    z-index: 21;
  }

  .mention_condition a {
    font-size: 1em;
    position: relative;
    left: -20px;
  }

  .mention_condition {
    top: 120px;
    text-align: right;
  }

  .contact_row {
    top: -5px;
    left: 35%;
  }

  .contact {
    color: #95d0d4;
    font-size: 1em;
    padding-bottom: 20px;
  }

  .contact_ligne {
    font-size: 0.9em;
  }

  .localisation {
    /*left: 150px;*/
    position: relative;
    top: 80px;
    left: -10px;
  }

  .localisation a {
    font-size: 0.9em;
    color: #BAE7FF;
    font-weight: bold;
  }

  .copyright_siret {
    top: 10px;
    font-size: 0.8em;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 390.98px) {
  .footer {
    background: url('../../../../assets/images/new_site/footer_xxs.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 680px;
    overflow: hidden;
    position: relative;
    z-index: 21;
  }

  .mention_condition a {
    font-size: 0.7em;
  }

  .mention_condition {
    top: 120px;
    text-align: center;
  }

  .contact_row {
    top: -5px;
    left: 20%;
  }

  .contact {
    color: #95d0d4;
    font-size: 1em;
    padding-bottom: 20px;
  }

  .contact_ligne {
    font-size: 0.7em;
  }

  .localisation {
    /*left: 150px;*/
    position: relative;
    top: 80px;
    left: -40px;
  }

  .localisation a {
    font-size: 0.8em;
    color: #BAE7FF;
    font-weight: bold;
  }

  .copyright_siret {
    top: 15px;
    font-size: 0.7em;
  }
}
