<div class="container-fuild animated fadeIn pl-4 pr-4">
    <div class="row">
        <div class="col-lg-12 text-right">
            <mat-form-field>
                <mat-label>Filtrer</mat-label>
                <mat-select multiple [(ngModel)]="elements">
                    <mat-option *ngFor="let item of displayedColumnsFilter" [value]="item" (click)="valutElements()">
                        {{item | uppercase }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row mb-2">
        <form (ngSubmit)="onSubmitFiltre()" [formGroup]="formFilter" class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item  of elements ">
                    <div *ngIf="item != 'mois' && item != 'date' && item != 'statut candidature'">
                        <mat-form-field class="erp-full-width">
                            <input matInput type="text" placeholder="{{item}}" formControlName="{{item}}" required>
                        </mat-form-field>
                    </div>

                    <div *ngIf="item == 'mois'">

                        <mat-form-field class="erp-full-width">
                            <mat-select placeholder="{{item}}" formControlName="{{item}}" required>
                                <mat-option value="{{m}}" *ngFor="let m  of allmois ">{{m}} </mat-option>

                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="item == 'date'">

                        <mat-form-field class="erp-full-width">
                            <mat-select placeholder="{{item}}" formControlName="{{item}}" required>
                                <mat-option value="asc"> Ascendant </mat-option>
                                <mat-option value="desc"> Descendant </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!--          <div *ngIf="item == 'statut candidature'">-->
                    <!--            <mat-form-field class="erp-full-width">-->
                    <!--              <mat-select placeholder="{{item}}" name="{{item}}" ngModel required>-->
                    <!--                <mat-option value="Validee">Validee </mat-option>-->
                    <!--                <mat-option value="En attente">En attente</mat-option>-->
                    <!--                <mat-option value="Non Retenue">Non Retenue</mat-option>-->
                    <!--                <mat-option value="Annulee CH">Annulee CH</mat-option>-->
                    <!--                <mat-option value="Annulee_C_AvantValidation">Annulee_C_AvantValidation</mat-option>-->
                    <!--                <mat-option value="Annulee_C_ApresValidation">Annulee_C_ApresValidation</mat-option>-->
                    <!--                <mat-option value="Annulee Med">Annulee Med</mat-option>-->

                    <!--              </mat-select>-->
                    <!--            </mat-form-field>-->
                    <!--          </div>-->


                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <button mat-raised-button color="vertfoncer" [disabled]="formFilter.invalid" *ngIf="elements.length > 0">Valider</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row ">
      <div class="col-12 text-center" *ngIf="loader">
        <img width="20" src="../../../../../../../assets/images/loader.gif" alt="loading">
      </div>
    </div>
    <div class="row" *ngIf="!loader">
        <div class="col-sm-4 col-xl-4 mg-t-20 mg-sm-t-0" *ngIf="roleService.isSuperAdmin(this.currentUser.roles)">
            <div class="bg-info rounded overflow-hidden p-3 mat-elevation-z2">
                <table>
                  <br>
                  <tr>
                        <td>
                            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">Prestation</p>
                        </td>
                        <td>
                            <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span class="text-vertfoncer">{{statsMissionMedecin.otherStats.prestation}} €</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">Tarif</p>
                        </td>
                        <td>
                            <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span class="text-vertfoncer">{{statsMissionMedecin.otherStats.tarif }} €</span></p>
                        </td>
                    </tr>
                  <br>
                </table>
            </div>
        </div>
        <!-- col-3 -->
        <div class="col-sm-4 col-xl-4 mg-t-20 mg-sm-t-0">
            <div class="bg-info rounded overflow-hidden p-3 mat-elevation-z2">
                <table>
                    <tr class="cursor-pointer" matTooltip="Contrats générés client / Contrats générés interim">
                        <td>
                            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">Contat(s)</p>
                        </td>
                        <td>
                            <p class="tx-14 tx-white tx-lato tx-bold mg-b-0 po"><span class="text-vertfoncer">{{statsMissionMedecin.otherStats.contrats}}</span></p>
                        </td>
                    </tr>
                    <tr class="cursor-pointer" matTooltip="Contrats client envoyés pour signature / Contrats interim envoyés pour signature">
                        <td>
                            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-white-8 mg-b-0">C.E.C / C.S.C</p>
                        </td>
                        <td>
                            <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span class="text-vertfoncer">{{statsMissionMedecin.otherStats.CEC}} / {{statsMissionMedecin.otherStats.CSC}}</span>
                            </p>
                        </td>
                    </tr>
                    <tr class="cursor-pointer" matTooltip="Contrats signés / contrats envoyés pour signature">
                        <td>
                            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-white-8 mg-b-0">C.E.I / C.S.I</p>
                        </td>
                        <td>
                            <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span class="text-vertfoncer">{{statsMissionMedecin.otherStats.CEI}} /  {{statsMissionMedecin.otherStats.CSI}}</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-1"><br></p>
                        </td>
                        <td>
                            <p class="tx-14 tx-white tx-lato tx-bold mg-b-1"><br></p>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        <!-- col-3 -->
        <div class="col-sm-4 col-xl-4 mg-t-20 mg-sm-t-0">
            <div class="bg-info rounded overflow-hidden p-3 mat-elevation-z2">
                <table>
                    <tr>
                        <td>
                            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">Intérimaire(s)</p>
                        </td>
                        <td>
                            <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span class="text-vertfoncer">{{statsMissionMedecin.interim}}</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">Client(s)</p>
                        </td>
                        <td>
                            <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span class="text-vertfoncer">{{statsMissionMedecin.client}}</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">Candidature(s)</p>
                        </td>
                        <td>
                            <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span class="text-vertfoncer">{{statsMissionMedecin.candidature}}</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0"><br></p>
                        </td>
                        <td>
                            <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><br></p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- col-3 -->
    </div>
    <div class="row mt-3" >
        <div *ngIf="!loader" class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-3">
            <div class="container-fluid p-0">
                <div class="row mb-3">
                    <div class="col-12 col-sm-6 col-md-12 pb-2" *ngIf="statsMissionMedecin">
                        <mat-card class="mat-elevation-z3 pointer" (click)="changeChartsGlobal(true)">
                            <fusioncharts [width]="itemschartCandidature.width" [height]="itemschartCandidature.height" [type]="itemschartCandidature.type" [dataSource]="itemschartCandidature.dataSource">
                            </fusioncharts>
                        </mat-card>
                    </div>
                    <div class="col-12 col-sm-6 col-md-12 pb-2" *ngIf="statsMissionMedecin">
                        <mat-card class="mat-elevation-z3 pointer" (click)="changeChartsGlobal(false)">
                            <fusioncharts [width]="itemschartContrat.width" [height]="itemschartContrat.height" [type]="itemschartContrat.type" [dataSource]="itemschartContrat.dataSource">
                            </fusioncharts>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!loader" class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 mb-3">
            <mat-card class="mat-elevation-z3" *ngIf="statsMissionMedecin">
                <mat-tab-group>
                    <mat-tab label="Statistiques">
                        <div>
                            <fusioncharts [width]="itemschartGlobal.width" [height]="itemschartGlobal.height" [type]="itemschartGlobal.type" [dataSource]="itemschartGlobal.dataSource"></fusioncharts>
                        </div>
                    </mat-tab>
                    <mat-tab label="Statistiques par période">
                        <fusioncharts [width]="itemschartPeriode.width" [height]="itemschartPeriode.height" [type]="itemschartPeriode.type" [dataSource]="itemschartPeriode.dataSource"></fusioncharts>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>
        <div class="col-12">
            <div class="card p-0">
                <!--Header-->
                <div class="card-body table-responsive">
                    <table mat-table matSort matSortStart="asc" [dataSource]="dataSource" *ngIf="dataSource && dataSource.data.length > 0" class="footable table table-hover table-striped ">
                        <!-- debut des colonnes des champs du tableau -->
                        <ng-container matColumnDef="numero">
                            <th mat-header-cell *matHeaderCellDef>N.</th>
                            <td mat-cell *matCellDef="let mission" class="pt-3">{{dataSource.filteredData.indexOf(mission) + 1 }}</td>
                        </ng-container>
                        <ng-container matColumnDef="interim">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>Interim</th>
                            <td mat-cell *matCellDef="let mission" class="font-weight-bold pt-3"><a [routerLink]="['/RMS-Admin/interim/'+mission.interim_id+'/show/']">{{ mission.nom}}
                  {{ mission.prenom}}</a></td>
                        </ng-container>

                        <ng-container matColumnDef="ref">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>Réference</th>
                            <td mat-cell *matCellDef="let mission" class="pt-3">{{ mission.ref}}</td>
                        </ng-container>
                        <ng-container matColumnDef="vacation">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>Vacation(s)</th>
                            <td mat-cell *matCellDef="let mission" class="pt-3">
                                <a (click)="listDateCandidature(mission.mission_medecin_id, mission.client_id, mission.interim_id, mission.ref, mission.specialite)"><span
                    class="pointer">{{mission.nbrVacation.total}} ({{mission.nbrVacation.valide}})</span></a>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="etablissement">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>Client</th>
                            <td mat-cell *matCellDef="let mission" class="font-weight-bold pt-3"><a [routerLink]="['/RMS-Admin/client/'+mission.client_id+'/show/']"> {{mission.etablissement}}
                </a></td>
                        </ng-container>

                        <!-- <ng-container matColumnDef="auteur">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Auteur</th>
              <td mat-cell *matCellDef="let mission" class="pt-3">{{ mission.auteurValidation}}</td>
            </ng-container> -->


                        <ng-container matColumnDef="rapel_securiter">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>R.Sécurité</th>
                            <td mat-cell *matCellDef="let mission" class="pt-3">
                                <mat-icon (click)="RappelSecuModal(mission.mission_medecin_id)" matBadge="{{mission.rappel}}" matBadgeColor="accent" color="primary" class="cursor-pointer">forward_10</mat-icon>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="auteur">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>Auteur</th>
                            <td mat-cell *matCellDef="let mission" class="pt-3">{{ mission.auteur }}</td>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>Enreg</th>
                            <td mat-cell *matCellDef="let mission" class="pt-3">{{ mission.dateEnreg | date:'medium'}}</td>

                        </ng-container>





                        <ng-container matColumnDef="action">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>Contrat</th>
                            <td mat-cell *matCellDef="let mission" class="pt-3 text-center">
                                <a class="pointer" (click)="modalContrat(mission.mission_medecin_id, mission.client_id, mission.interim_id, mission.ref, mission.specialite, mission.nom, mission.prenom, mission.etablissement)">
                                    <mat-icon color="primary">description</mat-icon>
                                </a>
                            </td>
                        </ng-container>
                        <!-- fin des colonnes des champs du tableau -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let interim; columns: displayedColumns;" (click)="selection.toggle(mission)">
                        </tr>

                    </table>
                    <div class="text-center" *ngIf="this.dataSource.data.length == 0">
                        <strong>Désolé, aucun résultat ne correspond à votre recherche.</strong>
                    </div>
                </div>
                <div class="card-footer">
                    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pagination($event)">
                    </mat-paginator>
                </div>
            </div>
        </div>

    </div>
</div>
