.mat-header-cell{
  font-size: 1em;
  font-weight: bold;
  color: black;
  border-bottom: #3a97a2 2px solid;
  padding-bottom: 5px;
}
.btn-primary{
  background: #3a97a2;
}
.bg-info{
  background-color: white !important;
  color: black;
  border: 1px solid #dee2e6 !important;
}
.tx-white-8 {
  color: rgba(0, 0, 0, 0.8);
}
.tx-white {
  color: rgba(0, 0, 0, 0.8);
}
.cursor-pointer{
  cursor: pointer;
}
td{
  width: 10px;
  font-size: 11px;
}
.table th, .table td {
  padding: 0.25rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}