<div class="modal-content" *ngIf="messageForm">
    <!-- Modal Header -->
    <div class="modal-header text-center" style="overflow-x: hidden">
        <h2 mat-dialog-title>{{ displayName }}</h2>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
        <div class="hr-line-dashed"></div>
        <form [formGroup]="messageForm" *ngIf="messageForm">
            <div class="hr-line-dashed"></div>

            <div class="row">
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-select placeholder="type prospection" formControlName="type">
                            <mat-option *ngFor="let type of list_type" [value]="type.designation" (blur)="typeChoisi()">
                                {{ type.designation | uppercase }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-4" *ngIf="client_prospect">
                    <mat-form-field>
                        <mat-select placeholder="Nom Recruteur" formControlName="recruteur" [compareWith]="compareWithFunc">
                            <mat-option *ngFor="let r of recruteurs" [value]="r">
                                {{ r.nom | uppercase }} {{ r.prenom | uppercase }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4" *ngIf="date_rapel">
                    <mat-form-field>
                        <input matInput [matDatepicker]="date_rapel" placeholder="Date Rapel" formControlName="date_rapel" />
                        <mat-datepicker-toggle matSuffix [for]="date_rapel"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #date_rapel></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- <textarea matInput placeholder="Environement Tech" formControlName="environemen_tech"></textarea> -->

                    <strong>Commentaire</strong>
                    <ckeditor skin="moono-lisa" language="fr" formControlName="commentaire"></ckeditor>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-6">
                <button mat-flat-button color="warn" mat-dialog-close>Annuler</button>&nbsp;&nbsp;
                <button mat-flat-button color="success" (click)="saveProspection()" cdkFocusInitial>
          Valider
        </button>
            </div>
        </div>
    </div>
</div>