<div data-aos="fade-right"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine">
  <div class="row ml-4 mr-4 p-2 bgHead">
    <div class="col-6">
      <h2>Foire aux questions </h2>
    </div>
    <div class="col-6 text-right">
      <img src="../../../../../../../assets/images/new_site/interrogation.png" class="pt-1" alt="interrogation" width="30" height="30">
    </div>
  </div>
  <mat-card class="ml-4 mr-4">
    <mat-card-content>
      <mat-accordion>
        <!--   vous avez candidater   -->
        <mat-expansion-panel class="mb-2">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Vous avez candidaté à une de nos offres de remplacement ?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="pl-4">
            Le réseau médical services vous adresse en premier un mail de demande de dossier .
          </p>
        </mat-expansion-panel>
        <!--   que doit contenir votre dossier   -->
        <mat-expansion-panel class="mb-2">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Que doit contenir votre dossier ?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="pl-4">
            <ul>
              <li><p>CV à jour</p></li>
              <li><p>Attestation d'inscription à l'ordre en cours</p></li>
              <li><p>Diplôme Doctorat (+ la traduction française si le diplôme est en langue étrangère)</p></li>
              <li><p>Diplôme de spécialisation (+ attestation de formation spécialisée ou autre attestation de
                reconnaissance de l'équivalence du diplôme en France, pour les diplômes obtenus à l'étranger)</p></li>
              <li><p>Autres diplômes et/ou attestations</p></li>
              <li><p>Carte d'identité valide (carte nationale d'identité, carte résident, ​titre de séjour)</p></li>
              <li><p>Carte Vitale</p></li>
              <li><p>Attestation Assurance Responsabilité Civile Professionnelle en cours</p></li>
              <li><p>Carte grise, si véhiculé</p></li>
              <li><p>Justificatif de domicile​ de moins de trois mois​</p></li>
              <li><p>RIB</p></li>
            </ul>
          </div>
        </mat-expansion-panel>
        <!--   Comment RMS gère votre candidature ?   -->
        <mat-expansion-panel class="mb-2">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Comment RMS gère votre candidature ?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="pl-4">
            <ul>
              <li><p> Votre candidature est proposée dans un délai court au centre hospitalier sous réserve de réception
                d’un dossier complet et à jour contenant les éléments cités plus haut.</p>
              </li>
              <li>
                <p>Nous vous envoyons ensuite un mail récapitulatif des différentes informations et conditions de notre
                  accord pour cette mission.</p>
              </li>
              <li>
                <p>Nous vous informerons de la suite accordée à votre candidature, quelle qu'elle soit, dans les meilleurs
                  délais.</p>
              </li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="mb-2">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Votre candidature est validée ?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="pl-4">
            <ul>
              <li><p>
                Une fois que votre candidature est validée, nous vous envoyons votre contrat de mission à signer et nous
                retourner avant le début de la mission et notre convention de remplacement pour la première collaboration.
              </p></li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="mb-2">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Comment nous gérons votre mission ?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="pl-4">
            <ul>
              <li>
                <p>
                  Après réception du contrat de mission, nous vous envoyons les informations concernant votre hébergement,
                  les repas et commodités en plus des informations utiles pour le service auquel vous serez affecté.
                </p>
              </li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="mb-2">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Avant la prestation: rappel de sécurité (en 8,9,10 jours)
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="pl-4">
            <ul>
              <li>
                <p>
                  Ce rappel permet de voir avec vous si tous les facteurs sont réunis pour que la mission se déroule dans
                  les meilleures conditions.
                </p>
              </li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="mb-2">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Pendant la mission
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="pl-4">
            <ul>
              <li>
                <p>
                  Vous pouvez nous contacter à tout moment via notre numéro d’astreinte 06 69 46 22 11 24h/24 pour nous
                  faire part de toute suggestion concernant votre mission.
                </p>
              </li>
              <li>
                <p style="color:#58D3F7">
                  RMS vous accompagne durant toute votre prestation. Notre équipe se charge de vous garantir écoute et
                  orientation sur toutes les questions pour votre confort.
                </p>
              </li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="mb-2">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Après la mission: retour d’expérience
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="pl-4">
            <ul class="no_puce">
              <li>
                A la fin de sa mission vous pouvez nous faire un compte rendu du déroulement de votre mission qui pourra
                nous permettre de mesurer tout dysfonctionnement selon les conditions définies préalablement (évaluation
                de l’organisation du service auquel vous étiez rattaché) :
                <ul>
                  <li>Accueil des intérimaires</li>
                  <li>Les potentielles difficultés pour s'adapter à l'organisation du service</li>
                  <li>La communication interne entre intérimaires et le personnel du service : Ambiance de travail entre
                    collègues
                  </li>
                  <li>Répartition de la charge de travail</li>
                </ul>
              </li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="mb-2">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Après la mission: retour d’expérience
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="pl-4">
            <ul class="no_puce">
              <li>
                A la fin de sa mission vous pouvez nous faire un compte rendu du déroulement de votre mission qui pourra
                nous permettre de mesurer tout dysfonctionnement selon les conditions définies préalablement (évaluation
                de l’organisation du service auquel vous étiez rattaché) :
                <ul>
                  <li>Accueil des intérimaires</li>
                  <li>Les potentielles difficultés pour s'adapter à l'organisation du service</li>
                  <li>La communication interne entre intérimaires et le personnel du service : Ambiance de travail entre
                    collègues
                  </li>
                  <li>Répartition de la charge de travail</li>
                </ul>
              </li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="mb-2">
          <mat-expansion-panel-header>
            <mat-panel-title>
              La Rémunération
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="pl-4">
            <p>
              La rémunération minimum de l’intérimaire (dit salaire de référence) est indiquée à RMS par
              l’entreprise utilisatrice.
              Basée sur le salaire d’embauche après essai au poste concerné, elle comprend obligatoirement le salaire
              de base et ses
              majorations successives ainsi que les primes, avantages et accessoires en usage dans l’entreprise
              utilisatrice.
            </p>
            <p>
              <strong>Indemnités de Fin de Mission (IFM):</strong> L’intérimaire doit recevoir une indemnité de fin de
              mission (IFM) de 10 % de la rémunération
              totale brute à la fin de son contrat.
            </p>
            <p>
              <strong>Indemnité de Congés Payés (ICP):</strong> L’indemnité de congés payés dont le taux a été fixé à 10 %
              s’applique sur la rémunération totale (IFM compris).

            </p>
            <p class="text-center"><strong>Délai de paiement</strong></p>
            <p>
              RMS Rémunère les médecins entre le 08 et le 12 du mois suivant celui de leurs prestations,
              Rembourse les frais de déplacement en même temps que la rémunération.
            </p>
            <p class="text-center"><strong>Acomptes</strong></p>
            <p>
              Les acomptes sont permises sur la base des vacations déjà réalisées, pour en bénéficier vous pouvez une
              demande par mail à l’adresse compta@reseaumedical.fr
            <ul>
              <li>
                Indemnités de déplacement et Hébergement <br/>
                En cas de déplacement, les montants d’indemnités de déplacement, de repas et de logement éventuels
                sont ceux appliqués dans la
                branche professionnelle ou l’entreprise utilisatrice dans laquelle les intérimaires sont détachés.
              </li>
              <li>
                Modalités de prise en charge<br/>
                La prise en charge des frais de transport par l’employeur est subordonnée à la présentation de
                justificatifs de dépenses.<br/>
                Pour être admis à la prise en charge, les justificatifs doivent permettre d’identifier le titulaire, la
                date et le lieu de dépense.
              </li>
            </ul>
            <p class="text-center"><strong>Bulletin de paie</strong></p>
            <p>
              RMS établit, à chaque fois, votre bulletin de paye et vous l’adresse par voie électronique ou par courrier,
            </p>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="mb-2">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Droit à La Formation?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="pl-4">
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="mb-2">
          <mat-expansion-panel-header>
            <mat-panel-title>
              La Retraite
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="pl-4">
            <p>
              Les intérimaires cotisent obligatoirement à une retraite de base et à une retraite complémentaire.
              Les cotisations sont versées à l’Urssaf pour la retraite de base et à Malakoff Médéric pour la
              retraite complémentaire.
              Les cotisations annuelles sont transformées en points de retraite. Pour chaque exercice, un relevé de
              points est établi par Malakoff Médéric.
              Il vous permettra de savoir le nombre de points que vous avez acquis au cours d’une année. N’oubliez
              pas de demander vos relevés et de les conserver. Ils pourront vous être utiles lors de la constitution
              de votre dossier de départ en retraite.

            </p>
            <p>
              Au moment de votre départ en retraite, vous bénéficierez ainsi du versement d’une pension de retraite.
              Comment ? <br/>
              En créant votre espace client en ligne sur le site de <a
              href="http://www.malakoffmederic.com/particuliers/index.jsp">Malakoff Médéric</a><br/>
              à partir duquel vous pourriez consulter le relevé de vos points retraite. Pour la création de votre
              compte les informations liées à votre état civil
              ainsi que votre numéro de sécurité social vous seront demandés
            </p>
            <p><strong>Quand demander sa retraite ?</strong></p>
            <p>
              Il est conseillé de faire sa demande de retraite quatre mois avant la date de départ souhaitée.
            </p>
            <p>
              Vous pouvez faire votre demande auprès d’un conseiller retraite, en téléphonant au 0 820 200 189
            </p>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="mb-2">
          <mat-expansion-panel-header>
            <mat-panel-title>
              La Protection Sociale
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="pl-4">
            <p>
              <strong>La Prévoyance (Portabilité des Droits):</strong> La Sécurité sociale est garantie à tous les
              salariés y compris lorsqu’ils sont privés d’emplois,
              malades, handicapés.
            </p>
            <p>
              En plus des indemnités de la Sécurité sociale, vous bénéficiez en tant qu’intérimaire, du régime de
              prévoyance des intérimaires géré par Réunica Prévoyance,
              institution du Groupe Réunica.
            </p>
            <p><strong>Garantie en cas de Chômage</strong></p>
            <p>
              Tout intérimaire qui quitte une mission d’au moins un mois et qui a droit à une allocation chômage,
              continue à bénéficier du régime de prévoyance des intérimaires
              pendant une durée maximum de neuf mois.
            </p>
            <p>Ce nouveau principe est désigné comme la « portabilité ».</p>
            <p>
              Pour bénéficier de la portabilité il faut remplir les conditions suivantes: <br/>
              les droits à couverture complémentaire aient été ouverts dans votre dernière entreprise de travail
              temporaire.<br/>
              vous perceviez l’assurance chômage.<br/>
              votre dernière mission ait duré au moins un mois.
            </p>
            <p>
              <strong>Comment bénéficier d’une indemnisation ?</strong><br/>
              Pour demander une indemnisation complémentaire en cas d’arrêt maladie, vous devez fournir à RÉUNICA
              Prévoyance :
              photocopie de l’arrêt de travail initial délivré par votre médecin<br/>
              le dernier contrat de mission et avenant(s) éventuel(s)<br/>
              la justification de votre prise en charge par le régime d’assurance chômage<br/>
              les décomptes des allocations chômage<br/>
              les décomptes d’indemnités journalières de la Sécurité sociale<br/>
              les justificatifs d’ancienneté (attestation Pôle emploi des heures travaillées ou à défaut les
              bulletins de salaires)<br/>
              un relevé d’identité bancaire ou postale.<br/>
            </p>
            <p>
              Adressez vos justificatifs à : Réunica Prévoyance 33 Quai Paul Doumer 92672 Courbevoie Cedex Tél. : 01
              41 05 25 25
            </p>
            <p><strong>Maladie - Accident du travail</strong></p>
            <p>
              Sous réserve de condition d’ancienneté dans l’ETT et dans le secteur du travail temporaire, les
              intérimaires perçoivent en cas de maladie ou d’accident
              de trajet (avec une carence de sept jours ; une indemnisation intervient donc à partir du huitième
              jour) ou accident du travail (sans délai de carence)
              une indemnité complémentaire qui s’ajoute aux indemnités versées par la Sécurité sociale.
            </p>
            <p><strong>Invalidité</strong></p>
            <p>
              Vous êtes dans l’incapacité permanente d’exercer toute activité professionnelle ou de continuer à
              assurer un travail identique pour des raisons de santé.
              Vous pouvez bénéficier d’une pension d’invalidité versée par la Sécurité sociale, ainsi que d’une
              rente complémentaire, versée par Réunica, sous réserve de remplir certaines conditions.
            </p>
            <p><strong>Décès</strong></p>
            <p>
              En cas de décès survenu pendant la mission, vos ayants-droit bénéficient du versement d’un
              capital-décès par Réunica, en plus de celui versé par la Sécurité sociale.
              Les enfants à charge d’un intérimaire décédé à la suite d’une maladie professionnelle ou d’un
              accident, bénéficient d’une rente éducation. N’oubliez pas d’informer
              vos proches de l’existence de ces droits.
            </p>
            <p><strong>Congé Maternité</strong></p>
            <p>
              Pendant un congé maternité ou d’adoption, la salariée intérimaire peut bénéficier d’une indemnité
              complémentaire à celle de la Sécurité sociale à condition de justifier,
              dans les vingt-quatre mois précédant la date prévue du congé, de 1 400 heures de travail effectuées
              dans le Travail Temporaire ou 590 heures au cours des douze derniers
              mois dans l’ETT où elle a effectué sa dernière mission. Pour percevoir cette indemnité, prenez contact
              avec Réunica.
            </p>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="mb-2">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Chômage: droit à l’indemnisation ?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="pl-4">

          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="mb-2">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Chômage: droit à l’indemnisation ?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="pl-4">
            <p>
              <strong>RMS</strong> délivre à l’intérimaire, à l’issue de sa mission, les attestations et
              justifications nécessaires pour faire valoir leurs droits aux
              prestations d’allocations chômage.
              Votre allocation est calculée à partir de vos anciens salaires soumis aux contributions de Pôle emploi
              (13 derniers mois).
            </p>
            <p>
              Attention, ne sont pas considérées comme salaires, les indemnités de congés payés et les indemnités de
              fin de mission.
            </p>
            <p>
              <strong>Durée d’indemnisation:</strong> la durée (calculée en jours) de votre activité salariée
              détermine la durée en jours de votre indemnisation.
              Votre âge détermine la durée maximale d’indemnisation
            </p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
