@import "https://fonts.googleapis.com/css?family=Open+Sans&display=swap";

.bloc{
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  overflow: auto;
}
.panel-heading{
  background-color: #3a97a2;
  color: white;
  border-bottom: #3a97a2;
}
.bgHead{
  background-image: linear-gradient(to right, #1CAF9A 0%, #17A2B8 100%);
  color: white;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #17A2B7;
}
.pl-4 {
  color: #17A2B7;
}


