<div class="contrainer-fluid overFlowHidden">
  <div class="row">
    <div class="col-lg-12 text-right">
      <mat-form-field>
        <input matInput placeholder="Filtrer">
      </mat-form-field>
    </div>
    <div  [class]="colgestionMissions " class="table-responsive">
      <table class="bg-white footable table table-hover table-striped listesOffres" mat-table [dataSource]="dataSourceMission" matSort>

        <ng-container matColumnDef="id">
          <th mat-header-cell class="text-center" *matHeaderCellDef mat-sort-header> N.</th>
          <td mat-cell class="font-11" *matCellDef="let row"> {{ dataSourceMission.filteredData.indexOf(row) + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="reference">
          <th mat-header-cell class="text-center" *matHeaderCellDef mat-sort-header>Réference</th>
          <td mat-cell  class="font-11" *matCellDef="let row">
            {{row.reference}}
          </td>
        </ng-container>

        <ng-container matColumnDef="hopital">
          <th mat-header-cell class="text-center" *matHeaderCellDef mat-sort-header>Hopital</th>
          <td mat-cell *matCellDef="let row" class="font-11 font-bold">
            <a routerLink="/RMS-Admin/client/{{row.idClient}}/show"
               *ngIf="roleService.isCommercial(currentUser.roles)"> {{row.hopital}} </a>
            <span *ngIf="roleService.isCandidatUnique(currentUser.roles)"> {{row.hopital}} </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="renumeration">
          <th mat-header-cell class="text-center" *matHeaderCellDef mat-sort-header >Salaire net</th>
          <td class="font-11" mat-cell *matCellDef="let row">
            <a [routerLink]="['/RMS-Admin/renumerations']"
               *ngIf="row.renumeration > 0 && roleService.isCommercial(currentUser.roles)"><strong>{{row.renumeration}}
              €</strong></a>
            <span><strong
              *ngIf="row.renumeration > 0 && !roleService.isCommercial(currentUser.roles)">{{row.renumeration}}
              €</strong></span>
            <span *ngIf="row.renumeration === 0 || row.renumeration === '' "> 0 €</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="candidatures">
          <th mat-header-cell class="text-center" *matHeaderCellDef mat-sort-header>Candidature (s)</th>
          <td class="font-11 text-center pointer" mat-cell *matCellDef="let row"  (click)="OnModalCandidatures(row)">
            <strong>
                      <span class="badge badge-primary" data-toggle="tooltip" title="{{row.candidatures.length}} candidatures au total et {{row.nbrCandidaturesValidees}} candidatures validées">
                        {{row.candidatures.length}} ({{row.nbrCandidaturesValidees}})
                      </span>
            </strong>
            <div class="progress" style="height: 14px">
              <div
                [ngClass]="{'progress-bar bg-warning': row.etatMission < 70, 'progress-bar bg-success-': row.etatMission >= 70 }"
                [ngStyle]="{'width': row.etatMission+'%'}" *ngIf="row.etatMission > 0">{{row.etatMission}} %
              </div>
              <div class="progress-bar bg-danger" style="width:100%" *ngIf="row.etatMission <= 0">0 %</div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Contrat (s)</th>
          <td mat-cell *matCellDef="let row" class="text-center font-11">
            <mat-icon class="mr-2 font-110 pointer text-vertfoncer" (click)="onDetailMM(row)">file_copy</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsMission"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsMission;"></tr>
      </table>
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    <div class="col-12 animated fadeIn d-none" id="detailMissionMed">
      <div class="panel panel-default panel-table" style="border-bottom: 2px solid #45B39D">
        <div class="panel-heading">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h3 class="panel-title " style="font-size: 1.3em; color: rgb(47, 64, 80)">{{detailMissionMed}}</h3>
              <button mat-mini-fab color="success" (click)="onFermeDetailMM()">
                <mat-icon>arrow_back</mat-icon>
              </button>

            </div>
          </div>
        </div>
        <div class="panel-body">
          <mat-tab-group>

            <mat-tab label="Liste des contrats">
              <div class="container-fluid mt-4 mb-4" *ngIf="dataSourceContrats.data.length > 0">
                <div class="row">
                  <div class="col-3 mb-3" *ngFor="let element of dataSourceContrats.data;let i = index">
                    <div class="card" style="width: 100%;" *ngIf="element.contratPld">
                      <div class="card-header p-1 font-bold" >
                        Nº: {{element.contratPld.idPld}}
<!--                        <a class="pointer mr-2 text-warning" matTooltip="Ouvrir le(s) RH" (click)="OnAfficheReleveHr({'idContratPld': element.contratPld.idPld,'interimExiste': true})" *ngIf="roleService.isCandidatUnique(this.currentUser.roles)">-->
<!--                          <i class="fas fa-clock"></i>-->
<!--                        </a>-->
                        <a class="pointer mr-2 text-info" matTooltip="Demander un accompte" (click)="OnDemandeAcompte(element)" *ngIf="roleService.isCandidatUnique(this.currentUser.roles)">
                          <i class="fa fa-money "></i>
                        </a>
                      </div>
                      <ul class="list-group list-group-flush p-1">
                        <li class="list-group-item p-1">
                          <a class="pointer mr-2" href="{{element.contratPld.url[1]}}" target="_blank">
                            <span class="font-12 mr-1">Mission temporaire</span> <i class="fa fa-eye"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>

          </mat-tab-group>

        </div>
      </div>

    </div>

  </div>
</div>
