.ion-ios-eye{
  font-size: 40px;
  color: #3a97a2;
  position: relative;
  top: -15px;
}

.mat-header-cell{
  font-size: 1em;
  font-weight: 900;
  color: black;
  border-bottom: #3a97a2 2px solid;
  padding-bottom: 5px;
}
th.mat-header-cell{
  padding-bottom: 14px;
}
td.mat-cell, td.mat-footer-cell {
  padding-top: 14px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
table{
  width: 100%;
}

