<div>



    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header text-center">
            <h2 mat-dialog-title> {{transaction_contrat.status.statut}}
                <strong>{{client?.companyName}}</strong>
            </h2>

        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div *ngIf="contratOption.length > 0" style="text-align: right">
                <mat-form-field class="example-user-input">
                    <mat-select placeholder="selectionnez une action" [(ngModel)]="action">
                        <mat-option *ngFor="let action of contratOption" [value]="action">
                            {{action}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-mini-fab color="primary" ria-label="Button pour valider l'action" (click)="actionbtn(action,transaction_contrat.id,transaction_contrat.transactionId)">
                    OK
                </button>


            </div>

            <div class="row">
                <div class="col-md-3">
                    <span>
                        Etat
                    </span>
                </div>
                <div class="col-md-3">
                    <span>
                        Modèle de contrat
                    </span>
                </div>


                <div class="col-md-2">
                    <span>
                        Date de début
                    </span>
                </div>
                <div class="col-md-2">
                    <span>
                        Dernière opération
                    </span>
                </div>

                <div class="col-md-2">
                    <span>
                        Contrat
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <span [ngStyle]="{'background-color': transaction_contrat.status.color, 'color':'#fff' }">
                        {{transaction_contrat.status.statut}}
                    </span>
                </div>
                <div class="col-md-3">
                    <span>
                        {{transaction_contrat.modele}}
                    </span>
                </div>


                <div class="col-md-2">
                    <span>
                        {{ transaction_contrat.date | date:'fullDate'}}
                    </span>
                </div>
                <div class="col-md-2">
                    <span *ngIf="transaction_contrat.closedDate != 0">
                        {{ transaction_contrat.closedDate | date :'dd-MM-yyyy'}}
                    </span>
                </div>
                <div class="col-md-2">
                    <button mat-mini-fab color="primary" (click)="getDocPdfSellAndSign()">
                        <mat-icon>picture_as_pdf</mat-icon>
                    </button>
                </div>
            </div>



            <mat-tab-group>


                <mat-tab label="SIGNATAIRE">
                    <table class="mat-elevation-z8" *ngIf="element">
                        <tr class="tr-header">
                            <th> Civitité </th>
                            <th> Nom & Prenom </th>
                            <th> E-Mail </th>
                            <th> Téléphone </th>
                            <th> Fonction </th>
                            <th> Adresse </th>
                            <th> Complement Adresse </th>
                            <th>Etat</th>
                        </tr>
                        <tr>
                            <td>
                                {{element?.civility}}
                            </td>
                            <td>
                                {{element?.lastname}} {{ element?.firstname }}
                            </td>
                            <td>
                                {{element?.email}}
                            </td>
                            <td>
                                {{element?.cell_phone}}
                            </td>
                            <td>
                                {{element?.jobTitle}}
                            </td>
                            <td>
                                {{element?.address_1}}
                            </td>
                            <td>
                                {{element?.address_2}}
                            </td>
                            <td>
                                {{etatContratSignature}}
                            </td>

                        </tr>


                    </table>

                </mat-tab>
                <mat-tab label="CLIENT">
                    <div style="overflow: auto">
                        <div class="row">
                            <div class="col-md-4">
                                <h4 mat-line>Adresse</h4>
                                <p mat-line>{{client?.address1}}</p>
                            </div>

                            <div class="col-md-4">
                                <h4 mat-line>Complément d'adresse</h4>
                                <p mat-line>{{client?.address2}}</p>
                            </div>

                            <div class="col-md-4">
                                <h4 mat-line> Code postal</h4>
                                <p mat-line>{{client?.postalCode}}</p>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h4 mat-line>Ville</h4>
                                <p mat-line>{{client?.city}}</p>
                            </div>

                            <div class="col-md-4">
                                <h4 mat-line>Téléphone</h4>
                                <p mat-line>{{client?.phone}}</p>
                            </div>

                            <div class="col-md-4">
                                <h4 mat-line>Email</h4>
                                <p mat-line>{{client?.email}}</p>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h4 mat-line>Société</h4>
                                <p mat-line>{{client?.companyName}}</p>
                            </div>

                            <div class="col-md-4">
                                <h4 mat-line>Pays</h4>
                                <p mat-line>{{client?.country}}</p>
                            </div>

                            <div class="col-md-4">
                                <h4 mat-line>Tél.Mob</h4>
                                <p mat-line>{{client?.cellPhone}}</p>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-4">
                                <h4 mat-line>Fonction</h4>
                                <p mat-line>{{client?.jobTitle}}</p>
                            </div>

                            <div class="col-md-4">
                                <h4 mat-line>Nom complet</h4>
                                <p mat-line>{{client?.firstname}} {{client?.lastname}}</p>
                            </div>

                            <div class="col-md-4">
                                <h4 mat-line>Numero client</h4>
                                <p mat-line>{{client?.number}}</p>
                            </div>


                        </div>


                    </div>


                </mat-tab>


            </mat-tab-group>

        </div>
    </div>



</div>