table {
  width: 100%;
}
th {
  font-size: 1.25em;
  color: #ffffff;
}
.tr-header {
  height: 5px;
  background: #3a97a2;
}
.btn-primary{
  background: #3a97a2;
}
.modal-header{
  background: #3a97a2;
  color: #ffffff;




}
.row-contrat-info {
  height: 5px;
  background: #3a97a2;

}

