<mat-card class="m-2">
  <mat-card-title>
    <div class="col-12 col-md-12 col-sm-12 col-lg-12 text-right mb-2">
      <button (click)="showQualifs('', !specialiteService.detail)" *ngIf="specialiteService.detail" class="mr-3"
        color="primary" mat-button>
        <mat-icon>reply_all</mat-icon>
        Retour
      </button>
      <button (click)="onAddSpecialite()" color="success" mat-mini-fab type="button">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </mat-card-title>

  <mat-card-content>
    <div *ngIf="!specialiteService.detail" class="animated fadeIn">
      <table *ngIf="dataSource" [dataSource]="dataSource" mat-table matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> N.</th>
          <td *matCellDef="let row" mat-cell> {{ dataSource.filteredData.indexOf(row) + 1 }} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="specialite">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Spécialité</th>
          <td *matCellDef="let row" mat-cell> {{row.nom_specialite}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="action">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Action</th>
          <td *matCellDef="let row" mat-cell>
            <mat-icon (click)="showQualifs(row, !specialiteService.detail)" class="text-success"
              style="cursor: pointer;">
              visibility
            </mat-icon> &nbsp;
            <mat-icon (click)="editSpecialite(row)" class="text-warning" style="cursor: pointer;">edit
            </mat-icon>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row>
        </tr>
      </table>
    </div>
    <div *ngIf="specialiteService.detail" class="animated fadeIn">
      <table *ngIf="dataSourceQualif" [dataSource]="dataSourceQualif" mat-table matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> N.</th>
          <td *matCellDef="let row" mat-cell> {{ dataSourceQualif.filteredData.indexOf(row) + 1 }} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="qualification">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Qualification</th>
          <td *matCellDef="let row" mat-cell> {{row.qualification}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="action">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Action</th>
          <td *matCellDef="let row" mat-cell>
            <mat-icon (click)="deleteQualifInterim(row)" class="text-danger" style="cursor: pointer">delete
            </mat-icon>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumnsQualifs" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumnsQualifs;" mat-row>
        </tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div *ngIf="!specialiteService.detail">
      <mat-paginator [length]=lenght [pageSizeOptions]="[11, 25, 100]" [pageSize]="10">
      </mat-paginator>
    </div>
    <div *ngIf="specialiteService.detail">
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-card-footer>
</mat-card>