<div class="modal-content" style="padding: 0;margin: 0">
    <!-- Modal Header -->
    <div class="modal-header text-center">
        <div *ngIf="interim">
            <h3>
                Mise à jour de l'interimaire: {{ interim.user.prenom }} {{ interim.user.nom }}
            </h3>
        </div>
        <div *ngIf="!interim">
            <h3>Ajouter un nouveau interimaire</h3>
        </div>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
        <div *ngIf="!edit" class="col-12 mb-3" style="text-align: right;">
            <mat-checkbox *ngIf="actif_champ" class="example-margin" [(ngModel)]="mail">Envoyer e-mail de creation de compte
            </mat-checkbox>
        </div>
        <form *ngIf="interimForm" [formGroup]="interimForm">
            <div class="row">
                <div class="col-12 mb-3">
                    <button mat-stroked-button color="primary" class="mr-2" [disabled]="interimForm.invalid" (click)="saveInterim()">Enregistrer</button>
                    <mat-checkbox class="ml-2 example-margin" (click)="addIdPldContrat()" *ngIf="edit && !idInterimPld">Lier a un interimaire existant sur PLD</mat-checkbox>
                    <hr>
                    <br>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-12" [formGroup]="interimForm.get('user')">
                            <fieldset>
                                <legend>Informations de base</legend>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-5">
                                            <mat-form-field class="erp-full-width">
                                                <mat-select placeholder="Civilite" formControlName="civilite">
                                                    <mat-option value="Monsieur">Mr</mat-option>
                                                    <mat-option value="Madame">Mme</mat-option>
                                                </mat-select>
                                                <mat-hint align="end" class="text-info"> Pld</mat-hint>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-7">
                                            <mat-form-field class="erp-full-width">
                                                <input matInput type="text" placeholder="Nom Utilisateur" formControlName="username" />
                                            </mat-form-field>
                                        </div>
                                        <div class="col-5">
                                            <mat-form-field class="erp-full-width">
                                                <input matInput type="text" placeholder="Nom" formControlName="nom" />
                                                <mat-hint align="end" class="text-info"> Pld</mat-hint>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-7">
                                            <mat-form-field class="erp-full-width">
                                                <input matInput type="text" placeholder="Prénom" formControlName="prenom" />
                                                <mat-hint align="end" class="text-info"> Pld</mat-hint>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-5">
                                            <mat-form-field class="erp-full-width">
                                                <input matInput type="text" placeholder="Téléphone" formControlName="telephone" />
                                                <mat-hint align="end" class="text-info"> Pld</mat-hint>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-7">
                                            <mat-form-field class="erp-full-width">
                                                <input matInput type="E-mail" placeholder="E-mail" formControlName="email" />
                                                <mat-hint align="end" class="text-info"> Pld</mat-hint>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field class="erp-full-width">
                                                <input matInput type="text" placeholder="Numero securité" formControlName="numSecu" />
                                                <mat-hint align="end" class="text-info"> Pld</mat-hint>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                       

                                            <mat-form-field class="erp-full-width">
                                                <mat-select placeholder="Situation Matrimoniale" formControlName="situationFamiliale" [compareWith]="compareWith">
                                                    <mat-option value=1> Célibataire</mat-option>
                                                    <mat-option value=2>Marié</mat-option>
                                                    <mat-option value=3>Veuf</mat-option>
                                                    <mat-option value=4>Divorcé </mat-option>
                                                    <mat-option value=5>Concubinage</mat-option>
                                                    <mat-option value=6>Pacs</mat-option>
                                                    <mat-option value=7>Séparé</mat-option>
                                                
                                                </mat-select>
                                                <mat-hint align="end" class="text-info"> Pld</mat-hint>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-6">
                                            <mat-form-field class="erp-full-width">
                                                <input matInput type="number" placeholder="Nombre d'enfants" formControlName="nbEnfants" />
                                                <mat-hint align="end" class="text-info"> Pld</mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-12 mt-4">
                            <fieldset>
                                <legend>Informations supplémentaires</legend>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-4">
                                            <mat-form-field class="erp-full-width">
                                                <mat-select placeholder="Statut" formControlName="statut">
                                                    <mat-option value="Assistant hospitalier & Assistant hospitalier associé">
                                                        Assistant hospitalier & Assistant hospitalier associé
                                                    </mat-option>
                                                    <mat-option value="Praticien adjoint contractuel">Praticien adjoint contractuel
                                                    </mat-option>
                                                    <mat-option value="Praticien attaché et attaché associé - PATT">
                                                        Praticien attaché et attaché associé - PATT
                                                    </mat-option>
                                                    <mat-option value="Praticien hospitalier contractuel">Praticien hospitalier contractuel
                                                    </mat-option>
                                                    <mat-option value="Praticien hospitalier temps partiel">Praticien hospitalier temps partiel
                                                    </mat-option>
                                                    <mat-option value="Liberal">Liberal</mat-option>
                                                    <mat-option value="Remplaçant">Remplaçant</mat-option>
                                                    <mat-option value="Interne">Interne</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-5">
                                            <mat-form-field class="erp-full-width">
                                                <input matInput type="text" placeholder="RPPS" formControlName="numRPPS" />
                                            </mat-form-field>
                                        </div>
                                        <div class="col-3">
                                            <mat-form-field class="erp-full-width">
                                                <input matInput type="text" placeholder="IK" formControlName="coefIK" />
                                            </mat-form-field>
                                        </div>
                                        <div class="col-4">
                                            <mat-checkbox class="erp-full-width" formControlName="cible" labelPosition="after" (change)="cibleAction()">
                                                Cible
                                            </mat-checkbox>
                                        </div>
                                        <div class="col-4" *ngIf="actif_champ">
                                            <mat-checkbox class="erp-full-width" formControlName="actif" labelPosition="after">Actif
                                            </mat-checkbox>
                                        </div>
                                        <div class="col-4">
                                            <mat-checkbox class="erp-full-width" formControlName="inscription" labelPosition="after">Inscrit
                                            </mat-checkbox>
                                        </div>

                                        <div class="col-6">
                                            <mat-form-field class="erp-full-width">
                                                <mat-select placeholder="Reglement accompte" formControlName="idReglementAcompte">
                                                    <mat-option [value]="1"> Virement</mat-option>
                                                </mat-select>
                                                <mat-hint align="end" class="text-info"> Pld</mat-hint>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field class="erp-full-width">
                                                <mat-select placeholder="Reglement paie" formControlName="idReglement">
                                                    <mat-option [value]="1"> Virement</mat-option>
                                                </mat-select>
                                                <mat-hint align="end" class="text-info"> Pld</mat-hint>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field class="erp-full-width">
                                                <mat-select placeholder="Pcs" formControlName="pcs">
                                                    <mat-option value="344a"> 344a</mat-option>
                                                </mat-select>
                                                <mat-hint align="end" class="text-info"> Pld</mat-hint>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field class="erp-full-width">
                                                <mat-select placeholder="Moyen locomotion" formControlName="idMoyenLocomotion">
                                                    <mat-option [value]="1"> Voiture ou moto</mat-option>
                                                </mat-select>
                                                <mat-hint align="end" class="text-info"> Pld</mat-hint>
                                            </mat-form-field>
                                        </div>

                                     

                                        <div class="col-6">
                                            <mat-form-field class="erp-full-width">
                                                <textarea matInput placeholder="Preference de contact" formControlName="preferenceContact"></textarea>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field class="erp-full-width">
                                                <textarea matInput placeholder="Rayon d'intervention" formControlName="rayonIntervention"></textarea>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field class="erp-full-width">
                                                <textarea matInput placeholder="Preference de deplacement" formControlName="preferenceDeplacement"></textarea>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field class="erp-full-width">
                                                <mat-select [compareWith]="compareWithFunc_Remarque" formControlName="remarque" placeholder="Remarque">
                                                    <mat-option *ngFor="let remarque of remarques" [value]="remarque.designation">
                                                        {{remarque.designation}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-6">
                                            <mat-form-field class="erp-full-width">
                                                <mat-select [compareWith]="compareWithFunc" formControlName="source" placeholder="Source Interim">

                                                    <mat-option *ngFor="let source of sources_interim" [value]="source">
                                                        {{source.raisonSocial}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-6">
                                            <mat-form-field class="erp-full-width">
                                                <mat-select [compareWith]="compareWithFuncHoraire" formControlName="horaire_joignabilite" placeholder="horaire joignabilité" multiple>

                                                    <mat-option *ngFor="let item of joignabilites" [value]="item.name">
                                                        {{item.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-12">
                                            <mat-form-field class="erp-full-width">
                                                <textarea rows="5" matInput placeholder="Autre remarques" formControlName="autre_remarques"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row" [formGroup]="interimForm.get('user')">
                        <div class="col-12">
                            <fieldset>
                                <legend>Domicile</legend>
                                <div class="row">
                                    <div class="col-8">
                                        <mat-form-field class="erp-full-width">
                                            <input type="text" placeholder="Commune " aria-label="Text" matInput [matAutocomplete]="auto" (keyup)="onCommune($event.target.value)" formControlName="ville" (blur)="onblurCommune()" />
                                            <mat-autocomplete #auto>
                                                <mat-option *ngFor="let commune of filteredCommune | async" [value]="commune.properties.label">
                                                    {{ commune.properties.postcode }} - {{ commune.properties.label }}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-4">
                                        <mat-form-field class="erp-full-width">
                                            <input matInput type="text" placeholder="code postal" formControlName="cp" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12">
                                        <mat-form-field class="erp-full-width">
                                            <input matInput type="text" placeholder="Adresse" formControlName="adresse" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12">
                                        <mat-form-field class="erp-full-width">
                                            <input matInput type="text" placeholder="complement Adresse" formControlName="complement_adresse" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-12 mt-4">
                            <fieldset>
                                <legend>Naissance</legend>
                                <div class="row">
                                    <div class="col-5">
                                        <mat-form-field class="erp-full-width">
                                            <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="dateNaissance" />
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>

                                        <!--          <mat-form-field class="example-full-width">-->
                                        <!--            <input matInput [matDatepicker]="picker" placeholder="Date de Naissance"  formControlName="dateNaissance">-->
                                        <!--            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
                                        <!--            <mat-datepicker touchUi #picker></mat-datepicker>-->
                                        <!--            <mat-hint  align = "end" class="text-info"> Pld</mat-hint>-->
                                        <!--          </mat-form-field>-->
                                    </div>
                                    <div class="col-7">
                                        <mat-form-field class="erp-full-width">
                                            <input matInput type="text" placeholder="Lieu" formControlName="lieuNaissance" />
                                            <mat-hint align="end" class="text-info"> Pld</mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6">

                                        <mat-form-field class="erp-full-width">
                                            <input type="text" placeholder="Nationalité " aria-label="Text" matInput [matAutocomplete]="nationalite" (keyup)="onNationalite($event.target.value)" formControlName="nationalite" (blur)="onblurCountrie()" />
                                            <mat-autocomplete #nationalite>
                                                <mat-option *ngFor="let countrie of filterCountrieNatianalite | async" [value]="countrie.demonyms.fra.f">
                                                    {{countrie.demonyms.fra.f}}
                                                </mat-option>
                                            </mat-autocomplete>
                                            <mat-hint align="end" class="text-info"> Pld</mat-hint>
                                        </mat-form-field>

                                        
                                    </div>
                                  
                                    <div class="col-6">
                                        <mat-form-field class="erp-full-width">
                                            <input matInput type="text" placeholder="Nom naissance" formControlName="nomNaissance" />
                                            <mat-hint align="end" class="text-info"> Pld</mat-hint>
                                        </mat-form-field>


                                    </div>

                                 

                                    <div class="col-6">

                                        <mat-form-field class="erp-full-width">
                                            <input type="text" placeholder="Pays Naissance " aria-label="Text" matInput [matAutocomplete]="paysNaissance" (keyup)="onPays($event.target.value)" formControlName="paysNaissance" (blur)="onblurCountrie()" />
                                            <mat-autocomplete #paysNaissance>
                                                <mat-option *ngFor="let countrie of filterCountriesPays | async" [value]="countrie.translations.fra.common">
                                                    {{countrie.translations.fra.common }}
                                                </mat-option>
                                            </mat-autocomplete>
                                            <mat-hint align="end" class="text-info"> Pld</mat-hint>
                                        </mat-form-field>
                                      
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                      <div class="col-12 mt-4" *ngIf="!edit">
                            <fieldset>
                                <legend>Spécialité (s)</legend>
                                <mat-form-field class="erp-full-width">
                                    <mat-select (selectionChange)="onChoiseSpecialite($event)" placeholder="Spécialité">
                                        <mat-option value=""> Sélectionner</mat-option>
                                        <mat-option value="{{item.id}}" *ngFor="let item of specialites;let i = index" label="{{item.specialite}}">
                                            {{item.nomspecialite}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="qualifications.length > 0" class="form-group row ml-2">
                                    <div *ngFor="let item of qualifications" class="col-5 control-label" for="selectbasic" style="background-color: #E0E0E0;margin: 10px; padding: 8px">
                                        <span>
                                            <input (blur)="onChoiseQualification()" [(checklist)]="choixCheckBox"
                                                [checklistValue]="item.id" class="increase" type="checkbox" />
                                        </span> &nbsp;&nbsp;&nbsp;
                                        <span style="margin-left: 2px;">{{ item.qualification|uppercase}}</span> <br>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </div>
                  <div class="row">
                    <div class="col-12 mt-4">
                      <fieldset>
                        <legend>Informations supplémentaires PLD</legend>
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-6">
                              <mat-form-field class="erp-full-width">
                                <input matInput type="text" placeholder="code bic banque" formControlName="banqueBIC" />
                              </mat-form-field>
                            </div>
                            <div class="col-6">
                              <mat-form-field class="erp-full-width">
                                <input matInput type="text" placeholder="code IBAN banque" formControlName="banqueIBAN" />
                              </mat-form-field>
                            </div>
                            <div class="col-12">
                              <mat-form-field class="erp-full-width">
                                <input matInput type="text" placeholder="Banque Domiciliation" formControlName="banqueIBANPaie" />
                              </mat-form-field>
                            </div>
                            <div class="col-6">
                              <mat-form-field class="erp-full-width">
                                <input matInput type="text" placeholder="Banque IBAN Paie" />
                              </mat-form-field>
                            </div>
                            <div class="col-6">
                              <mat-form-field class="erp-full-width">
                                <input matInput type="text" placeholder="Banque BIC Paie" formControlName="banqueBICPaie" />
                              </mat-form-field>
                            </div>
                            <div class="col-6">
                              <mat-form-field class="erp-full-width">
                                <mat-select placeholder="Bulletin par Mail" formControlName="estBulletinMail">
                                  <mat-option value="O">
                                    Oui
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-6">
                              <mat-form-field class="erp-full-width">
                                <mat-select placeholder="Categorie paie" formControlName="idCategoriePaie">
                                  <mat-option value="2">
                                    Cadre
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
            </div>
            <div *ngIf="loader">
                <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
                </mat-progress-spinner>
            </div>
        </form>
    </div>
</div>
