<div class="mr-4 ml-4">
  <div class="card table-responsive borderTopCard animated fadeIn">
    <div class="card-header p-0 m-0">
      <div class="row">
        <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 pt-4">
          <h5 class="panel-title font-weight-bold ml-4"><span style="color: rgb(47, 64, 80)"><span
            class="glyphicon glyphicon-list"></span> LISTE DES FICHES DE SPECIALITES</span></h5>
        </div>
        <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">
          <div class="mr-4 pt-3">
            <mat-form-field>
              <mat-label>Filtrer</mat-label>
              <mat-select [(ngModel)]="elements" multiple>
                <mat-option (click)="valutElements()" *ngFor="let item of displayedColumnsFilter"
                            [value]="item.name">
                  {{item.label | uppercase }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <button *ngIf="!editView" (click)="add()" class="col-2 btn btn-primary btn-xs">Ajouter</button> -->
            &nbsp;&nbsp;

            <button (click)="editFicheSpecilaiteModal()" color="success" mat-mini-fab>
              <mat-icon>add_circle</mat-icon>
            </button>

          </div>
        </div>
      </div>
      <form (ngSubmit)="onSubmitFiltre()" [formGroup]="formFilter" class="example-form container center_div">
        <div class="row">
          <div *ngFor="let item  of elements " class="col-12 col-sm-6 col-md-4 col-lg-3 form-group">
            <div *ngIf="item != 'etablissement' && item != 'specialite'">

              <mat-form-field class="erp-full-width">
                <input class="form-control" formControlName="{{item}}" id="{{item}}" matInput placeholder="{{item}}"
                       required type="number">
              </mat-form-field>
            </div>


            <div *ngIf="item == 'etablissement' || item == 'specialite'">
              <mat-form-field class="erp-full-width">
                <input class="form-control" formControlName="{{item}}" id="{{item}}" matInput placeholder="{{item}}"
                       required type="text">
              </mat-form-field>
            </div>

          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-4">
            <button *ngIf="elements.length > 0" [disabled]="formFilter.invalid" class="btn btn-primary btn-sm"
                    type="submit">
              Valider
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="card-body">
      <table #table [dataSource]="dataSource" class="bg-white footable table table-hover table-striped" mat-table matSort
             matSortStart="asc">
        <!-- colonne de checkboc   -->
        <ng-container matColumnDef="number">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>#</th>
          <td *matCellDef="let fs" class="pt-3 sizeText" mat-cell>{{ dataSource.filteredData.indexOf(fs) + 1 }}</td>

        </ng-container>

        <ng-container matColumnDef="Nom Etablissement">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Etablissement</th>
          <td *matCellDef="let fs" class="pt-3 sizeText font-weight-bold" mat-cell>
            <a
              routerLink="/RMS-Admin/client/{{fs.client_id}}/show">

              {{ fs.nom_etablissement | uppercase}}
            </a>
          </td>
        </ng-container>


        <ng-container matColumnDef="Specialite">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Specialite</th>

          <td *matCellDef="let fs" class="pt-3 sizeText" mat-cell>

            <button [matMenuTriggerFor]="menu" mat-button>{{fs.specialite}}</button>
            <mat-menu #menu="matMenu">
              <!-- <button mat-menu-item  *ngFor="let qualif of fs.qualifications">{{qualif}}</button> -->
            </mat-menu>

          </td>
        </ng-container>

        <ng-container matColumnDef="Nombre Lit">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>nbr.Lits</th>
          <td *matCellDef="let fs" class="pt-3 sizeText " mat-cell>{{ fs.nombre_lit }}</td>
        </ng-container>

        <ng-container matColumnDef="Medecin Jour">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Med/Jour</th>
          <td *matCellDef="let fs" class="pt-3 sizeText" mat-cell>{{ fs.nombre_medecin_jour }}</td>
        </ng-container>
        <ng-container matColumnDef="Medecin Nuit">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Med/Nuit</th>
          <td *matCellDef="let fs" class="pt-3 sizeText" mat-cell>{{ fs.nombre_medecin_nuit }}</td>
        </ng-container>

        <ng-container matColumnDef="Passage Annee">
          <th *matHeaderCellDef class="sizeText1" mat-header-cell mat-sort-header>Passage Annee</th>
          <td *matCellDef="let fs" class="pt-3 sizeText" mat-cell>{{ fs.nombre_passage_an }}</td>
        </ng-container>

        <ng-container matColumnDef="Coeficient Saison">
          <th *matHeaderCellDef class="sizeText1" mat-header-cell mat-sort-header>Coef Saison</th>
          <td *matCellDef="let fs" class="pt-3 sizeText" mat-cell>{{ fs.coef_saison }}</td>
        </ng-container>

        <ng-container matColumnDef="Coeficient Tarification">
          <th *matHeaderCellDef class="sizeText1" mat-header-cell mat-sort-header>Coef Tarification</th>
          <td *matCellDef="let fs" class="pt-3 sizeText" mat-cell>{{ fs.coef_tarification }}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="Show">
          <th mat-header-cell *matHeaderCellDef>Show</th>
          <td mat-cell *matCellDef="let fs">
            <a routerLink="/RMS-Admin/fiche-specialite/{{fs.id}}/show/">
              <mat-icon>visibility</mat-icon>
            </a>
          </td>
        </ng-container> -->
        <ng-container matColumnDef="Edit">
          <th *matHeaderCellDef mat-header-cell>Edit</th>
          <td *matCellDef="let fs" class="pt-2" mat-cell>
            <button (click)="editFicheSpecilaiteModal({id:null},true,fs.id)" mat-mini-fab="accent">
              <mat-icon>create</mat-icon>
            </button>
          </td>
        </ng-container>
        <!-- fin des colonnes des champs du tableau -->
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr (click)="selection.toggle(client)" *matRowDef="let client; columns: displayedColumns;" mat-row></tr>
      </table>
      <div *ngIf="this.dataSource.filteredData.length == 0" class="text-center">
        <strong>Désolé, aucun résultat ne correspond à votre recherche.</strong>
      </div>
    </div>
    <div class="card-footer">
      <mat-paginator (page)="pagination($event)" [length]="length" [pageSizeOptions]="pageSizeOptions"
                     [pageSize]="pageSize">
      </mat-paginator>
    </div>
  </div>
</div>
