<div *ngIf="gestionnaireInterne" class="card table-responsive animated slideInLeft" style="overflow: hidden">


    <mat-tab-group>
        <mat-tab label="General">
            <div class="card-header m-0 p-0" style="border-bottom: #3a97a2 2px solid;overflow: hidden">
                <div class="row">
                    <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12 ">
                        <div class="text-center color-border-left color-border-right color-border-bottom"
                            style="color: rgb(9, 39, 70);padding: 11px;">
                            <div class="bgvertfoncer pb-2">
                                <span class="glyphicon glyphicon-home" style="color: #3a97a2"></span>&nbsp;&nbsp;
                                <h4>

                                    <span class="font-weight-bold text-white" style="margin-left: 15px;">
                                        &nbsp;&nbsp;<mat-icon
                                            style="background-image: linear-gradient(to right, #1CAF9A 0%, #17A2B8 100%);color: white">
                                            person</mat-icon> &nbsp;
                                        {{gestionnaireInterne.nom | uppercase }}
                                        {{gestionnaireInterne.prenom | uppercase}} &nbsp;&nbsp;
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="row">
                <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 ">

                </div>
                <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">

                    <mat-form-field>
                        <mat-label>Filtrer</mat-label>
                        <mat-select [(ngModel)]="elements" multiple>
                            <mat-option (click)="valutElements()" *ngFor="let item of displayedColumnsFilter"
                                [value]="item.name">
                                {{item.label  | uppercase}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                </div>
            </div>
            <form #fstat="ngForm" (ngSubmit)="onSubmitFiltre()" class="example-form container center_div">
                <div *ngFor="let item  of elements " class="form-group">

                    <div class="col-4 " *ngIf="item == 'specialite'">


                        <mat-form-field>
                            <mat-select id="{{item}}" name="{{item}}" ngModel required>
                                <mat-option *ngFor="let item of listSpecialites" [value]="item.nomspecialite">
                                    {{item.nomspecialite}}
                                </mat-option>

                            </mat-select>

                        </mat-form-field>

                    </div>

                    <div class="col-4 " *ngIf="item == 'annee'">

                        <mat-form-field>
                            <mat-select id="{{item}}" name="{{item}}" ngModel required>
                                <mat-option *ngFor="let item of annees" [value]="item.annee">
                                    {{item.annee}}
                                </mat-option>

                            </mat-select>

                        </mat-form-field>

                    </div>


                </div>
                <button *ngIf="elements.length > 0" [disabled]="fstat.invalid" class="btn btn-primary"
                    type="submit">Valider
                </button>

            </form>

            <section class="section">
                <mat-radio-group [(ngModel)]="labelPosition" (change)="newStat()">
                    <mat-radio-button class="section-margin" checked value="p">P</mat-radio-button>
                    <mat-radio-button class="section-margin" value="c">C</mat-radio-button>
                    <mat-radio-button class="section-margin" value="t">T</mat-radio-button>
                </mat-radio-group>
            </section>

            <div *ngIf="roleCommercial()">

                <div class="row container-fluid" *ngIf="client">

                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-info rounded overflow-hidden p-3">
                            <table>
                                <tr>
                                    <td>
                                        <p
                                            class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">
                                            Prospection
                                        </p>
                                    </td>
                                    <td>
                                        <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span
                                                class="text-vertfoncer">{{ client.prospection}}</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p
                                            class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">
                                            Candidature
                                        </p>
                                    </td>
                                    <td>
                                        <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span
                                                class="text-vertfoncer">{{client.candidature}}</span>
                                        </p>
                                    </td>
                                </tr>




                            </table>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-info rounded overflow-hidden p-3">
                            <table>

                                <tr>
                                    <td>
                                        <p
                                            class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">
                                            T.Non Commencer
                                        </p>
                                    </td>
                                    <td>
                                        <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span
                                                class="text-vertfoncer">{{client.non_commencer}}</span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p
                                            class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">
                                            T.En Cours
                                        </p>
                                    </td>
                                    <td>
                                        <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span
                                                class="text-vertfoncer">{{client.t_en_cours}}</span>
                                        </p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <p
                                            class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">
                                            Terminer
                                        </p>
                                    </td>
                                    <td>
                                        <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span
                                                class="text-vertfoncer">{{client.terminer}}</span>
                                        </p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <p
                                            class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">
                                            Annuler
                                        </p>
                                    </td>
                                    <td>
                                        <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span
                                                class="text-vertfoncer">{{client.annuler}}</span>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div><!-- col-3 -->


                </div>



                <div class="row">
                    <div class="col-md-8" *ngIf="barChart">

                        <div class="card-body">
                            <fusioncharts [width]="barChart.width" [height]="barChart.height" [type]="barChart.type"
                                [dataFormat]="barChart.dataFormat" [dataSource]="barChart.dataSource">
                            </fusioncharts>
                        </div>

                    </div>



                </div>


            </div>

        </mat-tab>


        <mat-tab label="Profil">
            <app-profil-gestionnaire-interne></app-profil-gestionnaire-interne>
        </mat-tab>

        <!-- <mat-tab label="Tache en Cours ">

      <app-tache-en-cours></app-tache-en-cours>
    </mat-tab> -->

        <mat-tab label="Mes Taches">
            <app-tache-gestionnaire-interne></app-tache-gestionnaire-interne>

        </mat-tab>

    </mat-tab-group>
</div>