<div class="container-fluid animated fadeIn">
  <div class="row">
    <app-navbar-site></app-navbar-site>
  </div>
  <div style="padding-top: 150px">

    <div class="col-12 col-sm-12 animated fadeIn text-center">
      <p class="py-4 h2 "> Aucun Resultat ne correspond à votre recherche ! </p>
      <img src="../../../assets/images/new_site/notFound.svg" alt="not_found" class="notFound">
    </div>
  </div>
  <app-footer-site></app-footer-site>
</div>


