<div class="job_listing_area plus_padding" style="padding-top: 120px;" *ngIf="data">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4" style="margin-bottom: 12px;">
                <div class="job_filter white-bg">
                    <div class="form_inner white-bg">
                        <h3></h3>

                        <div class="row">
                            <div class="col-lg-12" *ngIf="!filterWp">
                                <h3>Affinez votre recherche</h3>
                                <mat-form-field class="example-full-width">

                                    <input matInput placeholder="Ex. URGENCES" [(ngModel)]="inputFilter">

                                    <mat-icon matSuffix class="color-rms-bleu pointer" (click)="getInputSearch()">
                                        search</mat-icon>
                                </mat-form-field>
                                <form>
                                    <hr>
                                    <label for="" style="color: #002766;"><strong>Mois</strong></label>
                                    <div class="form-check" *ngFor="let m of filterMonth">

                                        <input type="checkbox" (change)="getCheckboxValue($event,1)" [value]="m.mois" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1"> <span
                                                class="badge badge-secondary"
                                                style="background-color: #002766;">{{m.vacations}}</span>
                                            {{m.mois | uppercase}}
                                        </label>
                                    </div>

                                    <hr>
                                    <label for="" style="color: #002766;"><strong>Spécialité</strong></label>
                                    <div class="form-check" *ngFor="let m of filterSpecialite">
                                        <input type="checkbox" (change)="getCheckboxValue($event,3)" [value]="m.specialite" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1"> <span
                                                class="badge badge-secondary"
                                                style="background-color: #002766;">{{m.vacations}}</span>
                                            {{m.specialite | uppercase}}
                                        </label>
                                    </div>

                                    <hr>
                                    <label for="" style="color: #002766;"><strong>Departement</strong></label>
                                    <div class="form-check" *ngFor="let m of filterDept">
                                        <input type="checkbox" (change)="getCheckboxValue($event,2)" [value]="m.dept" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1"> <span
                                                class="badge badge-secondary"
                                                style="background-color: #002766;">{{m.vacations}}</span>
                                            {{m.dept | uppercase}}
                                        </label>
                                    </div>
                                </form>
                            </div>

                            <div class="col-lg-12 submit_btn" *ngIf="filterWp">
                                <a class="boxed-btn3 w-100" routerLink="/offres" ><i class="fa fa-calendar"></i>
                                    Toutes les offres</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <div class="col-lg-8 col-md-8">
                <div class="job_lists m-0">
                    <div class="row">
                        <div data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="600" class="col-lg-12 col-md-12" *ngFor="let item of data">
                            <div class="single_jobs white-bg d-flex justify-content-between">
                                <div class="jobs_left d-flex align-items-center">
                                    <div class="jobs_conetent">
                                        <a routerLink="/offres/{{item.reference}}">
                                            <!-- <h4> {{item.reference}}</h4> -->
                                            <p> {{item.specialite}}</p>
                                        </a>
                                        <span> <strong>Profil recherché </strong>
                                        </span>
                                        <!-- <p> {{item.profil_rechercher }} : {{item.nomspecialite}} </p> -->
                                        <p>  Médecin Inscrit auprès de l'ordre de spécialité :  {{item.nomspecialite}}</p>
                                      

                                        <p  style="color: #212529;"><strong>Description Du Poste :</strong></p>
                                        <div  class="line-breaker" [innerHTML]="item.infoPratique | lowercase "></div>
                                        <div class="links_locat d-flex align-items-center">
                                            <div class="location">
                                                <p> <i class="fa fa-map-marker"></i> {{item.departement}}</p>
                                            </div>
                                            <div class="location">
                                                <p> <i class="fas fa-info-circle"></i> Interim</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jobs_right">
                                    <div class="apply_now">
                                        <a routerLink="/offres/{{item.reference}}" class="boxed-btn3">Voir</a>

                                    </div>
                                    <div class="date">
                                        <p> <i class="fa fa-calendar"></i> {{item.dateenreg.date | date}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>