

  .section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .section-margin {
    margin: 0 10px;
  }
  .bg-info{
    background-color: white !important;
    color: black;
    border: 1px solid #dee2e6 !important;
  }
  .tx-white-8 {
    color: rgba(0, 0, 0, 0.8);
  }
  .tx-white {
    color: rgba(0, 0, 0, 0.8);
  }
  .cursor-pointer{
    cursor: pointer;
  }