<div class="row">
    <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 ">

    </div>
    <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">

        <mat-form-field>
            <mat-label>Filtrer</mat-label>
            <mat-select [(ngModel)]="elements" multiple>
                <mat-option (click)="valutElements(true)" *ngFor="let item of displayedColumnsFilter"
                    [value]="item.name">
                    {{item.label  | uppercase}}
                </mat-option>
            </mat-select>
        </mat-form-field>


    </div>
</div>
<form #fstat="ngForm" (ngSubmit)="onSubmitFiltre(fstat)" class="example-form container center_div">
    <div *ngFor="let item  of elements " class="form-group">

        <div class="col-4 " *ngIf="item == 'specialite'">


            <mat-form-field>
                <mat-select id="{{item}}" name="{{item}}" ngModel required>
                    <mat-option *ngFor="let item of listSpecialites" [value]="item.nomspecialite">
                        {{item.nomspecialite}}
                    </mat-option>

                </mat-select>

            </mat-form-field>

        </div>

        <div class="col-4 " *ngIf="item == 'annee'">

            <mat-form-field>
                <mat-select id="{{item}}" name="{{item}}" ngModel required>
                    <mat-option *ngFor="let item of annees" [value]="item.annee">
                        {{item.annee}}
                    </mat-option>

                </mat-select>

            </mat-form-field>

        </div>


    </div>
    <button *ngIf="elements.length > 0" [disabled]="fstat.invalid" class="btn btn-primary" type="submit">Valider
    </button>

</form>

<div class="row py-4">

    <div class="row container-fluid" *ngIf="client">

        <div class="col-sm-6 col-xl-3">
            <div class="bg-info  rounded overflow-hidden p-3">
                <table>
                    <tr>
                        <td>
                            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">Pourvue
                            </p>
                        </td>
                        <td>
                            <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span
                                    class="text-vertfoncer">{{ convertInt(client?.stat_planning.pourvue[0].nbr)}}</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">A Pourvoir
                            </p>
                        </td>
                        <td>
                            <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span
                                    class="text-vertfoncer">{{convertInt(client?.stat_planning.apourvoir[0].nbr)}}</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">Annuler</p>
                        </td>
                        <td>
                            <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span class="text-vertfoncer">
                                    {{ convertInt(client?.stat_planning.annulerparlech[0].nbr) }}</span>
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">Perdue</p>
                        </td>
                        <td>
                            <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span class="text-vertfoncer">
                                    {{ convertInt(client?.stat_planning.perdue[0].nbr) }}</span>
                            </p>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-info rounded overflow-hidden p-3">
                <table>

                    <tr>
                        <td>
                            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">Validee
                            </p>
                        </td>
                        <td>
                            <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span
                                    class="text-vertfoncer">{{client?.stat_candidature.validee}}</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">En Attente
                            </p>
                        </td>
                        <td>
                            <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span
                                    class="text-vertfoncer">{{client.stat_candidature.enattente}}</span>
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">N.Retenue
                            </p>
                        </td>
                        <td>
                            <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span
                                    class="text-vertfoncer">{{client.stat_candidature.nonretenue}}</span>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div><!-- col-3 -->
        <div class="col-sm-6 col-xl-3">
            <div class="bg-info rounded overflow-hidden p-3">
                <table>

                    <tr>
                        <td>
                            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">Specialite
                            </p>
                        </td>
                        <td>
                            <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span class="text-vertfoncer">
                                    {{client.nbrSpecialites}}</span>
                            </p>
                        </td>
                    </tr>

                </table>
            </div>
        </div><!-- col-3 -->
        <div class="col-sm-6 col-xl-3" *ngIf="roleCommercial()">
            <div class="bg-info rounded overflow-hidden p-3">
                <table>

                    <tr>
                        <td>
                            <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-0">Chiffres
                                d'affaires
                            </p>
                        </td>
                        <td>
                            <p class="tx-14 tx-white tx-lato tx-bold mg-b-0"><span class="text-vertfoncer">

                                    {{
                      convertInt(client.stat_planning.pourvue[0].tarif)
                      + convertInt(client.stat_planning.apourvoir[0].tarif)
                      + convertInt(client.stat_planning.perdue[0].tarif)
                      + convertInt(client.stat_planning.annulerparlech[0].tarif)
                      + convertInt(client.stat_planning.autres[0].tarif) | currency:'EUR':true}}
                                </span>
                            </p>
                        </td>
                    </tr>

                </table>
            </div>
        </div><!-- col-3 -->
    </div>






</div>

<section class="section">
    <mat-radio-group [(ngModel)]="labelPosition" (change)="newStat()">
        <mat-radio-button class="section-margin" checked value="nbr">N.C</mat-radio-button>
        <mat-radio-button class="section-margin" value="ca">C.A</mat-radio-button>
    </mat-radio-group>
</section>
<div class="row">
    <div class="col-md-8" *ngIf="barChart">

        <div class="card-body">
            <fusioncharts [width]="barChart.width" [height]="barChart.height" [type]="barChart.type"
                [dataFormat]="barChart.dataFormat" [dataSource]="barChart.dataSource">
            </fusioncharts>
        </div>

    </div>
    <div class="col-md-4" *ngIf="pie3dChart">
        <div class="card-body">
            <div class="row">
                <div class="col-12">

                    <fusioncharts [width]="pie3dChart.width" [height]="pie3dChart.height" [type]="pie3dChart.type"
                        [dataFormat]="pie3dChart.dataFormat" [dataSource]="pie3dChart.dataSource">
                    </fusioncharts>

                </div>
            </div>
        </div>

    </div>



</div>
