<div class="card table-responsive animated slideInLeft" style="overflow: hidden">
    <div class="card-header m-0 p-0" style="border-bottom: #3a97a2 2px solid">
        <div class="row">
            <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12 ">
                <div *ngIf="client" class="text-center color-border-left color-border-right color-border-bottom" style="color: rgb(9, 39, 70);padding: 11px;">
                    <div class="bgvertfoncer pb-2">
                        <span class="glyphicon glyphicon-home" style="color: #3a97a2"></span>&nbsp;&nbsp;
                        <h4>
                            <span>
                <!--          <span class="font-bold" style="margin-left: 15px;color: #87898c">-->
                <!--          </span>-->
                            <!--          <span class="font-bold" style="margin-left: 15px;color: #87898c"></span>-->
                            <!--          <span class="font-bold" style="margin-left: 15px;color: #87898c"></span>-->
                            </span>
                            <span class="font-weight-bold text-white" style="margin-left: 15px;">
                &nbsp;&nbsp;<mat-icon
                  style="background-image: linear-gradient(to right, #1CAF9A 0%, #17A2B8 100%);color: white">
                  local_hospital</mat-icon> &nbsp;
                {{client.nomEtablissement}} &nbsp;&nbsp;
              </span>
                        </h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body">
        <mat-tab-group (selectedTabChange)="changeItemTab($event.index);" [selectedIndex]="index_tab">



            <mat-tab label="Général">
                <mat-card style="background-color: #E9ECEF;">
                    <mat-card-content *ngIf="client">





                        <app-statistique></app-statistique>
                    </mat-card-content>
                </mat-card>
            </mat-tab>

            <mat-tab label="Profil">
                <div class="row container-fluid">
                    <div class="col-12 col-md-6 col-sm-6 col-lg-6 p-4">
                        <fieldset class="row">
                            <legend><span class="font-weight-bold">Informations personnelles</span></legend>
                            <div class="card">
                                <mat-list role="dense">
                                    <mat-list-item role="listitem"><span class="font-weight-bold">Raison Social :</span> &nbsp;
                                        <span> {{client.raisonSociale}} </span>
                                    </mat-list-item>
                                    <mat-list-item role="listitem"><span class="font-weight-bold">E-mail :</span> &nbsp;
                                        <span>{{ client.email }} </span>
                                    </mat-list-item>
                                    <mat-list-item role="listitem"><span class="font-weight-bold">Telephone :</span> &nbsp;
                                        <span>{{ client.telephone }} </span>
                                    </mat-list-item>
                                    <mat-list-item role="listitem"><span class="font-weight-bold"> Cible :</span> &nbsp;
                                        <span>{{ getbooleanString(client.cible) }} </span>
                                    </mat-list-item>
                                    <mat-list-item *ngIf="roleService.isCommercial(this.currentUser.roles)" role="listitem"><span class="font-weight-bold">Id Pld :</span> &nbsp;
                                        <span *ngIf="client.idpld">{{ client.idpld }}</span> <mat-icon color="accent" class="pointer" (click)="addIdPldContrat()">edit</mat-icon>
                                        <button (click)="saveOnPLD()" *ngIf="!client.idpld" color="success" mat-mini-fab><mat-icon>save</mat-icon></button>
                                    </mat-list-item>
                                </mat-list>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-12 col-md-6 col-sm-6 col-lg-6 p-4">
                        <fieldset class="row">
                            <legend><span class="font-weight-bold">Informations supplementaires</span></legend>
                            <div class="card">
                                <mat-list role="list">


                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header (closed)="panelOpenState = false" (opened)="panelOpenState = true">
                                            <mat-panel-title>
                                                <strong> Majoration </strong>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <mat-list *ngIf="client.majoration" role="dense">
                                            <mat-list-item role="listitem">Nom : &nbsp; <b>{{client.majoration.nom}}</b></mat-list-item>
                                            <mat-list-item role="listitem">Dimanche: &nbsp;
                                                <b>{{getbooleanString(client.majoration.dimanche)}}</b>
                                            </mat-list-item>
                                            <mat-list-item role="listitem">Samedi: &nbsp;
                                                <b>{{ getbooleanString(client.majoration.samedi)}}</b></mat-list-item>

                                            <mat-list-item role="listitem">Ferier : &nbsp;
                                                <b>{{ getbooleanString(client.majoration.ferie)}} </b></mat-list-item>
                                            <mat-list-item role="listitem">24 : &nbsp;
                                                <b>{{ getbooleanString(client.majoration.vingt_quatre) }} </b></mat-list-item>
                                            <mat-list-item role="listitem">31 : &nbsp;
                                                <b>{{ getbooleanString(client.majoration.trente_un) }}</b></mat-list-item>

                                        </mat-list>
                                    </mat-expansion-panel> &nbsp; <strong></strong>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header (closed)="panelOpenState = false" (opened)="panelOpenState = true">
                                            <mat-panel-title>
                                                <strong> Adresse </strong>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <mat-list role="dense">
                                            <mat-list-item role="listitem">Adresse : &nbsp; <b>{{client.adresse}}</b></mat-list-item>
                                            <mat-list-item role="listitem">Complement Adresse: &nbsp;

                                                <b>{{client.complement_adresse}}</b>

                                            </mat-list-item>
                                            <mat-list-item role="listitem">Ville: &nbsp; <b>{{ client.ville }} </b> - <b>{{ client.cp
                        }}</b></mat-list-item>
                                            <mat-list-item role="listitem">Departetement : &nbsp; <b>{{ client.departement }} </b>

                                            </mat-list-item>
                                            <mat-list-item role="listitem">Region : &nbsp; <b>{{ client.region }} </b></mat-list-item>

                                            <mat-list-item role="listitem"></mat-list-item>

                                        </mat-list>
                                    </mat-expansion-panel> &nbsp; <strong></strong>

                                    <mat-accordion>
                                        <mat-expansion-panel *ngIf="roleCommercial()">
                                            <mat-expansion-panel-header (closed)="panelOpenState = false" (opened)="panelOpenState = true">
                                                <mat-panel-title>
                                                    <strong> Remarque </strong>
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>


                                            <div [innerHTML]="client.remarque"></div>


                                        </mat-expansion-panel>
                                        <mat-expansion-panel *ngFor=" let r of client.recruteur; let i = index">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    <strong> Recruteur {{ i + 1}} </strong>
                                                </mat-panel-title>

                                            </mat-expansion-panel-header>

                                            <mat-list role="dense">
                                                <mat-list-item role="listitem">nom : {{r?.nom}}</mat-list-item>
                                                <mat-list-item role="listitem">prenom: {{r?.prenom}}</mat-list-item>
                                                <mat-list-item role="listitem">E-mail: {{r?.email}}</mat-list-item>
                                                <mat-list-item role="listitem">Telephone : {{r?.telephone}}
                                                </mat-list-item>


                                            </mat-list>
                                        </mat-expansion-panel>
                                    </mat-accordion>


                                </mat-list>
                            </div>
                        </fieldset>
                    </div>
                    <button class="col-12" mat-stroked-button (click)="editClientModal(client.id)" color="accent">Modifier</button>
                </div>

            </mat-tab>
            <!--on envoi une requete pour recuperer la liste des FSPE-->
            <mat-tab label="Fiche spécialités">
                <div class="card table-responsive pt-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 py-3">
                                <h5 class="panel-title"><span style="color: rgb(47, 64, 80)"><span
                      class="glyphicon glyphicon-list"></span> LISTE DES FICHES DE SPECIALITES</span>
                                </h5>
                            </div>
                            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">
                                <mat-form-field>
                                    <mat-label>Filtrer</mat-label>
                                    <mat-select [(ngModel)]="elements" multiple>
                                        <mat-option (click)="valutElements()" *ngFor="let item of displayedColumnsFilter" [value]="item.name">{{item.label | uppercase }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>


                                &nbsp;&nbsp;

                                <button (click)="editFicheSpecilaiteModal(client)" color="success" mat-mini-fab>
                  <mat-icon>add_circle</mat-icon>
                </button>


                            </div>
                        </div>
                        <form #f="ngForm" (ngSubmit)="onSubmitFiltre(f)" class="example-form container center_div">
                            <div *ngFor="let item  of elements " class="form-group">


                                <div>


                                    <mat-select-autocomplete (selectionChange)="getSelectedOptions($event)" [display]="'display'" [labelCount]="1" [multiple]='true' [options]="listSpeciliteFilter" [placeholder]="'selectionnez specialite'" [value]="'value'" class="erp-full-width" name="{{item}}"
                                        ngDefaultControl ngModel>
                                    </mat-select-autocomplete>
                                </div>


                            </div>
                            <button *ngIf="elements.length > 0" [disabled]="f.invalid" class="btn btn-primary" type="submit">
                Valider
              </button>


                        </form>
                    </div>
                    <div class="card-body table-responsive">
                        <table #table [dataSource]="dataSource" class="bg-white footable table table-hover table-striped" mat-table matSort matSortStart="desc">
                            <!-- colonne de checkboc   -->

                            <!-- <ng-container matColumnDef="select">
                              <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                              </th>
                              <td mat-cell *matCellDef="let fs">
                                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(fs) : null" [checked]="selection.isSelected(fs)">
                                </mat-checkbox>
                              </td>
                            </ng-container> -->
                            <!-- debut des colonnes des champs du tableau -->
                            <ng-container matColumnDef="number">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header>#</th>

                                <td *matCellDef="let fs" class="pt-4" mat-cell>{{ dataSource.filteredData.indexOf(fs) + 1 }}
                            </ng-container>

                            <!--<ng-container matColumnDef="Nom Etablissement">-->
                            <!--<th mat-header-cell *matHeaderCellDef mat-sort-header>Etablissement</th>-->
                            <!--<td mat-cell *matCellDef="let fs">{{nom_etablissement}}</td>-->
                            <!--</ng-container>-->


                            <ng-container matColumnDef="Specialite">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header>Specialite</th>

                                <td *matCellDef="let fs" class="pt-3" mat-cell>

                                    <button [matMenuTriggerFor]="menu" mat-button>{{fs.specialite}}</button>
                                    <mat-menu #menu="matMenu">
                                        <button *ngFor="let qualif of fs.qualifications" mat-menu-item>
                      {{qualif}}
                    </button>
                                    </mat-menu>

                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Nombre Lit">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header>N.Lit</th>
                                <td *matCellDef="let fs" class="pt-3" mat-cell>{{ fs.nombre_lit }}</td>
                            </ng-container>

                            <ng-container matColumnDef="Medecin Jour">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header>Med Jour</th>
                                <td *matCellDef="let fs" class="pt-3" mat-cell>{{ fs.nombre_medecin_jour }}</td>
                            </ng-container>
                            <ng-container matColumnDef="Medecin Nuit">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header>Med Nuit</th>
                                <td *matCellDef="let fs" class="pt-3" mat-cell>{{ fs.nombre_medecin_nuit }}</td>
                            </ng-container>

                            <ng-container matColumnDef="Passage Annee">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header>Passage/Annee</th>
                                <td *matCellDef="let fs" class="pt-3" mat-cell>{{ fs.nombre_passage_an }}</td>
                            </ng-container>

                            <ng-container *ngIf="roleCommercial()" matColumnDef="Coeficient Saison">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header>Coef Saison</th>
                                <td *matCellDef="let fs" class="pt-3" mat-cell>{{ fs.coef_saison }}</td>
                            </ng-container>

                            <ng-container *ngIf="roleCommercial()" matColumnDef="Coeficient Tarification">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header>Coef Tarification</th>
                                <td *matCellDef="let fs" class="pt-3" mat-cell>{{ fs.coef_tarification }}</td>
                            </ng-container>

                            <ng-container matColumnDef="info">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header>Info Pratique</th>
                                <td *matCellDef="let fs" class="pt-2" mat-cell>
                                    <button (click)="infoPratique(fs.info_pratique)" color="success" mat-mini-fab>
                    <mat-icon>message</mat-icon>
                  </button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="vacation">
                                <th *matHeaderCellDef mat-header-cell mat-sort-header>Vacation</th>
                                <td *matCellDef="let fs" class="pt-2" t-cell>
                                    <button (click)="vacation(fs.id)" color="success" mat-mini-fab>
                    <mat-icon>list_alt</mat-icon>
                  </button>
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="Edit">
                                <th *matHeaderCellDef mat-header-cell>Edit</th>
                                <td *matCellDef="let fs" class="pt-2" mat-cell>

                                    <button (click)="editFicheSpecilaiteModal(client, true, fs.id)" mat-mini-fab="accent">
                    <mat-icon>create</mat-icon>
                  </button>
                                </td>
                            </ng-container>


                            <!-- fin des colonnes des champs du tableau -->
                            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                            <tr (click)="selection.toggle(fs)" *matRowDef="let fs; columns: displayedColumns;" mat-row></tr>
                        </table>
                    </div>
                    <div class="card-footer">
                        <mat-paginator [length]="length" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize">
                        </mat-paginator>
                    </div>
                </div>

                <!--        <div class="panel panel-default animated fadeIn" style="overflow: hidden">-->
                <!--          <div class="panel-body">-->
                <!--            <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">-->
                <!--              <div class="panel panel-default panel-table" style="border-bottom: 2px solid #3a97a2">-->
                <!--                <div class="panel-heading">-->
                <!--                </div>-->
                <!--                <div class="example-table-container">-->
                <!--                  &lt;!&ndash; <div class="text-center" *ngIf="this.dataSource.filteredData.length == 0">-->
                <!--                      <strong>Désolé, aucun résultat ne correspond à votre recherche.</strong>-->
                <!--                  </div> &ndash;&gt;-->
                <!--                </div>-->
                <!--                <div class="panel-footer">-->

                <!--                </div>-->
                <!--              </div>-->
                <!--            </div>-->
                <!--            &lt;!&ndash;<div class="col-12 text-center" *ngIf="loaderTraitement">&ndash;&gt;-->
                <!--            &lt;!&ndash;<br>&ndash;&gt;-->
                <!--            &lt;!&ndash;<img src="../../../../../../../assets/images/loader.gif" alt="loading">&ndash;&gt;-->
                <!--            &lt;!&ndash;</div>&ndash;&gt;-->
                <!--          </div>-->
                <!--        </div>-->
            </mat-tab>
            <mat-tab label="Fiche de poste">
                <br>
                <app-fiche-client></app-fiche-client>
            </mat-tab>
            <mat-tab label="Mission & Planning">
                <br>
                <app-planning></app-planning>
            </mat-tab>
            <mat-tab label="Candidatures">
                <div style="background-color: white">
                    <br>
                    <app-candidatures-for-client [dataSource]="dataSourceCandidatureForClient" [length]="length_candidatureForClient"></app-candidatures-for-client>
                </div>
            </mat-tab>
            <mat-tab *ngIf="roleService.isCommercial(this.currentUser.roles)" label="Message Prospection">
                <div style="background-color: white">
                    <app-prospection-interim></app-prospection-interim>
                </div>
            </mat-tab>
            <mat-tab label="Contrats">
                <div style="background-color: white">
                    <app-contrat-client [dataSource]="dataSourceCandidatureForClient" [length]="length_candidatureForClient">
                    </app-contrat-client>
                </div>

            </mat-tab>
        </mat-tab-group>
    </div>
    <!--  <div class="card-footer text-center">-->
    <!--    <em>Bienvenu(e) sur Réseau Médical services.</em>-->
    <!--  </div>-->
</div>


<!--modal pour valider les candidatures pour enfin appliquer les overlay -->
<app-modal-liste-mission-for-candidatures-validation></app-modal-liste-mission-for-candidatures-validation>