.mat-header-cell{
  font-size: 1em;
  font-weight: bold;
  color: black;
  border-bottom: #3a97a2 2px solid;
  padding-bottom: 5px;
}
.badgeItem{
  color: white;
  border-radius: 10px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 10px;
  width: 25px;
  text-align: center;
}
.badgeDanger{
  background: #dc3545;
}
.badgePourvoir{
  background: #ffc107;
}
.badgeSuccess{
  background: #17a2b8;
}
