<div class="row">

  <div class="col-12 text-right">

    <ngx-mat-drp (selectedDateRangeChanged)="updateRange($event)" [options]="options" #dateRangePicker>
    </ngx-mat-drp>

  </div>
</div>
<mat-tab-group *ngIf="reportsMailDay">
  <mat-tab label="Statistiques">
    <mat-card>
      <mat-card-content>

        <div class="row">
          <div class="col-2 text-left">
            <h3><strong>{{reportsMailDay[0].requests}}</strong> emails envoyés</h3>
          </div>


          <div class="col-10 text-right">


            <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Explication des métriques</button>

          </div>
        </div>

        <div class="row py-4">
          <div class="col-3">
            <h2 class="example-h2">Délivrés
              <span style="float: right;">{{reportsMailDay[0].delivered}}</span>
            </h2>

            <section class="example-section">
              <mat-progress-bar class="example-margin" [color]="color" [mode]="mode"
                value="{{reportsMailDay[0].delivered * 100 / reportsMailDay[0].requests}}" bufferValue="75">
              </mat-progress-bar>
            </section>
          </div>
          <div class="col-3">
            <h2 class="example-h2">Ouvert(s)
              <span style="float: right;">{{reportsMailDay[0].uniqueOpens}}</span>
            </h2>

            <section class="example-section">
              <mat-progress-bar class="example-margin" [color]="color" [mode]="mode"
                value="{{reportsMailDay[0].uniqueOpens * 100 / reportsMailDay[0].requests}}"
                [bufferValue]="bufferValue">
              </mat-progress-bar>
            </section>
          </div>
          <div class="col-3">
            <h2 class="example-h2">Cliqué(s)
              <span style="float: right;">{{reportsMailDay[0].uniqueClicks}}</span>
            </h2>

            <section class="example-section">
              <mat-progress-bar class="example-margin" [color]="color" [mode]="mode"
                value="{{reportsMailDay[0].uniqueClicks * 100 / reportsMailDay[0].requests}}"
                [bufferValue]="bufferValue">
              </mat-progress-bar>
            </section>
          </div>

          <div class="col-3">
            <h2 class="example-h2">Rebond(s)
              <span style="float: right;">{{reportsMailDay[0].hardBounces + reportsMailDay[0].softBounces}}</span>
            </h2>

            <section class="example-section">
              <mat-progress-bar class="example-margin" [color]="color" [mode]="mode"
                value="{{ reportsMailDay[0].hardBounces + reportsMailDay[0].softBounces  * 100 / reportsMailDay[0].requests }}"
                [bufferValue]="bufferValue">
              </mat-progress-bar>
            </section>
          </div>

        </div>
        <div class="row py-4">
          <div class="col-3">
            <h2 class="example-h2">Plainte(s)
              <span style="float: right;">{{reportsMailDay[0].spamReports}}</span>
            </h2>

            <section class="example-section">
              <mat-progress-bar class="example-margin" [color]="color" [mode]="mode"
                value="{{reportsMailDay[0].spamReports * 100 / reportsMailDay[0].requests}}" bufferValue="75">
              </mat-progress-bar>
            </section>
          </div>
          <div class="col-3">
            <h2 class="example-h2">Hard Bounces
              <span style="float: right;">{{reportsMailDay[0].hardBounces}}</span>
            </h2>

            <section class="example-section">
              <mat-progress-bar class="example-margin" [color]="color" [mode]="mode"
                value="{{reportsMailDay[0].hardBounces * 100 / reportsMailDay[0].requests}}"
                [bufferValue]="bufferValue">
              </mat-progress-bar>
            </section>
          </div>
          <div class="col-3">
            <h2 class="example-h2">Soft Bounces
              <span style="float: right;">{{reportsMailDay[0].softBounces}}</span>
            </h2>

            <section class="example-section">
              <mat-progress-bar class="example-margin" [color]="color" [mode]="mode"
                value="{{reportsMailDay[0].softBounces * 100 / reportsMailDay[0].requests}}"
                [bufferValue]="bufferValue">
              </mat-progress-bar>
            </section>
          </div>

          <div class="col-3">
            <h2 class="example-h2">Bloqué(s)
              <span style="float: right;">{{reportsMailDay[0].blocked}}</span>
            </h2>

            <section class="example-section">
              <mat-progress-bar class="example-margin" [color]="color" [mode]="mode"
                value="{{ reportsMailDay[0].blocked  * 100 / reportsMailDay[0].requests }}" [bufferValue]="bufferValue">
              </mat-progress-bar>
            </section>
          </div>

        </div>

        <div class="row">
          <div class="col-6">
            <canvas baseChart [chartType]="'line'" [datasets]="chartData" [labels]="labels" [options]="chartOptions"
              [legend]="true" [colors]="colors" (chartClick)="onChartClick($event)">
            </canvas>
          </div>

          <div class="col-6">
            <canvas baseChart [chartType]="'bar'" [datasets]="chartData" [labels]="labels" [options]="chartOptions"
              [legend]="true" [colors]="colors" (chartClick)="onChartClick($event)">
            </canvas>
          </div>
        </div>




      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Logs">
    <mat-card>
      <mat-card-content>


        <app-logs></app-logs>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <div class="row">
    <div class="col-6">
      <canvas baseChart [chartType]="'line'" [datasets]="chartData" [labels]="labels" [options]="chartOptions"
        [legend]="true" [colors]="colors" (chartClick)="onChartClick($event)">
      </canvas>
    </div>

    <div class="col-6">
      <canvas baseChart [chartType]="'bar'" [datasets]="chartData" [labels]="labels" [options]="chartOptions"
        [legend]="true" [colors]="colors" (chartHover)="chartHovered($event)" (chartClick)="onChartClick($event)">
      </canvas>
    </div>
  </div>
</mat-tab-group>

<ng-template #content let-modal>

  <div class="modal-content">
    <div class="modal-header" style="background: #3a97a2;color: white">
      <h3 class="modal-title" id="exampleModalLabel"> <span class="glyphicon glyphicon-menu-hamburger"></span>
        Informations à propos des métriques</h3>

      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <table>
        <tbody>
          <tr>
            <td> <span>
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip>Envoyés

                  </mat-chip>
                </mat-chip-list>
              </span></td>
            <td>Nombre total d'emails envoyés.</td>
          </tr>
          <br>
          <tr>
            <td> <span>
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip color="primary">Délivrabilité</mat-chip>
                </mat-chip-list>
              </span>
            </td>
            <td>Ratio du nombre de messages délivrés par rapport au total des messages envoyés.</td>
          </tr>
          <br>
          <tr>
            <td>
              <span>
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip color="primary">Taux d'ouverture</mat-chip>
                </mat-chip-list>
              </span>
            </td>
            <td>Ratio du nombre de messages uniques ouverts par rapport au total de messages délivrés.</td>
          </tr>
          <br>
          <tr>
            <td>
              <span>
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip color="primary">Taux de clic</mat-chip>
                </mat-chip-list>
              </span>
            </td>
            <td>Ratio du nombre de messages uniques cliqués par rapport au total de messages délivrés.</td>
          </tr>
          <br>
          <tr>
            <td>
              <span>
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip color="primary">Plainte</mat-chip>
                </mat-chip-list>
              </span>
            </td>
            <td>Quand un de vos contacts qui a reçu votre email l'a signalé comme spam. Ce contact sera
              automatiquement bloqué pour améliorer votre réputation.</td>
          </tr>
          <br>
          <tr>
            <td>
              <span>
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip color="primary">Soft Bounces</mat-chip>
                </mat-chip-list>
              </span>
            </td>
            <td>Emails qui ont été temporairement non délivrés. La raison peut être une indisponibilité temporaire du
              serveur de messagerie ou d'une boîte aux lettres pleine.</td>
          </tr>
          <br>
          <tr>
            <td>
              <span>
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip color="primary">Hard Bounces</mat-chip>
                </mat-chip-list>
              </span>
            </td>
            <td>Emails non délivrés et qui n'arriveront jamais à destination parce que les adresses électroniques sont
              mal orthographiées ou n'existent pas.</td>
          </tr>
          <br>
          <tr>
            <td>
              <span>
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip color="primary">Bloqué</mat-chip>
                </mat-chip-list>
              </span>
            </td>
            <td>La somme des emails en spam et des hard bounces répétés.</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>


</ng-template>