<div class="modal-content" style="padding: 0;margin: 0">

    <!-- Modal Header -->
    <div class="modal-header text-center">
        <h3><strong>Liste Candidature</strong></h3>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
        <table class="table table-striped" *ngIf="vacationsKeys">
            <thead>
            <tr>
                <th scope="row">N.</th>
                <th scope="row" *ngFor="let item of vacationsKeys;let i = index">{{item}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vacation of vacations;let i = index" >
                <th scope="row">{{i+1}}</th>
                <td *ngFor="let item of vacationsKeys" >{{vacation[item]}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
