

<div class="modal-content" >
  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h2 mat-dialog-title>Date Rappel</h2>
  </div>

  <!-- Modal body -->
  <div class="modal-body">


    <div style="text-align: center">
      <strong>{{ date |date:'d-MM-y  HH:mm'}}</strong>
    </div>





  </div>
</div>




