<div class="ml-4 mr-4 animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 pt-4">
          <h5 class="panel-title"><span style="color: rgb(47, 64, 80)">LISTES DES CAMPAGNES</span>
          </h5>
        </div>
        <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">

          <mat-form-field>
            <mat-label>Filtrer</mat-label>
            <mat-select multiple [(ngModel)]="elements">
              <mat-option *ngFor="let item of displayedColumnsFilter" [value]="item.name" (click)="valutElements()">
                {{item.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;&nbsp;
          <button mat-mini-fab color="success" (click)="editCampagneModal()">
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
      </div>
      <form (ngSubmit)="onSubmitFiltre()" [formGroup]="formFilter" class="example-form container center_div">
        <div class="form-group" *ngFor="let item  of elements ">
          <div>

            <mat-form-field class="erp-full-width">
              <input matInput type="text" placeholder="{{item}}" id="{{item}}" formControlName="{{item}}" class="form-control"
                      required>
            </mat-form-field>
          </div>


        </div>
        <button class="btn btn-primary" type="submit" [disabled]="formFilter.invalid"
                *ngIf="elements.length > 0">Valider
        </button>

      </form>
    </div>
    <div class="card-body table-responsive">
      <table mat-table #table matSort matSortStart="asc" [dataSource]="dataSource"
             class="bg-white footable table table-hover table-striped">
        <!-- colonne de checkboc   -->

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let client">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(client) : null"
                          [checked]="selection.isSelected(client)">
            </mat-checkbox>
          </td>
        </ng-container>
        <!-- debut des colonnes des champs du tableau -->
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef>Num.</th>

          <td mat-cell *matCellDef="let item">{{ dataSource.filteredData.indexOf(item) + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="Nom Campagne">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Nom Campagne</th>
          <td mat-cell *matCellDef="let item" class="font-bold">{{ item.libelle}}</td>
        </ng-container>

        <ng-container matColumnDef="Description">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let item" class="font-bold">{{item.description}}</td>
        </ng-container>


        <ng-container matColumnDef="Edit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let item">

            <button mat-mini-fab="accent" (click)="editCampagneModal(item.id)">
              <mat-icon>create</mat-icon>
            </button>

          </td>
        </ng-container>

        <!-- fin des colonnes des champs du tableau -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let interim; columns: displayedColumns;" (click)="selection.toggle(interim)"></tr>

      </table>
    </div>
    <div class="card-footer">
      <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                     (page)="pagination($event)">
      </mat-paginator>
    </div>
  </div>
</div>

