<div class="conatiner-fluid ml-4 mr-4">
  <div class="row">
    <div class="col-12 animated" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card">
        <div class="card-header p-0 m-0">
          <div class="row">
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 pt-4">
              <h5 class="ml-4"><span style="color: rgb(47, 64, 80)">
          <mat-icon class="font-weight-bold pt-2">format_list_bulleted</mat-icon>
           Historique(s)</span></h5>
            </div>
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6">
              <div class="row">
                <div class="col-10 text-right">
                  <mat-form-field>
                    <mat-label>Filtrer</mat-label>
                    <mat-select [(ngModel)]="elements" multiple>
                      <mat-option (click)="valutElements(elements)" *ngFor="let item of displayedColumnsFilter"
                                  [value]="item.name">
                        {{item.label | uppercase }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div (click)="refreshData()" class="col-2 text-center pt-3 rotate">
                  <i class="fa fa-refresh fa-2x gly-rotate-45"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <form #f="ngForm" (ngSubmit)="onSubmitFiltre(f)" class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row ml-3 mt-2">
              <div *ngFor="let item  of elements " class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div *ngIf="item !== 'date' && item !== 'action'">

                  <mat-form-field class="erp-full-width">
                    <input id="{{item}}" matInput name="{{item}}" ngModel placeholder="{{item}}" required type="text">
                  </mat-form-field>
                </div>
                <div *ngIf="item === 'action' ">
                  <mat-form-field class="erp-full-width">
                    <input id="{{item}}" matInput name="{{item}}" ngModel placeholder="{{item}}" required type="text">
                  </mat-form-field>
                  <!--                  <mat-form-field class="erp-full-width">-->
                  <!--                    <mat-select [id]="item" name="{{item}}" ngModel placeholder="{{item}}" required>-->
                  <!--                      <mat-option value="oui">Oui</mat-option>-->
                  <!--                      <mat-option value="non">Non</mat-option>-->
                  <!--                    </mat-select>-->
                  <!--                  </mat-form-field>-->
                </div>
                <!-- filtre en fonction de la date utilisation dune periode-->
                <div *ngIf="item === 'date' ">
                  <form class="form-inline">
                    <div class="form-group hidden">
                      <div class="input-group">
                        <input #datepicker="ngbDatepicker"
                               (dateSelect)="onDateSelection($event)"
                               [autoClose]="'outside'"
                               [dayTemplate]="t"
                               [displayMonths]="2"
                               [startDate]="fromDate"
                               class="form-control"
                               name="datepicker"
                               ngbDatepicker
                               outsideDays="hidden">
                        <ng-template #t let-date let-focused="focused">
                          <span (mouseenter)="hoveredDate = date"
                                (mouseleave)="hoveredDate = null"
                                [class.faded]="isHovered(date) || isInside(date)"
                                [class.focused]="focused"
                                [class.range]="isRange(date)"
                                class="custom-day">
                            {{ date.day }}
                          </span>
                        </ng-template>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <input #dpFromDate
                               (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
                               [value]="format(fromDate)"
                               class="form-control"
                               name="dpFromDate"
                               placeholder="yyyy-mm-dd">
                        <div class="input-group-append">
                          <button (click)="datepicker.toggle()" class="btn btn-outline-secondary"
                                  type="button">
                            <i class="fa fa-calendar"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="form-group pt-2">
                      <div class="input-group">
                        <input #dpToDate
                               (input)="toDate = validateInput(toDate, dpToDate.value)"
                               [value]="format(toDate)"
                               class="form-control"
                               name="dpToDate"
                               placeholder="yyyy-mm-dd">
                        <div class="input-group-append">
                          <button (click)="datepicker.toggle()" class="btn btn-outline-secondary"
                                  type="button">
                            <i class="fa fa-calendar"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-3">
                <button *ngIf="elements.length > 0" [disabled]="f.invalid" class="btn btn-sm btn-primary"
                        type="submit">Rechercher
                </button>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="dataSource.data.length>0" class="card-body table-responsive">
          <table [dataSource]="dataSource"
                 class="bg-white footable table table-hover table-striped"
                 mat-table matSort>

            <!-- debut des colonnes des champs du tableau -->
            <ng-container matColumnDef="number">
              <th *matHeaderCellDef mat-header-cell mat-sort-header mat-sort-header> &nbsp;&nbsp;&nbsp;#</th>
              <td *matCellDef="let client" mat-cell> &nbsp;&nbsp;&nbsp;{{ dataSource.filteredData.indexOf(client) + 1 }}
              </td>
            </ng-container>

            <!--        <ng-container matColumnDef="nom">-->
            <!--            <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header>Nom Etablissement</th>-->
            <!--            <td *matCellDef="let client" class="font-weight-bold xs_a" mat-cell>-->
            <!--              <a routerLink="/RMS-Admin/client/{{client.id}}/show">-->
            <!--                {{ client.nom_etablissement }}-->
            <!--              </a>-->
            <!--            </td>-->
            <!--          </ng-container>-->

            <ng-container matColumnDef="auteur">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>Auteur</th>
              <td *matCellDef="let item" class="font-weight-bold xs_a" mat-cell>
                <strong class="font-weight-bold text-size ml-2 mr-2">{{item.auteur}}</strong>
              </td>
            </ng-container>
            <ng-container matColumnDef="date">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>Date</th>
              <td *matCellDef="let item" mat-cell>
                <strong class="text-size">{{item.date}}</strong>
              </td>
            </ng-container>
            <ng-container matColumnDef="role">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>role</th>
              <td *matCellDef="let item" class="pl-2 pr-2" mat-cell>
                <span *ngIf="item.type === 'ROLE_COMMERCIAL'" class="text-size"> Com <strong> </strong></span>
                <span *ngIf="item.type === 'ROLE_MANAGER,ROLE_ADMIN,ROLE_USER'"
                      class="text-size"> Manager <strong> </strong></span>
                <span *ngIf="item.type === 'ROLE_SUPER_ADMIN'" class="text-size"> Admin <strong> </strong></span>
                <span *ngIf="item.type === 'ROLE_CANDIDAT'" class="text-size"> Candidat <strong> </strong></span>
                <span *ngIf="item.type === 'ROLE_RECRUTEUR'" class="text-size"> Recruteur <strong> </strong></span>
              </td>
            </ng-container>
            <ng-container matColumnDef="content">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>contenue</th>
              <td *matCellDef="let item" mat-cell>
                <span class="text-primary font-weight-bold text-size ml-2"> {{ item.content}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>action</th>
              <td *matCellDef="let item" mat-cell>
                <span class="chips vert text-size">{{item.action}}</span>
              </td>
            </ng-container>


            <ng-container matColumnDef="entities">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>entities</th>
              <td *matCellDef="let item; let index_client = index" mat-cell>
                <span *ngIf="item.entities.length > 0"
                      class="chips jaune_Chip text-size">{{item.entities | titlecase}}</span>
                <span *ngIf="item.entities.length <= 0" class="text_jaune_Chip ml-4 text-size"
                > null</span>
              </td>
            </ng-container>

            <!--</ng-container>-->
            <ng-container matColumnDef="reference">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>reference</th>
              <td *matCellDef="let item" mat-cell>
                <span class="text-size ml-2">{{item.reference}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="cible">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>cible</th>
              <td *matCellDef="let item" mat-cell>
                <span *ngIf="(isString(item) === 'string')"
                      class="text-primary font-weight-bold text-size">{{item.cibles}} {{item.cible}}</span>
                <span (click)="open(content, item.cible)" *ngIf="!isString(item)"
                      class="chips text_bleu_Chip font-weight-bold ml-4" style="cursor: pointer">
                  decouvrir
                </span>
              </td>
            </ng-container>
            <!-- fin des colonnes des champs du tableau -->
            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
          </table>

          <mat-paginator (page)="pageEvent = $event;pagination()"
                         [length]="length"
                         [pageSizeOptions]="pageSizeOptions"
                         [pageSize]="pageSize"
          >
          </mat-paginator>

          <div *ngIf="dataSource.data.length<=0" class="text-center">
            <strong>Désolé, aucun résultat ne correspond à votre recherche.</strong>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!--modal-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">destinataires</h4>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--    <table mat-table [dataSource]="dataSourceDest" class="mat-elevation-z8">-->

    <!--      &lt;!&ndash; Position Column &ndash;&gt;-->
    <!--      <ng-container matColumnDef="email">-->
    <!--        <th mat-header-cell *matHeaderCellDef> email </th>-->
    <!--        <td mat-cell *matCellDef="let element"> {{element[0]}} </td>-->
    <!--      </ng-container>-->

    <!--      &lt;!&ndash; Name Column &ndash;&gt;-->
    <!--      <ng-container matColumnDef="nom">-->
    <!--        <th mat-header-cell *matHeaderCellDef> nom complet </th>-->
    <!--        <td mat-cell *matCellDef="let element"> {{element.name}} </td>-->
    <!--      </ng-container>-->

    <!--      <tr mat-header-row *matHeaderRowDef="displayedColumnsDest"></tr>-->
    <!--      <tr mat-row *matRowDef="let row; columns: displayedColumnsDest;"></tr>-->
    <!--    </table>-->
    <p for="let item of tmpDestinataires">
    </p>
    <pre>{{tmpDestinataires}}</pre>
  </div>
  <div class="modal-footer">
    <button (click)="modal.close('Save click')" class="btn btn-outline-dark" type="button">Save</button>
  </div>
</ng-template>
