.mat-header-cell{
  font-size: 1em;
  font-weight: 900;
  color: black;
  border-bottom: #3a97a2 2px solid;
  padding-bottom: 5px;
}
th.mat-header-cell{
  padding-bottom: 14px;
  align-items: center;
}
td.mat-cell, td.mat-footer-cell {
  padding-top: 14px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
table{
  width: 100%;
}

.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}


.chips{
  color: white;
  padding: 2px 7px 2px 7px;
  border-radius: 17px 17px;
}
.vert{
  background-color: #3a97a2;
}
.jaune_Chip{
  background-color: #24a28e;
}
.text_jaune_Chip{
  color: #a2890d;
}
.text_bleu_Chip{
  color: #0866C6 ;
  border: #0866C6 1px solid;
}

.rotate:hover{
  -webkit-transform: rotateZ(720deg);
  -moz-transform: rotateZ(720deg);
  transform: rotateZ(180deg);
}

.text-size{
  font-size: 11px;
}
