<mat-card class="m-0 p-0 overFlowHidden">
  <mat-card-title class="modal-header">
    <h2 mat-dialog-title>Liens utiles </h2>
  </mat-card-title>
  <mat-card-content>
    <div class="row pl-3">
      <ul>
        <li>
          Conseil nationale de l'ordre des médecins : <br>
          <a href="http://www.conseil-national.medecin.fr/">http://www.conseil-national.medecin.fr/</a>
        </li>
        <li>
          Fédération Hospitalière de France : <br>
          <a href="http://www.fhf.fr/">http://www.fhf.fr/</a>
        </li>
        <li>
          Syndicat National des Praticiens à Diplôme Hors Union Européenne: <br>
          <a href="http://www.snpadhue.com/">http://www.snpadhue.com/</a>
        </li>
        <li>
          Annuaire des hôpitaux : <br>
          <a href="http://www.hopital.fr/">http://www.hopital.fr/</a>
        </li>
        <li>
          Dictionnaire Vidal : <br>
          <a href="http://www.vidal.fr/">http://www.vidal.fr/</a>
        </li>
        <li>
          Ministère du Travail, de l'Emploi et de la Santé (Secteur Santé) : <br>
          <a href="http://www.sante.gouv.fr/">http://www.sante.gouv.fr/</a>
        </li>
        <li>
          Revues spécialisées : <br>
          <a href="http://www.jim.fr/">http://www.jim.fr/</a>
        </li>
        <li>
          Agences régionales de santé : <br>
          <a href="http://www.ars.sante.fr/">http://www.ars.sante.fr/</a>
        </li>
        <li>
          Organisation mondiale de la santé : <br>
          <a href="http://www.who.int/fr/">http://www.who.int/fr/</a>
        </li>
        <li>
          Code de déontologie médicale : <br>
          <a href="http://www.conseil-national.medecin.fr/system/files/codedeont_1.pdf?download=1">www.conseil-national.medecin.fr</a>
        </li>
        <li>
          Commission nationale de l'informatique et des libertés : <br>
          <a href="http://www.cnil.fr/">http://www.cnil.fr/</a>
        </li>
        <li>
          Haute Autorité de la Sante : <br>
          <a href="http://www.has-sante.fr/">http://www.has-sante.fr/</a>
        </li>
        <li>
          Formation continue : <br>
          <a href="http://www.unaformec.org/">http://www.unaformec.org/</a>
        </li>
      </ul>
    </div>
  </mat-card-content>
  <mat-card-footer class="row">
    <div class="col-12 py-2">
      <p class="text-right pr-4">
        <button color="warn" mat-dialog-close mat-raised-button>Fermer</button>
      </p>
    </div>
  </mat-card-footer>
</mat-card>
