



<div class="ml-4 mr-4 animated zoomInLeft">


 
      <mat-card>
          <div class="col-md-2 col-sm-4 text-center box">
              <div class="pane pane-default text-center cursor-default box-border-all">
                  <h1 class="no-margin">
                      <i class="fa fa-envelope spacer-bottom-sm dboard-dis-block"></i>   
                      <span id="mk-dboard-total-contacts"> {{reportData.requests}}</span>
                  </h1>
                  <p class="spacer-bottom-md dboard-contact"> emails envoyés</p>
              </div>
          </div>
        <div  class="row py-4" style="color: #3a97a2;">
          <div class="col-3 p-3">
            <h6 class="example-h2">Délivrés
              <span
                style="float: right;font-size: 0.7em;font-weight: bold;color: #3a97a2"> {{reportData.delivered}}</span>
            </h6>

            <section class="example-section">
              <mat-progress-bar bufferValue="50" mode="determinate" value="50"
                                class="example-margin">
              </mat-progress-bar>
            </section>
          </div>
          <div class="col-3 p-3">
            <h6 class="example-h2">Ouvert
              <span
                style="float: right;font-size: 0.7em;font-weight: 900;color: #3a97a2">{{reportData.opens}}</span>
            </h6>

            <section class="example-section">
              <mat-progress-bar bufferValue="50" mode="determinate" value="50"
                                class="example-margin">
              </mat-progress-bar>
            </section>
          </div>
          <div class="col-3 p-3">
            <h6 class="example-h2">cliqueurs
              <span
                style="float: right;font-size: 0.7em;font-weight: bold;">{{reportData.clicks}}</span>
            </h6>

            <section class="example-section">
              <mat-progress-bar bufferValue="50" mode="determinate" value="50"
                                class="example-margin">
              </mat-progress-bar>
            </section>
          </div>

          <div class="col-3 p-3">
            <h6 class="example-h2">Bloqué
              <span
                style="float: right;font-size: 0.7em;font-weight: bold;">{{reportData.blocked}}</span>
            </h6>

            <section class="example-section">
              <mat-progress-bar bufferValue="50" mode="determinate" value="50"
                                class="example-margin">
              </mat-progress-bar>
            </section>
          </div>

        </div>


        <div class="col-lg-12 col-md-12 col-sm-12 no-padding flex-box">        
            <!-- begin .col -->
                            <div class="col-md-6 col-sm-6 box">
                <div class="pane pane-default text-center box-border-all">
                    <h4 class="text-left"><strong>Campagnes Email</strong></h4>
                    <ul class="list-group spacer-bottom-sm text-left mk-dboard-ul dashboard-listing" id="mk-dboard-group-email"></ul>
                    <div class="mk-dboard-btn">
                                                        <a href="https://my.sendinblue.com/camp/classic/setup" class="btn btn-primary spacer-bottom-sm dash-res-camp btn" rel="noopener"  target="_blank"><i class="fa fa-plus"></i> Créer une nouvelle campagne</a>
                                                </div>
                </div>
            </div>
                            <!-- end .col -->
            
            <!-- begin .col -->
                            <div class="col-md-6 col-sm-6 box">      
                <div class="pane pane-default text-center box-border-all">
                    <h4 class="text-left"><strong>Campagnes SMS</strong></h4>
                    <ul class="list-group spacer-bottom-sm text-left mk-dboard-ul dashboard-listing" id="mk-dboard-group-sms"></ul>             
                    <div class="mk-dboard-btn">
                                                        <a href="https://my.sendinblue.com/camp/sms/setup" class="btn btn-primary spacer-bottom-sm dash-res-campbtn" rel="noopener"  target="_blank"><i class="fa fa-plus"></i> Créer une nouvelle campagne</a>
                                                </div>
                </div>
            </div>
                            <!-- end .col -->
            
                        </div>
      </mat-card>
    
  
</div>

