<div class="modal-content" *ngIf="editForm">
  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h2 mat-dialog-title>{{displayName}}</h2>
  </div>
  <!-- Modal body -->
  <div class="modal-body">
    <form [formGroup]="editForm">
      <div class="hr-line-dashed"></div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="erp-full-width">
            <input matInput placeholder="Designation" formControlName="designation">
          </mat-form-field>

        </div>

      </div>
      <div class="row">
        <div class="col-md-12">
          <section class="example-section">
            <label class="example-margin">Appertenance:</label>
            <mat-radio-group formControlName="appertenance">
              <mat-radio-button class="example-margin" value="1">Centre Hospitalier</mat-radio-button>
              <mat-radio-button class="example-margin" value="2">Interim</mat-radio-button>
            </mat-radio-group>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <strong>Description</strong>
          <ckeditor skin="moono-lisa" language="fr" formControlName="description"></ckeditor>
        </div>


      </div>


    </form>
    <div class="row">
      <div class="col-sm-6">
        <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial>Valider</button>
      </div>
    </div>
  </div>
</div>
