<mat-card>
  <mat-card-content>
    <div class="row mt-5 div_inscription animated fadeInLeft">
      <div
        class="col-12 col-md-10 col-sm-10 col-lg-8 offset-sm-1 offset-md-1 offset-lg-2 box_shadow_div"
      >
        <div class="row">
          <div class="col-12 text-center">
            <span class="field text-center">
              INSCRIPTION
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="col-12 text-center d-sm-none d-md-none d-lg-none">
              <!-- <i (click)="socialSignIn('google')" class="fab fa-google-plus"></i>
              <i (click)="socialSignIn('linkedin')" class="ml-4 fab fa-linkedin"></i>
              <i (click)="socialSignIn('facebook')" class="ml-4 fab fa-facebook"></i> -->
            </div>
          </div>
          <div class="col-12 text-center pt-4">ou</div>
        </div>
        <!--<div class="row border">-->
        <form [formGroup]="signupForm" class="row">
          <div class="form-group col-12 text_choix text-danger text-center">
            <table>
              <tr>
                <td><strong class="mr-2">Médical</strong></td>
                <td>
                  <input
                    formControlName="roles"
                    name="roles"
                    type="radio"
                    value="ROLE_ADMIN, ROLE_CANDIDAT,ROLE_PARAMEDICAL"
                  />
                </td>
              </tr>
              <tr>
                <td><strong class="mr-2">Paramédical</strong></td>
                <td>
                  <input
                    formControlName="roles"
                    name="roles"
                    type="radio"
                    value="ROLE_ADMIN, ROLE_CANDIDAT,ROLE_MEDICAL"
                  />
                </td>
              </tr>
              <tr>
                <td><strong class="mr-2"> structure de santé</strong></td>
                <td>
                  <input
                    formControlName="roles"
                    name="roles"
                    type="radio"
                    value="ROLE_ADMIN, ROLE_RECRUTEUR"
                  />
                </td>
              </tr>
            </table>
          </div>
          <div class="form-group col-lg-3 col-md-3">
            <label for="civilite"
              >Civilité <span class="champs_obligatoire">*</span></label
            >
            <select
              class="form-control"
              formControlName="civilite"
              id="civilite"
            >
              <option value="Mr">Monsieur</option>
              <option value="Mme">Madame</option>
            </select>
          </div>
          <div class="form-group col-lg-4 col-md-4">
            <label for="nom"
              >Nom <span class="champs_obligatoire">*</span></label
            >
            <input
              class="form-control"
              formControlName="nom"
              id="nom"
              placeholder="ex:dupont"
              type="text"
            />
          </div>
          <div class="form-group col-lg-5 col-md-5">
            <label for="prenom"
              >Prenom <span class="champs_obligatoire">*</span></label
            >
            <input
              class="form-control"
              formControlName="prenom"
              id="prenom"
              placeholder="ex:jean paul"
              type="text"
            />
          </div>

          <div class="form-group col-lg-6 col-md-6">
            <label for="username"
              >Username <span class="champs_obligatoire">*</span></label
            >
            <input
              class="form-control"
              formControlName="username"
              id="username"
              placeholder="root"
              type="text"
            />
          </div>
          <div class="form-group col-lg-6 col-md-6">
            <label for="email"
              >Email <span class="champs_obligatoire">*</span></label
            >
            <input
              class="form-control"
              formControlName="email"
              id="email"
              placeholder="exemple@gmail.com"
              type="text"
            />
          </div>
          <div class="form-group col-lg-4 col-md-4">
            <label for="portable"
              >Telephone <span class="champs_obligatoire">*</span></label
            >
            <input
              class="form-control"
              formControlName="telephone"
              id="portable"
              placeholder="0144512447"
              type="tel"
            />
          </div>
          <div class="form-group col-lg-4 col-md-4">
            <label for="password"
              >Mot de passe <span class="champs_obligatoire">*</span></label
            >
            <input
              #items
              (keyup)="MatchingPassword(items)"
              class="form-control"
              data-toggle="password"
              formControlName="password"
              id="password"
              name="password"
              placeholder="**************************"
              type="password"
            />
            <span *ngIf="matchingPwd" class="text-danger"
              >* les mots de passe doivent etre identique</span
            >

            <!--<span class="pwd_obligatoire">le mot de passe doit avoir 6 caracteres minimum</span>-->
          </div>
          <div class="form-group col-lg-4 col-md-4">
            <label for="password"
              >Retaper le mot de passe
              <span class="champs_obligatoire">*</span></label
            >
            <input
              #items
              (keyup)="MatchingPassword(items)"
              class="form-control"
              formControlName="confirm_password"
              name="confirmPassword"
              placeholder="**************************"
              type="password"
            />
            <span *ngIf="matchingPwd" class="text-danger"
              >* les mots de passe doivent etre identique</span
            >

            <!--<span class="pwd_obligatoire">le mot de passe doit avoir 6 caracteres minimum</span>-->
          </div>
          <div class="col-lg-4 pt-4">
            <button
              (click)="submit()"
              [disabled]="signupForm.invalid || matchingPwd"
              class="btn btn-block btn-success form-control"
              id="btn-verification-candidat"
              type="submit"
            >
              Soumettre
            </button>
          </div>
        </form>
        <!--</div>-->
      </div>
    </div>
  </mat-card-content>
</mat-card>
