.field{
  position: relative;
  border: solid 2px #092F6B;
  top: -65px;
  width: 60%;
  left: 20%;
  border-radius: 15px 15px 15px;
  display: block;
  padding: 5px;
  background: white;
  font-size: 1em;
  font-weight: 800;
}
.fa-google-plus:before {
  content: "\f0d5";
  font-size: 26px;
  color: #d6492e;
}
.fa-linkedin:before {
  content: "\f0e1";
  color: #0174b1;
  font-size: 26px;
}
.fa-facebook:before {
  content: "\f09a";
  font-size: 26px;
}
input[type=radio] {
  width: 20px;
  height: 20px;
}
table{
  margin-top: 12px;
  margin-left: -32px;
}
