<!-- [mat-dialog-close]="FicheSpeForm.value" -->

<div>

  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h2 mat-dialog-title>Fiche Specialité</h2>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <form *ngIf="FicheSpeForm" [formGroup]="FicheSpeForm" class="container">


      <div class="row">
        <div class="col-4">
          <mat-form-field class="example-full-width">
            <input formControlName="nombrepassage_par_an" matInput placeholder="Passage Par An" type="number">
          </mat-form-field>

        </div>
        <div class="col-4">
          <mat-form-field class="example-full-width">
            <input formControlName="nombre_medecin_jour" matInput placeholder="Medecin Jour" type="number">
          </mat-form-field>

        </div>
        <div class="col-4">
          <mat-form-field class="example-full-width">
            <input formControlName="nombre_medecin_nuit" matInput placeholder="Medecin Nuit" type="number">
          </mat-form-field>

        </div>
      </div>
      <div class="row">
        <div *ngIf="roleCommercial()" class="col-6">
          <mat-form-field class="example-full-width">
            <input formControlName="coef_saison" matInput placeholder="Coef Saison" type="number">
          </mat-form-field>
        </div>

        <div *ngIf="roleCommercial()" class="col-6">
          <mat-form-field class="example-full-width">
            <input formControlName="coef_tarification" matInput placeholder="Coef Tarification" type="number">
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="example-full-width">
            <input formControlName="nombre_lit" matInput placeholder="Nombre Lit" type="number">
          </mat-form-field>

        </div>
      </div>


      <!-- debut block edit client et specialite d'une fiche specialite -->
      <div>
        <div *ngIf="edit" class="row">

          <div class="col-4">

            <mat-form-field class="example-full-width">
              <mat-select formControlName="specialite" placeholder="Specialite">
                <mat-option *ngFor="let specilite of listSpecialites "
                            [value]="specilite.nomspecialite" disabled>
                  {{specilite.nomspecialite}}
                </mat-option>

              </mat-select>
              <mat-error *ngIf="FicheSpeForm.get('specialite').hasError('required')">Ce champ est obligatoire
              </mat-error>
            </mat-form-field>

          </div>
          <div class="col-4">
            <mat-form-field class="example-full-width">
              <mat-select [compareWith]="compareWithFunc" formControlName="qualifications" multiple="true"
                          placeholder="Qualification">

                <mat-option *ngFor="let qualif of qualifSpecialite"
                            [value]="qualif">{{qualif.qualification}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>
      </div>
      <!-- fin block edit client et specialite d'une fiche specialite -->

      <!-- debut block ajout client et specialite d'une fiche specialite -->
      <div>
        <div *ngIf="!edit" class="row">
          <div *ngIf="!hide_input_client" class="col-4">
            <mat-form-field class="erp-full-width">
              <mat-select formControlName="client" placeholder="Client">
                <mat-option
                  (blur)="onClient(client)" *ngFor="let client of clientList" [value]="client">
                  {{client.nom_etablissement}}
                </mat-option>

              </mat-select>

            </mat-form-field>

          </div>

          <div class="col-4">

            <mat-form-field class="example-full-width">
              <mat-select formControlName="specialite" placeholder="Specialite">
                <mat-option
                  (blur)="onSpecialite()" *ngFor="let specilite of listSpecialites" [value]="specilite.nomspecialite">
                  {{specilite.nomspecialite}}
                </mat-option>

              </mat-select>

            </mat-form-field>

          </div>
          <div *ngIf="qualifSpecialite" class="col-4">
            <mat-form-field class="example-full-width">
              <mat-select formControlName="qualifications" multiple="true" placeholder="Qualification">

                <mat-option *ngFor="let qualif of qualifSpecialite "
                            [value]="qualif">{{qualif.qualification}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>
      </div>
      <!-- fin block ajouter client et specialite d'une fiche specialite -->

      <div class="row">
        <div class="col-12">

          <!-- <textarea matInput  placeholder="Infos Pratiques" formControlName="info_pratique"></textarea> -->
         
          <mat-form-field class="example-full-width">
            <mat-label>Profil Rechercher</mat-label>
            <textarea matInput    [maxLength]="100"  formControlName="profil_rechercher" placeholder="Médecin qualifié par le CNOM en FRANCE ..."></textarea>
          </mat-form-field>
        </div>


      </div>
      <div class="row">
        <div class="col-12">

          <!-- <textarea matInput  placeholder="Infos Pratiques" formControlName="info_pratique"></textarea> -->
          <strong>information pratique</strong>
          <ckeditor formControlName="info_pratique" language="fr" skin="moono-lisa"></ckeditor>

        </div>

        <!-- <div class="col-6">

       


          <strong>Environnement Technique</strong>
          <ckeditor formControlName="environemen_tech" language="fr" skin="moono-lisa"></ckeditor>

        </div> -->

      </div>

    </form>

    <mat-card-actions>
      <button color="warn" mat-flat-button>Annuler</button>
      &nbsp;&nbsp;

      <button (click)="saveFicheSpe()" color="success" mat-flat-button type="submit">Enregister</button>
    </mat-card-actions>
  </div>
</div>
