<div class="container-fluid bg-white animated fadeIn">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!--Header-->
                <div class="card-header">
                    <div class="row">
                        <div class="col-12 col-md-12 col-sm-12 col-xs-12 col-lg-12 mt-4">
                            <h6 >
                                <a [routerLink]="['/RMS-Admin/renumerations-old']"><mat-icon>reply_all</mat-icon></a> &nbsp;
                                Dr <span *ngIf="data"> <a class="pointer" routerLink="/RMS-Admin/interim/{{data.idInterim}}/show/">{{data.interim}}</a> pour la mission <span class="text-vertfoncer">{{data.ref}}</span></span>
                            </h6>
                    </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <mat-tab-group>
                        <mat-tab label="Rémunération">
                            <div class="bg-white mt-3 mb-5 p-3">
                                <app-salaire-old></app-salaire-old>
                            </div>
                        </mat-tab>
                        <mat-tab label="Gestion Justificatif">
                            <div class="bg-white mt-3 mb-5 p-3">
                                <app-justificatif-old></app-justificatif-old>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>

    </div>
</div>
