<div class="row textForCard" data-aos="zoom-in">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center mb-4 " routerLink="/wrapper-interim">
        <div class="border p-2 item_image_med shadow pointer">
            <img src="../../../../assets/images/G9.svg" alt="medecin" width="65%">
            <p class="text_interim" style="text-align: justify;
      text-justify: inter-word;">
                Proposer aux médecins des prestations en continu et dans des bonnes conditions de travail.
                <span class="text-white">bienvenue dans myrms ! decouvrez.</span>
            </p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center" routerLink="/wrapper-client">
        <div class="border p-2 item_image_client shadow pointer">
            <img src="../../../../assets/images/hop.svg" alt="client" width="40%">
            <p class="text_client" style="text-align: justify;
      text-justify: inter-word;">
                Proposer aux établissements de santé, des médecins compétents, en adéquation avec leurs besoins, pour assurer vos missions.
            </p>
        </div>
    </div>
</div>
<div class="row statics mt-2 pt-4">
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 text-center">
        <img src="../../../../assets/images/network.webp" alt="medecins collaborateurs" class="med_collaborateur" width="140">
        <h1> {{stats?.nbreInterimActif}} </h1>
        <p>Médecins collaborateurs</p>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 text-center">
        <img src="../../../../assets/images/new_site/hospital.webp" alt="client_collaborateur" class="client_collaborateur">
        <h1 class="pt-2"> {{stats?.nbreTotalClient}} </h1>
        <p>Strucutures partenaires depuis 2010</p>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 text-center">
        <img src="../../../../assets/images/agremment.svg" alt="nombre_vacations" class="nombre_vacations">
        <h1 class="pt-2"> {{stats?.totalPlanning}} </h1>
        <p>Vacations en 2020</p>
    </div>
</div>