h1 {
  letter-spacing: 5px;
}
.med_collaborateur {
  max-width: 28%;
}
.client_collaborateur {
  max-width: 35%;
}
.nombre_vacations {
  max-width: 22%;
}
.statics {
  color: white;
  background: #00B5D2;
}
.item_image_med{
  width: 70%;
  margin-left: 20%;
}
.item_image_client{
  width: 70%;
}
.textForCard{
  color: #476391;
  font-weight: 400;
}
/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .item_image_med{
    margin-left: 4%;
    width: 92%;
    /*margin-left: 20%;*/
  }
  .item_image_client{
    width: 92%;
    margin-left: 4%;
  }
  .text_client{
    padding: 15px;
  }
  .text_interim{
    padding: 15px;

  }

}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .item_image_med{
    margin-left: 3%;
    width: 94%;
  }
  .item_image_client{
    width: 94%;
    margin-left: 3%;
  }
  .text_client{
    padding: 10px;
  }
  .text_interim{
    padding: 10px;
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .item_image_med{
    margin-left: 10%;
    width: 85%;
  }
  .item_image_client{
    width: 85%;
    margin-left: 7%;
  }
  .text_client{
    padding: 15px;
  }
  .text_interim{
    padding: 15px;
  }
  .myRmsPhone{
    width: 45%;
  }

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .text_client{
    padding: 12px;
  }
  .text_interim{
    padding: 12px;
  }

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .item_image_med{
    width: 65%;
    margin-left: 36%;
  }
  .item_image_client{
    width: 65%;
  }
  .text_client{
    font-size: 1.4em;
    padding: 42px;
  }
  .text_interim{
    font-size: 1.4em;
    padding: 42px;
  }
}

.pointer:hover{
  font-size: 1em;
  color: #0d5189;
}
