<div class="modal-content">
  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h6>Mise à jour du contrat:  {{idpld}} </h6>
  </div>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSave()" class="container">
    <!-- debut du formulaire information de l'utilisateur -->
    <div class="row">

      <div class="col-sm-4">
        <mat-form-field class="example-container">
          <mat-select placeholder="Motif de recours" formControlName="recours" >
            <mat-option value="Vacance Temporaire d'un emploi">Vacance Temporaire d'un emploi</mat-option>

          </mat-select>
        </mat-form-field>
      </div>


      <div class="col-md-4">
        <mat-form-field class="example-container">
          <input matInput type="text" placeholder="Moyen d'accès" formControlName="moyenAcces">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-container">
          <input matInput type="text" placeholder="Nombre de jours essai" formControlName="nbJoursEssai">
        </mat-form-field>
      </div>

      <div class="col-md-12" >
        <mat-form-field class="example-container">
          <textarea matInput placeholder="Justificatif" formControlName="justificatif"></textarea>
        </mat-form-field>
      </div>

      <div class="col-sm-12">
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipList aria-label="Prime selection">
            <mat-chip
              *ngFor="let prime of primesDuContrat"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(prime)">
              {{suppIdentifantPrime(prime)}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Nouvelle prime..."
              #fruitInput
              [formControl]="primeCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let prime of filteredPrimes | async" [value]="prime">
              {{prime}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </div>
      <div class="col-sm-6" >
        <mat-form-field class="erp-full-width">
          <textarea matInput placeholder="Informations Spéficiques" formControlName="horaires"></textarea>
        </mat-form-field>
      </div>
      <div class="col-sm-6" >
        <mat-form-field class="erp-full-width" *ngIf="caracteristiques">
          <mat-select placeholder="Caractéristique poste" formControlName="caracteristiquePoste">
            <mat-option value="{{caracteristique.Designation}}" *ngFor="let caracteristique of caracteristiques">{{caracteristique.Designation}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>Liste des candidatures validées</strong>
          </div>
          <table mat-table [dataSource]="dataSource"  class="table-responsive bg-white table table-hover table-striped" *ngIf="dataSource.data">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th  *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue()  && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="number">
              <th  *matHeaderCellDef >N°</th>
              <td mat-cell *matCellDef="let element">{{ dataSource.filteredData.indexOf(element) + 1 }}</td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="date">
              <th  *matHeaderCellDef > Date </th>
              <td mat-cell *matCellDef="let element"> {{element.date.date | date: 'dd-MM-yyyy'}} </td>
            </ng-container>
            <!-- Position Column -->
            <ng-container matColumnDef="vacation">
              <th  *matHeaderCellDef > Vacation </th>
              <td mat-cell *matCellDef="let element"> {{element.vacation}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="debut">
              <th  *matHeaderCellDef > Début </th>
              <td mat-cell *matCellDef="let element"> {{element.debut.date | date : 'shortTime'}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="fin">
              <th  *matHeaderCellDef> Fin </th>
              <td mat-cell *matCellDef="let element"> {{element.fin.date | date : 'shortTime'}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="salaireNet">
              <th  *matHeaderCellDef > Net </th>
              <td mat-cell *matCellDef="let element"> {{element.salaireNet}} </td>
            </ng-container>

            <ng-container matColumnDef="salaireBrute">
              <th *matHeaderCellDef > Brute </th>
              <td mat-cell *matCellDef="let element"> {{element.salaireBrute}} </td>
            </ng-container>
            <ng-container matColumnDef="tarif">
              <th  *matHeaderCellDef > Tarif </th>
              <td mat-cell *matCellDef="let element"> {{element.tarif}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selection.toggle(row)">
            </tr>
          </table>
          <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
        </div>
      </div>

      <div class="col-md-12 text-right">

        <mat-checkbox (click)="updateTauxHoraire()">Modifier le créneau horaire </mat-checkbox>
      </div>

      <div class="col-md-6" *ngIf="isUpdateTauxHoraire">
        <mat-form-field class="example-container">
          <input matInput type="time" placeholder="Heure Debut" formControlName="heureDebut">
        </mat-form-field>
      </div>
      <div class="col-md-6" *ngIf="isUpdateTauxHoraire">
        <mat-form-field class="example-container">
          <input matInput type="time" placeholder="Heure Fin" formControlName="heureFin">
        </mat-form-field>

      </div>

      <div class="col-md-6 example-container">
        Heure début : <strong>{{contratPld.HoraireAMDebut}}{{contratPld.HorairePMDebut}}</strong>
      </div>
      <div class="col-md-6 example-container">
        Heure fin : <strong>{{contratPld.HoraireAMFin}}{{contratPld.HorairePMFin}}</strong>
      </div>

    </div>
    <div class="form-group row mt-3">
      <button class="col-sm-12 btn btn-primary" [disabled]="form.invalid">Continuer</button>
    </div>
  </form>

</div>
