.example-chip-list {
  width: 100%;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}


.ion-ios-eye{
  font-size: 40px;
  color: #3a97a2;
  position: relative;
  top: -15px;
}

.mat-header-cell{
  color: black;
  border-bottom: #3a97a2 2px solid;
  padding-bottom: 5px;
}
th.mat-header-cell{
  padding-bottom: 14px;
}
td.mat-cell, td.mat-footer-cell {
  padding-top: 14px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
table{
  width: 100%;
}
