<!--====================================================================================================================-->

<div class="card mt-4 animated fadeIn" style="overflow: hidden">
    <div class="card-header p-0 m-0">
        <div class="row">
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 pt-4">
                <h5 class="panel-title ml-4">
                    <span style="color: rgb(47, 64, 80)">Message Prospection</span>
                </h5>
            </div>
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">
                <mat-form-field>
                    <mat-label>Filtrer</mat-label>
                    <mat-select [(ngModel)]="elements" multiple>
                        <mat-option (click)="valutElements()" *ngFor="let item of displayedColumnsFilter" [value]="item.name">
                            {{ item.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                &nbsp;&nbsp;

                <button (click)="editMessageModal()" color="success" mat-mini-fab>
          <mat-icon>add_circle</mat-icon>
        </button>
            </div>
        </div>
        <form #f="ngForm" (ngSubmit)="onSubmitFiltre(f)" class="example-form container center_div">
            <div *ngFor="let item of elements" class="form-group">
                <div *ngIf="item == 'type'">
                    <mat-form-field class="erp-full-width">
                        <mat-select id="{{ item }}" name="{{ item }}" ngModel placeholder="{{ item }}" required>
                            <mat-option *ngFor="let m of types" value="{{ m.id }}">{{ m.designation | uppercase }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="item == 'rappeler'">
                    <mat-form-field class="erp-full-width">
                        <mat-select id="{{ item }}" name="{{ item }}" ngModel placeholder="{{ item }}" required>
                            <mat-option value="oui">Oui</mat-option>
                            <mat-option value="non">Non</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <button *ngIf="elements.length > 0" [disabled]="f.invalid" class="btn btn-primary" type="submit">
        Valider
      </button>
        </form>
    </div>
    <div class="card-body table-responsive">
        <table #table [dataSource]="dataSource" class="bg-white footable table table-hover table-striped" mat-table matSort matSortStart="asc">
            <!-- colonne de checkboc   -->

            <!-- <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let client">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(client) : null"
            [checked]="selection.isSelected(client)">
          </mat-checkbox>
        </td>
      </ng-container> -->
            <!-- debut des colonnes des champs du tableau -->
            <ng-container matColumnDef="number">
                <th *matHeaderCellDef mat-header-cell>Num.</th>
                <td *matCellDef="let item" mat-cell class="pt-3">
                    {{ dataSource.filteredData.indexOf(item) + 1 }}
                </td>
            </ng-container>

            <ng-container matColumnDef="Type">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Type</th>
                <td *matCellDef="let item" class="font-bold" mat-cell class="pt-3">
                    {{ item.type }}
                </td>
            </ng-container>
            <ng-container matColumnDef="Date Rapel">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Date Rapel</th>
                <td *matCellDef="let item" class="font-bold" mat-cell class="pt-3">
                    {{ item.date_rapel?.date | date }}
                </td>
            </ng-container>
            <ng-container matColumnDef="Date Enregistrement">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    Dernière Modification
                </th>
                <td *matCellDef="let item" mat-cell class="pt-3">
                    {{ item.date_enreg.date | date: "d-MM-y HH:mm" }}
                </td>
            </ng-container>

            <ng-container matColumnDef="auteur">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Auteur</th>
                <td mat-cell *matCellDef="let item">
                    <b>{{ item.gestionnaire }}</b>
                </td>
            </ng-container>

            <ng-container matColumnDef="commentaire">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>commentaire</th>
                <td *matCellDef="let item" mat-cell class="pt-2">
                    <button (click)="message(item.commentaire)" color="success" mat-mini-fab>
            <mat-icon>message</mat-icon>
          </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="Edit">
                <th *matHeaderCellDef mat-header-cell>Edit</th>
                <td *matCellDef="let item" mat-cell class="pt-2">
                    <button (click)="editMessageModal(item.id)" mat-mini-fab="accent">
            <mat-icon>create</mat-icon>
          </button>
                </td>
            </ng-container>

            <!-- fin des colonnes des champs du tableau -->
            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr (click)="selection.toggle(interim)" *matRowDef="let interim; columns: displayedColumns" mat-row></tr>
        </table>
    </div>
    <div class="card-footer">
        <mat-paginator #listPaginator [length]="length" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize">
        </mat-paginator>
    </div>
</div>