<!-- ########## START: HEAD PANEL ########## -->
<div class="br-header">
  <div class="br-header-left">
    <div class="navicon-left hidden-md-down pointer" (click)="displayDevice()"><a id="btnLeftMenu"><i class="icon ion-navicon-round"></i></a></div>
    <div class="navicon-left hidden-lg-up pointer" (click)="displayDeviceMobile()"><a id="btnLeftMenuMobile"><i class="icon ion-navicon-round"></i></a></div>
    <!--    <div class="input-group hidden-xs-down wd-170 transition">-->
    <!--      <input id="searchbox" type="text" class="form-control" placeholder="Search">-->
    <!--      <span class="input-group-btn">-->
    <!--            <button class="btn btn-secondary" type="button"><i class="fas fa-search"></i></button>-->
    <!--          </span>-->
    <!--    </div>&lt;!&ndash; input-group &ndash;&gt;-->
  </div><!-- br-header-left -->
  <div class="br-header-right">
    <nav class="nav">
<!--      <div class="dropdown">-->
<!--        <a href="#" class="nav-link pd-x-7 pos-relative" data-toggle="dropdown">-->
<!--          <i class="icon ion-ios-email-outline tx-24"></i>-->
<!--          &lt;!&ndash; start: if statement &ndash;&gt;-->
<!--          <span class="square-8 bg-danger pos-absolute t-15 r-0 rounded-circle"></span>-->
<!--          &lt;!&ndash; end: if statement &ndash;&gt;-->
<!--        </a>-->
<!--        <div class="dropdown-menu dropdown-menu-header">-->
<!--          <div class="dropdown-menu-label">-->
<!--            <label>Messages</label>-->
<!--            <a href="#">+ Add New Message</a>-->
<!--          </div>&lt;!&ndash; d-flex &ndash;&gt;-->

<!--&lt;!&ndash;          <div class="media-list">&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; loop starts here &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#" class="media-list-link">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="media">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="../img/img3.jpg" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="media-body">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <p>Donna Seay</p>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>2 minutes ago</span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&lt;!&ndash; d-flex &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring.</p>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&lt;!&ndash; media &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; loop ends here &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#" class="media-list-link read">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="media">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="media-body">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <p>Samantha Francis</p>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>3 hours ago</span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&lt;!&ndash; d-flex &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>My entire soul, like these sweet mornings of spring.</p>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&lt;!&ndash; media &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#" class="media-list-link read">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="media">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="media-body">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <p>Robert Walker</p>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>5 hours ago</span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&lt;!&ndash; d-flex &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>I should be incapable of drawing a single stroke at the present moment...</p>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&lt;!&ndash; media &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#" class="media-list-link read">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="media">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="media-body">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <p>Larry Smith</p>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>Yesterday</span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&lt;!&ndash; d-flex &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes...</p>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&lt;!&ndash; media &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="dropdown-footer">&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="#"><i class="fas fa-angle-down"></i> Show All Messages</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&lt;!&ndash; media-list &ndash;&gt;&ndash;&gt;-->
<!--        </div>&lt;!&ndash; dropdown-menu &ndash;&gt;-->
<!--      </div>-->
      <!-- dropdown -->
<!--      <div class="dropdown">-->
<!--        <a href="#" class="nav-link pd-x-7 pos-relative" data-toggle="dropdown">-->
<!--          <i class="icon ion-ios-bell-outline tx-24"></i>-->
<!--          &lt;!&ndash; start: if statement &ndash;&gt;-->
<!--          <span class="square-8 bg-danger pos-absolute t-15 r-5 rounded-circle"></span>-->
<!--          &lt;!&ndash; end: if statement &ndash;&gt;-->
<!--        </a>-->
<!--        <div class="dropdown-menu dropdown-menu-header">-->
<!--          <div class="dropdown-menu-label">-->
<!--            <label>Notifications</label>-->
<!--            <a href="#">Mark All as Read</a>-->
<!--          </div>&lt;!&ndash; d-flex &ndash;&gt;-->

<!--          <div class="media-list">-->
<!--            &lt;!&ndash; loop starts here &ndash;&gt;-->
<!--            <a href="#" class="media-list-link read">-->
<!--              <div class="media">-->
<!--                <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" alt="">-->
<!--                <div class="media-body">-->
<!--                  <p class="noti-text"><strong>Suzzeth Bungaos</strong> tagged you and 18 others in a post.</p>-->
<!--                  <span>October 03, 2017 8:45am</span>-->
<!--                </div>-->
<!--              </div>&lt;!&ndash; media &ndash;&gt;-->
<!--            </a>-->
<!--            &lt;!&ndash; loop ends here &ndash;&gt;-->
<!--            <a href="#" class="media-list-link read">-->
<!--              <div class="media">-->
<!--                <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" alt="">-->
<!--                <div class="media-body">-->
<!--                  <p class="noti-text"><strong>Mellisa Brown</strong> appreciated your work <strong>The Social Network</strong></p>-->
<!--                  <span>October 02, 2017 12:44am</span>-->
<!--                </div>-->
<!--              </div>&lt;!&ndash; media &ndash;&gt;-->
<!--            </a>-->
<!--            <a href="#" class="media-list-link read">-->
<!--              <div class="media">-->
<!--                <img src="../img/img10.jpg" alt="">-->
<!--                <div class="media-body">-->
<!--                  <p class="noti-text">20+ new items added are for sale in your <strong>Sale Group</strong></p>-->
<!--                  <span>October 01, 2017 10:20pm</span>-->
<!--                </div>-->
<!--              </div>&lt;!&ndash; media &ndash;&gt;-->
<!--            </a>-->
<!--            <a href="#" class="media-list-link read">-->
<!--              <div class="media">-->
<!--                <img src="../img/img5.jpg" alt="">-->
<!--                <div class="media-body">-->
<!--                  <p class="noti-text"><strong>Julius Erving</strong> wants to connect with you on your conversation with <strong>Ronnie Mara</strong></p>-->
<!--                  <span>October 01, 2017 6:08pm</span>-->
<!--                </div>-->
<!--              </div>&lt;!&ndash; media &ndash;&gt;-->
<!--            </a>-->
<!--            <div class="dropdown-footer">-->
<!--              <a href="#"><i class="fas fa-angle-down"></i> Show All Notifications</a>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash; media-list &ndash;&gt;-->
<!--        </div>&lt;!&ndash; dropdown-menu &ndash;&gt;-->
<!--      </div>&lt;!&ndash; dropdown &ndash;&gt;-->
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <div id="dropdownForm1" ngbDropdownToggle>
              <span class="logged-name hidden-md-down"> {{currentUser.nom}} {{currentUser.prenom}}</span>
              <img src="assets/photo-avatar-profil.png" class="wd-32 rounded-circle imgphotoProfil" alt="Photo utilisateur">
<!--              <span class="square-10 bg-success"></span>-->
            </div>
<!--            <button class="btn btn-outline-primary" >Toggle dropdown</button>-->
            <div ngbDropdownMenu aria-labelledby="dropdownForm1">
              <div class="tx-center">
                <a href="#"><img src="assets/photo-avatar-profil.png" class="wd-80 rounded-circle imgphotoProfil" alt="Photo utilisateur"></a>
<!--                <p class="mt-1 text-center">-->
<!--                  <input class="form-control d-none photoProfil" (change)="OnchangephotoProfil($event)" type="file" accept="*">-->
<!--                  <button class="btn btn-info btn-sm" (click)="onCliqueinputfile()"><i class="glyphicon glyphicon-edit"></i> Modifier la photo</button>&nbsp;&nbsp;&nbsp;-->
<!--                </p>-->
                <h6 class="logged-fullname">{{currentUser.nom}} {{currentUser.prenom}}</h6>
                <p>{{currentUser.email}}</p>
              </div>
              <hr>
              <ul class="list-unstyled user-profile-nav">
                <li><a [routerLink]="['Mon-Profil']"><i class="icon ion-ios-gear"></i> Paramètres</a></li>
                <li><a routerLink="/"><i class="icon ion-arrow-return-left"></i> Retour sur le site</a></li>
                <li>
                  <a (click)="logout()" class="text-danger pointer font-weight-bold">
                    <i class="icon ion-log-out"></i> Se déconnecter
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="dropdown">-->
<!--        <a href="#" class="nav-link nav-link-profile" data-toggle="dropdown">-->
<!--          <span class="logged-name hidden-md-down"> {{currentUser.nom}} {{currentUser.prenom}}</span>-->
<!--          <img src="{{currentUser.photo}}" class="wd-32 rounded-circle" alt="Photo utilisateur">-->
<!--          <span class="square-10 bg-success"></span>-->
<!--        </a>-->
<!--        <div class="dropdown-menu dropdown-menu-header wd-250">-->
<!--          <div class="tx-center">-->
<!--            <a href="#"><img src="{{currentUser.photo}}" class="wd-80 rounded-circle" alt="Photo utilisateur"></a>-->
<!--            <h6 class="logged-fullname">{{currentUser.nom}} {{currentUser.prenom}}</h6>-->
<!--            <p>{{currentUser.email}}</p>-->
<!--          </div>-->
<!--          <hr>-->
<!--          <ul class="list-unstyled user-profile-nav">-->
<!--            <li><a [routerLink]="['Mon-Profil']"><i class="icon ion-ios-gear"></i> Paramètres</a></li>-->
<!--            <li><a routerLink="/"><i class="icon ion-arrow-return-left"></i> Retour sur le site</a></li>-->
<!--            <li>-->
<!--              <a (click)="logout()" class="text-danger pointer font-weight-bold">-->
<!--                <i class="icon ion-log-out"></i> Se déconnecter-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>&lt;!&ndash; dropdown-menu &ndash;&gt;-->
<!--      </div>&lt;!&ndash; dropdown &ndash;&gt;-->
    </nav>
    <!--    <div class="navicon-right">-->
    <!--      <a id="btnRightMenu" href="#" class="pos-relative">-->
    <!--        <i class="icon ion-ios-chatboxes-outline"></i>-->
    <!--        &lt;!&ndash; start: if statement &ndash;&gt;-->
    <!--        <span class="square-8 bg-danger pos-absolute t-10 r&#45;&#45;5 rounded-circle"></span>-->
    <!--        &lt;!&ndash; end: if statement &ndash;&gt;-->
    <!--      </a>-->
    <!--    </div>&lt;!&ndash; navicon-right &ndash;&gt;-->
  </div><!-- br-header-right -->
</div><!-- br-header -->
<!-- ########## END: HEAD PANEL ########## -->
