<div class="card table-responsive">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 pt-4">
        <h5 class="panel-title"><span style="color: rgb(47, 64, 80)"><span class="glyphicon glyphicon-list"></span>
            SUIVI DISPONIBILITES</span></h5>
      </div>
      <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">
        <mat-form-field>
          <mat-label>Filtrer</mat-label>
          <mat-select multiple [(ngModel)]="elements">
            <mat-option *ngFor="let item of displayedColumnsFilter" [value]="item.name" (click)="valutElements()">
              {{item.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;&nbsp;
        <button mat-mini-fab color="success" (click)="editTacheModal()">
          <mat-icon>add_circle</mat-icon>
        </button>

      </div>
    </div>
    <form (ngSubmit)="onSubmitFiltre(f)" #f="ngForm" class="example-form container center_div">
      <div class="form-group" *ngFor="let item  of elements ">
        <div *ngIf="item != 'date' && item != 'heure_debut' && item != 'heure_fin' && item != 'statut' ">

          <mat-form-field class="erp-full-width">
            <input matInput type="text" placeholder="{{item}}" id="{{item}}" name="{{item}}" class="form-control"
              ngModel required>
          </mat-form-field>
        </div>


        <div *ngIf="item == 'statut'">

          <mat-form-field class="erp-full-width">
            <mat-select placeholder="{{item}}" id="{{item}}" name="{{item}}" ngModel required>
              <mat-option value="{{e.id}}" *ngFor="let e  of listActions ">{{e.name | uppercase }} </mat-option>

            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="item == 'date'">
          <ngx-mat-drp (selectedDateRangeChanged)="updateRange($event)" [options]="options" #dateRangePicker>
          </ngx-mat-drp>

        </div>

        <div *ngIf="item == 'heure_debut' || item == 'heure_fin' ">

          <mat-form-field class="erp-full-width">
            <input matInput type="time" placeholder="{{item}}" id="{{item}}" name="{{item}}" class="form-control"
              ngModel required>
          </mat-form-field>
        </div>


      </div>
      <button class="btn btn-primary" type="submit" [disabled]="f.invalid" *ngIf="elements.length > 0">Valider
      </button>

    </form>
  </div>
  <div class="card-body">
    <table mat-table #table matSort matSortStart="asc" [dataSource]="dataSource"
      class="bg-white footable table table-hover table-striped">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let item">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(item) : null"
            [checked]="selection.isSelected(item)">
          </mat-checkbox>
        </td>
      </ng-container>
      <!-- debut des colonnes des champs du tableau -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>Num.</th>
        <td mat-cell *matCellDef="let item">{{ dataSource.filteredData.indexOf(item) + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="Nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let item">{{ item.nom}}</td>
      </ng-container>

      <ng-container matColumnDef="Statut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Avancement</th>
        <td mat-cell *matCellDef="let item">
          <mat-chip-list>
            <span *ngIf="item.etat == 0">
              <mat-chip color="primary" selected>En Cours</mat-chip>
            </span>
            <span *ngIf="item.etat == 1">
              <mat-chip color="accent" selected>Terminer</mat-chip>
            </span>
            <span *ngIf="item.etat == 2">
              <mat-chip color="warn" selected>Annuler</mat-chip>
            </span>
            <span *ngIf="item.etat == 3">
              <mat-chip>Non Commencée</mat-chip>
            </span>
            <span *ngIf="item.etat == 4">
              <mat-chip>Valider</mat-chip>
            </span>

            <span *ngIf="item.etat == 5">
              <mat-chip>Perdue</mat-chip>
            </span>



          </mat-chip-list>

        </td>
      </ng-container>

      <ng-container matColumnDef="Ligne">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ligne</th>
        <td mat-cell *matCellDef="let item">{{ item.telephone_ligne}} - {{ item.email_ligne}}</td>
      </ng-container>

      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
        <td mat-cell *matCellDef="let item">{{ item.type}}</td>
      </ng-container>


      <ng-container matColumnDef="Gestionnaire">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Gestionnaire</th>

        <td mat-cell *matCellDef="let item">
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>visibility</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let g of item.gestionnaire">{{g?.nom}} {{g?.prenom}} </button>
          </mat-menu>

        </td>
      </ng-container>

      <ng-container matColumnDef="Heure Debut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Heure Debut</th>
        <td mat-cell *matCellDef="let item">{{ item.heure_debut}}</td>
      </ng-container>

      <ng-container matColumnDef="Heure Fin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Heure Debut</th>
        <td mat-cell *matCellDef="let item">{{ item.heure_fin}}</td>
      </ng-container>

      <ng-container matColumnDef="Date Debut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Debut</th>
        <td mat-cell *matCellDef="let item">{{ item.date_debut}}</td>
      </ng-container>

      <ng-container matColumnDef="Date Fin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Fin</th>
        <td mat-cell *matCellDef="let item">{{ item.date_fin}}</td>
      </ng-container>

      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let item">


          <button mat-mini-fab="accent" (click)="editTacheModal(item.id)" class="color-rms-bleu">
            <mat-icon>create</mat-icon>
          </button>

        </td>
      </ng-container>
      <!-- fin des colonnes des champs du tableau -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let item columns: displayedColumns;" (click)="selection.toggle(item)"></tr>
    </table>
    <div>



      <mat-form-field class="example-user-input">
        <mat-select placeholder="selectionnez une action" [(ngModel)]="action">
          <mat-option *ngFor="let action of listActions" [value]="action.id">
            {{action.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button aria-label="Button pour valider l'action"
        (click)="actionbtn(action,selection.selected)">
        OK
      </button>

    </div>
  </div>
  <div class="card-footer">
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="pagination($event)">
    </mat-paginator>
  </div>
</div>