<div class="modal-content" style="padding: 0;margin: 0">

    <!-- Modal Header -->
    <div class="modal-header text-center">
        <h3><strong>Tableau de rémunération</strong></h3>
    </div>

    <!-- Modal body -->
    <div class="modal-body table-responsive">
        <table class="table table-striped" *ngIf="renumerationPresta">
            <tbody>
            <tr>
                <th>Total(presta + frais)</th>
                <td class="text-right"><strong>{{stringToFloat(renumerationPresta['totalPrestation']) + stringToFloat(renumerationPresta['totalFrais'])}} € </strong></td>
            </tr>
            <tr>
                <th>Total Tarif</th>
                <td class="text-right"><strong>{{renumerationPresta['totalTarif']}} € </strong></td>
            </tr>
            <tr>
                <td>
                    <div class="card border-info mb-3" style="max-width: 100%;">
                        <div class="card-header bgvertfoncer">Rémunération frais</div>
                        <table class="table table-striped table-hover">
                            <tr *ngFor="let item of renumerationFraisKeys;let i = index">
                                <td>{{formaterItem(item)}}</td>
                                <td>{{isNullReturnZero(renumerationPresta[item])}}</td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td>
                    <div class="card border-info mb-3" style="max-width: 100%;">
                        <div class="card-header bgvertfoncer">Rémunération prestation</div>
                        <div class="card-body text-info">
                            <table class="table table-striped table-hover">
                                <tr *ngFor="let item of renumerationPrestaKeys;let i = index">
                                    <td>{{formaterItem(item)}}</td>
                                    <td>{{isNullReturnZero(renumerationPresta[item])}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
