.text-bloc{
    position: relative;
    top: -10px;
}
.responsive{
  max-width: 100%;
  height: auto;
}
.page-section{
  padding:75px 0;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}

