<!--rgpd-->
<div class="container text-bloc text-justify">
  <section *ngIf="rgpd" class="animated fadeInRight">
    <h1 class="text-center" style="color: #013157"><strong> Conditions Générales de protection des données personnelles par Réseau Médical Services</strong></h1><br>
    <div class="row">
      <div class="col-lg-12">
        <p>
          La société Réseau médical Services accorde une grande importance à la protection de votre vie privée.C’est la raison pour laquelle nous avons adopté une politique de confidentialité disponible sur le site www.reseaumedical.fr .

          Réseau Médical Services , SARL , dont le siège social est au 38 rue Jean Pagès 33140, Villenave d’Ornon , est responsable du traitement de vos données personnelles.Le présent document a pour objet de vous informer de la manière dont nous utilisons et protégeons vos données personnelles, ainsi que des raisons pour lesquelles nous traitons ces données.

          Il s’applique uniformément à tous les contrats signés avec les permanents de la société , les intérimaires , les centres hospitaliers ,les banques partenaires , les organismes d’assurances et de garantie financière , les sous traitants et tout autre partenaire de Réseau médical Services.
        </p>
        <h4 style="color: #013157"><strong>1- Quelles données personnelles traitons-nous ?</strong></h4>
        <p>
          Nous collectons et utilisons uniquement les données personnelles qui nous sont nécessaires dans le cadre de notre activité pour proposer des missions , soumettre des candidatures , payer des salaires etc…

          Nous pouvons être amenés à collecter différentes catégories de données personnelles auprès de vous notamment :
        </p>
        <ul>
          <li>
            Informations d’identification et de contact ( nom , prénom , lieu et date de naissance , photo, numéros de carte d’identité et de passeport , adresse postale et électronique , numéro de téléphone , sexe , âge ou signature );
          </li>
          <li>
            Données d’identification et d'authentification notamment lors de l'utilisation de notre site internet et nos messageries professionnelles en interne ( logs techniques , traces informatiques , informations sur la sécurité et l’utilisation du terminal , adresse IP ) .
          </li>
          <li>
            Données bancaires ( RIB )
          </li>
          <li>
            Informations relatives à la formation et à l’emploi (niveau d’étude, emploi ,nom de l’employeur, rémunération);
          </li>
          <li>
            Données relatives à vos habitudes et préférences:
            <ul>
              <li>
                données liées à l’utilisation des missions et services souscrits en relation avec les données professionnelles et confidentielles de nos clients .
              </li>
              <li>
                données relatives aux interactions avec nous : dans notre agence (comptes rendus de contact), sur notre site internet, sur notre application mobile, sur nos pages, sur les réseaux sociaux, lors des entretiens et conversations téléphoniques ou visio, dans les courriers électroniques);
              </li>
            </ul>
          </li>
          <li>
            vidéos (images et vidéosurveillance), données de géolocalisation;
          </li>
        </ul>
        <p>
          Sauf si la législation nous l’impose, nous ne traitons jamais celles relatives à vos origines raciales ou ethniques, vos opinions politiques, votre religion, votre conviction philosophique ou l’appartenance syndicale, au traitement des données génétiques, votre vie sexuelle ou orientation sexuelle.
          Les données que nous utilisons peuvent être collectées directement auprès de vous ou obtenues des sources suivantes, dans le but de vérifier ou d’enrichir nos bases de données:
        </p>
        <ul>
          <li>
            publications/ bases de données rendues accessibles par les autorités officielles (journal officiel);
          </li>
          <li>
            nos entreprises clientes ou fournisseurs de services;
          </li>
          <li>
            tiers tels que les organismes de renseignements commerciaux, de lutte contre la fraude, en conformité avec la réglementation en matière de protection de données:
          </li>
          <li>
            sites internet/pages de réseaux sociaux contenant des informations que vous avez rendues publiques et bases de données rendues publiques par des tiers.
          </li>
        </ul>
        <h4 style="color: #013157"><strong>2- Cas particuliers de collecte de données , notamment la collecte indirecte : </strong></h4>
        <p>
          Réseau Médical services peut collecter des informations vous concernant bien que vous ne soyez pas client.
          La liste ci-dessous (non exhaustive) constitue des exemples de données personnelles collectées par Réseau Médical Services auprès de personnes non clientes telles que:
        </p>
        <ul>
          <li>
            prospects, garants, mandataires;
          </li>
          <li>
            représentants légaux, mandataires sociaux et personnes habilitées d’une personne morale cliente de Réseau Médical Services;
          </li>
          <li>
            bénéficiaires effectifs et actionnaires d’une personne morale cliente de Réseau Médical Services;
          </li>
          <li>
            donneurs d’ordres ou bénéficiaires lors de transactions faites en relation avec un client de Réseau Médical Services;
          </li>
          <li>
            employés de nos prestataires.

          </li>
        </ul>
        <h4 style="color: #013157"><strong>3- Pourquoi et selon quelles bases de traitement utilisons-nous vos données personnelles ?</strong></h4>
        <ol type="a">
          <li>
            Pour nous conformer à nos obligations légales et réglementaires:<br>
            Nous utilisons vos données personnelles pour nous acquitter de différentes obligations légales et réglementaires, parmi lesquelles :
            <ul>
              <li>
                Le respect des formalités administratives de constitution des dossiers de candidature des médecins et pour le recrutement et l’emploi de nos permanents.

              </li>
            </ul>
          </li>
          <li>
            Pour exécuter un contrat conclu avec vous ou vous fournir des informations pré-contractuelles
            <p>
              nous utilisons vos données personnelles pour conclure et exécuter nos contrats y compris pour :
            </p>
            <ul>
              <li>
                vous fournir des informations relatives à nos missions et services;
              </li>
              <li>
                vous assister lors des demandes d’inscriptions;
              </li>
              <li>
                l’inscription (notamment par signature électronique ou par téléphone) par rapport au missions et services proposés par Réseau Médical Services;
              </li>
              <li>
                dans le cadre de la gestion de la relation client notamment:
                <ul>
                  <li>
                    gestion et exécution des services de mise à disposition;
                  </li>
                  <li>
                    évaluation des besoins des clients,
                  </li>
                  <li>
                    la sécurité de nos plateformes que vous utilisez
                  </li>
                </ul>
              </li>
              <li>
                fournir des services à nos clients auxquels vous êtes rattachés .
              </li>
            </ul>
          </li>
          <li>
            pour servir nos intérêts légitimes
            <p>
              Nous utilisons vos données personnelles pour mettre en place et développer nos services, optimiser notre gestion des missions et défendre nos intérêts en justice, y compris à des fins de:
            </p>
            <ul>
              <li>
                preuve de transactions ou d’opérations;
              </li>
              <li>
                gestion informatique y compris gestion de l’infrastructure (par exemple plateformes d’échanges) et continuité des activités y compris la sécurité des personnes;
              </li>
              <li>
                suivi et qualité des missions;
              </li>
              <li>
                recouvrement;
              </li>
              <li>
                création de modèles statistiques, sur la base de l’analyse de vos missions, afin de définir vos performances et nos références.
              </li>
              <li>
                établissement de modèle statistiques anonymisés, de tests, pour la recherche et développement, dans le but d’optimiser la gestion du service ou d’améliorer notre offre;
              </li>
              <li>
                enregistrement des appels téléphoniques, avec votre accord préalable,  pour la formation des collaborateurs;
              </li>
              <li>
                personnalisation des offres commerciales de Réseau Médical Services :
                <ul>
                  <li>
                    en améliorant la qualité des missions ou services
                  </li>
                  <li>
                    en vous proposant des missions ou services correspondants à votre profil ou votre situation.
                  </li>
                </ul>
              </li>
              Ces propositions commerciales peuvent être réalisées grâce à :
              <li>
                la segmentation des prospects et des clients;
              </li>
              <li>
                l’analyse de vos habitudes et préférences sur les différents canaux (visites dans nos plateformes, courrier électronique, visites de notre site internet, etc.);
              </li>
              <li>
                la transmission de vos données à une autre entité contractante (prestataire/client), notamment si vous êtes client , prospect  ou prestataire de Réseau Médical Services;
              </li>
              <li>
                en contrôlant vos actions sur la plateforme pour identifier celles qui semblent inhabituelles.
              </li>
              <li>
                vos données peuvent être agrégées en statistiques anonymisées et fournies à des clients professionnels pour les besoins de notre activité.
              </li>
            </ul>
          </li>
        </ol>
        <h4 style="color: #013157"><strong>4- A quelles catégories d’entités vos données personnelles pourront-elles être divulguées ?</strong></h4>
        Afin d’accomplir les finalités précitées, nous divulguons vos données personnelles uniquement aux:
        <ul>
          <li>
            Services de Réseau Médical Services;
          </li>
          <li>
            Prestataires de services et sous traitants réalisant des prestations pour notre compte;
          </li>
          <li>
            mandataires indépendants, intermédiaires ou courtiers;
          </li>
          <li>
            Partenaires commerciaux et bancaires;
          </li>
          <li>
            Autorités financières, judiciaires ou agences d’État, organismes publics sur demande et dans la limite de ce qui est permis par la réglementation;
          </li>
          <li>
            certaines professions réglementées telles qu’avocat, notaires, commissaires aux comptes.
          </li>
        </ul>
        <h4 style="color: #013157"><strong>4-bis Sur quel fondement les données sont transférées à nos clients :</strong></h4>
        <p>
          Dans le cadre de leurs relations contractuelles, Réseau médical Services et toutes les entreprises clientes,  s’engagent à respecter la réglementation en vigueur applicable au traitement de données à caractère personnel,
          en particulier, le règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 applicable à compter du 25 mai 2018 (ci-après, « le règlement européen sur la protection des données »).

          Le client est autorisé à traiter des données à caractère personnel nécessaires pour fournir les services suivants :

          Etudes des candidatures des médecins
          Exécution des missions de remplacement

          L'utilisation des données personnelles consiste à :
          L’exploitation qui en découle pour les besoins de l’activité de Réseau Médical Services et de ses clients.
          Réseau Médical services transmet uniquement les données personnelles des remplaçants , nécessaires dans le cadre de l’exécution du contrat de prestation avec l’entreprise utilisatrice

        </p>
        <h4 style="color: #013157"><strong>5- Transfert de données en dehors de l’espace économique européen :</strong></h4>
        <p>
          En cas de transferts internationaux émanant de l’Espace économique européen (EEE) :
        </p>
        <ul>
          <li>
            si la commission européenne a rendu une décision d’adéquation, reconnaissant à ce pays un niveau de protection des données personnelles équivalent à celui prévu par la législation de l’EEE,
            vos données personnelles seront transférées sur ce fondement;
          </li>
          <li>
            si le niveau de protection n’a pas été reconnu comme équivalent par la commision européenne, nous nous appuyons soit sur une dérogation applicable à la situation , soit sur la mise en place
            d’une des garanties appropriées pour assurer la protection de vos données personnelles (clauses contractuelles types approuvées par la commission européenne, règles d’entreprises contraignantes).
          </li>
        </ul>
        <p>
          Pour obtenir une copie de ces textes ou savoir comment y accéder, vous pouvez adresser une demande écrite de la manière dans la section 9.
        </p>
        <h4 style="color: #013157"><strong>6- Pendant combien de temps , conservons-nous vos données personnelles ?</strong></h4>
        <p>
          Nous conservons vos données personnelles pour la plus longue des durées nécessaires au respect des dispositions légales et réglementaires applicables ou une autre durée compte tenu des contraintes opérationnelles , un management efficace de la relation clients et commerciale.
          S’agissant des clients et des prestataires , la majorité des informations sont conservées pendant la durée de la relation contractuelle et pendant 10 ans après celle-ci.
          S’agissant des prospects , les informations sont conservées 3 ans à compter de leur collecte ou de notre dernier contact avec vous.
        </p>
        <h4 style="color: #013157"><strong>7- Quels sont vos droits et de quelle manière pouvez-vous les exercer?</strong></h4>
        <p>
          Conformément à la réglementation applicable , vous disposez de différents droits à savoir :
        </p>
        <ul>
          <li>
            <strong>Droit d’accès </strong>: Vous pouvez obtenir des informations concernant le traitement de vos données personnelles ainsi qu’une copie de ces données personnelles.
          </li>
          <li>
            <strong>Droit de rectification</strong> : Si vous estimez que vos données personnelles sont inexactes ou incomplètes , vous pouvez exiger que ces données soient modifiées en conséquence.
          </li>
          <li>
            <strong>Droit à l’effacement </strong>: Vous pouvez exiger l’effacement de vos données personnelles dans la limite de ce qui est permis par la réglementation.
          </li>
          <li>
            <strong>Droit à la limitation du traitement</strong> : Vous pouvez demander la limitation de vos données personnelles .
          </li>
          <li>
            <strong> Droit d’opposition </strong> : Vous pouvez-vous opposer au traitement de vos données personnelles , pour des motifs liés à votre situation particulière.Vous disposez du droit absolu de vous opposer au traitement de vos données personnelles à des fins de prospection commerciale, y compris le profilage lié à cette prospection.
          </li>
          <li>
            <strong> Droit à la portabilité de vos données </strong> : quand ce droit est applicable , vous avez le droit que les données personnelles que vous nous avez fournies vous soient rendues , ou lorsque cela est possible , techniquement de les transférer à un tiers;
          </li>
          <li>
            <strong>Droit de définir des directives relatives à la conservation </strong>: l'effacement ou la communication de vos données personnelles applicables après votre décès.
          </li>
          <li>
            <strong>Droit de retirer votre consentement </strong>: Si vous avez donné votre consentement au traitement de vos données personnelles , vous avez le droit de retirer votre consentement à tout moment.
          </li>
        </ul>
        <p>
          Vous pouvez adresser les droits listés ci-dessus, par courrier adressé à Réseau Médical Services , 38 rue Jean Pagès, 33140 Villenave d’Ornon.
          Conformément à la réglementation applicable , vous êtes en droit d’introduire une réclamation auprès de l’autorité de contrôle compétente telle que la CNIL (commission nationale de l’informatique et des libertés) en France.
        </p>
        <h4 style="color: #013157"><strong>8- De quelle manière pouvez-vous prendre connaissance des modifications apportées à ce document d’informations sur les données personnelles?</strong></h4>
        <p>
          Dans un monde en constante évolution technologique , nous actualisons régulièrement ce document d’information.
          Nous vous invitons à prendre connaissance de la dernière version de ce document sur notre site internet www.reseaumedical.fr et nous vous informerons de toute modification substantielle
          par le biais du même site ou par nos modes de communication habituels.
        </p>
        <h4 style="color: #013157"><strong>9- Comment nous contacter ?</strong></h4>
        <p>
          Si vous avez des questions concernant l’utilisation de vos données personnelles visée par le présent document , vous pouvez contacter notre délégué à la Protection des Données:
        </p>
        <ul>
          <li>
            par courrier →  ENORA PARC 3 avenue PAUL LANGEVIN, 33600 PESSAC.
          </li>
          <li>
            par mail → support@reseaumedical.fr
          </li>
          <li>
            par fax → 05 35 54 13 46
          </li>
        </ul>
      </div>

    </div>
  </section>
  <section *ngIf="mentionLegale" class="animated fadeInLeft">
    <div class="container text-bloc text-justify" style="margin-top: 7%;">
      <h1 class="text-center" style="color: #013157"><strong> Mentions légales &amp; Conditions d’utilisation</strong></h1><br>


      <div class="row">
        <div class="col-lg-5" style="padding-top: 5%;">
          <h4 style="color: #013157"><strong>OBJET ET ACCEPTATION</strong></h4>
          Les dispositions suivantes régissent l’utilisation de votre site reseaumedical.fr :<br>


          ci-après désignée , ainsi que le contenu accessible via ce site .
        </div>
        <div class="col-lg-6 col-lg-offset-1" style="background-color:#013157; color:white ">
          <div class="col-lg-12">
            Ce site web a été conçu et développé par:
          </div>
          <div class="col-lg-12" style="font-weight: bold">
            RESEAU MEDICAL SERVICES
            ENORA PARC 3 avenue PAUL LANGEVIN, 33600 PESSAC

          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-lg-12">
          <h4 style="color: #013157"><strong>HÉBERGEUR</strong></h4>
        </div>
        <div class="col-lg-12">
          <p>
            Tout utilisateur accédant au Site reseaumedical.fr , accepte, par les présentes mentions , les Conditions d’utilisation en vigueur pendant sa visite et s’engage à les respecter sans réserve.
          </p>
          <p>
            Les mentions légales ou conditions d’utilisation pourront être occasionnellement modifiées
            et votre utilisation du Site Internet sera ainsi soumise aux Conditions d’utilisation applicables à la date de votre visite.
            Ainsi , nous vous recommandons de consulter régulièrement les présentes Conditions d’utilisation afin de vous assurer que vous
            en respectez les termes . En cas de désaccord de votre part, veuillez ne pas utiliser le site Internet.

          </p>
          <p>
            Le contenu mis à votre disposition par le biais du site www.reseaumedical.fr ,  peut être soumis à des conditions spécifiques ,
            que vous approuvez, à chacune de vos visites relatives audit Contenu. En cas de non conformité entre les présentes Conditions d’utilisation
            et l’une des Conditions spécifiques y afférentes , ces dernières prévalent.
          </p>
          <p>
            Chaque fois que vous accédez au Site Internet et à son Contenu, votre acceptation les présentes Conditions d’utilisation et de l’ensemble
            des Conditions spécifiques , est établie.
          </p>
          <p>
            En aucune manière , le site internet ne pourrait constituer , une source potentielle  de conseils ou un moyen d’établir une relation réellement professionnelle,
            de quelque nature que ce soit, entre vous et Réseau Médical Services . L’accès au Site Internet étant autorisé  sur une base temporaire,  l'administrateur se
            réserve le droit de retirer ou de modifier le contenu fourni par les utilisateurs , sans avis préalable. Nous serons régulièrement susceptibles de restreindre
            l’accès à tout ou partie du Site Internet .
          </p>
          <p>
            Toute indisponibilité totale ou partielle du site internet ne saurait nous être imputable, et nous ne pourrons être tenus responsables quelqu’en soit la raison
            et la durée.

          </p>
        </div>

      </div>

      <div class="row">
        <div class="col-lg-12">
          <h4 style="color: #013157"><strong>UTILISATION DU SITE INTERNET</strong></h4>
        </div>
        <div class="col-lg-12">
          <p>
            Tout utilisateur accepte et reconnaît ,de manière expresse et volontaire , que son utilisation du Site Internet relève de sa seule et exclusive responsabilité.
          </p>
          <p>
            Qu’il est responsable de la mise en œuvre des moyens permettant son accès à la plateforme .
          </p>
          <p>
            Qu’ également il est de sa responsabilité de garantir que toute personne accédant au Site Internet par le biais de sa connexion à Internet , a connaissance
            des présentes Conditions d’utilisation ainsi que des Conditions spécifiques, et qu’elle s’y conforme.
          </p>
          <p>
            Si vous choisissez ou obtenez un code d’identification utilisateur, un mot de passe ou toute autre information dans le cadre de nos procédures de sécurité,
            il est de votre obligation de traiter ces informations en tant que données confidentielles et vous vous engagez de  ne les partager avec des tiers pour quelque
            motif que ce soit .
          </p>
          <p>
            Une désactivation peut s’en suivre , de  tout code d’identification utilisateur ou mot de passe, qu’il ait été choisi par vous ou qu’il vous ait été attribué
            par nous, à tout moment, si nous constatons ou soupçonnons que vous n’avez pas respecté l’une quelconque des dispositions des présentes.
          </p>
          <p>
            Votre accès au site internet , vous engage ainsi  à ne commettre aucun acte en mesure de ternir notre image , ou susceptible de porter la moindre atteinte à nos
            intérêts et à nos droits,  ou, qui pourrait endommager, rendre inutilisable ou surcharger notre site internet ou, qui pourrait entraver de quelque manière,
            l’utilisation purement et simplement du Site Internet par d’autres visiteurs.
          </p>
          <p>
            Par ailleurs, des mesures de sécurités réglementaires et appropriées sont mobilisées,  pour détecter la présence de virus.
          </p>
          <p>
            Toutefois, vous êtes sans savoir que les mesures de sécurité existantes pour la protection des systèmes informatiques sur Internet ne sont pas entièrement
            efficace et efficientes , par conséquent, nous ne pouvons garantir l’absence totale de virus ou d’autres éléments pouvant altérer vos systèmes
            (matériel et logiciel) ou vos données et fichiers contenus dans ces systèmes.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h4 style="color: #013157"><strong>CONTENU</strong></h4>
        </div>
        <div class="col-lg-12">
          <p>
            Nous ne sommes tenus à aucune obligation de vérifier l’exactitude du Contenu et n’apportons aucune garantie quant à l’utilité, la précision, l’exhaustivité
            ou la pertinence du Contenu et/ou sa mise à jour. Nous déclinons expressément toute responsabilité concernant les erreurs ou omissions relatives au Contenu
            et au Site Internet.
          </p>
          <p>
            L’intégration du Contenu au site internet ne saurait être considérée comme une prestation de services de dotation en personnel ou de tout autre type de services.
            De manière expresse , Réseau médical Services rejette toute responsabilité,quelque soit sa nature ,  à l’égard des décisions relatives au contenu que vous pourriez
            soustraire.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h4 style="color: #013157"><strong>OFFRE ET SOLLICITATION</strong></h4>
        </div>
        <div class="col-lg-12">
          <p>
            Les informations dont vous accéderez sur le site  ne constituent pas une offre ou une sollicitation d’achat ou de cession, d’échange ou de  transaction relative
            aux titres de Réseau Médical Services .
          </p>
          <p>
            Ainsi , les décisions d’investissement sur ces informations ne sauraient y trouver leur fondement .
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h4 style="color: #013157"><strong>PROPRIÉTÉ INTELLECTUELLE</strong></h4>
        </div>
        <div class="col-lg-12">
          <p>
            Réseau médical services est dépositaire et propriétaire de tout contenu du site internet .
          </p>
          <p>
            Tout élément que vous voyez ou lisez sur le site (images, photos, illustrations, textes, clips vidéo et autres supports) jouit d’une protection dans le monde
            entier par les lois régissant le droit d’auteur, les marques de commerce et autres lois sur la propriété intellectuelle. Ceci vous met dans l’obligation du
            respect scrupuleux de l’ensemble des droits de propriété intellectuelle liés au Site Internet et au Contenu, qu’ils soient détenus par nous, par toute
            Société du groupe Adecco ou par un tiers. Vous vous interdisez d’obtenir ou de tenter d’obtenir tout Contenu par des moyens ou procédures autres que ceux mis
            à votre disposition par le Site Internet.
          </p>
          <p>
            Les présentes Conditions d’utilisation ou votre utilisation du Site Internet ne vous confèrent en aucun cas des droits de propriété intellectuelle sur
            le Site Internet ou le Contenu, autres que ceux établis dans les présentes ou dans l’une quelconque des Conditions spécifiques. En conséquence, il vous est
            expressément interdit de reproduire, transformer, distribuer ou communiquer publiquement, rendre disponible, extraire, réutiliser, renvoyer ou, de toute autre manière,
            d’utiliser par tous moyens ou procédures, toute partie du Site Internet ou du Contenu, à l’exception des cas prévus par les présentes Conditions d’utilisation ou toutes
            Conditions spécifiques applicables ou, des cas autorisés par la loi en vigueur ou, des cas dans lesquels une autorisation explicite a été remise par le détenteur des droits concernés.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h4 style="color: #013157"><strong>LIENS</strong></h4>
        </div>
        <div class="col-lg-12">
          <p>
            Vous pourrez constater la présence de liens d’autres sites administrés par des tiers non affiliés à nous . L’intégration de tout lien vers ces sites tiers n’implique pas une approbation de notre
            part à l’égard desdits sites et nous réfutons toute responsabilité concernant tout site tiers relié au Site Internet. Nous n’avons pas procédé à la vérification de tous les sites reliés au Site
            Internet et nous ne sommes pas responsables du contenu ou de l’exactitude de toute page hors site ou de tout autre site relié au Site Internet. La décision de suivre tout lien vers toute autre
            page hors site ou tout site tiers est à vos propres risques.
          </p>
          <p>
            Tout lien vers le Site Internet depuis un site tiers est soumis à notre autorisation écrite préalable.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h4 style="color: #013157"><strong>DONNÉES PERSONNELLES</strong></h4>
        </div>
        <div class="col-lg-12">
          <p>
            Notre Politique de confidentialité, intègre  aux présentes Conditions d’utilisation la collecte de vos données personnelles .
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <h4 style="color: #013157"><strong>GARANTIES ET LIMITATION DE RESPONSABILITÉ</strong></h4>
        </div>
        <div class="col-lg-12">
          <p>
            Réseau médical services ne garantit  ni ne déclare que le Site Internet  et son contenu sont exacts, complets, exempts d’erreurs ou fiables ni
            que l’utilisation du Site Internet et/ou du Contenu n’enfreint pas les droits de tiers. Nous ne garantissons ni ne déclarons que les aspects
            fonctionnels du Site Internet et/ou du Contenu seront exempts d’erreurs ou que les serveurs via lesquels ils sont accessibles sont dépourvus
            de virus ou autres composants nuisibles. L’utilisation du Site Internet et/ou du Contenu est à vos propres risques et tout contenu sur le Site
            vous est fourni « EN L’ÉTAT » et « SELON LA DISPONIBILITÉ », SANS GARANTIE D’AUCUNE SORTE, EXPLICITE OU IMPLICITE. Dans la mesure autorisée par
            le droit applicable, nous ne saurions être tenus responsables de toute perte résultant de l’utilisation du Site Internet ou du Contenu, ou ayant
            un lien avec ladite utilisation, qu’elle soit directe ou indirecte, fortuite, consécutive ou autre. Par exemple, nous déclinons toute responsabilité
            quant à la perte d’usage, l’interruption d’activité, la perte de profits ou de données, indépendamment de la forme d’action. .
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <h4 style="color: #013157"><strong>DROIT APPLICABLE ET TRIBUNAL COMPÉTENT</strong></h4>
        </div>
        <div class="col-lg-12">
          <p>
            Les présentes Conditions d’utilisation et tout différend relatif au Site Internet et à son Contenu sont soumis au droit français.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <h4 style="color: #013157"><strong>MODIFICATIONS</strong></h4>
        </div>
        <div class="col-lg-12">
          <p>
            Les présentes Conditions d’utilisation pourront être occasionnellement modifiées et votre utilisation du Site Internet est soumise aux conditions applicables
            à chacun de vos accès au Site Internet et à son Contenu. Nous vous recommandons de consulter régulièrement les présentes Conditions d’utilisation afin de vous
            assurer que vous en connaissez le contenu.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <h4 style="color: #013157"><strong>CONTACT</strong></h4>
        </div>
        <div class="col-lg-12">
          <p>
            Les questions, commentaires et demandes concernant les présentes Conditions d’utilisation sont les bienvenues et doivent être adressées à
            cette adresse mail: contact@reseaumedical.fr.

          </p>
        </div>
      </div>
    </div>
  </section>
  <section *ngIf="qui_sommes_nous" class="animated fadeIn">
    <div id="page">

      <!-- Service -->
      <section class="page-section">
        <div class="container">
          <div class="row">

            <div class="col-md-7 animated fadeInLeft bottom-xs-pad-30">
              <div class="section-title text-left animated fadeInUp">
                <!-- Title -->
                <h2 class="title" style="color: #D06F80;">Qui sommes-nous?</h2>
                <div style="height: 2px; color: #3683A1; background-color: #3683A1; width: 10%; border: none;"> </div>
              </div>
              <!-- Content -->
              <div class="animated fadeInUp">
                <p>
                  Réseau Médical Services est une agence spécialisée dans le remplacement
                  médical, qui assure la continuité des soins aux structures de santé en France,
                  en leur fournissant les meilleurs médecins. Grâce à son vivier de qualité
                  comptant à son actif plusieurs milliers de professionnels de santé toutes
                  spécialités confondues, RMS garantit des remplacements médicaux rapides
                  et fiables avec le concours de ses collaborateurs intérimaires.
                </p>
              </div>
              <!-- Features -->
            </div>

            <div class="col-md-5 text-center animated fadeInRight">
              <!-- Image -->
              <img src="../../../../assets/images/new_site/G1.svg" class="responsive" alt="" />
            </div>
          </div>
        </div>
      </section>

      <section class="page-section">
        <div class="container">
          <div class="row">
            <div class="col-md-5 text-center bottom-xs-pad-30 animated fadeInLeft img-responsive">
              <!-- Image -->
              <img src="../../../../assets/images/new_site/G2.svg" class="responsive" alt="" />
            </div>

            <div class="col-md-7 animated fadeInRight">
              <div class="section-title text-left animated fadeInUp ">
                <!-- Title -->
                <h2 class="title" style="color: #D06F80;">Notre métier</h2>
                <div style="height: 2px; color: #3683A1; background-color: #3683A1; width: 10%; border: none;"> </div>

              </div>
              <!-- Content -->
              <div class="animated fadeInUp">
                <p>
                  Déjà une génération que RMS s’exécute à mettre au service
                  des structures de santé, des médecins et des paramédicaux
                  compétents et méthodiques.  Son processus de mise à  disposition
                  est traité avec célérité en sus des relations de confiance que RMS
                  entretient avec ses collaborateurs. Ayant conscience de la complexité
                  du labeur qu’implique le remplacement médical, RMS intègre dans son
                  système de fonctionnement, des solutions technologiques qui vous
                  facilitent la prise en main de votre environnement de travail, que vous
                  soyez un médecin ou un centre hospitalier.
                </p>
              </div>
              <!-- Features -->
            </div>
          </div>
        </div>
      </section>

      <section class="page-section">
        <div class="container">
          <div class="row">

            <div class="col-md-7 animated fadeInLeft">
              <div class="section-title text-left animated fadeInUp">
                <!-- Title -->
                <h2 class="title" style="color: #D06F80;">Notre histoire</h2>
                <div style="height: 2px; color: #3683A1; background-color: #3683A1; width: 10%; border: none;"> </div>

              </div>
              <!-- Content -->
              <div class="animated fadeInUp">
                <p>
                  RMS voit le jour en 2010 dans le marché du remplacement
                  médical. Depuis 10 ans, RMS se fond parfaitement à la politique
                  de développement des entreprises de santé avec lesquelles il
                  collabore. Inscrit dans une politique de démarche de proximité,
                  RMS s’est jusqu’ici engagé dans des rapports étroits avec ses clients
                  et ses intérimaires pour leur apporter un service compétitif.
                </p>
              </div>
              <!-- Features -->
            </div>

            <div class="col-md-5 text-center bottom-xs-pad-30 animated fadeInRight">
              <!-- Image -->
              <img src="../../../../assets/images/new_site/G3.svg" class="responsive" alt="" />
            </div>
          </div>
        </div>
      </section>
      <!-- End service -->

    </div>
  </section>
</div>
