<mat-tab-group>

    <mat-tab>

        <ng-template mat-tab-label>

            <span matBadge="{{total_contrat}}" matBadgeOverlap="false" matBadgeColor="success"><b>Tous les contrats</b></span>

        </ng-template>


        <mat-card>
            <mat-card-content>


                <app-tous-les-contrats></app-tous-les-contrats>

            </mat-card-content>
        </mat-card>
    </mat-tab>



    <mat-tab>

        <ng-template mat-tab-label>

            <span matBadge="{{contrat_encour}}" matBadgeOverlap="false" matBadgeColor="success"><b>Contrats en
          cours</b></span>

        </ng-template>
        <mat-card>
            <mat-card-content>

                <app-contrat-en-cours></app-contrat-en-cours>

            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab>


        <ng-template mat-tab-label>

            <span matBadge="{{contrat_a_valider}}" matBadgeOverlap="false" matBadgeColor="success"><b>Contrats à
          valider</b></span>

        </ng-template>
        <mat-card-content>

            <app-contrat-a-valider></app-contrat-a-valider>
        </mat-card-content>
    </mat-tab>
    <mat-tab>

        <ng-template mat-tab-label>

            <span matBadge="{{contrat_valider}}" matBadgeOverlap="false" matBadgeColor="success"><b>Contrats
          validés</b></span>

        </ng-template>
        <mat-card-content>


            <app-contrat-valider></app-contrat-valider>


        </mat-card-content>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>

            <span matBadge="{{contrat_archiver}}" matBadgeOverlap="false" matBadgeColor="success"><b>Contrats
          archivés</b></span>

        </ng-template>
        <mat-card>
            <mat-card-content>

                <app-contrat-archiver></app-contrat-archiver>

            </mat-card-content>

        </mat-card>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>

            <span matBadge="{{contrat_abandonnes}}" matBadgeOverlap="false" matBadgeColor="success"><b>Contrats
          abandonnés</b></span>

        </ng-template>
        <mat-card>
            <mat-card-content>

                <app-contrat-abandonner></app-contrat-abandonner>


            </mat-card-content>
        </mat-card>
    </mat-tab>

</mat-tab-group>



<!-- <div class="row">
  <div class="col-md-2"></div>
  <button mat-raised-button (click)="statutBtn(0)" color="primary">Valider</button>&nbsp;&nbsp;
  <button mat-raised-button (click)="statutBtn(1)" color="warn">Annuler</button>&nbsp;&nbsp;
  <button mat-raised-button (click)="statutBtn(2)" [disabled] ="false" color="accent">Relancer</button>

</div> -->