<div class="container bloc p-4 mt-4" >

  <div class="alert alert-success alert-dismissible py-4">
    <strong>Succès!</strong> un email vous a été envoyé à votre adresse <strong> {{email}} !</strong>
  </div>
</div>


