<div class="container-fluid m-0 p-0 animated fadeIn" style="overflow-x: hidden">
  <div class="row m-0 p-0">
    <app-navbar-site></app-navbar-site>
  </div>
  <div class="padding_top">
    <router-outlet></router-outlet>
  </div>
  <app-footer-site></app-footer-site>
</div>
