<div class="job_details_area" *ngIf="offre">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="job_sumary">
                    <div class="summery_header">
                        <h6> {{offre[0].reference}}</h6>
                    </div>
                    <div class="job_content">
                        <ul>
                          
                            <li><i class="fa fa-map-marker"></i> : <span>{{ offre[0].departement }}</span></li>
                            <li><i class="fas fa-info-circle"></i> : <span>Interim | {{nbr_vacation}} vacation(s)</span></li>
                        </ul>
                        <div class="submit_btn">
                            <a class="boxed-btn3 w-100" (click)="candidatureModal(offre)"><i class="fa fa-calendar"></i>
                                Voir les dates</a>
                        </div>
                    </div>
                </div>
                <!-- <div class="share_wrap d-flex">
                    <span>Partager sur:</span>
                    <ul>
                        <li>
                            <a href="#"> <i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-envelope"></i></a>
                        </li>
                    </ul>
                </div> -->
            </div>
            <div class="col-lg-8">
                <div class="job_details_header">
                    <div class="single_jobs white-bg d-flex justify-content-between">
                        <div class="jobs_left d-flex align-items-center">
                            <div class="jobs_conetent">
                              
                                    <h3>   {{offre[0].specialite}}</h3>
                               
                                <div class="links_locat d-flex align-items-center">
                                    <div class="location">
                                        <p> </p>
                                    </div>
                                    <div class="location">
                                        <p> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="descript_wrap white-bg">
                    <!-- <div class="single_wrap"> -->
                        <!-- <h4 style="color: #212529;"><strong>Profil</strong> </h4> -->
                        <!-- <p>{{offre[0].profil_rechercher}} : {{ offre[0].nomspecialite }}</p> -->
                    <!-- </div> -->
                    <div class="single_wrap">
                        <!-- <p  style="color: #212529;"><strong>Présentation du service :</strong></p> -->
                        <h4 style="color: #212529;"><strong>Description Du Poste</strong></h4>
                        
                      
                           
                            <div [innerHTML]="offre[0].infoPratique"></div>
                        
                    </div>
                    <!-- <div class="single_wrap" *ngIf="offre[0].envTech != 'vide'">
                        <h4  style="color: #212529;">Environnement Technique</h4>
                        <div [innerHTML]="offre[0].envTech"></div>
                     
                    </div> -->
                    <!-- <div class="single_wrap">
                        <h4 style="color: #212529;"><strong>Contact</strong></h4>
                        <ul style="color: #212529; list-style-type: none;">
                          <li>
                            <b>Tél :</b> 05 35 54 24 27  
                          </li>
                          <li>
                            <b>Mail :</b> contact@reseaumedical.fr
                          </li>
                        </ul>
                    </div> -->
                    <!-- <div class="single_wrap">
                        <h4 style="color: #212529;"><strong>A Propos Du Client</strong></h4>
                        <p style="color: #212529;">Centre hospitalier situé dans le Département {{offre[0].departement}}</p>
                    </div> -->
                    <div class="single_wrap">
                        <h4 style="color: #212529;"><strong>A propos de nous </strong></h4>
                        <p  style="color: #212529; font-size: 16px;">
                            Réseau Médical Services propose des solutions de recrutement pour tous les professionnels de santé en France et en Outre-Mer. Nous connectons les employés à des fonctions adaptées à leurs qualifications. Notre processus repose sur la compréhension de vos objectifs pour ensuite trouver la façon optimale d'aborder une solution basée sur vos attentes et vos perspectives.
                        </p>
                    </div>
                </div>

              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 py-4">
                    <p class="rond_angle rounded-circle mt-2"><i class="fas fa-angle-down"></i></p>
                  </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <span class="quelques_offres">Offres D'emploi Similaires</span>
                    <hr align="left" class="hr_sous_les_titre" >
                  </div>
              </div>
                <div class="apply_job_form white-bg" *ngIf="missionSimilaire.length > 0">
                    <div class="col-lg-12 col-md-12" *ngFor="let ms of missionSimilaire">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="jobs_conetent">
                                    <a style="color: #212529;" routerLink="/offres/{{ms.reference}}">
                                        <h4>  </h4>
                                        <h5>{{ms.specialite}}</h5>
                                    </a>
                                 
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i> {{ms.departement}}</p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fas fa-info-circle"></i> Interim</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    <a  href="/offres/{{ms.reference}}" class="boxed-btn3">Voir</a>
                                </div>
                                <div class="date">
                                    <p> <i class="fa fa-calendar"></i> {{ms.dateenreg.date | date}}</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>