
*{
  font-size: 14px;
}
.quelques_offres {
    font-size: 2em;
    color: #092F6B;
    font-weight: 600;
  }
  .hr_sous_les_titre {
    width: 8%;
    height: 2px;
    margin-top: 2px;
    background: #092F6B;
  }
  .rond_angle {
    border: solid 1px #00B5D2;
    background: #00B5D2;
    color: white;
    width: 80px;
    text-align: center;
    position: relative;
    left: 40%;
  }
  .rounded-circle {
    border-radius: 50% !important;
  }
