<div class="modal-content" style="padding: 0;margin: 0">

    <!-- Modal Header -->
    <div class="modal-header text-center">
        <h3><strong>Justificatifs</strong></h3>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
        <form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
            <div class="row">

                <div class="col-sm-12 text-center">
                    <mat-form-field class="erp-full-width">
                        <mat-label>Adresse Interimaire</mat-label>
                        <textarea matInput formControlName="adresseMedecin"></textarea>
                    </mat-form-field>
                </div>

                <div class="col-sm-12">
                    <mat-form-field class="erp-full-width">
                        <mat-label>Adresse Client</mat-label>
                        <textarea matInput formControlName="adresseHopital"></textarea>
                    </mat-form-field>
                </div>


                <div class="col-sm-12">
                    <mat-form-field class="erp-full-width">
                        <input matInput type="text" placeholder="Nombre km" formControlName="nombreKm">
                    </mat-form-field>
                </div>
                <a  class="offset-4 col-sm-8" style="color: #0e9aef;cursor: pointer" (click)="mappy()">Voir la distance avec MAPPY <i class="glyphicon glyphicon-eye-open"></i></a>
                <div class="col-sm-12">
                    <mat-form-field class="erp-full-width">
                        <input matInput type="text" placeholder="Nombre trajet" formControlName="nombreTrajet">
                    </mat-form-field>
                </div>

                <div class="col-sm-12">
                    <mat-form-field class="erp-full-width">
                        <input matInput type="text" placeholder="Coefficient Ik" formControlName="coefIk">
                    </mat-form-field>
                </div>
                <button type="submit" class="btn btn-primary col-sm-12" [disabled]="form.invalid">Valide</button>
            </div>
        </form>
    </div>
</div>

