<div class="conatenair-fluid">
  <div class="row">
    <div class="col-12 p-2">
      <fieldset>
        <legend>
          Justificatifs de la mission
        </legend>
        <div class="card border-light">
          <div class="card-body table-responsive">
            <table class="table table-striped table-hover bg-w" *ngIf="justificatifs">
              <thead>
              <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Adresse interim</th>
                <th class="text-center">Adresse client</th>

                <th class="text-center">IK</th>
                <th class="text-center">Trajet</th>
                <th class="text-center">Km</th>
<!--                <th class="text-center">Rémunération</th>-->
<!--                <th class="text-center">Liste Candidature</th>-->
<!--                <th class="text-center">Validé</th>-->
                <th class="text-center">Relance</th>
                <th class="text-center">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row" class="text-center">{{justificatifs.date}}</th>
                <th scope="row" class="text-center">{{justificatifs.adresseInterim | titlecase}}</th>
                <th scope="row" class="text-center">{{justificatifs.adresseClient | titlecase}}</th>
                <th scope="row" class="text-center">{{siNullRenderZero(justificatifs.ikJustificatif ? justificatifs.ikJustificatif : justificatifs.ik)}}</th>
                <th scope="row" class="text-center">{{siNullRenderZero(justificatifs.trajet)}}</th>
                <th scope="row" class="text-center">{{siNullRenderZero(justificatifs.km)}} </th>
                <th scope="row" class="text-center">
                  <mat-icon color="primary" class="pointer" matBadge="{{justificatifs.nombreRelance}}" (click)="actionJustificatif()" matBadgeColor="accent">reply</mat-icon>
                </th>
                <th class="text-center">
                  <mat-icon color="primary" class="pointer" (click)="onModalUpdateJustificatif()" >edit</mat-icon>
                </th>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-5 col-lg-5 mb-3">
      <mat-list role="list">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>Ajouter un nouveau fichier</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="container-fluid">
            <div class="row">
              <div class="col-2 text-left">
                <mat-icon color="success" class="pointer" (click)="addNewRow()" *ngIf="addDiplomeEtat">add_circle</mat-icon>
                <mat-icon color="success" class="pointer" (click)="addNewDiplome()" *ngIf="!addDiplomeEtat">add_circle</mat-icon>
              </div>
              <div class="col-10 text-right text-danger font-9"> * Saisir le nom ensuite choisir le fichier</div>

              <div class="col-lg-12" style="margin-top: -10px">
                <form [formGroup]="diplomeForm" *ngIf="addDiplomeEtat">
                  <div formArrayName="diplomes">
                    <div [formGroup]="diplome"
                         *ngFor="let diplome of diplomeForm.get('diplomes')['controls'];let i = index"
                         style="margin-top: 2%">
                      <div class="row">
                        <div class="col-12 mb-2" id="nameTmpDiplome{{i}}"></div>
                        <select class="col-7 form-control" id="typefichier" formControlName="nom">
                          <option>Déplacement</option>
                          <option>Repas</option>
                          <option>Hébergement</option>
                        </select>

                        <div class="col-3">
                          <input class="d-none" type="file" #InputFileDiplome (change)="getFile($event, i)" accept="*">
                          <button (click)="InputFileDiplome.click()" [disabled]="diplomeForm.invalid" class="pointer text-secondary"><mat-icon>cloud_upload</mat-icon></button>&nbsp;&nbsp;&nbsp;<br>
                        </div>
                        <div class="col-2 form-group col-1 text-right">
                          <!--<button type="submit" class="btn btn-info btn-xs float-left" [disabled]="diplome.invalid">Enregistrer <i class="fa fa-check"></i></button>-->
                          <mat-icon color="warn" class="pointer" (click)="deleteRow(i)">remove_circle</mat-icon>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <button class="col-lg-12 btn btn-primary btn-xs float-right"
                              [hidden]="diplomeForm.invalid  || formArr.length == 0"
                              (click)="onUpload()">Terminer</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-list>
    </div>
    <div class="col-12 col-sm-6 col-md-7 col-lg-7" *ngIf="justificatifs">
      <fieldset>
        <legend>Fichiers</legend>
        <div class="card border-light">
          <div class="card-body text-center">
            <table class="table table-striped" *ngIf="justificatifs.piece">
              <tbody>
              <tr *ngFor="let item of justificatifs['piece']; let i = index">
                <td>
                  <h5><strong> {{item.type | uppercase }}</strong></h5>
                </td>
                <td>
                  <a rel="noopener" target="_blank" href="{{item.fichier}}"><i class="fa fa-eye pointer"></i></a>&nbsp;&nbsp;
                </td>
                <td>
                  <i class="fa fa-trash text-danger pointer" (click)="onDelete(item.id)"></i>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
