<div class="container-fluid p-0 m-0">
  <div class="row text-center">
    <div class="col-12" style="padding-top: 20%;padding-bottom: 20%">
      <img src="../../../../../assets/images/loader.gif" alt="">
    </div>
  </div>
</div>
