<div id="page" style="overflow: hidden">

  <!-- Service -->
  <section class="page-section mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-7" data-animation="fadeInLeft">
          <img src="../../../assets/images/new_site/G10.svg" alt="" />
        </div>
        <div class="col-md-5 bottom-xs-pad-30 image-bg p-5" data-animation="fadeInRight">
          <div class="">

            <form style="padding: 20px;" [formGroup]="devisForm" *ngIf="devisForm">

              <h4 style="color: #fff;"> OBTENEZ UN DEVIS</h4>
              <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6">
                  <!-- <label style="color: #092F6B;">Etablissement</label>
                  <input type="text" class="form-control" style="color: #fff;"> -->
                  <mat-form-field>
                    <input matInput placeholder="Nom Etablissement"
                      formControlName="nom_etablissement">
                  </mat-form-field>
                </div>

                <div class="col-md-6 col-lg-6 col-sm-6">

                  <mat-form-field>
                    <input matInput placeholder="Nom"  formControlName="nom">
                  </mat-form-field>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6">
                  <mat-form-field>
                    <input matInput placeholder="E-mail"  formControlName="email">
                  </mat-form-field>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                  <mat-form-field>
                    <input matInput placeholder="Telephone"  formControlName="telephone">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <mat-form-field class="erp-full-width">
                    <mat-select  formControlName="service" placeholder="Service" multiple>
                      <mat-option *ngFor="let specilite of listSpecialites " [value]="specilite.nomspecialite">
                        <p>{{specilite.nomspecialite}} </p>
                      </mat-option>

                    </mat-select>
                    <mat-error *ngIf="devisForm.get('service').hasError('required')">Ce champ est obligatoire
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
                <div class="row">
                               <div class="col-md-12 col-lg-12 col-sm-12">
                                 <mat-form-field>
                                   <input matInput placeholder="Periode"

                                   ngxDaterangepickerMd name="data"
                                   [autoApply]="true"
                                   [showDropdowns]="true"
                                   [linkedCalendars]="true"
                                   formControlName="periode"
                                    [locale]="locale"
                                    
                                  >

                                 </mat-form-field>
                               </div>
              </div>

              <div class="row">
                <div class="col-12" style="text-align: right;">
                 
                    
                      <button class="btn col-12 btn-success" [disabled]="devisForm.invalid" (click)="onDevis()">
                        Confirmer</button>

                  
                 
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


  </section>


  <section class="page-section mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center" data-animation="fadeInUp">
            <!-- Title -->
            <h2 class="title" style="color: #D06F80;">Vos avantages</h2>
          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-4">
          <div class="text-center" data-animation="fadeInRight">
            <div data-animation="fadeInUp">
              <img src="../../../assets/images/new_site/icons8_job_seeker.ico" alt="" />
              <h5 class="title" style="color: #092F6B;">Un vivier pluridisciplinaire</h5>
              <p>
                Quelque soit la spécialité que vous recherchez, vous
                trouverez le profil type pour votre
                remplacement chez RMS avec une
                base de plus de 20 000 médecins.
              </p>
            </div>
            <!-- Features -->
          </div>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-4">
          <div class="text-center" data-animation="fadeInRight">
            <div data-animation="fadeInUp">
              <img src="../../../assets/images/new_site/icons8_handshake_1.ico" alt="" />
              <h5 class="title" style="color: #092F6B;">Un recrutement sans délais</h5>
              <p>
                RMS depuis 10 ans a conçu des méthodes
                de sourcing bien élaborées qui vous permettent
                d’avoir au sein de votre structure de santé, les
                profils adéquats à votre demande.
              </p>
            </div>
            <!-- Features -->
          </div>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-4">
          <div class="text-center" data-animation="fadeInRight">
            <div data-animation="fadeInUp">
              <img src="../../../assets/images/new_site/icons8_artificial_intelligence.ico" alt="" />
              <h5 class="title" style="color: #092F6B;">Des solutions technologiques</h5>
              <p>
                Les outils
                novateurs de RMS en termes de recrutement
                vous facilitent la prise en main sur votre personnel
                intérimaire.
              </p>
            </div>
            <!-- Features -->
          </div>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-4">
          <div class="text-center" data-animation="fadeInRight">
            <div data-animation="fadeInUp">
              <img src="../../../assets/images/new_site/icons8_customer_support_4.ico" alt="" />
              <h5 class="title" style="color: #092F6B;">Permanence téléphonique</h5>
              <p>
                RMS met en permanence un support téléphonique
                avec des conseillers aptes qui répondent
                promptement à toutes vos questions et vous
                proposent des alternatives à vos problèmes.
              </p>
            </div>
            <!-- Features -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="additional" class="page-section">
    <div class="container-fluid">
      <div class="row ">

        <div class="col-md-12">
          <img src="../../../assets/images/new_site/G8.svg" class="responsive" alt="" />
        </div>


      </div>
    </div>
  </section>

</div>