.mat-header-cell{
  font-size: 1em;
  font-weight: bold;
  color: black;
  border-bottom: #3a97a2 3px solid;
  padding-bottom: 5px;
}
.text-green{
  color: green;
  font-weight: bold;
}
.text-warning{
  font-weight: bold;
}
.colorGreen{
  background-color: green;
  color: white;
}
.btn-successCopie{
  background-color: green;
  color: white;
}

.erp-full-width {
  width: 100%;
}

.center_div{
  margin: 0 auto;
  width:80% /* value of your choice which suits your alignment */
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.mat-header-cell{
  font-size: 1em;
  font-weight: bold;
  color: black;
  border-bottom: #3a97a2 2px solid;
  padding-bottom: 5px;
}
.btn-primary{
  background: #3a97a2;
}
table {
  width: 100%;
}
.sizeText{
  font-size: 12px;
  font-weight: 500;
}
.sizeText1{
  font-size: 11px;
  font-weight: 500;
}
td{
  width: 10px;
  font-size: 11px;
}
.table th, .table td {
  padding: 0.25rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.material-icons {
  font-size: 17px;
  padding-top: 5px;
  line-height: 0;
}
.mat-mini-fab{
  width: 28px;
  height: 28px;
}
