<div class="container-fluid bg-white" data-aos="zoom-in">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!--Header-->
                <div class="card-header">
                    <div class="row">
                        <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 mt-4">
                            <h6><span>GESTION DES CANDIDATURES</span></h6>
                        </div>
                        <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">
                            <mat-form-field>
                                <mat-label>Filtrer</mat-label>
                                <mat-select [(ngModel)]="elements" multiple>
                                    <mat-option (click)="valutElements()" *ngFor="let item of displayedColumnsFilter" [value]="item.name">
                                        {{item.displayName }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <form (ngSubmit)="onSubmitFiltre()" [formGroup]="formFilter" class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div *ngFor="let item  of elements " class="col-12 col-sm-6 col-md-4 col-lg-3">
                                    <div *ngIf="item != 'mois' && item != 'date'  && item != 'envoyer' && item != 'statut' && item !='auteur' ">

                                        <mat-form-field class="erp-full-width">
                                            <input id="{{item}}" matInput formControlName="{{item}}" placeholder="{{item}}" required type="text">
                                        </mat-form-field>
                                    </div>

                                    <div *ngIf="item == 'mois'">

                                        <mat-form-field class="erp-full-width">
                                            <mat-select id="{{item}}" formControlName="{{item}}" placeholder="{{item}}" required>
                                                <mat-option *ngFor="let m  of allmois " value="{{m}}">{{m}} </mat-option>

                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div *ngIf="item == 'date'">
                                        <ngx-mat-drp (selectedDateRangeChanged)="updateRange($event)" [options]="options" #dateRangePicker>
                                        </ngx-mat-drp>



                                    </div>

                                    <div *ngIf="item == 'envoyer'">

                                        <mat-form-field class="erp-full-width">
                                            <mat-select id="{{item}}" formControlName="{{item}}" placeholder="{{item}}" required>
                                                <mat-option value="oui">Oui</mat-option>
                                                <mat-option value="non">Non</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div *ngIf="item == 'statut'">

                                        <mat-form-field class="erp-full-width">
                                            <mat-select id="{{item}}" formControlName="{{item}}" placeholder="{{item}}" required>
                                                <mat-option *ngFor="let m  of statuts " value="{{m}}">{{m}} </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div *ngIf="item == 'auteur'">

                                        <mat-form-field class="erp-full-width">

                                            <mat-select placeholder="Gestionnaire Interne" formControlName="{{item}}">
                                                <mat-option *ngFor="let g of gestionnaire_internes | async" [value]="g.username">
                                                    {{g.nom | uppercase}} {{g.prenom | uppercase}} </mat-option>
                                            </mat-select>

                                        </mat-form-field>
                                    </div>


                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <button *ngIf="elements.length > 0" [disabled]="formFilter.invalid" class="btn btn-success btn-sm" type="submit">
                    Valider
                  </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="card-body table-responsive">

                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <strong class="font-11">Statistiques candidatures validées</strong>
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <div class="row">
                                <div class="col-4">
                                    <mat-card>
                                        <p> Total : <strong> {{length}} </strong></p>

                                    </mat-card>
                                </div>
                                <div class="col-4">

                                </div>
                                <div class="col-4">
                                    <mat-card>
                                        <p>Interimaire (s) :<strong>{{nbr_interim}}</strong> </p>
                                        <p>Clients (s) :<strong>{{nbr_client}}</strong> </p>
                                    </mat-card>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <table #table [dataSource]="dataSource" class="bg-white footable table table-hover table-striped" mat-table matSort matSortStart="asc">
                        <!-- colonne de checkboc   -->

                        <ng-container matColumnDef="select">
                            <th *matHeaderCellDef mat-header-cell>
                                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </th>
                            <td *matCellDef="let client" class="pt-3" mat-cell>
                                <mat-checkbox (change)="$event ? selection.toggle(client) : null" (click)="$event.stopPropagation()" [checked]="selection.isSelected(client)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <!-- debut des colonnes des champs du tableau -->

                        <ng-container matColumnDef="num">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>N.</th>
                            <td *matCellDef="let candidature" class="pt-3 sizeText" mat-cell>
                                {{ dataSource.filteredData.indexOf(candidature) + 1 }}
                        </ng-container>
                        <ng-container matColumnDef="Medecin">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Interim</th>
                            <td *matCellDef="let candidature" class="font-weight-bold pt-3 sizeText" mat-cell><a [routerLink]="['/RMS-Admin/interim/'+candidature.interim_id+'/show/']">{{candidature.nom}}
                  {{candidature.prenom}}</a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Date planning">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Date</th>
                            <td *matCellDef="let candidature" class="pt-3 sizeText" mat-cell>{{ candidature.date }}</td>
                        </ng-container>
                        <ng-container matColumnDef="Vacation">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Garde</th>
                            <td *matCellDef="let candidature" mat-cell class="sizeText">{{ candidature.designation }}</td>
                        </ng-container>
                        <ng-container matColumnDef="Salaire Net">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Net</th>
                            <td *matCellDef="let candidature" class="pt-3 sizeText" mat-cell>{{ candidature.salaire_net }} €</td>
                        </ng-container>
                        <ng-container matColumnDef="Mois">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Mois</th>
                            <td *matCellDef="let candidature" class="pt-3 sizeText" mat-cell>{{ candidature.mois}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Annee">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Annee</th>
                            <td *matCellDef="let candidature" class="pt-3 sizeText" mat-cell>{{ candidature.annee}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Reference">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Réference</th>
                            <td *matCellDef="let candidature" class="pt-3 sizeText" mat-cell>{{ candidature.reference}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Specialite">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Spécialite</th>
                            <td *matCellDef="let candidature" class="pt-3 sizeText" mat-cell>{{ candidature.specialite}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Statut">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Statut</th>
                            <td *matCellDef="let candidature" class="pt-3 sizeText" mat-cell>
                                <span *ngIf="candidature.satatut_candidature.toLowerCase() === 'validee'" class="text-green" style="padding: 3%;">{{ candidature.satatut_candidature }}
                </span>
                                <span *ngIf="candidature.satatut_candidature.toLowerCase() === 'en attente'" class="text-warning" style="padding: 3%;">{{ candidature.satatut_candidature }}</span>
                                <span *ngIf="candidature.satatut_candidature.toLowerCase() === 'non retenue'" class="text-danger font-weight-bold" style="padding: 3%;">{{ candidature.satatut_candidature }}</span>
                                <span *ngIf="candidature.satatut_candidature.toLowerCase() !== 'en attente' && candidature.satatut_candidature.toLowerCase() !== 'non retenue' && candidature.satatut_candidature.toLowerCase() !== 'validee'" class="font-weight-bold" style="padding: 3%;">{{ candidature.satatut_candidature }}</span>
                                <!--                <span *ngIf="candidature.satatut_candidature.toLowerCase() === 'annulee_c_avantValidation'"-->
                                <!--                      class="font-bold" style="padding: 3%;">{{ candidature.satatut_candidature }}</span>-->
                                <!--                <span *ngIf="candidature.satatut_candidature.toLowerCase() === 'annulee_i'" class="font-bold"-->
                                <!--                      style="padding: 3%;">{{ candidature.satatut_candidature }}</span>-->
                                <!--                <span *ngIf="candidature.satatut_candidature.toLowerCase() === 'annulee med'" class="font-bold"-->
                                <!--                      style="padding: 3%;">{{ candidature.satatut_candidature }}</span>-->
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Etablissement">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Client</th>
                            <td *matCellDef="let candidature" class="font-weight-bold pt-3 sizeText" mat-cell><a [routerLink]="['/RMS-Admin/client/'+candidature.client_id+'/show/']">
                  {{candidature.nomEtablissement}} </a></td>
                        </ng-container>
                        <ng-container matColumnDef="Envoyer">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Envoyer</th>
                            <td *matCellDef="let candidature" class="pt-3 sizeText" mat-cell>
                                <button *ngIf="candidature.envoyer" class="btn btn-sm btn-successCopie">oui</button>
                                <button *ngIf="!candidature.envoyer" class="btn btn-sm btn-danger">non</button>
                            </td>
                        </ng-container>
                        <!-- fin des colonnes des champs du tableau -->
                        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                        <tr (click)="selection.toggle(client)" *matRowDef="let client; columns: displayedColumns;" mat-row></tr>
                    </table>
                    <div *ngIf="dataSource && dataSource.filteredData.length == 0" class="text-center">
                        <strong>Désolé, aucun résultat ne correspond à votre recherche.</strong>
                    </div>
                </div>
                <div class="card-footer">
                    <mat-paginator (page)="pagination($event)" [length]="length" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize">
                    </mat-paginator>
                    <mat-form-field class="example-user-input">
                        <mat-select [(ngModel)]="action" placeholder="selectionnez une action">
                            <mat-option *ngFor="let action of listActions" [value]="action.type">
                                {{action.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                    <button (click)="actionbtn(action,selection.selected)" color="success" mat-mini-fab>OK</button>
                </div>
            </div>
        </div>
    </div>