<div>
  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h2 mat-dialog-title>Spécialité</h2>
  </div>
  <!-- Modal body -->
  <div class="modal-body">
    <!-- Modal body -->
    <div class="modal-body">
      <div class="form-group row">
        <label class="col-3 control-label" for="selectbasic">
          <h5><strong>Spécialité :</strong></h5>
        </label>
        <div class="col-9">
          <select (change)="sendQualifications($event.target.value)" class="form-control" id="selectbasic"
            name="selectbasic">
            <option class="" selected="selected" value="">Sélectionnez---</option>
            <option *ngFor="let item of listes_specialites;let i = index" label="{{item.specialite}}" value="{{i}}">
              {{item.nomspecialite}}
            </option>
          </select>
        </div>
      </div>
      <div *ngIf="showBloc" class="form-group row ml-2">
        <div *ngFor="let item of specialite.qualifs" class="col-5 control-label" for="selectbasic"
          style="background-color: #E0E0E0;margin: 10px; padding: 8px">
          <span>
            <input [(checklist)]="choixCheckBox" [checklistValue]="item.id" class="increase" type="checkbox" />
          </span> &nbsp;&nbsp;&nbsp;
          <span style="margin-left: 2px;">{{ item.qualification|uppercase}}</span> <br>
        </div>
      </div>

      <section class="section">
        <mat-checkbox class="example-margin" [(ngModel)]="mail">{{message_notif}}
        </mat-checkbox>
      </section>
    </div>


    <!-- Modal footer -->
    <div class="modal-footer">
      <button class="btn btn-danger" data-dismiss="modal" type="button">Fermer</button>
      <button (click)="add_specialite();specialite.qualifs = []" class="btn btn-success color-rms-bleu"
        data-dismiss="modal" type="button">Valider
      </button>
    </div>
  </div>
</div>



<!--<div class="modal animated zoomIn" id="add_specialite">-->
<!--  <div class="modal-dialog modal-lg">-->
<!--    <div class="modal-content">-->

<!--      &lt;!&ndash; Modal Header &ndash;&gt;-->
<!--      <div class="modal-header bg-rms-bleu">-->
<!--        <h3 class="modal-title font-weight-bold">Ajout de spécialité</h3>-->
<!--        <button class="close" data-dismiss="modal" type="button">&times;</button>-->
<!--      </div>-->



<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="modal animated zoomIn" id="edit_specialite">-->
<!--  <div class="modal-dialog modal-lg">-->
<!--    <div class="modal-content">-->

<!--      &lt;!&ndash; Modal Header &ndash;&gt;-->
<!--      <div *ngIf="specialiteChoisi" class="modal-header bg-rms-bleu">-->
<!--        <h3 class="modal-title font-weight-bold">Modification : {{specialiteChoisi.nom_specialite}}</h3>-->
<!--        <button class="close" data-dismiss="modal" type="button">&times;</button>-->
<!--      </div>-->

<!--      &lt;!&ndash; Modal body &ndash;&gt;-->
<!--      <div class="modal-body">-->
<!--        <div class="form-group row">-->
<!--          <div *ngIf="specialiteChoisi" class="col-12">-->
<!--            <mat-card-content class="table-responsive overFlowHidden">-->
<!--              <div *ngIf="specialiteChoisi && specialiteUpdate" class="form-group row" style="margin-left: 35px">-->
<!--                <div *ngFor="let item of specialiteUpdate.qualifications" class="col-5 control-label"-->
<!--                     for="selectbasic"-->
<!--                     style="background-color: #E0E0E0;margin: 10px; padding: 8px">-->
<!--                <span>-->
<!--                  <input [(checklist)]="choixCheckBox" [checklistValue]="item.id_qualification"-->
<!--                         class="mat-checkbox-inner-container"-->
<!--                         type="checkbox"/>-->
<!--                </span> &nbsp;&nbsp;&nbsp;-->
<!--                  <span style="margin-left: 2px;">{{ item.qualif|uppercase}}</span> <br>-->
<!--                </div>-->
<!--              </div>-->
<!--            </mat-card-content>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->


<!--      &lt;!&ndash; Modal footer &ndash;&gt;-->
<!--      <div class="modal-footer">-->
<!--        <button class="btn btn-danger" data-dismiss="modal" type="button">Fermer</button>-->
<!--        <button (click)="edit_specialite()" *ngIf="choixCheckBox.length>0" class="btn btn-success color-rms-bleu"-->
<!--                data-dismiss="modal"-->
<!--                type="button">Valider-->
<!--        </button>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->