<div class="modal-content">
  <!-- Modal Header -->
  <div class="modal-header text-center">
    <strong>{{title}}</strong>
  </div>
</div>
<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSave()" class="container">
  <!-- debut du formulaire information de l'utilisateur -->
  <div class="row">

    <div class="col-sm-4">
      <mat-form-field class="erp-full-width">
        <mat-select placeholder="Motif de recours" formControlName="recours" >
          <mat-option value="94,Vacance Temporaire d'un emploi">Vacance Temporaire d'un emploi</mat-option>

        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field class="erp-full-width">
        <input matInput type="text" placeholder="Moyen d'accès" formControlName="moyenAcces">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="erp-full-width">
        <input matInput type="text" placeholder="Durée Hebdo" formControlName="NbHeureHebdo">
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <mat-form-field class="erp-full-width">
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip
            *ngFor="let designation of designationPrimes"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(designation)">
            {{designation}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Prime"
            #designationInput
            [formControl]="designationCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let designation of filteredDesignationPrimes | async" [value]="designation">
            {{designation}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </div>
    <div class="col-md-6">
      <mat-form-field class="erp-full-width">
        <input matInput type="text" placeholder="Nombre de jours essai" formControlName="nbJoursEssai">
      </mat-form-field>
    </div>
    <div class="col-md-6" >
      <mat-form-field class="erp-full-width" *ngIf="caracteristiques">
        <mat-select placeholder="Caractéristique poste" formControlName="caracteristiquePoste">
          <mat-option value="{{caracteristique.Designation}}" *ngFor="let caracteristique of caracteristiques">{{caracteristique.Designation}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-12" >
      <mat-form-field class="erp-full-width">
        <textarea matInput placeholder="Justificatif" formControlName="justificatif"></textarea>
      </mat-form-field>
    </div>
    <div class="col-md-6 ">
      <mat-checkbox (click)="updateTauxHoraire()">Modifier le créneau horaire </mat-checkbox>
    </div>
    <div class="col-md-6 " *ngIf="!data.idContratPld">
      Début : {{heureDebut}} &nbsp;&nbsp;&nbsp;Fin : {{heureFin}}
    </div>
    <div class="col-md-6 " *ngIf="data.idContratPld && contratPld">
      Début : {{contratPld.HoraireAMDebut}} {{contratPld.HorairePMDebut}} &nbsp;&nbsp;&nbsp; Fin : {{contratPld.HorairePMFin}} {{contratPld.HoraireAMFin}}
    </div>
    <div class="offset-4 col-md-4" *ngIf="isUpdateTauxHoraire">
      <mat-form-field class="erp-full-width">
        <input matInput type="time" placeholder="Heure Debut" formControlName="heureDebut">
      </mat-form-field>
    </div>
    <div class="col-md-4" *ngIf="isUpdateTauxHoraire">
      <mat-form-field class="erp-full-width">
        <input matInput type="time" placeholder="Heure Fin" formControlName="heureFin">
      </mat-form-field>
    </div>
    <div class="col-sm-12" *ngIf="data.idContratPld">
      <div class="card table-responsive">
        <table mat-table [dataSource]="candidatures"  class="bg-white table table-hover table-striped" *ngIf="candidatures.data">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation(); oncontratByDates(false)"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="number">
            <th  *matHeaderCellDef >N°</th>
            <td mat-cell *matCellDef="let element">{{ candidatures.filteredData.indexOf(element) + 1 }}</td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="date">
            <th  *matHeaderCellDef > Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date.date | date: 'dd-MM-yyyy'}} </td>
          </ng-container>
          <!-- Position Column -->
          <ng-container matColumnDef="vacation">
            <th  *matHeaderCellDef > Vacation </th>
            <td mat-cell *matCellDef="let element"> {{element.vacation}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="debut">
            <th  *matHeaderCellDef > Début </th>
            <td mat-cell *matCellDef="let element"> {{element.debut.date | date : 'shortTime'}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="fin">
            <th  *matHeaderCellDef> Fin </th>
            <td mat-cell *matCellDef="let element"> {{element.fin.date | date : 'shortTime'}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="salaireNet">
            <th  *matHeaderCellDef > Net </th>
            <td mat-cell *matCellDef="let element"> {{element.salaireNet}} </td>
          </ng-container>

          <ng-container matColumnDef="salaireBrute">
            <th *matHeaderCellDef > Brute </th>
            <td mat-cell *matCellDef="let element"> {{element.salaireBrute}} </td>
          </ng-container>
          <ng-container matColumnDef="tarif">
            <th  *matHeaderCellDef > Tarif </th>
            <td mat-cell *matCellDef="let element"> {{element.tarif}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="selection.toggle(row)">
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-4 mt-4 text-center pt-4">
      <mat-checkbox (click)="oncontratByDates(true)">Contrat par dates </mat-checkbox>
    </div>
    <div class="col-md-8 mt-4" *ngIf="!contratByDates">
      <mat-form-field class="erp-full-width">
        <textarea matInput placeholder="Informations Spéficiques" formControlName="horaires"></textarea>
      </mat-form-field>
    </div>
    <div class="col-md-8 mt-4" *ngIf="contratByDates">
      <mat-form-field class="erp-full-width">
        <textarea matInput placeholder="Consigne du poste" formControlName="txtConsignePoste"></textarea>
      </mat-form-field>
    </div>
    <div class="col-md-12 text-center mt-3 mb-3">
      <button mat-raised-button color="success" [disabled]="form.invalid || designationPrimes.length < 1" >continuer</button>
    </div>
  </div>
</form>

