<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <!--Header-->
        <div class="card-header">
          <div class="row">
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 mt-4 font-11">
              <strong>GESTION DES RÉNUMERATIONS</strong>
            </div>
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 font-11 text-right">
<!--              <a class="pointer mr-2" (click)="recupData()"> Recuperer les datas</a>-->

              <mat-form-field>
                <mat-label>Filtrer</mat-label>
                <mat-select multiple [(ngModel)]="elements">
                  <mat-option *ngFor="let item of displayedColumnsFilter" [value]="item.name" (click)="valutElements()">
                    {{item.label  | uppercase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>
          <div class="row">
            <form (ngSubmit)="onSubmitFiltre()" [formGroup]="formFilter"  class="col-12 col-sm-12 col-md-12 col-lg-12 font-11">
              <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item  of elements ">

                  <div *ngIf="item !== 'mois' && item !== 'statut' && item !== 'rh' ">
                    <mat-form-field class="erp-full-width">
                      <input matInput type="text" placeholder="{{item}}" id=" {{ item }} " formControlName="{{item}}"
                             required>
                    </mat-form-field>
                  </div>
                  <div *ngIf="item === 'mois'">
                    <mat-form-field class="erp-full-width">
                      <mat-select placeholder="{{item}}" formControlName="{{item}}" required>
                        <mat-option value="{{m}}" *ngFor="let m  of allmois ">{{m}} </mat-option>

                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div *ngIf="item === 'statut'">
                    <mat-form-field class="erp-full-width">
                      <mat-select placeholder="{{item}}" formControlName="{{item}}" required>
                        <mat-option value="1"> Oui</mat-option>
                        <mat-option value="0"> Non</mat-option>

                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div *ngIf="item === 'rh'">
                    <mat-form-field class="erp-full-width">
                      <mat-select placeholder="{{item}}" formControlName="{{item}}" required>
                        <mat-option value="1"> Oui</mat-option>
                        <mat-option value="0"> Non</mat-option>

                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-lg-12 text-center">
                  <button class="btn btn-success" type="submit" [disabled]="formFilter.invalid"
                          *ngIf="elements.length > 0">Valider</button>
                </div>
              </div>
            </form>
          </div>
          <div class="row">

          </div>
        </div>
        <div class="card-body table-responsive font-11">
          <div class="row mb-2">
            <div class="col-lg-12" *ngIf="this.roleService.isSuperAdmin(this.currentUser.roles)">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <strong class="font-11">Statistiques</strong>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="row ">
                    <div class="col-12 text-center" *ngIf="loader">
                      <img width="40" src="../../../../../../../assets/images/loader.gif" alt="loading">
                    </div>
                  </div>
                  <div class="row" *ngIf="!loader">
                    <div class="col-4">
                      <mat-card>
                        <p>Presta + Frais : <strong>{{(statsSource.prestation + statsSource.frais ) | number}} € </strong></p>
                        <p>Tarif : <strong>{{statsSource.totalTarif | number}}  €</strong></p>
                      </mat-card>
                    </div>
                    <div class="col-4">
                      <mat-card>
                        <p>Prestation :<strong> {{statsSource.prestation | number}} € </strong></p>
                        <p>Frais :<strong>{{statsSource.frais | number}}  €</strong></p>
                      </mat-card>
                    </div>
                    <div class="col-4">
                      <mat-card>
                        <p>Interimaire (s) :<strong>{{statsSource.interim}}</strong> </p>
                        <p>Clients (s) :<strong>{{statsSource.client}}</strong> </p>
                      </mat-card>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>

          <mat-accordion class="mat-table">
            <section matSort class="mat-elevation-z2 mat-header-row mb-1">
              <span class="text-center pointer mat-header-cell">N.</span>
              <span class="text-center pointer mat-header-cell" mat-sort-header="interim">Interim</span>
              <span class="text-center pointer mat-header-cell">client(s)</span>
              <span class="text-center pointer mat-header-cell">Contrat / RH</span>
              <span class="text-center pointer mat-header-cell" matTooltip="Contrat(s) envoyé(s) / Contrat(s) signé(s) client(s)" matTooltipPosition="right">C.e.s.c /	S.c</span>
              <span class="text-center pointer mat-header-cell" matTooltip="Contrat(s) envoyé(s) / Contrat(s) signé(s) interim(s)" matTooltipPosition="right" >C.e.s.i / S.i</span>
              <span class="text-center pointer mat-header-cell" matTooltip="Prestation + frais" matTooltipPosition="right">(P + F)</span>
              <span class="text-center pointer mat-header-cell">Presta</span>
              <span class="text-center pointer mat-header-cell">Frais</span>
              <span class="text-center pointer mat-header-cell">Tarif</span>
            </section>

            <mat-expansion-panel class="mb-1" *ngFor="let item of dataSourceUniqueInterim;let i = index">
              <mat-expansion-panel-header class="mat-row" (click)="filterDataByIdInterim(item.idInterim)">
                <span class="text-center mat-header-cell font-11">{{i + 1}}</span>
                <span class="text-center mat-header-cell font-11">{{item.interim | titlecase}}</span>
                <span class="text-center font-11 mat-header-cell">{{item.client }}</span>
                <span class="text-center font-11 mat-header-cell">{{item.contratByRh }} </span>
                <span class="text-center font-11 mat-header-cell" >{{item.cs }} </span>
                <span class="text-center font-11 mat-header-cell">{{item.ci }} </span>
                <span class="text-center font-11 mat-header-cell">{{item.total | number }}</span>
                <span class="text-center font-11 mat-header-cell">{{item.prestat | number }}</span>
                <span class="text-center font-11 mat-header-cell">{{item.frais | number }}</span>
                <span class="text-center font-11 mat-header-cell">{{item.tarif | number }}</span>
              </mat-expansion-panel-header>
              <table class="table">
                <tr>
                  <td><strong>Contrat</strong></td>
                  <td><strong>RH</strong></td>
                  <td><strong>Client</strong></td>
                  <td><strong>Ref</strong></td>
                  <td><strong>D.c</strong></td>
                  <td><strong>E.s.c</strong></td>
                  <td><strong>S.c</strong></td>
                  <td><strong>E.s.i</strong></td>
                  <td><strong>S.i</strong></td>
                  <td><strong>Presta</strong></td>
                  <td><strong>Frais</strong></td>
                  <td><strong>Tarif</strong></td>
                </tr>
                <tr class="pointer" (click)="show(item.id)" *ngFor="let item of newArrayByidInterim">
                  <td>{{item.idContratPld}}</td>
                  <td>
                    <mat-icon *ngIf="item.idRhPld" [ngClass]="{'text-vertfoncer text-bold' : item.idRhPld}">done</mat-icon>
                  </td>
                  <td>{{item.hopital}}</td>
                  <td>{{item.reference}}</td>
                  <td>{{item.dateContratPld.date | date}}</td>
                  <td>
                    <span class="badge badge-danger" *ngIf="!item.esc['etat']">Non</span>
                    <span class="badge badge-info font-10" *ngIf="item.esc['etat']">{{item.esc['date'].date | date}}</span>
                  </td>
                  <td>
                    <span class="badge badge-danger " *ngIf="!item.sc['etat']">Non</span>
                    <span class="badge badge-info font-10" *ngIf="item.sc['etat']">{{item.sc['date'].date | date}} <span class="text-right text-dark" *ngIf="item.esc['date'] && item.sc['date']">(esc +{{calculateDiff(item.esc['date'], item.sc['date'])}})</span></span>
                  </td>
                  <td>
                    <span class="badge badge-danger" *ngIf="!item.esi['etat']">Non</span>
                    <span class="badge badge-info font-10" *ngIf="item.esi['etat']">{{item.esi['date'].date | date}}</span>
                  </td>
                  <td>
                    <span class="badge badge-danger" *ngIf="!item.si['etat']">Non</span>
                    <span></span>
                    <span class="badge badge-info font-10" *ngIf="item.si['etat']">{{item.si['date'].date | date}}
                      <span class="text-right text-dark" *ngIf="item.esi['date'] && item.si['date']">(esi +{{calculateDiff(item.esi['date'], item.si['date'])}})</span>
                    </span>
                  </td>
                  <td>{{item.prestation | number}}</td>
                  <td>{{item.frais | number}}</td>
                  <td>{{item.totalTarif | number}}</td>

                </tr>
              </table>

                                        <!--              <table mat-table matSort [dataSource]="dataSource" *ngIf="dataSource">-->
<!--                &lt;!&ndash; debut des colonnes des champs du tableau &ndash;&gt;-->
<!--                <ng-container matColumnDef="num">-->
<!--                  <th mat-header-cell *matHeaderCellDef>N°</th>-->
<!--                  <td mat-cell *matCellDef="let paie">-->
<!--                    {{ dataSource.filteredData.indexOf(paie) + 1 }}-->
<!--                  </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="contrat">-->
<!--                  <th *matHeaderCellDef mat-sort-header>Contrat</th>-->
<!--                  <td mat-cell *matCellDef="let paie">-->
<!--                    {{paie.idContratPld}}-->
<!--                  </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="rh">-->
<!--                  <th mat-header-cell *matHeaderCellDef mat-sort-header>RH</th>-->
<!--                  <td mat-cell *matCellDef="let paie">-->
<!--                    <mat-icon *ngIf="paie.idRhPld" [ngClass]="{'text-vertfoncer text-bold' : paie.idRhPld}">done</mat-icon>-->
<!--                  </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="etablissement">-->
<!--                  <th mat-header-cell mat-sort-header *matHeaderCellDef>Client</th>-->
<!--                  <td mat-cell *matCellDef="let paie">-->
<!--                    <a routerLink="/RMS-Admin/client/{{paie.idClient}}/show/">{{paie.hopital | titlecase}}</a>-->
<!--                  </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="ref">-->
<!--                  <th mat-header-cell mat-sort-header *matHeaderCellDef>Réference</th>-->
<!--                  <td mat-cell *matCellDef="let paie">-->
<!--                    {{paie.reference | titlecase}}-->
<!--                  </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="total">-->
<!--                  <th mat-header-cell mat-sort-header *matHeaderCellDef>Total</th>-->
<!--                  <td mat-cell *matCellDef="let paie">-->
<!--                    <strong>{{getTotalFraisAndPrestation(paie.prestation, paie.frais) | number}}<span class="font-7"> </span></strong>-->
<!--                  </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="prestation">-->
<!--                  <th mat-header-cell mat-sort-header *matHeaderCellDef>Presta</th>-->
<!--                  <td mat-cell *matCellDef="let paie" >-->
<!--                    <strong>{{siNullRenderZero(paie.prestation) | number}}<span class="font-7"> </span></strong>-->
<!--                  </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="frais">-->
<!--                  <th mat-header-cell mat-sort-header *matHeaderCellDef>Frais</th>-->
<!--                  <td mat-cell *matCellDef="let paie">-->
<!--                    <strong>{{siNullRenderZero(paie.frais) | number}}<span class="font-7"> </span></strong>-->
<!--                  </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="totalTarif">-->
<!--                  <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 200px">Tarif</th>-->
<!--                  <td mat-cell *matCellDef="let paie">-->
<!--                    <strong>{{siNullRenderZero(paie.totalTarif)}}<span class="font-7"> </span></strong>-->
<!--                  </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="cei">-->
<!--                  <th mat-header-cell mat-sort-header *matHeaderCellDef matTooltip="Contrat envoyé pour signature à l'interimaire">E.s.i</th>-->
<!--                  <td mat-cell *matCellDef="let paie">-->
<!--                    <span class="badge badge-danger" *ngIf="!paie.esi['etat']">Non</span>-->
<!--                    <span class="badge badge-info font-10" *ngIf="paie.esi['etat']">{{paie.esi['date'].date | date}}</span>-->
<!--                  </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="cec">-->
<!--                  <th mat-header-cell mat-sort-header *matHeaderCellDef matTooltip="Contrat envoyé pour signature au client">E.s.c</th>-->
<!--                  <td mat-cell *matCellDef="let paie">-->
<!--                    <span class="badge badge-danger" *ngIf="!paie.esc['etat']">Non</span>-->
<!--                    <span class="badge badge-info font-10" *ngIf="paie.esc['etat']">{{paie.esc['date'].date | date}}</span>-->
<!--                  </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="csi">-->
<!--                  <th mat-header-cell mat-sort-header *matHeaderCellDef matTooltip="Contrat signé par l'interimaire">S.i</th>-->
<!--                  <td mat-cell *matCellDef="let paie">-->
<!--                    <span class="badge badge-danger" *ngIf="!paie.si['etat']">Non</span>-->
<!--                    <span></span>-->
<!--                    <span class="badge badge-info font-10" *ngIf="paie.si['etat']">{{paie.si['date'].date | date}}-->
<!--                      <span class="text-right text-dark" *ngIf="paie.esi['date'] && paie.si['date']">(esi +{{calculateDiff(paie.esi['date'], paie.si['date'])}})</span></span>-->
<!--                  </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="csc">-->
<!--                  <th mat-header-cell mat-sort-header *matHeaderCellDef matTooltip="Contrat signé par le client">S.c</th>-->
<!--                  <td mat-cell *matCellDef="let paie">-->
<!--                    <span class="badge badge-danger " *ngIf="!paie.sc['etat']">Non</span>-->
<!--                    <span class="badge badge-info font-10" *ngIf="paie.sc['etat']">{{paie.sc['date'].date | date}} <span class="text-right text-dark" *ngIf="paie.esc['date'] && paie.sc['date']">(esc +{{calculateDiff(paie.esc['date'], paie.sc['date'])}})</span></span>-->
<!--                  </td>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="dateContrat">-->
<!--                  <th mat-header-cell mat-sort-header *matHeaderCellDef>D.C </th>-->
<!--                  <td mat-cell *matCellDef="let paie">-->
<!--                    <strong > <span class="font-7">{{ paie.dateContratPld.date | date}}</span></strong>-->
<!--                  </td>-->
<!--                </ng-container>-->
<!--                &lt;!&ndash; fin des colonnes des champs du tableau &ndash;&gt;-->
<!--                <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>-->
<!--                <tr class="pointer" mat-row *matRowDef="let paie; columns: displayedColumns;" (click)="selection.toggle(paie); show(paie.id)"></tr>-->
<!--              </table>-->
            </mat-expansion-panel>

          </mat-accordion>

          <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                         (page)="pagination($event)">
          </mat-paginator>
        </div>
      </div>
    </div>

  </div>
</div>

