
.example-container {
  height: 600px;
  overflow: auto;
}

table {
  width: 100%;
}

.btn-primary{
  background: #3a97a2;
}

.mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]), .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]), .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
  background-image: linear-gradient(to right, #1CAF9A 0%, #17A2B8 100%);
  color: white;
}
td{
  width: 10px;
  font-size: 11px;
}
.table th, .table td {
  padding: 0.25rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}
.font-10{
  font-size: 10px;
}
.my-card
{
  position:absolute;
  left:40%;
  top:-20px;
  border-radius:50%;
}

.mat-header-cell{
  color: black;
}

.mat-accordion .mat-header-row {
  padding-left: 1.5rem;
  padding-right: 2rem;
  border-bottom: none;
  color: black;
}

.mat-expansion-panel-header.mat-row {
  border-bottom: none;
  color: black;

}

//copied from https://github.com/angular/material2/blob/master/src/lib/table/table.scss
$mat-header-row-height: 56px;
$mat-row-height: 48px;
$mat-row-horizontal-padding: 24px;

.mat-table {
  display: block;
}

.mat-header-row {
  min-height: $mat-header-row-height;
}

.mat-row {
  min-height: $mat-row-height;
}

.mat-row, .mat-header-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  padding: 0 $mat-row-horizontal-padding;
  box-sizing: border-box;

// Workaround for https://goo.gl/pFmjJD in IE 11. Adds a pseudo
// element that will stretch the row the correct height. See:
// https://connect.microsoft.com/IE/feedback/details/802625
&::after {
   display: inline-block;
   min-height: inherit;
   content: '';
 }
}

.mat-cell, .mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}

