.example-user-input {
  margin-right: 80px;

}

.no-results {
  display: flex;
  justify-content: center;
  padding: 24px;
  font-size: 12px;
  font-style: italic;
}


.header-list-select {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

/** Selection styles */
.selection-header {
  font-size: 18px;
  background: rgba(255, 64, 129, 0.3);
  border-bottom: 1px solid #d696ac;
}

.mat-column-select {
  max-width: 54px;
}
.ligne:hover, .example-selected-row {
  background: #f5f5f5;
}

.ligne:active, .ligne.example-selected-row {
  background:  #eaeaea;
}
.input-recherche{

  width: 100%;


}
.sous-titre{
  padding: 0;
  margin: 0.5%;
}
.btn-sous-titre{
  width: 100%;
}

.mat-header-cell{
  font-size: 1em;
  font-weight: bold;
  color: black;
  border-bottom: #3a97a2 2px solid;
  padding-bottom: 5px;
}
.btn-primary{
  background: #3a97a2;
}
table {
  width: 100%;
}
.sizeText{
  font-size: 12px;
  font-weight: 500;
}
.sizeText1{
  font-size: 11px;
  font-weight: 500;
}
td{
  width: 10px;
}
.table th, .table td {
  padding: 0.25rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.material-icons {
  font-size: 17px;
  padding-top: 5px;
  line-height: 0;
}
.mat-mini-fab{
  width: 28px;
  height: 28px;
}
