<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <!--Header-->
        <div class="card-header">
          <div class="row">
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 mt-4">
              <h6><span>GESTION DES RECRUTEURS</span></h6>
            </div>
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">
              <mat-form-field class="mr-3">
                <mat-label>Filtrer</mat-label>
                <mat-select multiple [(ngModel)]="elements">
                  <mat-option *ngFor="let item of displayedColumnsFilter" [value]="item.name" (click)="valutElements()">
                    {{item.label | uppercase }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-mini-fab color="success" (click)="editRecruteurModal()">
                <mat-icon>add_circle</mat-icon>
              </button>
            </div>
          </div>
          <div class="row">
            <form (ngSubmit)="onSubmitFiltre()" [formGroup]="formFilter" class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item  of elements ">
                  <div *ngIf="item != 'activer' ">

                    <mat-form-field class="erp-full-width">
                      <input matInput type="text" placeholder="{{item}}" formControlName="{{item}}" required>
                    </mat-form-field>
                  </div>


                  <div *ngIf="item == 'activer'">

                    <mat-form-field class="erp-full-width">
                      <mat-select placeholder="{{item}}" id="{{item}}" formControlName="{{item}}" required>
                        <mat-option value="oui">Oui</mat-option>
                        <mat-option value="non">Non</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>


                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 text-center">
                  <button class="btn btn-primary" type="submit" [disabled]="formFilter.invalid"
                    *ngIf="elements.length > 0">Valider
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card-body table-responsive">
          <table mat-table #table matSort matSortStart="asc" [dataSource]="dataSource"
            class="footable table table-hover table-striped">

            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let client" class="pt-3 mr-3">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(client) : null"
                  [checked]="selection.isSelected(client)">
                </mat-checkbox>
              </td>
            </ng-container>
            <!-- debut des colonnes des champs du tableau -->
            <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef>N.</th>
              <td mat-cell *matCellDef="let recruteur" class="pt-3 mr-3 sizeText">
                {{ dataSource.filteredData.indexOf(recruteur) + 1 }}</td>
            </ng-container>

            <ng-container matColumnDef="fonction">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Fonction</th>
              <td mat-cell *matCellDef="let recruteur" class="pt-3 sizeText">{{ recruteur.fonction}}</td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Email</th>
              <td mat-cell *matCellDef="let recruteur" class="pt-3 sizeText">{{ recruteur.user.email }}</td>
            </ng-container>

            <ng-container matColumnDef="civilite">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Civilite</th>
              <td mat-cell *matCellDef="let recruteur" class="pt-3 sizeText">{{ recruteur.user.civilite }}</td>
            </ng-container>

            <ng-container matColumnDef="nom">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Nom</th>
              <td mat-cell *matCellDef="let recruteur" class="pt-3 sizeText">{{ recruteur.user.nom }}</td>
            </ng-container>

            <ng-container matColumnDef="prenom">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Prenom</th>
              <td mat-cell *matCellDef="let recruteur" class="pt-3 sizeText">{{ recruteur.user.prenom }}</td>
            </ng-container>

            <ng-container matColumnDef="telephone">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Telephone</th>
              <td mat-cell *matCellDef="let recruteur" class="pt-3 sizeText">{{ recruteur.user.telephone }}</td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>Date.enreg</th>
              <td *matCellDef="let recruteur" mat-cell class="sizeText1">
                <span> <strong> {{ recruteur.user.date_enreg |date:'d-MM-y  HH:mm'}} </strong></span>
              </td>

            </ng-container>
            <ng-container matColumnDef="etablissement">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Clients</th>
              <td mat-cell *matCellDef="let recruteur" class="pt-3 sizeText">
                <button type="button" class="btn btn-info btn-xs"
                  (click)="liste_client = recruteur.client;open(content)">
                  <i class="menu-item-icon ion-android-clipboard tx-20"></i>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="active">
              <th mat-header-cell *matHeaderCellDef>Activé</th>
              <td mat-cell *matCellDef="let recruteur" class="pt-3">
                <mat-slide-toggle color="primary" [checked]="recruteur.user.enabled"
                  (click)="onActiveOuDesactiveUser(recruteur.user.id, !recruteur.user.enabled)"></mat-slide-toggle>
              </td>
            </ng-container>
            <ng-container matColumnDef="Edit">
              <th mat-header-cell *matHeaderCellDef>Edit</th>
              <td mat-cell *matCellDef="let recruteur" class="pt-3">
                <button mat-mini-fab="accent" (click)="editRecruteurModal(recruteur.id)">
                  <mat-icon>create</mat-icon>
                </button>
              </td>


            </ng-container>

            <!-- fin des colonnes des champs du tableau -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let recruteur; columns: displayedColumns;"
              [class.example-selected-row]="selection.isSelected(recruteur)" (click)="selection.toggle(recruteur)"></tr>

          </table>
          <div *ngIf="this.dataSource">
            <div class="text-center" *ngIf="this.dataSource.filteredData.length == 0">
              <strong>Désolé, aucun résultat ne correspond à votre recherche.</strong>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
            (page)="pagination($event)">
          </mat-paginator>

          <div *ngIf="!actionInput">
            <mat-form-field class="example-user-input">
              <mat-select placeholder="selectionnez une action" [(ngModel)]="action">
                <mat-option *ngFor="let action of listActions" [value]="action.value">
                  {{action.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-mini-fab color="success" (click)="actionbtn(action,selection.selected)">OK</button>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Modal pour les derniers prospections-->


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"><span class="glyphicon glyphicon-menu-hamburger"></span>
      Centre Hospitalier</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-sm-6" *ngFor="let item of liste_client">
      <div class="card">
        <div class="card-body text-center">
          <a routerLink="/RMS-Admin/client/{{item.id}}/show" data-dismiss="modal">
            <i class="fas fa-hospital fa-4x"></i>
            <h4 class="card-title mt-3">
              {{item.nom_etablissement}}</h4>
          </a>
          <p class="card-text text-black">Tel : <span class="text-right">{{item.telephone}}</span></p>
          <p class="card-text text-black" *ngIf="item.adresse">Adresse : <span
              class="text-right">{{item.adresse}}</span></p>
          <p class="card-text text-black"><span class="text-right">{{item.email}}</span></p>
        </div>
      </div>
    </div>
    <div class="col-sm-12" *ngIf="liste_client.length == 0">
      <div class="alert alert-danger" role="alert">
        Pas de Client associé à ce Recruteur !
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fermer</button>
  </div>
</ng-template>
