<h1 mat-dialog-title>
  {{title}}
</h1>

<div mat-dialog-content>
  <p>{{message}}</p>
</div>

<div mat-dialog-actions>
  <button mat-mini-fab color="warn" (click)="onDismiss()">Non</button> &nbsp;
  <button mat-mini-fab color="success" (click)="onConfirm()">Oui</button>
</div>

