.renitialiser{
  position: relative;
  top: 40px;
  margin-bottom: 200px;
}

form{
  box-shadow: 2px 1px 3px 1px #092F6B;
  margin-top: 15px;
  padding: 85px;
}
.btn-primary{
  color: white;
  font-weight: bold;
  background: #092F6B;
  border: 1px solid #092F6B;
}