<div class="container-fluid renitialiser">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 offset-sm-3 offset-md-3 offset-lg-3 text-center mt-4">
      <p class="text-center alert alert-danger" *ngIf="status"><strong>* Aucun compte n'est associé a cette adresse email !</strong></p>
            <h4><strong>Réinitialisez le mot de passe</strong></h4>
          <div class="col-lg-12" style="color: red;margin: 1%" *ngIf="erreur" class="alert alert-danger text-center">{{erreurTxt}}</div>
          <form [formGroup]="passwordForm" (ngSubmit)="onSubmitForm()" class="py-4">
            <fieldset>
        <span class="help-block">

        </span>
              <label for="email">Entrez votre adresse email</label>
              <div class="form-group input-group">
                <input class="form-control" placeholder="Email" name="email" id="email" type="email" formControlName="email">
              </div>
                <br>
              <button type="submit" class="btn btn-primary btn-block" [disabled]="passwordForm.invalid">
                Continuez
              </button>
            </fieldset>
          </form>
    </div>
  </div>
</div>
