<div class="container">
  <div class="col-lg-12" style="margin-top: 13%;margin-bottom: 26.2%">
    <div class="alert alert-success">
      <p>Félicitation <strong>Docteur {{nom | uppercase}}</strong> vous venez de créer votre compte !</p>
      <p>
        Un e-mail a été envoyé à l''adresse <strong>{{ email }}</strong>. Il contient un lien d''activation sur lequel il vous faudra cliquer afin d''activer votre compte.
      </p>
    </div>
  </div>
</div>
