<div class="animated zoomIn">
  <h2 class="title_confirm" mat-dialog-title>Confirm</h2>
  <mat-dialog-content class="row">
    <!--  contenu pour effectuer la suppression  -->
    <div *ngIf="edit === false" class="col-12 text-center message">
      Etes - vous sur de vouloir supprimer ?
    </div>
    <!--  Contenu pour effectuer la modification  -->
    <div *ngIf="edit !== false" class="col-12 text-center message">
      Vous êtes sur le point d'apporter un modification ! êtes vous sûr de vouloir continuer ? ?
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="row">
    <div *ngIf="edit === false" class="col-12 text-center pt-3">
      <button class="confirm-button-annuler" mat-button mat-dialog-close>
        Annuler
      </button>
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
      <button (click)="onDeleteQualif()" [mat-dialog-close]="true" class="confirm-button-primary" mat-button>
        Supprimer
      </button>
    </div>
    <!--    edit  -->
    <div *ngIf="edit !== false" class="col-12 text-center pt-3">
      <button class="confirm-button-annuler" mat-button mat-dialog-close>
        Non
      </button>
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
      <button (click)="onEditQualifs()" [mat-dialog-close]="true" class="confirm-button-primary" mat-button>
        Oui
      </button>
    </div>
  </mat-dialog-actions>
</div>

