.title_confirm {
  width: 100%;
  height: 25px;
  background-image: linear-gradient(to right, #1CAF9A 0%, #17A2B8 100%);
  color: #ffffff;
  display: block;
  border-radius: 2px 2px 0px 0px;
  text-align: left;
  padding-left: 15px;
  height: 40px;
  line-height: 40px;
  font-family: 'Segoe UI';
  font-size: 14px;
  text-align: left;
  font-weight: normal;
  border-bottom: 1px solid #ebebeb;
}
.confirm-button-primary {
  background-color: #17A2B8;
  color: #ffffff;
}
.confirm-button-annuler {
  color: #17A2B8;
  background: transparent;
}

.message {
  margin: 0 !important;
  font-size: 12px;
  text-align: left;
  color: #596873;
  font-family: 'Segoe UI';
}
/*.mat-dialog-container {*/
/*  padding-top: 0 !important;*/
/*}*/
/*.mat-dialog-actions {*/
/*  margin-right: 0 !important;*/
/*  margin-left: 0 !important;*/
/*}*/

/*.mat-dialog-title {*/
/*  margin-top: 15px !important;*/
/*}*/

