.mat-header-cell {
  color: black;
  border-bottom: #3a97a2 2px solid;
  padding-bottom: 5px;
}
th.mat-header-cell{
  padding-bottom: 14px;
}
.btn-primary{
  background: #3a97a2;
}
.mat-icon {
  width: 28px;
  height: 28px;
}
