<mat-card class="m-2 mat-elevation-z1 overFlowHidden">
  <mat-card-title>
  </mat-card-title>
  <mat-card-content class="table-responsive p-0">
    <div class="col-12 col-md-12 col-sm-12 col-lg-12 text-right">
      <mat-form-field>
        <mat-label>Filtrer</mat-label>
        <mat-select [(ngModel)]="elements" multiple>
          <mat-option (click)="valutElements()" *ngFor="let item of displayedColumnsFilter"
                      [value]="item.name">{{item.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <form class="col-12 col-sm-12 col-md-12 col-lg-12" #f="ngForm" (ngSubmit)="onSubmitFiltre(f)">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item  of elements">
          <mat-form-field class="erp-full-width" *ngIf="item != 'mois'  && item != 'specialite' ">
            <input matInput name="{{item}}" ngModel placeholder="{{item}}" required type="text">
          </mat-form-field>
          <mat-form-field class="erp-full-width" *ngIf="item == 'mois'">
            <mat-select id="{{item}}" name="{{item}}" ngModel placeholder="{{item}}" required>
              <mat-option *ngFor="let m  of allmois " value="{{m}}">{{m | uppercase }} </mat-option>
            </mat-select>
          </mat-form-field>
<!--          <mat-select-autocomplete *ngIf="item == 'specialite'" class="erp-full-width"-->
<!--                                   [placeholder]="'selectionnez specialite'"-->
<!--                                   [options]="listSpecialites"-->
<!--                                   [display]="'display'"-->
<!--                                   [value]="'value'"-->
<!--                                   [multiple]='true'-->
<!--                                   [labelCount]="1"-->
<!--                                   name="{{item}}"-->
<!--                                   ngDefaultControl ngModel-->
<!--                                   (selectionChange)="getSelectedOptions($event)">-->
<!--          </mat-select-autocomplete>-->
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <button *ngIf="elements.length > 0" [disabled]="f.invalid" class="btn btn-primary" type="submit">Valider</button>
        </div>
      </div>
    </form>

    <table #idRep #table [dataSource]="dataSource" class="bg-white footable table table-hover table-striped" mat-table
           matSort matSortStart="asc">
      <!-- Position Column -->
      <ng-container matColumnDef="num">
        <th *matHeaderCellDef mat-header-cell><h4>#</h4></th>
        <td *matCellDef="let element" mat-cell class="pt-3">{{ dataSource.filteredData.indexOf(element) + 1 }}
      </ng-container>

      <ng-container matColumnDef="reference">
        <th *matHeaderCellDef mat-header-cell class="text-center">Reference</th>
        <td *matCellDef="let element" mat-cell class="pt-3 font-12 text-center"> {{element.reference}} </td>
      </ng-container>
      <!--Name Column-->
      <ng-container matColumnDef="mois">
        <th *matHeaderCellDef mat-header-cell class="text-center">Mois</th>
        <td *matCellDef="let element" mat-cell class="pt-3 font-12 text-center"> {{element.mois}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="annee">
        <th *matHeaderCellDef mat-header-cell class="text-center">Année</th>
        <td *matCellDef="let element" mat-cell class="pt-3"> {{element.annee}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="specialite">
        <th *matHeaderCellDef mat-header-cell class="text-center">Specialité</th>
        <td *matCellDef="let element" mat-cell class="pt-3 font-12 text-center"> {{element.nomspecialite}} </td>
      </ng-container>

      <ng-container matColumnDef="etat">
        <th *matHeaderCellDef mat-header-cell class="text-center">Etat</th>
        <td *matCellDef="let element" mat-cell class="pt-3 font-12 text-center">
          <span class="badge badge-success"><span> {{element.nbrCandidatureValideeByMission}} </span></span>
          <span
            class="badge badge-warning ml-1"><span> {{element.nbrCandidatureEnAttenteByMission}} </span></span>
          <span class="badge badge-danger ml-1"><span> {{element.nbrCandidatureNonRetenuByMission}} </span></span>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell class="text-center"><em class="fa fa-cog fa-2x"></em></th>
        <td *matCellDef="let element" mat-cell class="pt-3 font-12 text-center">
          <mat-icon>visibility</mat-icon>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr (click)="onChoiceIdMission(i)" *matRowDef="let row; columns: displayedColumns;let i = index"
          mat-row style="cursor: pointer;"></tr>
    </table>
    <div *ngIf="this.dataSource.filteredData.length == 0" class="text-center">
      <strong>Désolé, aucun résultat ne correspond à votre recherche.</strong>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator (page)="pagination($event)" [length]="length" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"></mat-paginator>
  </mat-card-footer>
</mat-card>


