<div class="container-fluid">
  <div class="row">
    <div class="col-11">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Centre Hospitalier A Eviter</b>
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>

          <button mat-icon-button>
            <mat-icon color="primary" (click)="chAEviterModal()">add_circle</mat-icon>
          </button>
          <mat-nav-list *ngIf="ch_a_eviter.length > 0">
            <mat-list-item *ngFor="let item of ch_a_eviter">
              <a matLine routerLink="/RMS-Admin/client/{{item.id_ch}}/show">{{item.nom_etablissement}}</a>
              <p matLine>{{item.description}}</p>
              <button mat-icon-button (click)="retirerChAEviter(item.id)">
                <mat-icon color="warn">remove_circle_outline</mat-icon>
              </button>
            </mat-list-item>
          </mat-nav-list>

        </mat-expansion-panel>

      </mat-accordion>
    </div>
    <div class="col-1">
      <a mat-mini-fab="accent" (click)="OnUpdateInterimaire()" class="color-rms-bleu text-white">
        <mat-icon>create</mat-icon>
      </a>
    </div>
  </div>
  <div class="row" *ngIf="interim">
    <div class="col-12 col-md-4 col-sm-4 col-lg-3 p-4" (mouseleave)="fermerUpdatePP()">
      <div class="card img-thumbnail" (mouseover)="afficherUpdatePP()">
        <img class="imgphotoProfilInterim img-fluid" src="assets/photo-avatar-profil.png" alt="photo de profil interim">
<!--        <p class="text-center" *ngIf="afficherUpdatePhoto">-->
<!--          <input class="form-control d-none photoProfilInterim" (change)="OnchangephotoProfilInterim($event)"-->
<!--            type="file" accept="*">-->
<!--          <button class="btn btn-info btn-sm" (click)="onCliqueinputfileInterim()"><i-->
<!--              class="glyphicon glyphicon-edit"></i> Changer</button>&nbsp;&nbsp;&nbsp;-->
<!--        </p>-->
      </div>
    </div>
    <div class="col-12 col-md-8 col-sm-8 col-lg-9 p-4">
      <mat-list role="list">


        <mat-expansion-panel>
          <mat-expansion-panel-header (closed)="panelOpenState = false" (opened)="panelOpenState = true">
            <mat-panel-title>
              <strong> Informations personnelles </strong>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-list role="dense">

            <mat-list-item role="listitem"><span class="font-weight-bold">civilité :</span> &nbsp;
              <span> {{ interim.interim.user.civilite}} </span>
            </mat-list-item>
            <mat-list-item role="listitem"><span class="font-weight-bold">Nom complet:</span> &nbsp;
              <span> {{ interim.interim.user.nom }} {{interim.interim.user.prenom}} </span>
            </mat-list-item>
            <mat-list-item role="listitem"><span class="font-weight-bold">E-mail :</span> &nbsp;
              <span>{{ interim.interim.user.email }} </span>
            </mat-list-item>
            <mat-list-item role="listitem"><span class="font-weight-bold">Telephone :</span> &nbsp;
              <span>{{ interim.interim.user.telephone }} </span>
            </mat-list-item>
            <mat-list-item role="listitem"><span class="font-weight-bold">N° RPPS :</span> &nbsp;
              <span>{{ interim.interim.numRPPS }} </span>
            </mat-list-item>

            <mat-list-item role="listitem"><span class="font-weight-bold">N° Securité :</span> &nbsp;
              <span>{{ interim.interim.user.numSecu }} </span>
            </mat-list-item>

            <mat-list-item role="listitem"><span class="font-weight-bold">Coef Ik:</span> &nbsp;
              <span>{{ interim.interim.coefIK }} </span>
            </mat-list-item>

            <mat-list-item role="listitem"><span class="font-weight-bold">Statut:</span> &nbsp;
              <span>{{ interim.interim.statut}} </span>
            </mat-list-item>

            <mat-list-item role="listitem"><span class="font-weight-bold">Liste Rouge:</span> &nbsp;
              <span>
                    <button mat-mini-fab *ngIf="interim.interim.actif" color="success">Non</button>
                    <button mat-mini-fab *ngIf="!interim.interim.actif" color="warn">Oui</button>
                  </span>
            </mat-list-item>

            <mat-list-item role="listitem"><span class="font-weight-bold">Inscription a l'ordre:</span> &nbsp;
              <span>
                    <button mat-mini-fab *ngIf="interim.interim.inscription" color="success">Oui</button>
                    <button mat-mini-fab *ngIf="!interim.interim.inscription" color="warn">Non</button>
                  </span>
            </mat-list-item>

            <mat-list-item role="listitem"><span class="font-weight-bold">Lieu de naissance :</span> &nbsp;
              <span>{{ interim.interim.user.lieuNaissance}} </span>
            </mat-list-item>

            <mat-list-item role="listitem"><span class="font-weight-bold">Date naissance :</span> &nbsp;
              <span>{{ interim.interim.user.dateNaissance | date: 'dd/MM/yyyy'}} </span>
            </mat-list-item>

            <mat-list-item role="listitem"><span class="font-weight-bold">Date Enregistrement :</span> &nbsp;
              <span>{{ interim.interim.user.dateEnreg | date: 'dd/MM/yyyy' }} </span>
            </mat-list-item>

            <mat-list-item role="listitem"><span class="font-weight-bold">Auteur :</span> &nbsp;
              <span>{{ interim.interim.user.auteur }} </span>
            </mat-list-item>


            <mat-list-item *ngIf="roleService.isCommercial(this.currentUser.roles)" role="listitem">
              <span class="font-weight-bold">Id Pld :</span>

              <span *ngIf="interim.idPld">{{ interim.idPld }} </span><mat-icon color="accent" class="pointer" (click)="addIdPldContrat()">edit</mat-icon>

            </mat-list-item>
          </mat-list>
        </mat-expansion-panel> &nbsp; <strong></strong>
        <mat-expansion-panel>
          <mat-expansion-panel-header (closed)="panelOpenState = false" (opened)="panelOpenState = true">
            <mat-panel-title>
              <strong> Préférence </strong>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-list role="dense">
            <mat-list-item role="listitem">Contact : &nbsp; <b>{{interim.interim.preferenceContact}}</b>
            </mat-list-item>


            <mat-list-item role="listitem">Déplacement : &nbsp;
              <b> {{ interim.interim.preferenceDeplacement }}</b></mat-list-item>

            <mat-list-item role="listitem">Rayon d'intervention : &nbsp;
              <b> {{ interim.interim.rayonIntervention }}</b></mat-list-item>

          </mat-list>
        </mat-expansion-panel> &nbsp; <strong></strong>
        <mat-expansion-panel>
          <mat-expansion-panel-header (closed)="panelOpenState = false" (opened)="panelOpenState = true">
            <mat-panel-title>
              <strong> MyRMS </strong>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-list role="dense">
            <mat-list-item role="listitem">Nom utilisateur : &nbsp; <b>{{interim.interim.user.username}}</b>
            </mat-list-item>


            <mat-list-item role="listitem">Activé : &nbsp;

              <button mat-mini-fab *ngIf="interim.interim.user.enabled" color="success">Oui</button>
              <button mat-mini-fab *ngIf="!interim.interim.user.enabled" color="warn">Non</button>
            </mat-list-item>

            <mat-list-item role="listitem">Dernière connexion : &nbsp;
              <b> {{ interim.interim.user.last_login }}</b></mat-list-item>

          </mat-list>
        </mat-expansion-panel> &nbsp; <strong></strong>
        <mat-expansion-panel>
          <mat-expansion-panel-header (closed)="panelOpenState = false" (opened)="panelOpenState = true">
            <mat-panel-title>
              <strong> Adresse </strong>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-list role="dense">
            <mat-list-item role="listitem">Adresse : &nbsp; <b>{{interim.interim.user.adresse}}</b></mat-list-item>
            <mat-list-item role="listitem">Complement Adresse: &nbsp;

              <b>{{interim.interim.user.complement_adresse}}</b>

            </mat-list-item>
            <mat-list-item role="listitem">Ville: &nbsp; <b>{{ interim.interim.user.ville }} </b> - <b>{{ interim.interim.user.cp
              }}</b></mat-list-item>
            <mat-list-item role="listitem">Departetement : &nbsp; <b>{{ interim.interim.user.departement }} </b>

            </mat-list-item>
            <mat-list-item role="listitem">Region : &nbsp; <b>{{ interim.interim.user.region }} </b></mat-list-item>

            <mat-list-item role="listitem"></mat-list-item>

          </mat-list>
        </mat-expansion-panel> &nbsp; <strong></strong>

        <mat-accordion>

          <mat-expansion-panel *ngIf="roleCommercial()">
            <mat-expansion-panel-header (closed)="panelOpenState = false" (opened)="panelOpenState = true">
              <mat-panel-title>
                <strong> Description </strong>
              </mat-panel-title>
            </mat-expansion-panel-header>


            <div [innerHTML]="interim.interim.user.description"></div>


          </mat-expansion-panel>
          <mat-expansion-panel *ngIf="roleCommercial()">
            <mat-expansion-panel-header (closed)="panelOpenState = false" (opened)="panelOpenState = true">
              <mat-panel-title>
                <strong> Remarque </strong>
              </mat-panel-title>
            </mat-expansion-panel-header>


            <div [innerHTML]="interim.interim.remarque"></div>


          </mat-expansion-panel>

          <mat-expansion-panel *ngIf="roleCommercial()">
            <mat-expansion-panel-header (closed)="panelOpenState = false" (opened)="panelOpenState = true">
              <mat-panel-title>
                <strong> Autre Remarques</strong>
              </mat-panel-title>
            </mat-expansion-panel-header>


            <div [innerHTML]="interim.interim.autre_remarques"></div>


          </mat-expansion-panel>

          <mat-expansion-panel *ngIf="roleCommercial()">
            <mat-expansion-panel-header (closed)="panelOpenState = false" (opened)="panelOpenState = true">
              <mat-panel-title>
                <strong> Source</strong>
              </mat-panel-title>
            </mat-expansion-panel-header>




            <mat-list role="dense" *ngIf="interim.source">

              <mat-list-item role="listitem"><span class="font-weight-bold">Raison Sociale :</span> &nbsp;
                <span> {{ interim.source.raison_social}} </span>
              </mat-list-item>
              <mat-list-item role="listitem"><span class="font-weight-bold">Nom complet contact:</span> &nbsp;
                <span> {{ interim.source.nom }} {{interim.source.prenom}} </span>
              </mat-list-item>
              <mat-list-item role="listitem"><span class="font-weight-bold">E-mail :</span> &nbsp;
                <span>{{ interim.interim.user.email }} </span>
              </mat-list-item>
              <mat-list-item role="listitem"><span class="font-weight-bold">Telephone :</span> &nbsp;
                <span>{{ interim.source.telephone }} </span>
              </mat-list-item>
              <mat-list-item role="listitem"><span class="font-weight-bold">Site web :</span> &nbsp;
                <a href="{{interim.source.url}}" target="_blank">{{ interim.source.url }} </a>
              </mat-list-item>

            </mat-list>


          </mat-expansion-panel>


          <mat-expansion-panel *ngIf="roleCommercial()">
            <mat-expansion-panel-header (closed)="panelOpenState = false" (opened)="panelOpenState = true">
              <mat-panel-title>
                <strong> CH à évité</strong>
              </mat-panel-title>
            </mat-expansion-panel-header>




            <mat-list role="dense" *ngIf="interim.interim.ch_a_eviter">

              <mat-list-item role="listitem"><span class="font-weight-bold"></span> &nbsp;
                <span> {{interim.interim.ch_a_eviter}} </span>
              </mat-list-item>


            </mat-list>


          </mat-expansion-panel>

        </mat-accordion>


      </mat-list>
    </div>
  </div>

</div>
