<div class="modal-content">

  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h3><strong>Envoyer Un SMS</strong></h3>
  </div>

  <!-- Modal body -->
  <div class="modal-body">


    <form [formGroup]="editForm" *ngIf="editForm">
      <div class="hr-line-dashed"></div>


      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="erp-full-width">
            <input matInput placeholder="Expediteur" formControlName="sender">
          </mat-form-field>

        </div>

      </div>


      <div class="row">
        <div class="col-sm-12">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Message</mat-label>
            <input matInput #message formControlName="content" maxlength="160"
              placeholder="Ajouter le contenu du message">
            <mat-hint align="start"><strong>Nombre de caractère </strong> </mat-hint>
            <mat-hint align="end">{{message.value.length}} / 160</mat-hint>
          </mat-form-field>


        </div>


      </div>


    </form>


    <div class="modal-footer">
      <button mat-button (click)="onDismiss()">Annuler</button>
      <button mat-raised-button color="success" [disabled]="!editForm.valid" (click)="sendSMS()">Envoyer</button>
    </div>
  </div>
</div>