

<div class="container-fluid main" *ngIf="nomInterim">
  <div class="animated fadeIn margin-top-navbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>
            Pour télécharger le dossier complet de l'interimaire <strong>{{nomInterim}} </strong> <a (click)="dowloadDossier()" class="text-info pointer">Cliquer ici</a>
          </p>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-12">
          <div class="card bg-light">
            <div class="card-header"><h4>DOSSIER</h4></div>
            <div class="card-body text-secondary">
              <div class="row">
                <div class="col-lg-3 mt-2 " *ngFor="let item of infosPerso; let i = index"  >
                  <a target="_blank" rel="noopener" href="{{dossierInterim[item]}}">
                    <mat-card class="example-card cardRMS">
                      <img mat-card-image src="{{fileDifferentImage}}" class="imgDossier" alt="{{item}}">
                      <h6 class="text-center">{{item}}</h6>

                    </mat-card>
                    <!--                <div class="card cellule-imgDossier" *ngIf="dossierInterim[item] ">-->
                    <!--  &lt;!&ndash;                <img src="{{dossierInterim[item]}}" class="imgDossier" alt="{{item}}" *ngIf="dossierInterim[item] && dossierInterim[item].indexOf('.pdf') === -1">&ndash;&gt;-->
                    <!--                  <h6 class="text-center">{{item}}</h6>-->
                    <!--                </div>-->
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-12">
          <div class="card bg-light">
            <div class="card-header"><h4 style="text-transform: uppercase">complément dossier</h4></div>
            <div class="card-body container-fluid">
              <div class="row">
                <div class="col-lg-8 offset-lg-2">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrer">
                  </mat-form-field>
                </div>
                <div class="col-lg-12">
                  <table mat-table [dataSource]="dataSource" matSort>

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> N. </th>
                      <td mat-cell *matCellDef="let row"> {{ dataSource.filteredData.indexOf(row) + 1 }}</td>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="libelle">
                      <th mat-header-cell *matHeaderCellDef> Libellé </th>
                      <td mat-cell *matCellDef="let row"> {{row.libelle}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                      <td mat-cell *matCellDef="let row">
                        <a target="_blank" rel="noopener" href="{{row.url}}" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <!--<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>-->
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
