.main{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.cardRMS{
  background: #FFF;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.cardRMS:hover{
  box-shadow: 0 0 6px #4183D7;
}
