<div class="row py-4">
  <div class="col-12 col-sm-6 col-md-6 col-lg-6 p-2">
    <img alt="faq" class="faq" src="../../../../assets/images/faq2.webp" />
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-6 pt-4 bloc_interrogation">
    <p class="pt-4 ml-2 interrogation">
      les questions les plus posées !
    </p>
    <!-- <p class="interrogation_p consulter_q"></p> -->
    <p class="interrogation_p ml-3">
      <button (click)="onConsulter()" class="consulter">Consultez</button>
    </p>
    <div class="py-2 ml-3 interrogation_p">
      <h2 class="num_contact">05 57 88 25 75</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center pt-4">
    <br />
    <h1 class="font-weight-bold bientot">Bientôt Disponible !</h1>
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-6 phone_content text-right">
    <img
      alt="myRMS"
      class="myRmsPhone"
      src="../../../../assets/images/new_site/myrms.svg"
      width="400"
    />
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-6 btn_center">
    <button class="btn_google_play shadow">
      <i class="fab fa-google-play"></i>
      <span>&nbsp;&nbsp;&nbsp;</span>
      <span>Google Play</span>
    </button>
    <br />
    <button class="btn_apple_store shadow">
      <i class="fab fa-apple"></i>
      <span>&nbsp;&nbsp;&nbsp;</span>
      <span>Apple Store</span>
    </button>
  </div>
</div>
