.interrogation {
    color: #D06F80;
    font-weight: 800;
    font-size: 1.8em;
    letter-spacing: 3px;
    text-decoration-line: none;
}

.interrogation_p {
    margin-left: 10%;
}

.consulter {
    margin-left: 20%;
    color: white;
    font-size: 1.4em;
    padding-left: 20px;
    font-weight: 700;
    padding-right: 20px;
    background: #00B5D2;
    border: 1px solid #00B5D2;
    border-radius: 11px;
}

.num_contact {
    color: #5f70be;
    font-weight: 800;
    margin-left: 17%;
}

.consulter_q {
    color: rebeccapurple;
    font-size: 1em;
    font-weight: 600;
}

.faq {
    width: 64%;
    float: right;
}

.btn_google_play {
    background: black;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 2.5em;
    margin-top: 35%;
    padding-left: 45px;
    padding-right: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}

.btn_apple_store {
    background: black;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 2.5em;
    padding-left: 54px;
    padding-right: 51px;
    font-weight: 700;
    margin-bottom: 10px;
}

.bientot {
    color: #092F6B;
    margin-top: 40px;
    letter-spacing: 8px;
    font-size: 2.8em;
}


/*// Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
    .faq {
        float: none;
        margin-left: 15%;
    }
    .bloc_interrogation,
    .btn_center {
        text-align: center !important;
    }
    .num_contact {
        margin-left: 0;
    }
    .btn_google_play {
        font-size: 1.5em;
        margin-top: 10%;
    }
    .btn_apple_store {
        font-size: 1.5em;
    }
    .myRmsPhone {
        width: 50%;
    }
    .phone_content {
        text-align: center !important;
    }
    .interrogation {
        font-size: 14px;
        margin-top: -38px;
    }
    .consulter {
        font-size: 17px;
        margin-left: 0;
    }
    .num_contact {
        font-size: 15px;
    }
    .bientot {
        font-size: 18px;
        letter-spacing: 4px;
        margin-top: -40px;
    }
}


/*// Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {
    .interrogation {
        font-size: 1.3em;
    }
    .interrogation_p {
        margin-left: 4%;
    }
    .num_contact {
        font-size: 1em;
    }
    .consulter {
        font-size: 1.1em;
    }
    .faq {
        width: 94%;
        float: right;
    }
    .bientot {
        font-size: 1.8em;
    }
    .btn_google_play {
        font-size: 1.1em;
        margin-top: 60%;
    }
    .btn_apple_store {
        font-size: 1.1em;
    }
    .myRmsPhone {
        width: 70%;
    }
}


/*// Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
    .faq {
        width: 84%;
        float: right;
    }
    .btn_google_play {
        font-size: 1.5em;
        margin-top: 60%;
    }
    .btn_apple_store {
        font-size: 1.5em;
    }
    .interrogation {
        font-size: 20px;
        letter-spacing: 2px;
    }
    .consulter {
        margin-left: 30%;
        font-size: 17px;
        padding-left: 22px;
        margin-top: 10px;
    }
    .num_contact[_ngcontent-upa-c9] {
        margin-left: 25%;
        font-size: 23px;
    }
    .bientot {
        font-size: 30px;
        letter-spacing: 5px;
        margin-top: 0px;
    }
    .myRmsPhone {
        width: 65%;
    }
}


/*// Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    .bientot {
        font-size: 1.8em;
    }
    .btn_google_play {
        font-size: 1.5em;
        margin-top: 50%;
    }
    .btn_apple_store {
        font-size: 1.5em;
    }
    .faq {
        width: 84%;
        float: right;
    }
    .myRmsPhone {
        width: 50%;
    }
}


/*// Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    .interrogation {
        margin-top: 15px;
        font-size: 2.5em;
    }
    .consulter_q {
        font-size: 1.4em;
    }
    .btn_google_play {
        margin-top: 25%;
    }
    .myRmsPhone {
        width: 30%;
    }
}