<!-- Modal Header -->
<div class="modal-header text-center">
  <h3>Les candidature la mission: {{data.ref}} </h3>
</div>

<!-- Modal body -->
<div class="modal-body p-0 m-0">
  <div class="container-fluid p-0 m-0">
    <div class="mat-elevation-z8 p-0 m-0">
      <table mat-table [dataSource]="dataSource" class="bg-white footable table table-hover table-striped p-0 m-0">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date  | date: 'dd-MM-yyyy'}} </td>
        </ng-container>

        <!-- vacation Column -->
        <ng-container matColumnDef="vacation">
          <th mat-header-cell *matHeaderCellDef> Vacation </th>
          <td mat-cell *matCellDef="let element"> {{element.vacation}} </td>
        </ng-container>

        <!-- debut Column -->
        <ng-container matColumnDef="debut">
          <th mat-header-cell *matHeaderCellDef> Début </th>
          <td mat-cell *matCellDef="let element"> {{element.debut | date : 'shortTime'}} </td>
        </ng-container>

        <!-- fin Column -->
        <ng-container matColumnDef="fin">
          <th mat-header-cell *matHeaderCellDef> Fin </th>
          <td mat-cell *matCellDef="let element"> {{element.fin | date : 'shortTime'}} </td>
        </ng-container>

        <!-- tarif Column -->
        <ng-container matColumnDef="tarif">
          <th mat-header-cell *matHeaderCellDef> Tarif </th>
          <td mat-cell *matCellDef="let element"> {{element.tarif}} </td>
        </ng-container>

        <!-- statut Column -->
        <ng-container matColumnDef="statut">
          <th mat-header-cell *matHeaderCellDef> Statut </th>
          <td mat-cell *matCellDef="let element"> {{element.statut}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>

  </div>
</div>
