<!-- Modal Header -->
<div class="modal-header text-center">
  <h3>Relevés d'heures</h3>
</div>

<!-- Modal body -->
<div class="modal-body">
  <div class="container">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSave()">
      <!-- debut du formulaire information de l'utilisateur -->
      <div class="row">
        <div class="col-6">
          <fieldset class="bg-white">
            <legend>PRESTATIONS</legend>
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="IFMICP" formControlName="IFMICP">
              </mat-form-field>
            </div>
            <div class="col-md-12 p-0" *ngIf="TabPrimes">
              <fieldset>
                <legend>Tableau de primes</legend>
                <div *ngFor="let item of TabPrimes;let i = index" >
                  <mat-list role="list">
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{item.TxtPrime}}
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <mat-list role="dense">
                        <div  style="overflow-wrap:break-word">
                          <ul class="list-group">
                            <li class="list-group-item disabled">
                              <span class="mr-2"><strong>Taux réference :</strong></span>
                              <span class="">{{item.TauxReference}} €</span>
                            </li>
                            <li class="list-group-item disabled">
                              <span class="mr-2"><strong>Taux payé imposable</strong></span>
                              <span class="">{{item.TauxPayeImposable}} €</span>
                            </li>
                            <li class="list-group-item disabled">
                              <span class="mr-2"><strong>Taux payé non imposable</strong></span>
                              <span class="">{{item.TauxPayeNonImposable}} €</span>
                            </li>
                            <li class="list-group-item disabled">
                              <span class="mr-2"><strong>Taux facturé</strong></span>
                              <span class="">{{item.TauxFacture}} €</span>
                            </li>
                          </ul>
                        </div>
                      </mat-list>

                    </mat-expansion-panel>
                  </mat-list>
                </div>
              </fieldset>
            </div>
          </fieldset>
        </div>
        <div class="col-6">
          <fieldset class="bg-white">
            <legend>Frais</legend>
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="IFMICP" formControlName="IFMICP">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="Prime déplacement" formControlName="deplacement" readonly>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="Prime hébergement" formControlName="hebergement" readonly>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="Prime repas" formControlName="repas" readonly>
              </mat-form-field>
            </div>
          </fieldset>
        </div>
        <button class="btn btn-info btn-md col-md-12 mt-3" [disabled]="form.invalid">Continuer</button>
      </div>
    </form>

  </div>
</div>
