<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <!--Header-->
        <div class="card-header">
          <div class="row">
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 mt-4">
              <h6><span>GESTION DES RÉNUMERATIONS OLD</span></h6>
            </div>
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">
              <mat-form-field>
                <mat-label>Filtrer</mat-label>
                <mat-select multiple [(ngModel)]="elements">
                  <mat-option *ngFor="let item of displayedColumnsFilter" [value]="item.name" (click)="valutElements()">
                    {{item.label  | uppercase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <form (ngSubmit)="onSubmitFiltre()" [formGroup]="formFilter" class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item  of elements ">
                  <div *ngIf="item != 'mois'">
                    <mat-form-field class="erp-full-width">
                      <input matInput type="text" placeholder="{{item}}" id=" {{ item }} " formControlName="{{item}}"
                        required>
                    </mat-form-field>
                  </div>
                  <div *ngIf="item == 'mois'">
                    <mat-form-field class="erp-full-width">
                      <mat-select placeholder="{{item}}" id=" {{item}} " formControlName="{{item}}" required>
                        <mat-option value="{{m}}" *ngFor="let m  of allmois ">{{m | uppercase }} </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <!-- <div *ngIf="item == 'specialite'">


                    <mat-select-autocomplete (selectionChange)="getSelectedOptions($event)" [display]="'display'"
                      [labelCount]="1" [multiple]='true' [options]="listSpeciliteFilter"
                      [placeholder]="'selectionnez specialite'" [value]="'value'" class="erp-full-width" name="{{item}}"
                      ngDefaultControl ngModel>
                    </mat-select-autocomplete>
                  </div> -->
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 text-center">
                  <button class="btn btn-success" type="submit" [disabled]="formFilter.invalid"
                    *ngIf="elements.length > 0">Valider</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card-body table-responsive">
          <div class="row mb-2">
            <div class="col-12 col-lg-8 col-sm-12 p-1">
              <div class="card background-degrade">
                <div class="card-body p-2">
                  <h5 class="no-margins">
                    <button type="button" class="btn btn-xs badge-light mb-1">
                      Total (presta + frais) : <span class="badge badge-primary"
                        style="font-size: 14px">{{totalPrestaAndFrais()  | number }} € </span>
                    </button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-xs badge-light mb-1">
                      Prestation : <span class="badge badge-primary"
                        style="font-size: 14px">{{totalPresta()  | number }} €</span>
                    </button>
                    &nbsp;&nbsp;
                    <button type="button btn-xs" class="btn badge-light mb-1">
                      Frais : <span class="badge badge-primary" style="font-size: 14px">{{totalfrais()  | number}}
                        €</span>
                    </button>
                    &nbsp;&nbsp;
                    <button type="button btn-xs" class="btn badge-light mb-1">
                      Tarif : <span class="badge badge-primary"
                        style="font-size: 14px">{{totalTarification()  | number}} €</span>
                    </button>
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-2 col-sm-6 p-1">
              <div class="card bg-warning">
                <div class="card-body p-2">
                  <h5 class="no-margins">
                    <button type="button" class="btn btn-xs btn-warning">
                      Interims: {{nombreInterimaire()}}
                    </button>
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-2 col-sm-6 p-1">
              <div class="card bg-success">
                <div class="card-body p-2">
                  <h5 class="no-margins">
                    <button type="button" class="btn btn-xs btn-success">
                      Clients : {{nombreEtablissement()}}
                    </button>
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <table mat-table matSort [dataSource]="dataSource"
            class="bg-white footable table table-hover table-striped" *ngIf="dataSource">
            <!-- debut des colonnes des champs du tableau -->
            <ng-container matColumnDef="num">
              <th mat-header-cell *matHeaderCellDef>N°</th>
              <td mat-cell *matCellDef="let paie" class="pt-3 sizeText">
                {{ dataSource.filteredData.indexOf(paie) + 1 }}
              </td>
            </ng-container>
            <ng-container matColumnDef="interim">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Interim</th>
              <td mat-cell *matCellDef="let paie" class="font-bold pt-3 sizeText">
                <a routerLink="/RMS-Admin/interim/{{paie.interim_id}}/show/">{{ paie.nom | uppercase }}
                  {{ paie.prenom | uppercase}}</a>
              </td>
            </ng-container>
            <ng-container matColumnDef="etablissement">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Client</th>
              <td mat-cell *matCellDef="let paie" class="font-bold pt-3 sizeText">
                <a routerLink="/RMS-Admin/client/{{paie.client_id}}/show/">{{paie.hopital}}</a></td>
            </ng-container>
            <ng-container matColumnDef="annee">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Année</th>
              <td mat-cell *matCellDef="let paie" class="font-bold pt-3 sizeText">
                {{paie.annee}}
              </td>
            </ng-container>
            <ng-container matColumnDef="total">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Total</th>
              <td mat-cell *matCellDef="let paie" class="font-bold pt-3 sizeText">
                {{ +paie.prestation + siNullRenderZero(paie.frais)  | number }} €
              </td>
            </ng-container>
            <ng-container matColumnDef="prestation">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Prestation</th>
              <td mat-cell *matCellDef="let paie" class="font-bold pt-3 sizeText">
                {{siNullRenderZero(+paie.prestation | number )}} €
              </td>
            </ng-container>
            <ng-container matColumnDef="frais">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Frais</th>
              <td mat-cell *matCellDef="let paie" class="font-bold pt-3 sizeText">
                {{siNullRenderZero(paie.frais)}} €
              </td>
            </ng-container>
            <ng-container matColumnDef="totalTarif">
              <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 200px">Total Tarif</th>
              <td mat-cell *matCellDef="let paie" class="font-bold pt-3 sizeText">
                {{siNullRenderZero(paie.totalTarif) | number }} €
              </td>
            </ng-container>
            <ng-container matColumnDef="mois">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Mois</th>
              <td mat-cell *matCellDef="let paie" class="pt-3 sizeText">{{ paie.mois}}</td>
            </ng-container>
            <ng-container matColumnDef="remarque">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Remarques</th>
              <td mat-cell *matCellDef="let paie" class="pt-3 sizeText">{{ paie.remarque}}</td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let paie" class="pt-3 sizeText">
                <a class="pointer" routerLink="/RMS-Admin/renumerations-old/{{paie.renumeration_id}}/show/">
                  <mat-icon color="vertfoncer">visibility</mat-icon>
                </a>
              </td>
            </ng-container>
            <!-- fin des colonnes des champs du tableau -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let paie; columns: displayedColumns;" (click)="selection.toggle(paie)"></tr>
          </table>
        </div>
        <div class="card-footer">
          <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
            (page)="pagination($event)">
          </mat-paginator>
        </div>
      </div>
    </div>

  </div>
</div>
