.material-icons {
  font-weight: normal;
  font-style: normal;
  font-size: 19px;
  text-align: right;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.example-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-header-cell{
  font-size: 1em;
  font-weight: bold;
  color: black;
  border-bottom: #3a97a2 2px solid;
  padding-bottom: 5px;
}
.btn-primary{
  background: #3a97a2;
}

.mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]), .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]), .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
  background-image: linear-gradient(to right, #1CAF9A 0%, #17A2B8 100%);
  color: white;
}


.mat-header-cell{
  font-size: 1em;
  font-weight: bold;
  color: black;
  border-bottom: #3a97a2 2px solid;
  padding-bottom: 5px;
}
.btn-primary{
  background: #3a97a2;
}
table {
  width: 100%;
}
.sizeText{
  font-size: 12px;
  font-weight: 500;
}
.sizeText1{
  font-size: 11px;
  font-weight: 500;
}
td{
  width: 10px;
}
.table th, .table td {
  padding: 0.25rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.material-icons {
  font-size: 17px;
  padding-top: 5px;
  line-height: 0;
}
.mat-mini-fab{
  width: 28px;
  height: 28px;
}
