<div class="modal-content" *ngIf="editForm">
  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h2 mat-dialog-title>{{displayName}}</h2>
  </div>

  <!-- Modal body -->
  <div class="modal-body">

    <form [formGroup]="editForm">
      <div class="hr-line-dashed"></div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-select placeholder="Boite E-mail" formControlName="email" [compareWith]="compareWithEmail">
              <mat-option *ngFor="let item of list_emails" [value]="item">
                {{item?.email | uppercase}}
              </mat-option>
            </mat-select>

          </mat-form-field>


        </div>

        <div class="col-md-6">
          <mat-form-field>
            <mat-select placeholder="Type de Ligne" formControlName="type" [compareWith]="compareWithTypeLigne">
              <mat-option *ngFor="let item of list_types" [value]="item">
                {{item.designation | uppercase}}
              </mat-option>
            </mat-select>

          </mat-form-field>


        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="erp-full-width">
            <input matInput placeholder="Numero Telephone" formControlName="telephone">
          </mat-form-field>

        </div>
        <div class="col-md-6">

          <mat-form-field>
            <mat-select placeholder="specialite" formControlName="specialite" multiple [compareWith]="compareWithFunc">
              <mat-option *ngFor="let s of list_specialites " [value]="s.specialite">{{s.specialite}}</mat-option>
            </mat-select>
          </mat-form-field>


        </div>


      </div>
      <div class="row">
        <div class="col-md-12">

          <!-- <textarea matInput placeholder="Environement Tech" formControlName="environemen_tech"></textarea> -->


          <strong>Commentaire</strong>
          <ckeditor skin="moono-lisa" language="fr" formControlName="commentaire"></ckeditor>

        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-sm-6">
        <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial>Valider</button>
      </div>
    </div>


  </div>
</div>
