
<div class="panel panel-default animated fadeIn" style="overflow: hidden">
        <div class="panel-body">
          <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <div class="panel panel-default panel-table" style="border-bottom: 2px solid #95A5A6">
              <div class="panel-heading">
                    <div class="row">
                            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 mt-4">
                                <h6><span>GESTION DES MAJORATIONS</span></h6>
                            </div>
                            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">
                                <mat-form-field>
                                    <mat-label>Filtrer</mat-label>
                                    <mat-select multiple [(ngModel)]="elements">
                                        <mat-option *ngFor="let item of displayedColumnsFilter" [value]="item.name"
                                            (click)="valutElements()">{{item.label | uppercase}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                &nbsp;&nbsp;
                                <button mat-mini-fab color="success" (click)="edit()">
                                  <mat-icon>add_circle</mat-icon>
                            </button>
                            </div>


                        </div>
              </div>
              <form (ngSubmit)="onSubmitFiltre()" [formGroup]="formFilter" class="example-form container center_div">
                  <div class="form-group" *ngFor="let item  of elements ">
                    <div>

                      <mat-form-field class="erp-full-width">
                        <input matInput type="text" placeholder="{{item}}" id="{{item}}" formControlName="{{item}}" class="form-control"
                          ngModel required>
                      </mat-form-field>
                    </div>


                  </div>
                  <button class="btn btn-primary" type="submit" [disabled]="formFilter.invalid"
                    *ngIf="elements.length > 0">Valider</button>

                </form>
              <div class="panel-body table-responsive">
                <table mat-table #table matSort matSortStart="asc" [dataSource]="dataSource" class="bg-white footable table table-hover table-striped">
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let item">
                      <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(item) : null"
                                    [checked]="selection.isSelected(item)">
                      </mat-checkbox>
                    </td>
                  </ng-container>
                  <!-- debut des colonnes des champs du tableau -->
                  <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef>Num.</th>
                    <td mat-cell *matCellDef="let item">{{ dataSource.filteredData.indexOf(item) + 1 }}</td>
                  </ng-container>



                  <ng-container matColumnDef="nom">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
                    <td mat-cell *matCellDef="let item">{{ item.nom}}</td>
                  </ng-container>
                  <ng-container matColumnDef="dimanche">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Dimanche</th>
                    <td mat-cell *matCellDef="let item">{{ getbooleanString(item.dimanche)}}</td>
                  </ng-container>

                  <ng-container matColumnDef="samedi">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Samedi</th>
                      <td mat-cell *matCellDef="let item">{{ getbooleanString(item.samedi)}}</td>
                    </ng-container>




                  <ng-container matColumnDef="ferier">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Jour Ferier</th>

                    <td mat-cell *matCellDef="let item">{{ getbooleanString(item.ferie)}}</td>
                  </ng-container>

                  <ng-container matColumnDef="24">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>24</th>

                    <td mat-cell *matCellDef="let item">{{ getbooleanString(item.vingt_quatre)}}</td>
                  </ng-container>

                  <ng-container matColumnDef="31">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>31</th>

                    <td mat-cell *matCellDef="let item">{{ getbooleanString(item.trente_un)}}</td>
                  </ng-container>

                  <ng-container matColumnDef="Edit">
                    <th mat-header-cell *matHeaderCellDef>Edit</th>
                    <td mat-cell *matCellDef="let item">

                      <button mat-mini-fab="accent"  (click)="edit(item.id)">
                        <mat-icon>create</mat-icon>
                      </button>


                    </td>
                  </ng-container>


                  <!-- fin des colonnes des champs du tableau -->
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let item columns: displayedColumns;" (click)="selection.toggle(item)"></tr>
                </table>
                <!-- <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                (page)="pagination($event)">
            </mat-paginator> -->
            <span><b>Total :</b> {{length}}</span>
              </div>

            </div>
          </div>

        </div>
      </div>
