<div class="conatenair-fluid">
    <div class="row" *ngIf="renumerationExiste">
        <div class="col-12 mb-3 text-right">
            <button class="btn btn-warning" (click)="updateSalaire()">Metre à jour</button>
        </div>
        <div class="card mb-3 col-12 col-sm-6 col-md-6 col-lg-4 p-0 table-responsive" style="max-width: 100%;">
            <div class="card-header"><h4><strong>Frais</strong></h4></div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr *ngFor="let item of renumerationFraisKeys;let i = index">
                        <th>{{formaterItem(item)}}</th>
                        <td>{{isNullReturnZero(renumerationPresta[item])}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-8">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-3">
                    <div class="card p-0" >
                        <div class="card-header"><h4><strong>Planning</strong></h4></div>
                        <div class="card-body table-responsive">
                            <table class="table table-striped table-hover" *ngIf="vacationsKeys">
                                <thead>
                                <tr>
                                    <th scope="row">#</th>
                                    <th scope="row" *ngFor="let item of vacationsKeys;let i = index">{{item}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let vacation of vacations;let i = index" >
                                    <th scope="row">{{i+1}}</th>
                                    <td *ngFor="let item of vacationsKeys" >{{vacation[item]}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-3 p-3">
                    <div class="card p-0">
                        <div class="card-header"><h4><strong>Total</strong></h4></div>
                        <div class="card-body">
                            <table class="table table-striped table-hover">
                                <tbody>
                                <tr *ngFor="let item of totalKeys;let i = index">
                                    <th *ngIf="item !=='total'">{{formaterItem(item)}}</th>
                                    <th *ngIf="item ==='total'">{{item}} (Presta + Frais)</th>
                                    <td *ngIf="item !=='total'">{{formaterItem(renumerationPresta[item])}}</td>
                                    <td *ngIf="item ==='total'">{{stringToFloat(renumerationPresta['totalPrestation']) + stringToFloat(renumerationPresta['totalFrais'])}} €</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-3 p-3">
                    <div class="card p-0" >
                        <div class="card-header"><h4><strong>Prestation</strong></h4></div>
                        <div class="card-body">
                            <table class="table table-striped table-hover">
                                <tbody>
                                <tr *ngFor="let item of renumerationPrestaKeys;let i = index">
                                    <th>{{formaterItem(item)}}</th>
                                    <td>{{renumerationPresta[item]}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row" *ngIf="!renumerationExiste">
        <div class="col-lg-12">
            Cette rénumération n'existe pas !
        </div>
    </div>
</div>
