.sous-titre{
  padding: 0;
  margin: 0.5%;
}
.btn-sous-titre{
  width: 100%;
}
.mat-header-cell {
  text-align:left;
  font-size: 1.25em;
  color: #ffffff;
}
tr.mat-header-row {
  height: 5px;
  background: #3a97a2;
}
.erp-log-width {
  width: 70%;
}
