
<div class="panel-body table-responsive">
  <div class="row">
    <div class="col-3">
      <mat-form-field class="erp-log-width">
        <input matInput placeholder="Message ID,Destinataire"  [formControl]="destinanaireMessageSerach" [disabled] ="!evenements.valid" (keyup)="destinateurMessagesearch()">
      </mat-form-field>
      <button mat-raised-button color="primary"  (click)="filterEmail(destinanaireMessageSerach.value)"  cdkFocusInitial  *ngIf="btndestinanaireMessageSerach">Appliquer</button>


    </div>
    <div class="col-3">
      <mat-form-field>
        <mat-label>Tous les Événements</mat-label>
        <mat-select [formControl]="evenements">
          <mat-option *ngFor="let item of evenementFilter" [value]="item.value" (click)="evenementsearch(item.value)">{{item.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="filterEvent(evenements.value)" [disabled] ="!evenements.valid" cdkFocusInitial *ngIf="btnevenements">Appliquer</button>
    </div>

    <div class="col-3">
      <mat-form-field>
        <mat-label>Tous les Expediteurs</mat-label>
        <mat-select [formControl]="expediteurs">
          <mat-option *ngFor="let item of expediteursItems" [value]="item.value" (click)="expediteursearch(item)" >{{item.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary"  (click)="filterEvent(expediteurs.value)" [disabled] ="!expediteurs.valid" cdkFocusInitial *ngIf="btnexpediteur">Appliquer</button>
    </div>
    <div class="col-3" style="text-align: right">
      <button class="btn btn-info btn-md" (click)="refrech()">
        <span class="glyphicon glyphicon-refresh"></span> Actualiser
      </button>
    </div>
  </div>

  <table mat-table #table matSort matSortStart="asc" [dataSource]="dataSource"
         class="bg-white footable table table-hover table-striped">
    <!-- colonne de checkboc   -->

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
<!--        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"-->
<!--                      [indeterminate]="selection.hasValue() && !isAllSelected()">-->
<!--        </mat-checkbox> -->
        <mat-checkbox (change)="$event" [checked]="selection.hasValue()"
                      [indeterminate]="selection.hasValue()">
        </mat-checkbox>
<!--        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"-->
<!--                      [indeterminate]="selection.hasValue() && !isAllSelected()">-->
<!--        </mat-checkbox>-->
      </th>
      <td mat-cell *matCellDef="let client">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(client) : null"
                      [checked]="selection.isSelected(client)">
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- debut des colonnes des champs du tableau -->
    <ng-container matColumnDef="Événements">
      <th mat-header-cell *matHeaderCellDef>Événements</th>
      <td mat-cell *matCellDef="let item">
        <mat-chip color="success" selected>{{item.event}}</mat-chip>
      </td>
    </ng-container>

    <ng-container matColumnDef="Date">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let item" class="font-bold"> {{item.date | date}}</td>
    </ng-container>

    <ng-container matColumnDef="Objet">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Objet</th>
      <td mat-cell *matCellDef="let item" class="font-bold"> {{item.subject}}
        <!-- <span *ngFor="let c of item.recipients"></span> -->
      </td>
    </ng-container>

    <ng-container matColumnDef="De">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>De</th>
      <td mat-cell *matCellDef="let item" class="font-bold">{{item.from}}
        <!-- <span *ngFor="let c of item.recipients"></span> -->
      </td>
    </ng-container>
    <ng-container matColumnDef="À">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>À</th>
      <td mat-cell *matCellDef="let item" class="font-bold">{{item.email}}</td>
    </ng-container>

    <ng-container matColumnDef="Tags">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Tags</th>
      <td mat-cell *matCellDef="let item" class="font-bold">{{item.tag}}</td>
    </ng-container>






    <!-- fin des colonnes des champs du tableau -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let interim; columns: displayedColumns;" (click)="selection.toggle(interim)"></tr>

  </table>

</div>
<div class="hr-line-dashed"></div>

<form [formGroup]="numeroPageForm" *ngIf="numeroPageForm">
  <div class="hr-line-dashed"></div>

  <div class="row">

    <div class="col-md-1">

      <mat-form-field>

        <input type="number" matInput placeholder="numero page" formControlName="numero_page">
      </mat-form-field>


    </div>
    <div class="col-md-2">
      {{num_page}} - sur {{ nombre_page}}

      <button mat-raised-button color="primary" (click)="newPage()" cdkFocusInitial>Valider</button>
    </div>
    <div class="col-2">
      <mat-form-field>
        <mat-label>Taille Page</mat-label>
        <mat-select>
          <mat-option *ngFor="let t of taillesPage" [value]="t.value" (blur)="taillePageFunc(t.value)">
            {{t.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>


  </div>



</form>

