<div class="modal-content" *ngIf="editForm">
    <!-- Modal Header -->
    <div class="modal-header text-center">
        <h2 mat-dialog-title>{{displayName}}</h2>
    </div>

    <!-- Modal body -->
    <div class="modal-body">

        <form [formGroup]="editForm">
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field class="erp-full-width ">

                        <textarea matInput placeholder="Remarque" formControlName="designation"></textarea>
                    </mat-form-field>
                </div>

                <div class="col-md-6">

                    <mat-form-field class="erp-full-width">
                        <mat-select formControlName="type" placeholder="Type" [compareWith]="compareWithFunc">
                            <mat-option [value]="type.client">
                                Client
                            </mat-option>

                            <mat-option [value]="type.interim">
                                Interim
                            </mat-option>

                        </mat-select>

                    </mat-form-field>


                </div>




            </div>



        </form>

        <div class="row">
            <div class="col-sm-6">
                <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>&nbsp;&nbsp;
                <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial>Valider</button>
            </div>
        </div>


    </div>
</div>