<div class="modal-content" style="padding: 0;margin: 0">

    <!-- Modal Header -->
    <div class="modal-header text-center">
        <h2 mat-dialog-title>{{displayName}}</h2>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
        <form [formGroup]="clientForm" *ngIf="clientForm">
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field class="erp-full-width">
                        <input matInput placeholder="Nom Etablissement" formControlName="nom_etablissement">
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field class="erp-full-width">
                        <input matInput placeholder="Raison Social" formControlName="raison_sociale">
                    </mat-form-field>

                </div>
                <div class="col-sm-4">
                    <mat-form-field class="erp-full-width">
                        <mat-select placeholder="Type" formControlName="type">
                            <mat-option value="Privé">Privé</mat-option>
                            <mat-option value="Public">Public</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field class="erp-full-width">
                        <input matInput placeholder="Siret" formControlName="siret">
                    </mat-form-field>

                </div>
                <div class="col-sm-4">
                    <mat-form-field class="erp-full-width">
                        <input matInput placeholder="Telephone" formControlName="tel">
                    </mat-form-field>

                </div>
                <div class="col-sm-4">
                    <mat-form-field class="erp-full-width">
                        <input matInput placeholder="Site Web" formControlName="site_web">
                    </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field class="erp-full-width">
                        <input matInput type="email" placeholder="Adresse E-mail" formControlName="email">
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field class="erp-full-width">
                        <input matInput type="number" placeholder="Majoration" formControlName="majoration">
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field class="erp-full-width">

                        <input matInput type="number" placeholder="Taux TVA" formControlName="taux_tva">
                    </mat-form-field>

                </div>
                <div class="col-sm-4">
                    <mat-form-field class="erp-full-width">
                        <input matInput type="number" placeholder="Coefficient De Commision"
                            formControlName="coefficient_de_commission">

                    </mat-form-field>
                </div>
                <div class="col-sm-4">

                    <mat-form-field class="erp-full-width">
                        <input matInput type="number" placeholder="N. TVA intracommunautaire"
                            formControlName="numero_de_tva">
                    </mat-form-field>


                </div>

                <div class="col-sm-4">
                    <mat-form-field class="erp-full-width">
                        <input matInput type="text" placeholder="Adresse" formControlName="adresse">
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field class="erp-full-width">
                        <input matInput type="text" placeholder="complement Adresse"
                            formControlName="complement_adresse">
                    </mat-form-field>
                </div>
                <div class="col-sm-4">

                    <mat-form-field class="erp-full-width">
                        <input type="text" placeholder="Choisissir  ville " aria-label="Text" matInput
                            [matAutocomplete]="auto" (keyup)="onCommune($event.target.value)" formControlName="ville"
                            (blur)="onblurCommune()">
                        <mat-autocomplete #auto>

                            <mat-option *ngFor="let commune of filteredCommune | async" [value]="getValue(commune)">
                                {{commune.properties.postcode}} - {{ commune.properties.label }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>


                </div>
                <div class="col-sm-4">
                    <mat-form-field class="erp-full-width">
                        <input matInput type="text" [disabled]="true" placeholder="code postal" formControlName="cp">
                    </mat-form-field>
                </div>

            </div>
            <!-- ligne du button pour ajouter  recruteur -->
            <div *ngIf="roleService.isCommercial(this.currentUser.roles)">
                <div formArrayName='recruteurs' *ngIf="clientForm.get('recruteurs')['controls']">

                    <div [formGroup]='recruteurs' class='row'
                        *ngFor="let recruteurs of clientForm.get('recruteurs')['controls']; let i = index">

                        <div class="col-md-5">
                            <mat-form-field class="erp-full-width">
                                <input matInput type="text" placeholder="fonction" formControlName="fonction">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2">
                            <mat-chip-list class="erp-full-width">
                                <mat-chip color="warn" selected (click)="retireRecruteur(i)">retirer</mat-chip>
                            </mat-chip-list>

                        </div>

                    </div>
                </div>
            </div>
            <div class="row" *ngIf="roleService.isCommercial(this.currentUser.roles)">
                <div class="col-sm-4 col-sm-offset-2" *ngIf="actif_champ">
                    <!-- <span class="btn btn-primary btn-sm" (click)="addRecruteur()">Ajouter Recruteur</span> -->

                    <button mat-mini-fab color="success" (click)="ouvrirlistRecruteurModal()">
                        <mat-icon>person_add</mat-icon>
                    </button>

                </div>

                <div class="col-sm-4" *ngIf="roleService.isManager(this.currentUser.roles)">
                    <mat-form-field class="erp-full-width">
                        <mat-select placeholder="Gestionnaire interne" formControlName="gestionnaire"
                            [compareWith]="compareWithFuncGest">
                            <mat-option value="{{item.id}}" *ngFor="let item of gestionnaires_internes; let i = index">
                                {{item.nom}} {{item.prenom}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm-4" *ngIf="roleService.isManager(this.currentUser.roles)">
                    <mat-form-field class="erp-full-width">
                        <mat-select placeholder="Groupe Majoration" formControlName="client_majoration"
                            [compareWith]="compareWithFunc">
                            <mat-option value="{{item.id}}" *ngFor="let item of groupe_majorations; let i = index">
                                {{item.nom}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>




            </div>
            <div class="row" *ngIf="roleService.isCommercial(this.currentUser.roles)">
                <div class="col-sm-4">

                    <mat-checkbox class="erp-full-width" formControlName="cible" labelPosition="after"
                        (change)="cibleAction()">
                        Cible
                    </mat-checkbox>
                </div>
            </div>
            <!-- fin button pour ajouter  recruteur -->
            <div class="hr-line-dashed"></div>

            <div class="row">
                <div class="col-12">
                    <ckeditor language="fr" formControlName="remarques"></ckeditor>
                </div>
                <!-- <ck-editor name="editor1"  skin="moono-lisa" language="fr" [fullPage]="true"></ck-editor> -->
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-12 text-right mt-4">

                    <mat-checkbox class="mr-2" (click)="addIdPldContrat()" *ngIf="edit $$ ">Lier a un client existant
                        sur PLD
                    </mat-checkbox>

                    <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>&nbsp;&nbsp;&nbsp;

                    <button mat-raised-button color="success" (click)="saveClient()" cdkFocusInitial
                        *ngIf="roleService.isCommercial(this.currentUser.roles)" [disabled]="clientForm.invalid">Valider
                    </button>

                    <button mat-raised-button color="success" (click)="saveClient(true)" cdkFocusInitial
                        *ngIf="roleService.isRecruteurUnique(this.currentUser.roles)"
                        [disabled]="clientForm.invalid">Enregistrer
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>