<div class="container-fluid bg-white mt-3 p-3" *ngIf="currentinterim">



  <div class="row pt-4 m-auto">
    <div class="col-12 col-lg-6 col-md-6 col-sm-6">
      <fieldset class="row">
        <legend>Informations personnelles</legend>
        <div class="card" *ngIf="keysUserItems">
          <div class="row">
            <div class="col-3 p-4 thumb">
              <a class="thumbnail" href="#">
                <img class=" img-thumbnail" src="{{photo}}" alt="photo de profil interim">
              </a>
            </div>
            <div class="col-8">
              <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-action" *ngFor="let item of keysUserItems; let i = index">
                  <div class="row">
                    <div class="col-5">
                      <strong>
                        <span> {{item | titlecase}}</span>
                      </strong>
                    </div>
                    <div class="col-7">
                      <span *ngIf="currentinterim[item]">{{currentinterim[item]}}</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </fieldset>
    </div>
  </div>
</div>