<mat-tab-group >

  <mat-tab label="Planning par date">
    <app-create-planning-by-date
      [listesVacations]="listesVacations"
      [ficheSpecialiteDefautChoix]="ficheSpecialiteDefautChoix"
      [ficheSpecialiteDefaut]="ficheSpecialiteDefaut"
      [initialCountCreate]="initialCountCreate"
      [showAjout]="showAjout"
      [typeDeGardeDefaut]="typeDeGardeDefaut"
      [typeDeGardes]="typeDeGardes"
      [ficheSpecialites]="ficheSpecialites"
    ></app-create-planning-by-date>
  </mat-tab>
  <mat-tab label="Planning par periode">
    <app-create-planning-by-periode
      [ficheSpecialiteDefaut]="ficheSpecialiteDefaut"
      [ficheSpecialites]="ficheSpecialites"
      [bsRangeValue]="bsRangeValue"
      [typeDeGardeDefaut]="typeDeGardeDefaut"
      [ficheSpecialiteDefautChoix]="ficheSpecialiteDefautChoix"
      [typeDeGardes]="typeDeGardes"
      [missions]="missions"
    >
    </app-create-planning-by-periode>
  </mat-tab>


</mat-tab-group>

