<!--====================================================================================================================-->
<div class="ml-4 mr-4 animated fadeIn ">
  <div class="container-fluid bg-white animated fadeIn">
    <div class="card table-responsive">
      <!--    Header    -->
      <div class="card-header">
        <div class="row">
          <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 pt-4">
            <h6 class="panel-title"><span style="font-size: 1.26em;color: rgb(47, 64, 80);">Type  Prospection</span>
            </h6>
          </div>
          <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">

            <mat-form-field>
              <mat-label>Filtrer</mat-label>
              <mat-select multiple [(ngModel)]="elements">
                <mat-option *ngFor="let item of displayedColumnsFilter" [value]="item.name"
                            (click)="valutElements()">
                  {{item.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            &nbsp;&nbsp;
            <button mat-mini-fab color="success" (click)="editTypeProspectionModal()">
              <mat-icon>add_circle</mat-icon>
            </button>


          </div>
        </div>
        <form (ngSubmit)="onSubmitFiltre(f)" #f="ngForm" class="example-form container center_div">
          <div class="form-group" *ngFor="let item  of elements ">
            <div>

              <mat-form-field class="erp-full-width">
                <input matInput type="text" placeholder="{{item}}" id="{{item}}" name="{{item}}" class="form-control"
                       ngModel required>
              </mat-form-field>
            </div>


          </div>
          <button class="btn btn-primary" type="submit" [disabled]="f.invalid"
                  *ngIf="elements.length > 0">Valider
          </button>

        </form>
      </div>
      <!--   Content     -->
      <div class="card-body table-responsive">
        <table mat-table #table matSort matSortStart="asc" [dataSource]="dataSource"
               class="bg-white footable table table-hover table-striped">
          <!-- colonne de checkboc   -->

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let client" class="pt-3">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(client) : null"
                            [checked]="selection.isSelected(client)">
              </mat-checkbox>
            </td>
          </ng-container>
          <!-- debut des colonnes des champs du tableau -->
          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef> &nbsp;&nbsp;Num.</th>
            <td mat-cell *matCellDef="let item" class="pt-3"> &nbsp;&nbsp; {{ dataSource.filteredData.indexOf(item) + 1 }}</td>
          </ng-container>

          <ng-container matColumnDef="Designation">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Designation</th>
            <td mat-cell *matCellDef="let item" class="font-bold pt-3">{{ item.designation}}</td>
          </ng-container>

          <ng-container matColumnDef="Nbr Message Prospection">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> total </th>
            <td mat-cell *matCellDef="let item" class="font-bold pt-3">{{ item.nombre_prospection }}</td>
          </ng-container>


          <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let item">
              <button mat-mini-fab="accent" (click)="editTypeProspectionModal(item.id)">
                <mat-icon>create</mat-icon>
              </button>

            </td>


          </ng-container>

          <!-- fin des colonnes des champs du tableau -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let interim; columns: displayedColumns;" (click)="selection.toggle(interim)"></tr>

        </table>
        <div class="text-center" *ngIf="this.dataSource.filteredData.length == 0">
          <strong>Désolé, aucun résultat ne correspond à votre recherche.</strong>
        </div>
      </div>
      <!--   Footer     -->
      <div class="card-footer"></div>
    </div>
  </div>
</div>
