<div class="container-fluid bloc">
  <div *ngIf="div_connexion" class="row animated fadeInRight mt-4">
    <div class="col-12 col-md-8 col-sm-8 col-lg-4 offset-lg-4 box_shadow_div">
      <div class="row">
        <div class="col-12 text-center">
                   <span class="field text-center">
                    CONNEXION
                  </span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-4 col-md-4 col-4 py-2 d-none d-sm-block ">
          <button (click)="socialSignIn('google')" class="btn btn-block btn_gg btn-sm"><i
            class="fab fa-google-plus"></i> Google
          </button>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 col-4 py-2 d-none d-sm-block ">
          <button (click)="socialSignIn('linkedin')" class="btn btn-block btn_in btn-sm"><i
            class="fab fa-linkedin"></i>  Linkedin
          </button>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 col-4 py-2 d-none d-sm-block">
          <button (click)="socialSignIn('facebook')" class="btn btn-block btn_fb btn-sm"><i
            class="fab fa-facebook-f"></i> Facebook
          </button>
        </div>
        <div class="col-12 text-center d-sm-none d-md-none d-lg-none">
          <i (click)="socialSignIn('google')" class="fab fa-google-plus"></i>
          <i (click)="socialSignIn('linkedin')" class="ml-4 fab fa-linkedin"></i>
          <i (click)="socialSignIn('facebook')" class="ml-4 fab fa-facebook"></i>
        </div>
        <div class="col-lg-12 text-center pt-4"> ou</div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form [formGroup]="signinForm">
            <div class="form-group">
              <label for="pseudo"><span class="glyphicon glyphicon-user"></span> Pseudo</label>
              <input class="form-control" formControlName="username" id="pseudo" placeholder="Pseudo / Email"
                     type="text"/>
            </div>
            <div class="form-group">
              <label for="pwd"><span class="glyphicon glyphicon-eye-open"></span> Mot de passe</label>
              <input class="form-control" formControlName="password" id="pwd" placeholder="Entrer votre mot de passe"
                     type="password"/>
              <p class="pull-right">
                <span class="mot_de_passe_oublier"> <a routerLink="/espace-membre/mot-de-passe-oublie">Mot de passe oublié? </a> </span>
                <span (click)="showInscriptionModal()" class="pointer ml-3 d-sm-none d-md-none d-lg-none">
                  <a
                     class="inscription"
                  >Inscrivez-vous </a> </span>
                <span (click)="showInscription()" class="pointer ml-3 d-none d-sm-block">
                  <a
                     class="inscription"
                  >Inscrivez-vous </a> </span>
              </p>
            </div>
            <div class="col-12 col-sm-8 col-md-6 col-lg-6 offset-sm-2 offset-md-3 offset-lg-3 text-center">
              <button (click)="connexion()" class="btn btn-block btn-blue" id="_submit" name="_submit"
                      type="submit"><span class="glyphicon glyphicon-off"></span> se connecter
              </button>
            </div>
            <div class="col-12 col-sm-8 col-md-6 col-lg-6 offset-sm-2 offset-md-3 offset-lg-3 text-center pt-3">
              <button class="btn btn-block btn-white" name="_submit" type="submit">
                <span class="glyphicon glyphicon-off"></span> annuler
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
  <!--=============================-->
  <!--==============================================================================-->
  <div *ngIf="div_inscription" class="row mt-5 div_inscription animated fadeInLeft">
    <div class="col-12 col-md-10 col-sm-10 col-lg-8 offset-sm-1 offset-md-1 offset-lg-2 box_shadow_div">
      <div class="row">
        <div class="col-12 text-center">
                   <span class="field text-center">
                    INSCRIPTION
                  </span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-12 col-sm-4 col-md-4 py-2 offset-lg-3">
          <button (click)="socialSignIn('google')" class="btn btn-block btn_gg btn-sm"><i
            class="fab fa-google-plus"></i> Google
          </button>
        </div>
        <div class="col-lg-2 col-sm-4 col-md-4 col-12 py-2">
          <button (click)="socialSignIn('linkedin')" class="btn btn-block btn_in btn-sm"><i
            class="fab fa-linkedin"></i>  Linkedin
          </button>
        </div>
        <div class="col-lg-2 col-sm-4 col-md-4 col-12 py-2">
          <button (click)="socialSignIn('facebook')" class="btn btn-block btn_fb btn-sm"><i
            class="fab fa-facebook-f"></i> Facebook
          </button>
        </div>
        <div class="col-12 text-center pt-4"> ou</div>
      </div>
      <!--<div class="row border">-->
      <form [formGroup]="signupForm" class="row">
        <div class="form-group col-12 text_choix text-danger text-center">
          <label class="radio-inline mr-3">
            <strong class="mr-2">Médical</strong>
            <input formControlName="roles" name="roles"
                   type="radio"
                   value="ROLE_ADMIN, ROLE_CANDIDAT,ROLE_MEDICAL">
          </label>
          <label class="radio-inline mr-3">
            <strong class="mr-2">Paramédical</strong>
            <input formControlName="roles" name="roles"
                   type="radio"
                   value="ROLE_ADMIN, ROLE_CANDIDAT,ROLE_PARAMEDICAL">
          </label>
          <label class="radio-inline mr-3">
            <strong class="mr-2">
              structure de santé</strong>
            <input formControlName="roles" name="roles" type="radio"
                   value="ROLE_ADMIN, ROLE_RECRUTEUR">&nbsp;&nbsp;
          </label>
        </div>
        <div class="form-group col-lg-3 col-md-3">
          <label for="civilite">Civilité <span class="champs_obligatoire">*</span></label>
          <select class="form-control" formControlName="civilite" id="civilite">
            <option value="Mr">Monsieur</option>
            <option value="Mme">Madame</option>
          </select>
        </div>
        <div class="form-group col-lg-4 col-md-4">
          <label for="nom">Nom <span class="champs_obligatoire">*</span></label>
          <input class="form-control" formControlName="nom" id="nom" placeholder="ex:dupont" type="text">
        </div>
        <div class="form-group col-lg-5 col-md-5">
          <label for="prenom">Prenom <span class="champs_obligatoire">*</span></label>
          <input class="form-control" formControlName="prenom" id="prenom" placeholder="ex:jean paul" type="text">
        </div>

        <div class="form-group col-lg-6 col-md-6">
          <label for="username">Username <span class="champs_obligatoire">*</span></label>
          <input class="form-control" formControlName="username" id="username" placeholder="root" type="text">
        </div>
        <div class="form-group col-lg-6 col-md-6">
          <label for="email">Email <span class="champs_obligatoire">*</span></label>
          <input class="form-control" formControlName="email" id="email" placeholder="exemple@gmail.com" type="text">
        </div>
        <div class="form-group col-lg-4 col-md-4">
          <label for="portable">Telephone <span class="champs_obligatoire">*</span></label>
          <input class="form-control" formControlName="telephone" id="portable" placeholder="0144512447" type="tel">
        </div>
        <div class="form-group col-lg-4 col-md-4">
          <label for="password">Mot de passe <span class="champs_obligatoire">*</span></label>
          <input #items (keyup)="MatchingPassword(items)" class="form-control" data-toggle="password"
                 formControlName="password" id="password" name="password" placeholder="**************************"
                 type="password">
          <span *ngIf="matchingPwd" class="text-danger">* les mots de passe doivent etre identique</span>

          <!--<span class="pwd_obligatoire">le mot de passe doit avoir 6 caracteres minimum</span>-->
        </div>
        <div class="form-group col-lg-4 col-md-4">
          <label for="password">Retaper le mot de passe <span class="champs_obligatoire">*</span></label>
          <input #items (keyup)="MatchingPassword(items)" class="form-control" formControlName="confirm_password"
                 name="confirmPassword" placeholder="**************************" type="password">
          <span *ngIf="matchingPwd" class="text-danger">* les mots de passe doivent etre identique</span>

          <!--<span class="pwd_obligatoire">le mot de passe doit avoir 6 caracteres minimum</span>-->
        </div>
        <div class="col-lg-4 offset-lg-2 pt-4">
          <a (click)="div_inscription = false;div_connexion = true;" class="btn"> deja un compte ? connectez - vous</a>
        </div>
        <div class="col-lg-4 pt-4">
          <button (click)="submit()" [disabled]="signupForm.invalid || matchingPwd"
                  class="btn btn-block btn-success form-control"
                  id="btn-verification-candidat" type="submit">Soumettre
          </button>
        </div>
      </form>
      <!--</div>-->
    </div>
  </div>


  <!--<div class="container bloc">-->
  <!--<div class="row">-->
  <!--<div class="col-lg-6 col-lg-push-3">-->
  <!--<div class="row page_login_content" [ngClass]="{hidden : hideElement === true}"  >-->
  <!--<div class="modal-header">-->
  <!--<ul class="nav nav-tabs">-->
  <!--<li class="active"><a data-toggle="tab" href="#login">Se connecter</a></li>-->
  <!--<li><a data-toggle="tab" href="#registration">S'inscrire</a></li>-->
  <!--</ul>-->
  <!--</div>-->
  <!--<div class="modal-body">-->
  <!--<div class="form-group">-->
  <!--<div class="row">-->
  <!--<div class="col-lg-4">-->
  <!--<button class="btn btn-block btn_gg" (click)="socialSignIn('google')"> <i class="fab fa-google-plus"></i> Google</button>-->
  <!--</div>-->
  <!--<div class="col-lg-4">-->
  <!--<button class="btn btn-block btn_in" (click)="socialSignIn('linkedin')"> <i class="fab fa-linkedin"></i>  Linkedin</button>-->
  <!--</div>-->
  <!--<div class="col-lg-4">-->
  <!--<button class="btn btn-block btn_fb" (click)="socialSignIn('facebook')"> <i class="fab fa-facebook-f"></i> Facebook</button>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="divider-text">-->
  <!--<span class="bg-light">OU</span>-->
  <!--</div>-->
  <!--<div class="tab-content">-->
  <!--&lt;!&ndash;===========================================================================================&ndash;&gt;-->
  <!--<div id="login" class="tab-pane active">-->
  <!--<form [formGroup]="signinForm">-->
  <!--<div class="form-group">-->
  <!--<label for="pseudo"><span class="glyphicon glyphicon-user"></span> Pseudo</label>-->
  <!--<input type="text" class="form-control" id="pseudo" formControlName="username" placeholder="Pseudo / Email"/>-->
  <!--</div>-->
  <!--<div class="form-group">-->
  <!--<label for="pwd"><span class="glyphicon glyphicon-eye-open"></span> Mot de passe</label>-->
  <!--<input type="password" formControlName="password" class="form-control" id="pwd" placeholder="Entrer votre mot de passe" />-->
  <!--<p class="pull-right"><a routerLink="/membre/mot-de-passe-oublie">Mot de passe oublié? </a></p>-->
  <!--</div>-->
  <!--<button type="submit" class="btn btn-block btn-blue" id="_submit" name="_submit" (click)="connexion()"><span class="glyphicon glyphicon-off"></span> connexion</button>-->
  <!--</form>-->
  <!--</div>-->

  <!--&lt;!&ndash;==============================================================================&ndash;&gt;-->
  <!--<div id="registration" class="tab-pane fade">-->
  <!--<form [formGroup]="signupForm">-->
  <!--<div class="form-group col-lg-12 text-danger text-center">-->
  <!--<label class="radio-inline"><input type="radio" name="roles" value="ROLE_ADMIN, ROLE_CANDIDAT,ROLE_MEDICAL" formControlName="roles"><strong>Médical</strong></label>-->
  <!--<label class="radio-inline"><input type="radio" name="roles" value="ROLE_ADMIN, ROLE_CANDIDAT,ROLE_PARAMEDICAL" formControlName="roles"><strong>Paramédical</strong></label>-->
  <!--<label class="radio-inline"><input type="radio" name="roles" value="ROLE_ADMIN, ROLE_RECRUTEUR" formControlName="roles">&nbsp;&nbsp;<strong>Je represente une structure de santé</strong></label>-->
  <!--</div>-->
  <!--<div class="row">-->
  <!--<div class="form-group col-lg-3">-->
  <!--<label for="civilite">Civilité <span class="champs_obligatoire">*</span></label>-->
  <!--<select formControlName="civilite" id="civilite" class="form-control">-->
  <!--<option value="Mr">Monsieur</option>-->
  <!--<option value="Mme">Madame</option>-->
  <!--</select>-->
  <!--</div>-->
  <!--<div class="form-group col-lg-4">-->
  <!--<label for="nom">Nom <span class="champs_obligatoire">*</span></label>-->
  <!--<input type="text" class="form-control" formControlName="nom" id="nom">-->
  <!--</div>-->
  <!--<div class="form-group col-lg-5">-->
  <!--<label for="prenom">Prenom <span class="champs_obligatoire">*</span></label>-->
  <!--<input type="text" class="form-control" formControlName="prenom" id="prenom">-->
  <!--</div>-->
  <!--</div>-->


  <!--<div class="row">-->
  <!--<div class="form-group col-lg-6">-->
  <!--<label for="username">Username <span class="champs_obligatoire">*</span></label>-->
  <!--<input type="text" formControlName="username" class="form-control" id="username">-->
  <!--</div>-->
  <!--<div class="form-group col-lg-6">-->
  <!--<label for="email">Email <span class="champs_obligatoire">*</span></label>-->
  <!--<input type="text" formControlName="email" class="form-control" id="email">-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
  <!--<div class="form-group col-lg-6">-->
  <!--<label for="password">Mot de passe <span class="champs_obligatoire">*</span></label>-->
  <!--<input type="password" formControlName="password" class="form-control" id="password" name="password" data-toggle="password">-->
  <!--&lt;!&ndash;<span class="pwd_obligatoire">le mot de passe doit avoir 6 caracteres minimum</span>&ndash;&gt;-->
  <!--</div>-->
  <!--<div class="form-group col-lg-6">-->
  <!--<label for="password">Retaper le mot de passe <span class="champs_obligatoire">*</span></label>-->
  <!--<input type="password" class="form-control">-->
  <!--&lt;!&ndash;<span class="pwd_obligatoire">le mot de passe doit avoir 6 caracteres minimum</span>&ndash;&gt;-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group">-->
  <!--<label for="portable">Telephone <span class="champs_obligatoire">*</span></label>-->
  <!--<input type="tel" formControlName="telephone" class="form-control" id="portable">-->
  <!--</div>-->
  <!--<button type="submit" class="btn btn-block btn-success" [disabled]="signupForm.invalid" id="btn-verification-candidat" (click)="submit()" >Soumettre</button>-->
  <!--</form>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
