.bloc{
  background: url('../../../../assets/images/new_site/back_login.svg');
  height: 980px;
  background-size: contain;
  background-repeat: no-repeat;
  color: #092F6B;
  font-weight: bold;
}
.box_shadow_div {
  /*box-shadow: 2px 2px 10px #092F6B;*/
  box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.3);
  padding: 64px;
  margin-top: 5%;
}

.bloc_btn {
  padding: 1%;
  margin: 0;
}

.btn_fb{
  background-color: #fff;
  border: 1px solid #3b5999;
  color: #3b5999;
}
.btn_fb:hover{
  background-color: #3b5999;
  color: #fff;
}
.radio-inline{
  font-size: 1.2em;
  padding-right: 35px;
  padding-top: 15px;
  color: #00B5D2;
}
.btn_gg{
  background-color: #fff;
  border: 1px solid #dd4b39;
  color: #dd4b39;

}
.btn_gg:hover{
  background-color: #dd4b39;
  color: #fff;
}
.btn_in{
  background-color: #fff;
  border: 1px solid #0077B5;
  color: #0077B5;
}
.btn_in:hover{
  background-color: #0077B5;
  color: #fff;
}
.field{
  position: relative;
  border: solid 2px #092F6B;
  top: -65px;
  width: 60%;
  left: 20%;
  border-radius: 15px 15px 15px;
  display: block;
  padding: 5px;
  background: white;
  font-size: 1em;
  font-weight: 800;
}
.pseudo{

}
.btn-block{
  border-radius: 15px 15px 15px;
  border: solid 2px #092F6B;
}
.btn-blue{
  background: #092F6B;
  color: white;
  font-weight: 700;
}
.btn-white{
  background: white;
  color: #092F6B;
  font-weight: 700;
}

@media (min-width: 1700px){
}
/*! Large devices (desktops, 992px and up)*!*/
@media (min-width: 1000px) and (max-width: 1400.99px) {
  .bloc{
    width: 1500px;
    position: relative;
    left: -240px;
    top: 60px;
  }
  .mot_de_passe_oublier{
    font-size: 0.6em;
    padding-top: 8px;
  }
  .inscription{
    font-size: 0.6em;
    padding-top: 8px;
  }
  .div_inscription{
    position: relative;
    left: 5%;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 768px) and (max-width: 999.98px) {
  .bloc{
    position: relative;
    left: 18%;
    top: 100px;
  }
  .mot_de_passe_oublier{
    font-size: 0.6em;
    padding-top: 8px;
  }
  .inscription{
    font-size: 0.6em;
    padding-top: 8px;
  }
  .div_inscription{
    position: relative;
    left: -140px;
    top: -20px;
  }
  .text_choix{
    font-size: 0.7em;
  }
  label{
    font-size: 0.7em;
  }
}

/*!*Small devices (landscape phones, 576px and up)*!*/
@media (min-width: 576px) and (max-width: 767.99px) {
  .bloc{
    position: relative;
    left: 20%;
  }
  .mot_de_passe_oublier{
    font-size: 0.6em;
    padding-top: 8px;
  }
  .inscription{
    font-size: 0.6em;
    padding-top: 8px;
  }
  .div_inscription{
    position: relative;
    left: -140px;
    top: -20px;
  }
  .text_choix{
    font-size: 0.7em;
  }
  label{
    font-size: 0.7em;
  }
}

/*!*Small devices (landscape phones, 576px and up)*!*/
@media (max-width: 575.98px) {
 .mot_de_passe_oublier{
   font-size: 0.6em;
   padding-top: 8px;
 }
 .inscription{
   font-size: 0.6em;
   padding-top: 8px;
 }
  .text_choix{
    font-size: 0.7em;
  }
  .bloc{
    padding: 12px;
    height: 595px;
  }
  .box_shadow_div{
    padding: 39px;
    margin-top: 0%;
  }
  .inscription{
    font-size: 13px;
  }
  .fa-google-plus:before {
    content: "\f0d5";
    font-size: 26px;
    color: #d6492e;
  }
  .fa-linkedin:before {
    content: "\f0e1";
    color: #0174b1;
    font-size: 26px;
  }
  .fa-facebook:before {
    content: "\f09a";
    font-size: 26px;
  }
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
