
<div>
  <div  *ngIf="contratOption.length > 0" style="text-align: right">
      <mat-form-field class="example-user-input">
          <mat-select placeholder="selectionnez une action" [(ngModel)]="action">
            <mat-option *ngFor="let action of contratOption" [value]="action">
              {{action}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button
                aria-label="Button pour valider l'action"
                (click)="actionbtn(action,transaction_contrat.id,transaction_contrat.transactionId)">
          OK
        </button>
  </div>
<mat-card>
<mat-card-title> 
    <span *ngIf="transaction_contrat?.status == 'ABANDONED'">
        Abandonner
      </span>
      <span *ngIf="transaction_contrat?.status == 'CLOSED'">
      Terminer
      </span>
      <span *ngIf="transaction_contrat?.status == 'ARCHIVED'">
       Archiver
      </span>
      <span *ngIf="transaction_contrat?.status == 'OPEN'">
       Envoyer 
      </span>
      <span *ngIf="transaction_contrat?.status == 'SIGNED'">
       Signer
      </span> 
   <strong>{{client?.companyName}}</strong> 
</mat-card-title>
<mat-card-subtitle> 
   {{  transaction_contrat?.subStatus }}

</mat-card-subtitle>
<mat-card-content>
  <div class="row">
   <div class="col-md-2">
     <span>
        Etat
     </span>
   </div>
   <div class="col-md-2">
      <span>
          Modèle de contrat
      </span>
    </div>
    <div class="col-md-2">
        <span>
            Représentant
        </span>
      </div>
      <div class="col-md-2">
          <span>
              Ville
          </span>
        </div>
        <div class="col-md-2">
            <span>
                Date de début
            </span>
          </div>
          <div class="col-md-2">
              <span>
                  Dernière opération
              </span>
            </div>
  </div>
  <div class="row">
      <div class="col-md-2">
          <mat-chip-list>
        <span *ngIf="transaction_contrat?.status == 'ABANDONED'">
            <mat-chip color="primary" selected>Abandonner</mat-chip>
          </span>
          <span *ngIf="transaction_contrat?.status == 'CLOSED'">
            <mat-chip color="accent" selected>Terminer</mat-chip>
          </span>
          <span *ngIf="transaction_contrat?.status == 'ARCHIVED'">
            <mat-chip color="warn" selected>Archiver</mat-chip>
          </span>
          <span *ngIf="transaction_contrat?.status == 'OPEN'">
            <mat-chip color="accent">Envoyer </mat-chip>
          </span>
  
          <span *ngIf="transaction_contrat?.status == 'SIGNED'">
            <mat-chip>Signer </mat-chip>
          </span>
          </mat-chip-list>
      </div>
      <div class="col-md-2">
         <span>
            {{transaction_contrat?.modele}}
         </span>
       </div>
       <div class="col-lg-2">
           <span>
              {{transaction_contrat?.representant}}
           </span>
         </div>
         <div class="col-md-2">
             <span>
              
             </span>
           </div>
           <div class="col-md-2">
               <span>
                {{ transaction_contrat?.date | date :'dd-MM-yyyy'}}
               </span>
             </div>
             <div class="col-md-2">
                 <span>
                    {{ transaction_contrat?.closedDate | date :'dd-MM-yyyy'}}
                 </span>
               </div>
     </div>
 
</mat-card-content>

</mat-card>

<mat-tab-group>
  <mat-tab label="Contrat"  >
    <mat-card>
      <mat-card-content>   
          <pdf-viewer [src]="pdfSrc" 
          [render-text]="true"
          style="display: block;">
     
        </pdf-viewer>

      </mat-card-content>
    </mat-card>
  </mat-tab>
 
  <mat-tab label="SIGNATAIRES">
    <mat-card>
      <mat-card-content>
             
      <table mat-table #table matSort matSortStart="asc" [dataSource]="dataSource" *ngIf="dataSource.data.length > 0" class="bg-white footable table table-hover table-striped">
 
   <!-- debut des colonnes des champs du tableau -->
   <ng-container matColumnDef="number">
       <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
       <td mat-cell *matCellDef="let recruteur">{{ dataSource.filteredData.indexOf(recruteur) + 1 }}</td>
   </ng-container>



   <ng-container matColumnDef="Nom Complet">
       <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom Complet</th>
       <td mat-cell *matCellDef="let item" class="font-bold"> {{item?.nomComplet}}</td>
    
 
 
             
   </ng-container>

   <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let item" class="font-bold"> {{item?.email}}</td>
            
  </ng-container>


  <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let item" class="font-bold"> {{item?.signatureDate | date}}</td>
            
  </ng-container>


  <ng-container matColumnDef="Télephone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Télephone</th>
      <td mat-cell *matCellDef="let item" class="font-bold"> {{item?.telephone}}</td>
            
  </ng-container>

  <ng-container matColumnDef="Fonction">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fonction</th>
      <td mat-cell *matCellDef="let item" class="font-bold">{{item?.fonction}}</td>
            
  </ng-container>

  <ng-container matColumnDef="Signature">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Signature</th>
      <td mat-cell *matCellDef="let item" class="font-bold">
        <!-- {{}} -->
     <mat-icon *ngIf="item.signatureStatus === 'SIGNED'">done_outline</mat-icon>
      </td>
  </ng-container>
  <ng-container matColumnDef="Mode Signature">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mode Signature</th>
      <td mat-cell *matCellDef="let item" class="font-bold">
  
     <mat-icon *ngIf="item?.signatureMode === 3">email</mat-icon>

      </td>
            
  </ng-container>


  

 


   <ng-container matColumnDef="Relancer">
       <th mat-header-cell *matHeaderCellDef></th>
       <td mat-cell *matCellDef="let item">
          <button  *ngIf="transaction_contrat?.status === 'OPEN' " (click)="relancerContrat()" mat-raised-button color="primary">Relancer</button>
           </td>
   </ng-container>
   <!-- fin des colonnes des champs du tableau -->
   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let client; columns: displayedColumns;"
      ></tr>
</table>
</mat-card-content>

    </mat-card>
  </mat-tab>
  <mat-tab label="CLIENT">
    <mat-card-content style="overflow-x: hidden">
       
        <div class="row">

                <div class="col-6">
                
                    <div class="card">
                      <mat-list role="dense">
                        <mat-list-item role="listitem">Adresse : &nbsp; <span class="font-bold"> {{client?.address1}} </span></mat-list-item>
                        <mat-list-item role="listitem">Complément Adresse : &nbsp; <span class="font-bold">{{ client?.address2 }} </span></mat-list-item>
                        <mat-list-item role="listitem">Code postal : &nbsp; <span class="font-bold">{{ client?.postalCode }} </span></mat-list-item>
                        <mat-list-item role="listitem">Ville : &nbsp; <span class="font-bold">{{ client?.city }} </span></mat-list-item>
                        <mat-list-item role="listitem">Téléphone : &nbsp; <span class="font-bold">{{ client?.phone }} </span></mat-list-item>
                        <mat-list-item role="listitem">Téléphone Mobile: &nbsp; <span class="font-bold">{{ client?.cellPhone }} </span></mat-list-item>
                       
                      </mat-list>
                    </div>
                 
                    
                </div>

                <div class="col-6">
                
                    <div class="card">
                      <mat-list role="dense">
                        <mat-list-item role="listitem">Email : &nbsp; <span class="font-bold">{{ client?.email }} </span></mat-list-item>
                        <mat-list-item role="listitem">Raison Social : &nbsp; <span class="font-bold">{{ client?.companyName }} </span></mat-list-item>
                        <mat-list-item role="listitem">Pays : &nbsp; <span class="font-bold">{{ client?.country }} </span></mat-list-item>
                        <mat-list-item role="listitem">Nom Complet : &nbsp; <span class="font-bold">{{client?.firstname}} {{client?.lastname}} </span></mat-list-item>
                        <mat-list-item role="listitem">Numero  Client : &nbsp; <span class="font-bold">{{ client?.number }}</span></mat-list-item>
                      </mat-list>
                    </div>
                 
                    
                </div>
      
          </div>
           
         
           
           
    </mat-card-content>
  </mat-tab>

</mat-tab-group> 




