<div class="overFlowHidden">
  <div *ngIf="!planningService.showCreateOnMissionOrList">
    <hr>
    <div class="row text-center">
      <div class="col-12">
        <button (click)="boolNewPeriode = !boolNewPeriode;setMonthOnDatePriode()"
                class="btn btn-success col-4 col-sm-3 mr-1 mt-3">
          <span (click)="getJTC()" *ngIf="!boolNewPeriode">Période
            <i class="glyphicon glyphicon-plus ml-1"
               style="color: white"></i>
          </span>
          <span *ngIf="boolNewPeriode">Annuler <i class="glyphicon glyphicon-remove ml-1"
                                                  style="color: white"></i>
          </span>
        </button>

        <button (click)="onUpdate()" *ngIf="!boolNewPeriode && roleCommercial()"
                class=" btn btn-success col-12 col-md-3 col-sm-3  col-lg-3 mr-1 mt-3">
          Terminer sans mail <i class="glyphicon glyphicon-ok ml-1"></i></button>

        <button (click)="onUpdate(true)" *ngIf="!boolNewPeriode"
                class="btn btn-success col-12 col-md-3 col-sm-3  col-lg-3 mt-3">
          Terminer <i class="glyphicon glyphicon-envelope ml-1"></i></button>
        <!-- couple de bouton de valider pour les nouvelle periode sur la mission-->
        <button (click)="onNewPeriodeOnMission()" *ngIf="boolNewPeriode" class=" btn btn-success col-4 col-sm-3 mr-1">
          Terminer <i class="glyphicon glyphicon-ok ml-1"></i></button>


        <button (click)="onNewPeriodeOnMission(true)" *ngIf="boolNewPeriode"
                class="btn btn-success col-12 col-md-3 col-sm-3  col-lg-3 mt-3">
          Terminer & mails <i class="glyphicon glyphicon-envelope ml-1"></i></button>
        <!--/////////////////////////////////////////////////////////////////-->
      </div>
    </div>
    <hr>
    <div #parentContainer *ngIf="!boolNewPeriode">
      <!--      <div *ngFor="let item of plannings | paginate: { itemsPerPage: 5, currentPage: p };let i = index" id="{{i}}"-->
      <mat-accordion>
        <mat-expansion-panel (click)="data_intermediaire = item;(onAddElOnDataIntermediaire())"
                             *ngFor="let item of plannings;let i = index;">
          <mat-expansion-panel-header #vacationParent>
            <mat-panel-title>
              <strong>{{item[0].dateFr}} </strong>
            </mat-panel-title>
            <mat-panel-description>
              <span>
                <u>nombre de vacations</u>&nbsp;<strong>{{item.length}}</strong>
              </span>
              <!--              <span>-->
              <!--                suprrimer-->
              <!--              </span>-->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="text-right">
            <mat-icon class="material-icons pointer" color="warn">
              remove_circle
            </mat-icon>
            <mat-icon (click)="countNodeAddOnDate = countNodeAddOnDate + 1;onAddVacation(i,countNodeAddOnDate);"
                      class="material-icons pointer"
                      color="vertfoncer">
              add_circle
            </mat-icon>
          </p>
          <!-- ajouter de nouvelle vacations -->
          <div *ngIf="arrayForAddNewVacation">
            <div *ngFor="let itemNode of arrayForAddNewVacation;let itemNodeNew = index" class="row" id="top"
                 style="margin-top: 0.1%;">
              <div #vacationsNode *ngIf="itemNode.id == i"
                   class="col-11 panel panel-success text-center" style="margin-left: 4%; padding: 2px 2px">
                <mat-icon (click)="onAnnulerVacationInToNode(vacationsNode, itemNodeNew)"
                          class="material-icons pointer pt-3"
                          color="warn">
                  remove_circle
                </mat-icon> &nbsp;&nbsp;|
                <label style="color: #092746"> vacation:
                  <!--    choix du type de garde  ajout sur une date existante        -->
                  <select (change)="getChoiceTypeDeGardeOnDate($event.target.value, itemNodeNew, item[0].date);"
                          [(ngModel)]="itemGardeChoisie"
                          id="{{itemNodeNew}}"
                          style="margin-left: 4px;border-radius: 25px;width:75px;margin-top: 1%">
                    <option checked value="">--Choisir--</option>
                    <option *ngFor="let itemLibelle of typeDeGardes;let indexOptionSelect = index"
                            [ngValue]="itemLibelle">
                      {{itemLibelle.type_de_garde}}  / {{itemLibelle.heure_debut}} - {{itemLibelle.heure_fin}}
                    </option>
                  </select>
                </label>|
                <label *ngIf="roleCommercial()" style="color: #092746"> Tarif :
                  <input *ngIf="typeDeGardeDefautAdd[itemNodeNew]"
                         [(ngModel)]="typeDeGardeDefautAdd[itemNodeNew].typeGardes.tarif"
                         class="text-center" style="width:75px;border-radius: 25px"></label>
                <label *ngIf="!roleCommercial()" style="color: #092746"> Tarif :
                  <input *ngIf="typeDeGardeDefautAdd[itemNodeNew]"
                         [(ngModel)]="typeDeGardeDefautAdd[itemNodeNew].typeGardes.tarif"
                         [disabled]="'true'"
                         class="text-center" style="width:75px;border-radius: 25px"></label> |
                <label *ngIf="roleCommercial()" style="color: #092746"> Salaire :
                  <input *ngIf="typeDeGardeDefautAdd[itemNodeNew]"
                         [(ngModel)]="typeDeGardeDefautAdd[itemNodeNew].typeGardes.salaire_net"
                         class="text-center" style="width:75px; border-radius: 25px">
                </label> |
                <label *ngIf="typeDeGardeDefautAdd[itemNodeNew]" style="color: #092746"> Qualifs:
                  <select (change)="choiceQualif($event.target.value, itemNodeNew)"
                          style="margin-left: 4px;border-radius: 25px;width:75px;margin-top: 1%">
                    <option
                      *ngFor="let itemLibelle of typeDeGardeDefautAdd[itemNodeNew].typeGardes.qualifs;let indexOptionSelect = index"
                      [ngValue]="itemLibelle">
                      {{itemLibelle.qualif}}
                    </option>
                  </select>
                </label>
                <label *ngIf="typeDeGardeDefautAdd[itemNodeNew] && roleCommercial()" class="d-none"
                       style="color: #092746"> statut:
                  <select (change)="choiceStatut($event.target.value, itemNodeNew)"
                          style="margin-left: 4px;border-radius: 25px;width:75px;margin-top: 1%">
                    <option
                      *ngFor="let itemLibelle of typeDeGardeDefautAdd[itemNodeNew].typeGardes.statuts;let indexOptionSelect = index"
                      [ngValue]="itemLibelle">
                      {{itemLibelle.statut}}
                    </option>
                  </select>
                </label>
              </div>
            </div>
          </div>
          <table class="table table-striped text-center">
            <thead>
            <tr>
              <th class="text-center">Garde</th>
              <th class="text-center">Tarif</th>
              <th *ngIf="roleCommercial()" class="text-center">Salaire</th>
              <th class="text-center">qualif</th>
              <th class="text-center ">Statut</th>
              <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody #vacationsContent *ngFor="let itemPlanning of data_intermediaire;let ii = index">
            <tr *ngIf="itemPlanning.del === true" id="tr{{i}}{{ii}}">
              <td>
                <span>{{itemPlanning.libelle}}</span>
              </td>
              <td>
                <span (click)="replaceSpanTarif(ii, itemPlanning)" *ngIf="roleCommercial()"
                      class="urderligne hideTarif{{ii}} pointer">{{itemPlanning.tarif}}
                </span>
                <span *ngIf="!roleCommercial()"
                      class="hideTarif{{ii}}">{{itemPlanning.tarif}}
                </span>
                <input (mouseleave)="replaceInputTarif(ii, itemPlanning)" [(ngModel)]="itemPlanning.tarif"
                       class="showTarif{{ii}} pointer"
                       style="width: 55px;display: none;" type="text">
              </td>
              <td *ngIf="roleCommercial()">
                <span (click)="replaceSpanSalaireNet(ii, itemPlanning)"
                      class="urderligne pointer hideSalaireNet{{ii}}">{{itemPlanning.salaire_net}}
                </span>
                <span *ngIf="!roleCommercial()"
                      class="hideSalaireNet{{ii}}">{{itemPlanning.salaire_net}}
                </span>
                <input (mouseleave)="replaceInputSalaireNet(ii,itemPlanning)" [(ngModel)]="itemPlanning.salaire_net"
                       class="showSalaireNet{{ii}}"
                       style="width: 55px;display: none" type="text">
              </td>
              <td>
                <!--                (click)="replaceSpanTarif(ii)"-->
                <span
                  class="hideTarif{{ii}}">{{itemPlanning.qualif}}
                </span>
                <span *ngIf="!roleCommercial()"
                      class="hideQualif{{ii}}">{{itemPlanning.tarif}}
                </span>
                <!--                <input (mouseleave)="replaceInputTarif(ii)" [(ngModel)]="itemPlanning.tarif" class="showTarif{{ii}}"-->
                <!--                       style="width: 55px;display: none;" type="text">-->
              </td>
              <td>

                <span *ngIf="itemPlanning.statut.toLowerCase() === 'pourvue'"
                      class="hideStatut{{ii}} vacation-pourvue pointer" role="alert">
                  {{itemPlanning.statut| lowercase}}
                </span>
                <span *ngIf="itemPlanning.statut.toLowerCase() === 'a pourvoir'"
                      class="hideStatut{{ii}} vacation-pourvoir pointer">
                  {{itemPlanning.statut| lowercase}}
                </span>
                <span *ngIf="itemPlanning.statut.toLocaleLowerCase() !== 'a pourvoir' && itemPlanning.statut.toLocaleLowerCase() !== 'pourvue'"
                  class="hideStatut{{ii}} vacation_danger pointer">
                  {{itemPlanning.statut| lowercase}}
                </span>
                <!--                <select class="showStatut{{ii}}" (mouseleave)="replaceStatutSelect($event.target.value, ii)"-->
                <!--                        style="display: none;margin-left: 4px;border-radius: 25px;width:75px;margin-top: 1%">-->
                <!--                  <option *ngFor="let statut of statuts;let indexOptionSelect = index"-->
                <!--                          [ngValue]="statut">-->
                <!--                    {{statut.statut}}-->
                <!--                  </option>-->
                <!--                </select>-->
              </td>
              <td>
                <mat-icon (click)="onDeleteVacation(vacationsContent, ii,i,itemPlanning);"
                          class="material-icons pointer" color="warn">
                  remove_circle
                </mat-icon>
              </td>
            </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div *ngIf="boolNewPeriode" class="animated fadeIn">
      <mat-card>
        <mat-card-title><h5>Ajoutons une période </h5></mat-card-title>
        <mat-card-content>
          <form [formGroup]="myFormNewPeriodeOnMission" class="example-form" class="row text-center">
            <div class="col-12">
              <mat-form-field class="example-full-width">
                <mat-label>vacation *</mat-label>
                <mat-select formControlName="type_de_gardeForm">
                  <mat-option *ngFor="let itemLibelle of typeDeGardes;" [value]="itemLibelle">
                    {{itemLibelle.type_de_garde}}  / {{itemLibelle.heure_debut}} - {{itemLibelle.heure_fin}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!--                          ng DatePiker -->
            <div class="form-group col-12">
              <div class="input-group">
                <input #datepicker="ngbDatepicker"
                       (dateSelect)="onDateSelection($event)"
                       [autoClose]="'outside'"
                       [dayTemplate]="t"
                       [displayMonths]="2"
                       [startDate]="dateDebut"
                       class="form-control inputDatepiker"
                       name="datepicker"
                       ngbDatepicker
                       outsideDays="hidden">
                <ng-template #t let-date let-focused="focused">
                              <span (mouseenter)="hoveredDate = date"
                                    (mouseleave)="hoveredDate = null"
                                    [class.faded]="isHovered(date) || isInside(date)"
                                    [class.focused]="focused"
                                    [class.range]="isRange(date)"
                                    class="custom-day">
                                {{ date.day }}
                              </span>
                </ng-template>
              </div>
            </div>
            <div class="form-group col-6">
              <div class="input-group">
                <input #dpFromDate
                       (input)="dateDebut = validateInput(dateDebut, dpFromDate.value)"
                       [value]="formatter.format(dateDebut)"
                       class="form-control"
                       name="dpFromDate"
                       placeholder="yyyy-mm-dd">
                <div class="input-group-append">
                  <button (click)="datepicker.toggle()" class="btn btn-outline-secondary"
                          type="button"><i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="form-group col-6">
              <div class="input-group">
                <input #dpToDate
                       (input)="dateFin = validateInput(dateFin, dpToDate.value)"
                       [value]="formatter.format(dateFin)"
                       class="form-control"
                       name="dpToDate"
                       placeholder="yyyy-mm-dd">
                <div class="input-group-append">
                  <button (click)="datepicker.toggle()" class="btn btn-outline-secondary"
                          type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
            <!--                          fin ngDatepiker-->
            <div class="col-12 mt-2">
              <mat-form-field class="example-full-width">
                <mat-label>qualification *</mat-label>
                <mat-select formControlName="qualif">
                  <mat-option *ngFor="let itemLibelle of typeDeGardes[0].qualifs;" [value]="itemLibelle.qualif">
                    {{itemLibelle.qualif}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div style="height: 530px"></div>
            </div>
            <div *ngIf="roleCommercial()" class="col-12 d-none">
              <mat-form-field>
                <mat-label>statut *</mat-label>
                <mat-select formControlName="statut">
                  <mat-option *ngFor="let itemLibelle of statuts;" [value]="itemLibelle.statut">
                    {{itemLibelle.statut}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- <button type="submit" class="form-control btn-success" [disabled]="myForm.invalid">Valider</button> -->
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<!-- Permet dajouter des nouvelles vacations -->
<div *ngIf="planningService.showCreateOnMissionOrList">
  <div>
    <form (ngSubmit)="onValideFormData()" [formGroup]="formArrayPicker">
      <!--      <div        *ngFor="let item of planningService.newDatesOnMissionViaDatePiker;let u = index" id="{{u}}">-->
      <div formArrayName="groupData">
        <div *ngFor="let data_ of formArrayPicker.get('groupData')['controls']; let i = index">
          <div [formGroupName]="i" class="row py-3" style="border-bottom: 1px solid rgba(119,119,119,0.65)">
             <span class="col-10">
               <h5 style="color: rgba(33,33,33,0.65)"><strong>{{formArrayPicker.value.groupData[i].date|date}}</strong></h5>
             </span>
            <span class="col-2 mr-auto">
              <mat-icon (click)="addOccurence(i);getJTC();" class="pointer" color="vertfoncer">
                  add_circle_outline
              </mat-icon>
            </span>
            <div formArrayName="occurences">
              <div *ngFor="let occurence of getOccurences(i);let j = index" class="ml-2 py-3">
                <div [formArrayName]="j" class="text-center">
                  <select (change)="setDataOnForm(i, j)" formControlName="vacation"
                          style="margin-left: 10px;border-radius: 25px;width:160px;margin-top: 1%">
                    <option *ngFor="let itemLibelle of typeDeGardes;let indexOptionSelect = index"
                            [ngValue]="itemLibelle">{{itemLibelle.type_de_garde}} / {{itemLibelle.heure_debut}}
                      - {{itemLibelle.heure_fin}}</option>
                  </select> |
                  tarif : <input class="text-center" formControlName="tarif" placeholder="0"
                                 style="width:40px; border-radius: 25px"> |
                  salaire : <input class="text-center" formControlName="salaire" placeholder="0"
                                   style="width:40px; border-radius: 25px"> |
                  qualifs :
                  <select *ngIf="getOccurences(i)[j].value"
                          formControlName="qualif"
                          style="margin-left: 4px;border-radius: 25px;width:75px;margin-top: 1%">
                    <option
                      *ngFor="let itemLibelle of qualifsData[i+j];"
                      [ngValue]="itemLibelle.qualif">
                      {{itemLibelle.qualif}}
                    </option>
                  </select>
                  <span class="p-2" (click)="delOccurence(i, j)">
                    <mat-icon class="material-icons pointer"
                              color="warn">
                    remove_circle
                  </mat-icon>
                  </span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!--      <div class="row">-->
      <!--        <div class="col-10">-->
      <!--                <span>-->
      <!--                          <h5><strong>{{item._d|date}}</strong></h5>-->
      <!--                </span>-->
      <!--        </div>-->
      <!--        <div class="col-2">-->
      <!--                <mat-icon (click)="addSkill();listesVacations.push(item._d);getJTC();" class="pointer" color="vertfoncer">-->
      <!--                  add_circle_outline-->
      <!--                </mat-icon>-->
      <!--          &lt;!&ndash;          <button class="btn btn-success btn-xs"&ndash;&gt;-->
      <!--          &lt;!&ndash;                  style="margin-left: 10px"&ndash;&gt;-->
      <!--          &lt;!&ndash;          >Ajouter <i class="glyphicon glyphicon-plus"></i></button>&ndash;&gt;-->
      <!--        </div>-->
      <!--      </div>-->


      <!--      <div *ngFor="let vacationItem of listesVacations;let indexVacation = index">-->
      <!--        <div *ngFor="let skill of skills.controls;let iii = index">-->
      <!--          <ng-container [formGroup]="skill" *ngIf="u === iii">-->
      <!--            vacation:-->
      <!--                  <select formControlName="vacation" style="margin-left: 4px;border-radius: 25px;width:75px;margin-top: 1%" (change)="getChoiceTypeDeGarde($event.target.value, iii, item);">-->
      <!--                    <option *ngFor="let itemLibelle of typeDeGardes;let indexOptionSelect = index"-->
      <!--                            [value]="indexOptionSelect">{{itemLibelle.type_de_garde}} / {{itemLibelle.heure_debut}} - {{itemLibelle.heure_fin}}</option>-->
      <!--                  </select> |-->
      <!--                  tarif : <input placeholder="0" formControlName="tarif" style="width:75px; border-radius: 25px"> |-->
      <!--                  salaire : <input placeholder="0" formControlName="salaire" style="width:75px; border-radius: 25px"> |-->
      <!--                  qualifs : <input placeholder="" formControlName="qualifs" style="width:75px; border-radius: 25px"> |-->
      <!--          </ng-container>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--      <div *ngFor="let vacationItem of listesVacations;let indexVacation = index" id="top"-->
      <!--           style="margin-top: 0.1%;">-->
      <!--        <div #vacationsNode *ngIf="vacationItem==item._d"-->
      <!--             id="{{indexVacation}}" style="padding-left: 30px;padding-top: 20px; ">-->
      <!--          <label style="color: #092746"> vacation11:-->
      <!--          </label>-->
      <!--          <select (change)="getChoiceTypeDeGarde($event.target.value, indexVacation, item);"-->
      <!--                  [(ngModel)]="itemGardeChoisie"-->
      <!--                  id="{{indexVacation+1}}"-->
      <!--                  style="margin-left: 4px;border-radius: 25px;width:75px;margin-top: 1%">-->
      <!--            <option *ngFor="let itemLibelle of typeDeGardes;let indexOptionSelect = index"-->
      <!--                    [ngValue]="itemLibelle">-->
      <!--              &lt;!&ndash;                    value="{{indexOptionSelect}}" [selected]="itemLibelle.type_de_garde === typeDeGardeDefaut[indexVacation]?.typeGardes.type_de_garde">-->
      <!--              (change)="getChoiceTypeDeGarde($event.target.value, indexVacation, item);react_typeDeGardes()"-->
      <!--              &ndash;&gt;-->
      <!--              {{itemLibelle.type_de_garde}} / {{itemLibelle.heure_debut}} - {{itemLibelle.heure_fin}}-->
      <!--            </option>-->
      <!--          </select> |-->
      <!--          <label *ngIf="typeDeGardeDefaut[indexVacation] && roleCommercial()" style="color: #092746"> Tarif :-->
      <!--            <input *ngIf="typeDeGardeDefaut[indexVacation].typeGardes"-->
      <!--                   [(ngModel)]="typeDeGardeDefaut[indexVacation]?.typeGardes.tarif"-->
      <!--                   class="text-center"-->
      <!--                   style="width:75px;border-radius: 25px"></label>-->
      <!--          &lt;!&ndash;  if hop  tarif      &ndash;&gt;-->
      <!--          <label *ngIf="typeDeGardeDefaut[indexVacation] && !roleCommercial()"-->
      <!--                 style="color: #092746; margin-left: 20px"> Tarif :-->
      <!--            {{typeDeGardeDefaut[indexVacation]?.typeGardes.tarif}}-->
      <!--          </label> <span *ngIf="roleCommercial()">|</span>-->

      <!--          <label *ngIf="typeDeGardeDefaut[indexVacation] && roleCommercial()" style="color: #092746"> Salaire :-->
      <!--            <input *ngIf="typeDeGardeDefaut[indexVacation]?.typeGardes"-->
      <!--                   [(ngModel)]="typeDeGardeDefaut[indexVacation]?.typeGardes.salaire_net"-->
      <!--                   class="text-center"-->
      <!--                   style="width:75px; border-radius: 25px">-->
      <!--          </label>-->

      <!--          <label *ngIf="typeDeGardeDefaut[indexVacation]?.typeGardes" style="color: #092746"> Qualifs:-->
      <!--                  <select (change)="choiceQualif($event.target.value, indexVacation)"-->
      <!--                          style="margin-left: 4px;border-radius: 25px;width:75px;margin-top: 1%">-->
      <!--                    <option-->
      <!--                      *ngFor="let itemLibelle of typeDeGardeDefaut[indexVacation]?.typeGardes.qualifs;let indexOptionSelect = index"-->
      <!--                      [ngValue]="itemLibelle">-->
      <!--                      {{itemLibelle.qualif}}-->
      <!--                    </option>-->
      <!--                  </select>-->
      <!--          </label>-->
      <!--          <label *ngIf="typeDeGardeDefaut[indexVacation]?.typeGardes && roleCommercial()" class="d-none"-->
      <!--                 style="color: #092746"> statut:-->
      <!--            <select (change)="choiceStatutNewOnMission($event.target.value, indexVacation)"-->
      <!--                    style="margin-left: 4px;border-radius: 25px;width:75px;margin-top: 1%">-->
      <!--              <option-->
      <!--                *ngFor="let itemLibelle of typeDeGardeDefaut[indexVacation]?.typeGardes.statuts;let indexOptionSelect = index"-->
      <!--                [ngValue]="itemLibelle">-->
      <!--                {{itemLibelle.statut}}-->
      <!--              </option>-->
      <!--            </select>-->
      <!--          </label>-->

      <!--          <span *ngIf="roleCommercial()">|</span>&nbsp;-->
      <!--                <span style="padding: 45px">-->
      <!--                  <mat-icon (click)="onAnnulerVacationInToNode(vacationsNode,indexVacation)" class="material-icons pointer"-->
      <!--                            color="warn">-->
      <!--                  remove_circle-->
      <!--                </mat-icon>-->
      <!--                </span>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--      <hr>-->
      <!--      &lt;!&ndash;      </div>&ndash;&gt;-->
    </form>
    <div class="row py-4">
      <div class="col-6">
        <button (click)="onContinuerMaj()" class="form-control btn btn-primary">Continuer la mis à jour</button>
      </div>
      <div class="col-6">
        <button (click)="onNewEnregistrer()" class="form-control btn btn-primary">Enregistrer & Quitter</button>
      </div>
    </div>
  </div>
</div>
