.vacation-pourvue {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 12px 12px 12px;
}
.vacation-pourvoir {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 12px 12px 12px;
}
.vacation_danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 12px 12px 12px;
}
.urderligne{
  border-bottom: dotted blue 1px
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}



.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
.inputDatepiker{
  border: 1px solid white;
  color: white;
}
.matIconPadding{
  padding-top: 25px;
}
