<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12 col-lg-12 text-right text-vertfoncer pointer">
      <span style="margin-top: -5px">Ajouter un nouveau</span> <mat-icon (click)="editClientModal()">add_circle</mat-icon>
    </div>
    <div class="col-12 mt-3 example-container mat-elevation-z8">
      <table #table *ngIf="dataSource" [dataSource]="dataSource"
             class="bg-white footable table table-hover table-striped font-12" mat-table matSort matSortStart="asc">

        <!-- debut des colonnes des champs du tableau -->
        <ng-container matColumnDef="number">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> &nbsp;&nbsp;&nbsp;#</th>
          <td *matCellDef="let client" mat-cell> &nbsp;&nbsp;&nbsp;{{ dataSource.filteredData.indexOf(client) + 1 }}
          </td>
        </ng-container>

        <!--        <ng-container matColumnDef="nom">-->
        <!--            <th *matHeaderCellDef mat-header-cell mat-sort-header>Nom Etablissement</th>-->
        <!--            <td *matCellDef="let client" class="font-weight-bold xs_a" mat-cell>-->
        <!--              <a routerLink="/RMS-Admin/client/{{client.id}}/show">-->
        <!--                {{ client.nom_etablissement }}-->
        <!--              </a>-->
        <!--            </td>-->
        <!--          </ng-container>-->
        <ng-container matColumnDef="Raison Social">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Établissement</th>
          <td *matCellDef="let client" class="font-weight-bold xs_a" mat-cell>
            <a routerLink="/RMS-Admin/client/{{client.id}}/show">
              {{ client.nom_etablissement }}
            </a>
          </td>
        </ng-container>



        <ng-container matColumnDef="Telephone">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Telephone</th>
          <td *matCellDef="let client" mat-cell>
            <span *ngIf="client.tel"> {{ client.tel}}</span>
            <span *ngIf="client.tel == '' || !client.tel" class="text-warning">pas de numero</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="Adresse">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Adresse</th>
          <td *matCellDef="let client" mat-cell>
            <span> <strong> {{ client.adresse}} </strong></span>
          </td>
        </ng-container>
        <ng-container matColumnDef="Commune">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Commune</th>
          <td *matCellDef="let client" mat-cell>
            <span> {{ client.ville}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="Email">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Email</th>
          <td *matCellDef="let client" mat-cell>

            <span *ngIf="client.email == '' || !client.email" class="text-warning">pas de
              mail</span>
            <span *ngIf="client.email">{{client.email}}</span>

          </td>
        </ng-container>




        <ng-container matColumnDef="Activer">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Actif</th>
          <td *matCellDef="let client; let index_client = index" mat-cell>
            <mat-slide-toggle (click)="onActiveOuDesactiveUser(index_client, client, !client.activer)"
                              checked="{{client.activer}}"></mat-slide-toggle>
            <span> <img *ngIf="loader === client.id" alt="loading..." src="../../../../assets/images/loader.gif"
                        width="15px"></span>
          </td>
        </ng-container>

        <!--</ng-container>-->
        <ng-container matColumnDef="Edit">
          <th *matHeaderCellDef mat-header-cell>Edit</th>
          <td *matCellDef="let client" mat-cell>
            <a (click)="editClientModal(client.id)" class="color-rms-bleu" mat-mini-fab="accent">
              <mat-icon>create</mat-icon>
            </a>

          </td>
        </ng-container>
        <!-- fin des colonnes des champs du tableau -->
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr (click)="selection.toggle(client)" *matRowDef="let client; columns: displayedColumns;" mat-row></tr>
      </table>
      <div *ngIf="!dataSource" class="text-center">
        <strong>Désolé, aucun résultat ne correspond à votre recherche.</strong>
      </div>
    </div>
  </div>
</div>
