
/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.25rem;
  }
  .card-title{
    font-size: 12px;
  }
  .img_aide{
    width: 27%;
    height: 27px;
  }
  .mr-4, .mx-4 {
    margin-right: 0rem!important;
  }
  .ml-4, .mx-4 {
    margin-left: 0rem!important;
  }
}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { }

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { }

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { }

