<div *ngIf="interim" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-duration="500"
  data-aos-offset="500">
  <div class="row ml-4 mr-4 p-2 background-degrade">
    <div class="col-10">
      <h4 class="card-title text-white">
        <i aria-hidden="true" class="fa fa-user-md fa-2x"></i>
        &nbsp;&nbsp; Dr {{interim.user.nom | uppercase }} {{interim.user.prenom | uppercase}}
        <mat-icon (click)="OnUpdateInterimaire()"
          *ngIf="interimPldMessage && rolesService.isManager(this.currentUser.roles)" class="pointer" color="yellow"
          matTooltip="Cet interimaire n'existe pas sur PLD !">info
        </mat-icon>
      </h4>
    </div>
    <div class="col-2 text-right">
      <img alt="interrogation" class="pt-2 img_aide" height="40"
        src="../../../../../../../assets/images/new_site/interrogation.png" width="40">
    </div>
  </div>
  <!--  <div class="row background-degrade">-->
  <!--    <div class="col-8 p-0">-->
  <!--      xfvdfvd-->
  <!--    </div>-->
  <!--    <div class="col-4 p-0">-->
  <!--      jhhj-->
  <!--    </div>-->
  <!--  </div>-->
  <!--      <div class="card m-2 background-degrade">-->
  <!--        <div class="card-body p-2">-->

  <!--            <h5 class="card-title text-white">-->
  <!--              <i aria-hidden="true" class="fa fa-user-md fa-2x"></i>-->
  <!--              Dr {{interim.user.nom | uppercase }} {{interim.user.prenom | uppercase}}-->
  <!--              <mat-icon (click)="openSnackBar()" *ngIf="interimPldMessage" class="pointer"-->
  <!--                        color="yellow" matTooltip="Cet interimaire n'existe pas sur PLD !">info-->
  <!--              </mat-icon>-->
  <!--            </h5>-->

  <!--          <span class="text-right">text</span>-->
  <!--        </div>-->
  <!--      </div>-->

  <div class="card ml-4 mr-4" style="border-top: 2px solid #17A2B8">
    <div class="card-body">
      <mat-tab-group (selectedTabChange)="changeItemTab($event.index);" [selectedIndex]="tabIndex">

        <mat-tab class="p-0" *ngIf="rolesService.isSuperAdmin(this.currentUser.roles)" label="Général">
          <div style="background-color: hsl(210, 9%, 91%);">
            <div *ngIf="rolesService.isCandidatUnique(this.currentUser.roles)" class="row p-2 background-degrade"
              data-aos="fade-up" data-aos-duration="3000">
              <div class="col-6">
                <h2> Statistiques</h2>
              </div>
              <div class="col-6 text-right">
                <img alt="interrogation" class="pt-1" height="30"
                  src="../../../../../../../assets/images/new_site/interrogation.png" width="30">
              </div>
            </div>


            <div>

              <app-statistiquee></app-statistiquee>
            </div>
          </div>
        </mat-tab>

        <mat-tab *ngIf="rolesService.isCommercial(this.currentUser.roles)" label="Profil">
          <div class="bg-white mt-3 mb-5 p-3">
            <app-profil></app-profil>
          </div>
        </mat-tab>
        <mat-tab label="Spécialité(s)">
          <div style="background-color: white">
            <br>
            <app-specialite-interim></app-specialite-interim>
          </div>
        </mat-tab>
        <mat-tab label="Dossier">
          <app-dossier></app-dossier>
        </mat-tab>
        <mat-tab label="Disponibilité(s)">
          <app-disponibilite></app-disponibilite>
        </mat-tab>
        <mat-tab *ngIf="rolesService.isCommercial(this.currentUser.roles)" label="Message(s) Prospection">
          <app-prospection-interim></app-prospection-interim>
        </mat-tab>
        <mat-tab *ngIf="rolesService.isCommercial(this.currentUser.roles)" label="Offre(s)">
          <div style="background-color: white">
            <br>
            <app-offres-medecin></app-offres-medecin>
          </div>
        </mat-tab>
        <mat-tab label="Mission(s)">
          <div style="background-color: white">
            <br>
            <app-mission-medecin></app-mission-medecin>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>


<!--modal dajout de specialite pour un interim-->
<!--<app-specialite-interim-modal class="col-12"></app-specialite-interim-modal>-->
<!--modal de view de disponibilite-->
<!--<app-modal-disponibilite-gestion [dataSource]="listes_des_disponibilites_choisie"></app-modal-disponibilite-gestion>-->
