<mat-card class="erp-card">
  <mat-card-header>

    <!-- <mat-card-title *ngIf="ficheSpe"> {{titre}} De la Fiche Specialite du {{ficheSpe['client'].raison_sociale }}</mat-card-title> -->

  </mat-card-header>
  <mat-card-content>

    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle *ngFor="let t of taches">
        <mat-expansion-panel-header >

          <mat-panel-description >

            <mat-chip color="primary" selected>{{t.type}}</mat-chip>


            <!-- <mat-icon>account_circle</mat-icon> -->
            <p>{{t.telephone_ligne}} - {{t.email_ligne }}</p>

            <p><mat-chip color="accent" selected>{{t.date_fin}}</mat-chip></p>

          </mat-panel-description>
        </mat-expansion-panel-header>

        <div [innerHTML]="t.description"></div>

        <mat-action-row>

<!--          <div *ngIf="!actionInput">-->
<!--            <mat-form-field class="example-user-input">-->
<!--              <mat-select placeholder="selectionnez une action" [(ngModel)]="action">-->
<!--                <mat-option *ngFor="let action of listActions" [value]="action.id">-->
<!--                  {{action.name}}-->
<!--                </mat-option>-->
<!--              </mat-select>-->
<!--            </mat-form-field>-->

<!--            <button mat-raised-button aria-label="Button pour valider l'action" (click)="actionbtn('action',t.id)">-->
<!--              OK-->
<!--            </button>-->
<!--          </div>-->
        </mat-action-row>
      </mat-expansion-panel>



    </mat-accordion>


  </mat-card-content>

</mat-card>
