<div class="container global animated fadeIn">
  <div class="row">
<!--    search 2-->
    <div class="col-12 col-sm-12 mt-4  d-block d-sm-block d-md-none">
      <div class="card">
        <div class="card-body">
          <input class="form-control" id="search2" placeholder="Enter" type="text" style="width: 100%">
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-7 col-md-8 col-sm-12 offset-lg-1">
      <div *ngFor="let item of blog;let i = index" class="card mt-4">
        <div class="card-body">
          <h3>{{item.titre}}</h3>
          <span style="font-size: 11px;font-weight: bold">publié : {{item.datePub}}</span>
          <a routerLink="{{item.id}}">
            <img alt="{{item.titre}}" class="imgBlog mt-2" src="../../assets/images/blog/{{item.image}}">
          </a>
          <p class="pt-4 font-11">
            {{item.description}}
          </p>
          <p class="lirePlus">
            <a routerLink="{{item.id}}" class="btn_blog">Lire plus</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3 col-md-4 col-sm-12">
      <div class="card mt-4 d-none d-sm-none d-md-block">
        <div class="card-body">
          <form class="form-inline">
            <div class="inner-form">
              <div class="input-field second-wrap">
                <input class="mat-form-field" id="search" placeholder="Enter" type="text">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <h3>Catégories</h3>
          <div>
            <ul>
              <li><a class="categorie" href="#">Centre hospitalier</a></li>
              <li><a class="categorie" href="#">Intérimaire</a><a></a></li>
              <li><a></a><a class="categorie" href="#">Spécialité</a></li>
              <li><a class="categorie" href="#">Mission</a></li>
              <li><a class="categorie" href="#">Contrat</a></li>
              <li><a class="categorie" href="#">Disponibilité</a></li>
              <li><a class="categorie" href="#">Contrat</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <h5>Tags De Publication</h5>
          <p>
            <a href="" class="btn_categorie">Intérimaire</a>
            <a href="" class="btn_categorie">Disponibilité</a>
            <a href="" class="btn_categorie">Mission</a>
            <a href="" class="btn_categorie">Centre hospitalier</a>
            <a href="" class="btn_categorie">Contrat</a>
            <a href="" class="btn_categorie">Spécialité</a>
            <a href="" class="btn_categorie">Intérimaire</a>
            <a href="" class="btn_categorie">Disponibilité</a>
            <a href="" class="btn_categorie">Mission</a>
            <a href="" class="btn_categorie">Centre hospitalier</a>
            <a href="" class="btn_categorie">Contrat</a>
            <a href="" class="btn_categorie">Spécialité</a>
          </p>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <h5>Suivez nous</h5>
          <p class="d-none d-sm-none">
            <a href="" class="btn_sociaux facebook"><img src="icons8_facebook_old_14px.png" alt=""> Facebook</a> <br>
            <a href="" class="btn_sociaux linkedin"><img src="icons8_linkedin_14px.png" alt=""> Linkedin</a> <br>
            <a href="" class="btn_sociaux instagram"><img src="icons8_instagram_14px.png" alt=""> Instagram</a> <br>
            <a href="" class="btn_sociaux twitter"><img src="icons8_twitter_14px.png" alt=""> Twitter</a>
          </p>
          <p class="d-block d-sm-block">
            <a href="" class="btn_sociaux facebook ml-1 "><img src="icons8_facebook_old_14px.png" alt=""> Facebook</a>
            <a href="" class="btn_sociaux linkedin ml-1"><img src="icons8_linkedin_14px.png" alt=""> Linkedin</a>
            <a href="" class="btn_sociaux instagram ml-1"><img src="icons8_instagram_14px.png" alt=""> Instagram</a>
            <a href="" class="btn_sociaux twitter ml-1"><img src="icons8_twitter_14px.png" alt=""> Twitter</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-12" style="height: 50px"></div>
  </div>
</div>
