<!-- The Modal qui affiche la liste des medecins-->
<div>
  <!-- Modal Header -->
  <div class="modal-header text-center">
    <h2 *ngIf="!hideListeCandidats" class="modal-title h5 font-weight-bold text-white" mat-dialog-title>
      <i class="glyphicon glyphicon-th-list"></i>
      CANDIDATS
    </h2>
    <h2 *ngIf="hideListeCandidats" class="modal-title">
      <i aria-hidden="true" class="fa fa-user-md fa-2x"></i>
      <span style="font-weight: 700">
              &nbsp;&nbsp;Dr {{nomPrenomMedecin}}
             </span>
    </h2>
  </div>
  <!-- Modal body -->
  <div class="modal-body">
    <div *ngIf="!hideListeCandidats">
      <div *ngIf="missionChoisie" class="modal-body table-responsive">
        <table [dataSource]="dataSourceMedecins" class="footable table-hover table-striped" mat-table
               matSort>
          <ng-container matColumnDef="nom">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Nom</th>
            <td *matCellDef="let medecin" mat-cell>
              <a (click)="fermerModal()" *ngIf="roleCommercial()"
                 [routerLink]="['/RMS-Admin/interim/'+medecin.interim_id+'/show/']">{{medecin.nom}}</a>
              <span *ngIf="!roleCommercial()">{{medecin.nom}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="prenom">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Prenom</th>
            <td *matCellDef="let medecin" mat-cell>
              <a (click)="fermerModal()" *ngIf="roleCommercial()"
                 [routerLink]="['/RMS-Admin/interim/'+medecin.interim_id+'/show/']">{{medecin.prenom}}</a>
              <span *ngIf="!roleCommercial()">{{medecin.prenom}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="dossier">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Dossier</th>
            <td *matCellDef="let medecin" mat-cell><a [routerLink]="['/dossier-candidat/' + medecin.interim_id_ssl]"
                                                      rel="noopener"
                                                      target="_blank">
              <mat-icon>visibility</mat-icon>
            </a></td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th *matHeaderCellDef mat-header-cell mat-sort-header><span style="margin-left: 45px"> Action</span>
            </th>
            <td (click)="onChoiceMedecin(medecin);hideListeCandidats = !hideListeCandidats"
                *matCellDef="let medecin;let i = index;" mat-cell><span
              style="margin-left: 45px"> <mat-icon>visibility</mat-icon> </span>
            </td>
          </ng-container>
          <!-- fin des colonnes des champs du tableau -->
          <tr *matHeaderRowDef="displayedColumnsMedecins" mat-header-row></tr>
          <tr *matRowDef="let medecin; columns: displayedColumnsMedecins;let i = index;"
              mat-row style="cursor: pointer;"></tr>
        </table>
        <div *ngIf="this.dataSourceMedecins.filteredData.length == 0" class="text-center py-5 text-primary">
          <strong>Aucun Candidat pour l'instant, revenez ultérieurement !</strong>
        </div>
      </div>
    </div>
    <!-- listes des candidatures   -->
    <div *ngIf="hideListeCandidats">
      <table [dataSource]="dataSource" class="mat-elevation-z1" mat-table>
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null;select_data_source = '';choixCandi = []"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
            >
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(row) : null;select_data_source = ''"
                          (click)="$event.stopPropagation();"
                          [checked]="selection.isSelected(row)"
            >
            </mat-checkbox>
        </ng-container>
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="date">
          <th *matHeaderCellDef mat-header-cell> Date</th>
          <td *matCellDef="let element" class="font-weight-bold"
              mat-cell> {{element.dateFormat}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="garde">
          <th *matHeaderCellDef mat-header-cell> Garde</th>
          <td *matCellDef="let element" mat-cell> {{element.designation}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="debut">
          <th *matHeaderCellDef mat-header-cell> Debut</th>
          <td   *matCellDef="let element" mat-cell> {{element.heureDebut| date:'HH:mm' :'GMT'}} </td>
      
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="fin">
          <th *matHeaderCellDef mat-header-cell> Fin</th>
          <td   *matCellDef="let element" mat-cell> {{element.heureFin| date:'HH:mm' :'GMT'}} </td>
          
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="tarif">
          <th *matHeaderCellDef mat-header-cell> Tarif</th>
          <td *matCellDef="let element" mat-cell> {{element.tarif}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="salaire_net" *ngIf="roleCommercial()">
          <th *matHeaderCellDef mat-header-cell> Salaire</th>
          <td *matCellDef="let element" mat-cell> {{element.salaireNet}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th *matHeaderCellDef mat-header-cell><span> Action </span>
          </th>
          <td *matCellDef="let element;let i = index" class="text-center" mat-cell>
            <select
              (change)="selection.clear();choixCandi[i] = element; choixCandi[i].statusChoisi = $event.target.value;CheckCoherence(choixCandi)"
              [disabled]="this.selection.selected.length > 0"
              [ngStyle]="{'color' : getStatutColor(element.statutCandidature)}"
              class="form-control font-bold"
              id="exampleFormControlSelect1">
              <option [selected]="element.statutCandidature == 'En Attente'" [value]="'En Attente'">En
                Attente
              </option>
              <option [selected]="element.statutCandidature == 'Validee'" [value]="'Validee'">Validée
              </option>
              <option [selected]="element.statutCandidature == 'Non Retenue'" [value]="'Non Retenue'">Non
                Retenue
              </option>
              <option [selected]="element.statutCandidature == 'Annulee CH'
                  || element.statutCandidature == 'Annulee_C_AvantValidation' || element.statutCandidature == 'Annulee_C_ApresValidation'"
                      [value]="'Annulee CH'">
                Annulee CH
              </option>
              <option *ngIf="roleCommercial()" [selected]="element.statutCandidature == 'Annulee Med'"
                      [value]="'Annulee Med'">Annulee Med
              </option>
              <option [selected]="element.statutCandidature == 'Non Effectuee'" [value]="'Non Effectuee'">
                Non Effectuee
              </option>
            </select>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="roleCommercial() ? displayedColumns : displayedColumnsClient" mat-header-row></tr>
        <tr *matRowDef="let row; columns: roleCommercial() ? displayedColumns : displayedColumnsClient;" mat-row></tr>
      </table>
      <div *ngIf="this.selection.selected.length > 0" class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <br>
          <select (change)="selectValueForCandidatureByPeriode($event.target.value)"
                  [(ngModel)]="select_data_source"
                  class="form-control font-bold"
                  style="border-color: #3a97a2; color: #3a97a2">
            <option>En Attente</option>
            <option value="Validee">Valider</option>
            <option value="Non Retenue">Ne pas retenir</option>
            <option value="Annulee CH">
              Annuler CH
            </option>
            <option *ngIf="roleCommercial()" value="Annulee Med">Annuler Med</option>
            <option value="Non Effectuee">Ne pas Effectuer</option>
          </select>
          <br>
        </div>
      </div>
      <div *ngIf="roleCommercial()" class="row">
        <div class="col-1 py-4">
          <mat-checkbox [(ngModel)]="mail" [checked]="mail"></mat-checkbox>
        </div>
        <div class="col-11 py-4">
          Envoyer mail validation!
        </div>
      </div>
      <div class="row">
        <br>
        <mat-form-field class="example-full-width col-12">
          <textarea [(ngModel)]="condition_med" matInput placeholder="Un commentaire ?"></textarea>
        </mat-form-field>
      </div>
      <div>
      </div>
    </div>
    <div class="modal-footer">
      <div [hidden]="hideListeCandidats">
        <div class="panel-footer text-center">
          <mat-paginator #listPaginator [pageSizeOptions]="[10, 20, 50]" [pageSize]="10">
          </mat-paginator>
        </div>
        <div>
          <button (click)="onNoClick()" class="btn btn-danger" type="button">Fermer</button>
        </div>
      </div>

      <!--  liste des candidats    -->
      <div [hidden]="!hideListeCandidats">
        <div>
          <mat-paginator #listPaginatorValidation [pageSizeOptions]="[10, 20, 50]" [pageSize]="10">
          </mat-paginator>
          <button (click)="onTraitementCandidatures(choixCandi);this.choixCandi = []" *ngIf="show_valider"
                  class="btn btn-success fermerBtn animated flash"
                  data-dismiss="modal"
                  type="button">Valider
          </button>
          <button (click)="hideListeCandidats = !hideListeCandidats;clearSelection()" class="ml-4 btn btn-danger"
                  type="button">retour
          </button>
        </div>
      </div>
    </div>


  </div>
</div>


<div class="modal animated fadeIn" id="listeMissionForCandidatures_validation">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <div class="col-12 text-center">
          <button class="close btn-default" data-dismiss="modal" type="button">&times;</button>
          <h3 *ngIf="missionChoisie" class="modal-title">
            <i class="glyphicon glyphicon-th-list"></i>&nbsp;
            <span style="font-weight: 600">
              CANDIDATS
              <!--              : {{missionChoisie.nomspecialite|uppercase}} {{missionChoisie.mois|uppercase}} {{missionChoisie.annee}}-->
            </span>
          </h3>
        </div>
      </div>
      <br>
      <!-- Modal body -->
      <div *ngIf="missionChoisie" class="modal-body table-responsive">
        <table [dataSource]="dataSourceMedecins" class="footable table-hover table-striped" mat-table
               matSort>
          <ng-container matColumnDef="nom">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Nom</th>
            <td *matCellDef="let medecin" mat-cell>
              <a (click)="fermerModal()" *ngIf="roleCommercial()"
                 [routerLink]="['/RMS-Admin/interim/'+medecin.interim_id+'/show/']">{{medecin.nom}}</a>
              <span *ngIf="!roleCommercial()">{{medecin.nom}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="prenom">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Prenom</th>
            <td *matCellDef="let medecin" mat-cell>
              <a (click)="fermerModal()" *ngIf="roleCommercial()"
                 [routerLink]="['/RMS-Admin/interim/'+medecin.interim_id+'/show/']">{{medecin.prenom}}</a>
              <span *ngIf="!roleCommercial()">{{medecin.prenom}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="dossier">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Dossier</th>
            <td *matCellDef="let medecin" mat-cell><a [routerLink]="['/dossier-candidat/' + medecin.interim_id_ssl]"
                                                      rel="noopener"
                                                      target="_blank">
              <mat-icon>visibility</mat-icon>
            </a></td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th *matHeaderCellDef mat-header-cell mat-sort-header><span style="margin-left: 45px"> Action </span>
            </th>
            <td (click)="onChoiceMedecin(medecin);" *matCellDef="let medecin;let i = index;" mat-cell><span
              style="margin-left: 45px"> <mat-icon>visibility</mat-icon> </span>
            </td>
          </ng-container>
          <!-- fin des colonnes des champs du tableau -->
          <tr *matHeaderRowDef="displayedColumnsMedecins" mat-header-row></tr>
          <tr *matRowDef="let medecin; columns: displayedColumnsMedecins;let i = index;"
              mat-row style="cursor: pointer;"></tr>
        </table>
        <div *ngIf="this.dataSourceMedecins.filteredData.length == 0" class="text-center py-5 text-primary">
          <strong>Aucun Candidat pour l'instant, revenez ultérieurement !</strong>
        </div>
        <div class="panel-footer text-center">
          <mat-paginator #listPaginator [pageSizeOptions]="[10, 20, 50]" [pageSize]="10">
          </mat-paginator>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button class="btn btn-danger" data-dismiss="modal" type="button">Fermer</button>
        </div>

      </div>
    </div>
  </div>
  <!---------------=====================================================------------------------------------------------>
  <!-- The Modal pour un seul medecin choisi-->
  <div class="modal animated fadeIn" id="myModalDates">
    <div class="modal-dialog modal-lg" id="overlay">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <div class="col-12 text-center">
            <button class="close btn-default" data-dismiss="modal" type="button">&times;</button>
            <h3 class="modal-title">
              <i aria-hidden="true" class="fa fa-user-md fa-2x"></i>
              <span style="font-weight: 700">
              &nbsp;&nbsp;Dr {{nomPrenomMedecin}}
             </span>
            </h3>
          </div>
        </div>

        <!-- Modal body -->
        <div class="modal-body table-responsive">
          <br>
          <table [dataSource]="dataSource" class="mat-elevation-z1" mat-table>
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th *matHeaderCellDef mat-header-cell>
                <mat-checkbox (change)="$event ? masterToggle() : null;select_data_source = '';choixCandi = []"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                >
                </mat-checkbox>
              </th>
              <td *matCellDef="let row" mat-cell>
                <mat-checkbox (change)="$event ? selection.toggle(row) : null;select_data_source = ''"
                              (click)="$event.stopPropagation();"
                              [checked]="selection.isSelected(row)"
                >
                </mat-checkbox>
            </ng-container>
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="date">
              <th *matHeaderCellDef mat-header-cell> Date</th>
              <td *matCellDef="let element" class="font-weight-bold"
                  mat-cell> {{element.date | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="garde">
              <th *matHeaderCellDef mat-header-cell> Garde</th>
              <td *matCellDef="let element" mat-cell> {{element.designation}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="debut">
              <th *matHeaderCellDef mat-header-cell> Debut</th>
              <td *matCellDef="let element" mat-cell> {{element.heureDebut| date:'HH:mm' :'local'}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="fin">
              <th *matHeaderCellDef mat-header-cell> Fin </th>
              <td *matCellDef="let element" mat-cell> {{element.heureFin | date:'HH:mm' :'local' }} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="tarif">
              <th *matHeaderCellDef mat-header-cell> Tarif</th>
              <td *matCellDef="let element" mat-cell> {{element.tarif}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="salaire_net">
              <th *matHeaderCellDef mat-header-cell> Salaire</th>
              <td *matCellDef="let element" mat-cell> {{element.salaireNet}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th *matHeaderCellDef mat-header-cell><span> Action 222</span>
              </th>
              <td *matCellDef="let element;let i = index" class="text-center" mat-cell>
                <select
                  (change)="selection.clear();choixCandi[i] = element; choixCandi[i].statusChoisi = $event.target.value;CheckCoherence(choixCandi)"
                  [disabled]="this.selection.selected.length > 0"
                  [ngStyle]="{'color' : getStatutColor(element.statutCandidature)}"
                  class="form-control font-bold"
                  id="exampleFormControlSelect1">
                  <option [selected]="element.statutCandidature == 'En Attente'" [value]="'En Attente'">En
                    Attente
                  </option>
                  <option [selected]="element.statutCandidature == 'Validee'" [value]="'Validee'">Validée
                  </option>
                  <option [selected]="element.statutCandidature == 'Non Retenue'" [value]="'Non Retenue'">Non
                    Retenue
                  </option>
                  <option [selected]="element.statutCandidature == 'Annulee CH'
                  || element.statutCandidature == 'Annulee_C_AvantValidation' || element.statutCandidature == 'Annulee_C_ApresValidation'"
                          [value]="'Annulee CH'">
                    Annulee CH
                  </option>
                  <option *ngIf="roleCommercial()" [selected]="element.statutCandidature == 'Annulee Med'"
                          [value]="'Annulee Med'">Annulee Med
                  </option>
                  <option [selected]="element.statutCandidature == 'Non Effectuee'" [value]="'Non Effectuee'">
                    Non Effectuee
                  </option>
                </select>
              </td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
          </table>
          <div class="panel-footer text-center">
            <!--            <mat-paginator #listPaginatorValidation [pageSizeOptions]="[10, 20, 50]" [pageSize]="2">-->
            <!--            </mat-paginator>-->
          </div>
          <div class="row">
          </div>
          <div *ngIf="this.selection.selected.length > 0" class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <br>
              <select (change)="selectValueForCandidatureByPeriode($event.target.value)"
                      [(ngModel)]="select_data_source"
                      class="form-control font-bold"
                      style="border-color: #3a97a2; color: #3a97a2">
                <option>En Attente</option>
                <option value="Validee">Valider</option>
                <option value="Non Retenue">Ne pas retenir</option>
                <option value="Annulee CH">
                  Annuler CH
                </option>
                <option *ngIf="roleCommercial()" value="Annulee Med">Annuler Med</option>
                <option value="Non Effectuee">Ne pas Effectuer</option>
              </select>
              <br>
            </div>
          </div>
          <div *ngIf="roleCommercial()" class="row">
            <div class="col-1">
              <mat-checkbox [(ngModel)]="mail" [checked]="mail"></mat-checkbox>
            </div>
            <div class="col-11">
              Envoyer mail validation!
            </div>
          </div>
          <div class="row">
            <br>
            <mat-form-field class="example-full-width col-12">
              <textarea [(ngModel)]="condition_med" matInput placeholder="Un commentaire ?"></textarea>
            </mat-form-field>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button (click)="onTraitementCandidatures(choixCandi);this.choixCandi = []" *ngIf="show_valider"
                  class="btn btn-success fermerBtn animated flash"
                  data-dismiss="modal"
                  type="button">Valider
          </button>
          <button class="btn btn-danger" data-dismiss="modal" type="button">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</div>
