table {
  width: 100%;
}
.mat-header-cell {
  font-size: 1em;
  font-weight: bold;
  color: black;
  padding-bottom: 5px;
  border-bottom: solid 2px #3a97a2;
}
.btn-primary{
  background: #3a97a2;
}
tr.mat-header-row {
  height: 40px;
  color: #000000;
  background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 100%);
}

.tableWidth{
    width: 10%;
}
/*.mat-header-cell {*/
/*    !*text-align: left;*!*/
/*    font-size: 1.3em;*/
/*    color: #000000;*/
/*    border-bottom: solid 2px #3a97a2;*/
/*}*/

