<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 pc-ligne">
      <h2>PROFIL PERSONNEL</h2>
    </div>
    <div class="col-l-12 pc-ligne">
      <h4>Remplissez les champs vides afin de profiter pleinement des fonctions améliorées du site !</h4>
    </div>
    <div  class="col-lg-12" style="color: red; width: 100%" class="alert alert-danger text-center" *ngIf="error_username === false">Ce nom d'utilisateur est déja utilisé par un autre !</div>
    <div class="col-lg-6 pc-colonne">
      <p class="bg-primary pc-sous-titre"><strong>DÉTAILS DU COMPTE</strong></p>

      <!--<div *ngIf="params">-->
        <!--<div class="alert alert-success alert-dismissible" id="myAlertSuccess" *ngIf="params==='succees'">-->
          <!--<span class="close">&times;</span>-->
          <!--<strong>Succès!</strong> Vous avez modifié avec succès le mot de passe.-->
        <!--</div>-->

        <!--<div class="alert alert-danger alert-dismissible" id="myAlertDanger" *ngIf="params==='echec'">-->
          <!--<span class="close">&times;</span>-->
          <!--<strong>Echec!</strong> Le Mot de passe saisi est incorrect.-->
        <!--</div>-->

      <!--</div>-->

      <div *ngFor="let item of userItems; let i = index">
        <div class="row" style="margin-bottom: 2.5%" *ngIf="item==='email' || item==='username'">
          <div class="col-lg-4">{{item}}</div>
          <div class="col-lg-8 text-right"  *ngIf="currentUser | async;let user;">
            <p *ngIf="user[item]" id="{{ item}}">
              {{user[item]}} &nbsp;&nbsp;&nbsp;
              <span *ngIf="item==='username'" >
                <i class="fa fa-pencil" (click)="OnModifie(item)"></i>
            </span>
              <span *ngIf="item!=='username'" >
              <i class="fa fa-pencil" (click)="OnModifie(item)"></i>
            </span>
            </p>
            <p *ngIf="user[item]==='' || user[item]===null " id="{{item }}">
              <span>
                <i class="fa fa-pencil" (click)="OnModifie(item)"></i>
            </span>
            </p>
            &nbsp;&nbsp;&nbsp;
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">Votre mot de passe</div>
        <div class="col-lg-8 text-right">
          ******** &nbsp;&nbsp;&nbsp;
          <a data-toggle="modal" data-target="#update_passwordModal" style=" cursor: pointer;"> <i class="fa fa-pencil"></i></a>
        </div>
      </div>
    </div>

    <div class="col-lg-6 pc-colonne">
      <p class="bg-primary pc-sous-titre"><strong>DONNÉES DE CONTACT</strong></p>

      <div *ngFor="let item of userItems; let i = index">
        <div class="row" style="margin-bottom: 2.5%" *ngIf="item!=='email' && item!=='username' && item!='photo' && item!='ID' && item!='roles'">
          <div class="col-lg-4">{{item}}</div>
          <div class="col-lg-8 text-right" *ngIf="currentUser | async;let user;">
            <p *ngIf="user[item]" id="{{item}}">
              {{user[item] | uppercase}} &nbsp;&nbsp;&nbsp;
              <span *ngIf="item !=='civilite' && item !=='nom' && item !=='prenom' && item !== 'numSecu'" >
                <i class="fa fa-pencil" (click)="OnModifie(item)"></i>
            </span>
              <span *ngIf="item ==='civilite' || item ==='nom' || item ==='prenom' || item === 'numSecu'" >
                 <i class="fa fa-lock"></i>
            </span>

            </p>
            <p *ngIf="user[item]==='' || user[item]===null " id="{{ item }}">
              <span>
                <i class="fa fa-pencil" (click)="OnModifie(item)"></i>
            </span>
            </p>
            &nbsp;&nbsp;&nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-------------------------------------------------------------->
<!--Fenetre Modales-->
<!-------------------------------------------------------------->


<!--modifier le mot de passsword-->
<div id="update_passwordModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm" style="padding-top: 12%">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Changement de mot de passe</h4>
      </div>
      <div class="modal-body">
        <div  class="col-lg-12" style="color: red; width: 100%" class="alert alert-danger text-center" *ngIf="erreur">{{erreur}} !</div>
        <form class="form-horizontal" [formGroup]="updatePwdForm">
          <div class="input-group mb-3">
            <input type="password" class="form-control" #ancienPwd placeholder="Mot de passe précédent" aria-label="Mot de passe précédent" aria-describedby="basic-addon2" formControlName="ancienPassword">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="afficherPwd(ancienPwd, gyphiconancienPwd)"><i class="glyphicon glyphicon-eye-open" #gyphiconancienPwd id="ancienPwd"></i></button>
            </div>
          </div>

          <div class="input-group mb-3">
            <input type="password" class="form-control" #nouveauPwd placeholder="Nouveau mot de passe" aria-label="Nouveau mot de passe" aria-describedby="basic-addon2" name="nouveauPwd" formControlName="nouveauPassword" (keyup)="MatchingPassword(nouveauPwd)">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="afficherPwd(nouveauPwd, gyphiconnouveauPwd)"><i class="glyphicon glyphicon-eye-open" #gyphiconnouveauPwd id="nouveauPwd"></i></button>
            </div>
            <span *ngIf="matchingPwd" class="text-danger">* les mots de passe doivent etre identique</span>
          </div>

          <div class="input-group mb-3">
            <input type="password" class="form-control" #renouveauPwd placeholder="Indiquer de nouveau votre mot de passe" name="renouveauPwd" aria-label="Indiquer à nouveau votre mot de passe" aria-describedby="basic-addon2" formControlName="renouveauPassword" (keyup)="MatchingPassword(renouveauPwd)">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="afficherPwd(renouveauPwd, gyphiconrenouveauPwd)"><i class="glyphicon glyphicon-eye-open" #gyphiconrenouveauPwd id="renouveauPwd"></i></button>
            </div>
            <span *ngIf="matchingPwd" class="text-danger">* les mots de passe doivent etre identique</span>
          </div>
          <div class="row">
            <button type="button" class="col-sm-12 btn btn-primary" [disabled]="updatePwdForm.invalid || matchingPwd" (click)="UpdatePasswordCompte()" >Enregistrer</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
