<div class="panel panel-default animated fadeIn" style="overflow: hidden">
  <div class="panel-body">
    <div class="container-fluid bg-white">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <!--Header-->
            <div class="card-header">
              <div class="row">
                <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 mt-4">
                  <h6><span style="font-size: 1.26em;color: rgb(47, 64, 80)"><span class="fa fa-list"></span> DISPONIBILITE(S) INTERIM(S)</span>
                  </h6>
                </div>
                <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">
                  <mat-form-field>
                    <mat-label>Filtrer</mat-label>
                    <mat-select [(ngModel)]="elements" multiple>
                      <mat-option (click)="valutElements()" *ngFor="let item of displayedColumnsFilter"
                                  [value]="item.name">
                        {{item.label  | uppercase}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <form (ngSubmit)="onSubmitFiltre()" [formGroup]="formFilter" class="example-form container center_div">
                  <div *ngFor="let item  of elements " class="form-group">
                    <div *ngIf="item != 'date'">

                      <mat-form-field class="erp-full-width">
                        <input class="form-control" formControlName="{{item}}" id="{{item}}" matInput placeholder="{{item}}"
                               required
                               type="text">
                      </mat-form-field>
                    </div>


                    <div *ngIf="item == 'date'">
                      <!-- <ngx-mat-drp (selectedDateRangeChanged)="updateRange($event)" [options]="options" #dateRangePicker></ngx-mat-drp> -->

                      <input [locale]="locale" class="form-control"

                             matInput formControlName="{{item}}"
                             ngxDaterangepickerMd
                             placeholder="Filtrer par Date"

                      >

                    </div>


                  </div>
                  <button *ngIf="elements.length > 0" [disabled]="formFilter.invalid" class="btn btn-primary"
                          type="submit">Valider
                  </button>

                </form>
              </div>
            </div>
            <div class="card-body table-responsive">
              <table #table [dataSource]="dataSource" class="bg-white footable table table-hover table-striped" mat-table
                     matSort>


                <ng-container matColumnDef="number">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>N.</th>
                  <td *matCellDef="let d" class="sizeText" mat-cell>{{ dataSource.filteredData.indexOf(d) + 1 }}
                </ng-container>

                <ng-container matColumnDef="interim">
                  <th *matHeaderCellDef mat-header-cell>Interim</th>
                  <td *matCellDef="let d" class="text-center font-bold sizeText" mat-cell>
                    <a routerLink="/RMS-Admin/interim/{{d.id_interim}}/show">
                      {{d.nom}}  {{d.prenom}}
                    </a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="email">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>E-mail</th>
                  <td *matCellDef="let d" class="font-bold sizeText" mat-cell>{{d.email}}</td>
                </ng-container>


                <ng-container matColumnDef="date">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>Date</th>
                  <td *matCellDef="let d" class="sizeText" mat-cell>

                    <button color="success" mat-icon-button>
                      <mat-icon (click)="getDate(d.id_interim)">date_range</mat-icon>
                    </button>

                  </td>
                </ng-container>

                <ng-container matColumnDef="mois">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>Mois</th>
                  <td *matCellDef="let d" class="sizeText" mat-cell>{{d.mois}}</td>
                </ng-container>

                <ng-container matColumnDef="annee">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>Annee</th>
                  <td *matCellDef="let d" class="sizeText" mat-cell>{{d.annee}}</td>
                </ng-container>


                <ng-container matColumnDef="ville">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>Ville</th>
                  <td *matCellDef="let d" mat-cell>{{d.ville}}</td>
                </ng-container>

                <ng-container matColumnDef="departement">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>Departement</th>
                  <td *matCellDef="let d" class="sizeText" mat-cell>{{d.departement}} </td>
                </ng-container>


                <!-- fin des colonnes des champs du tableau -->
                <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                <tr (click)="selection.toggle(planning)" *matRowDef="let planning; columns: displayedColumns;"
                    mat-row></tr>
              </table>
              <div *ngIf="this.dataSource.filteredData.length == 0" class="text-center">
                <strong>Désolé, aucun résultat ne correspond à votre recherche.</strong>
              </div>
            </div>
            <div class="card-footer">
              <mat-paginator (page)="pagination($event)" [length]="length" [pageSizeOptions]="pageSizeOptions"
                             [pageSize]="pageSize">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



