.mat-header-cell{
  color: black;
  border-bottom: #3a97a2 2px solid;
  padding-bottom: 5px;
}

.mat-card-title {
   font-size: 14px;
  font-weight: 500;
}
th.mat-header-cell{
  padding-bottom: 14px;
}
.btn-primary{
  background: #3a97a2;
}
.mat-icon {
  width: 28px;
  height: 28px;
}
.mat-standard-chip {
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: inline-flex;
  padding: 7px 7px;
  border-radius: 16px;
  align-items: center;
  cursor: default;
  min-height: 21px;
  height: 1px;
}
.ion-ios-arrow-back{
  font-size: 20px;
  color: white;
}
