<mat-card class="m-2 mat-elevation-z1 overFlowHidden">
  <mat-card-title>
    <div *ngIf="this.planningService.title === 'Gestion des Missions'" class="col-12 text-right">
      <mat-form-field>
        <mat-label>Filtrer</mat-label>
        <mat-select [(ngModel)]="elements" multiple>
          <mat-option (click)="valutElements()" *ngFor="let item of displayedColumnsFilter"
                      [value]="item.name">{{item.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button color="vertfoncer" mat-raised-button class="ml-3" (click)="createNewMission();
                this.planningService.title = 'Creation de la Mission et du Planning'">
        Créer
        <mat-icon class="pointer"
                  color="white">
          add_circle_outline
        </mat-icon>
      </button>
    </div>
    <!--button retour-->
    <div *ngIf="this.planningService.title != 'Gestion des Missions'" class="retour col-12 text-right">
      <button (click)="planningService.onResetPlanning();" mat-raised-button class="retour" style="color: white ">
        <i class="ion-ios-arrow-back pointer mt-2"></i> Retour
      </button>
    </div>
  </mat-card-title>
  <mat-card-content class="table-responsive">
    <div *ngIf="planningService.hiddenListeMissions">
      <form #f="ngForm" (ngSubmit)="onSubmitFiltre(f)" class="example-form container center_div">
        <div *ngFor="let item  of elements " class="form-group">
          <div *ngIf="item != 'mois'  && item != 'specialite' ">

            <mat-form-field class="erp-full-width">
              <input class="form-control" id="{{item}}" matInput name="{{item}}" ngModel
                     placeholder="{{item}}" required type="text">
            </mat-form-field>
          </div>


          <div *ngIf="item == 'mois'">

            <mat-form-field class="erp-full-width">
              <mat-select id="{{item}}" name="{{item}}" ngModel placeholder="{{item}}" required>
                <mat-option *ngFor="let m  of allmois " value="{{m}}">{{m | uppercase }}
                </mat-option>

              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="item == 'specialite'">


                                     <mat-select-autocomplete class="erp-full-width"
                                     [placeholder]="'selectionnez specialite'"
                                     [options]="listSpecialites"
                                     [display]="'display'"
                                     [value]="'value'"
                                     [multiple]='true'
                                     [labelCount]="1"
                                     name="{{item}}"
                                     ngDefaultControl ngModel
                                     (selectionChange)="getSelectedOptions($event)">
                                   </mat-select-autocomplete>

          </div>


        </div>
        <button *ngIf="elements.length > 0" [disabled]="f.invalid" class="btn btn-primary"
                type="submit">Valider
        </button>

      </form>
      <table #idRep #table [dataSource]="missionsErp" class="bg-white footable table table-hover table-striped"
             mat-table matSort matSortStart="asc">
        <ng-container matColumnDef="number">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>#</th>
          <td *matCellDef="let element" class="pt-3 font-12 " mat-cell>{{ missionsErp.filteredData.indexOf(element) + 1 }}
          </td>

        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="reference">
          <th *matHeaderCellDef mat-header-cell  class="text-center">
            Reference
          </th>
          <td *matCellDef="let element" class="pt-3 font-12 text-center" mat-cell> {{element.reference}}</td>
        </ng-container>
        <!--Name Column-->
        <ng-container matColumnDef="mois">
          <th *matHeaderCellDef mat-header-cell  class="text-center">
            Mois
          </th>
          <td *matCellDef="let element" class="pt-3 font-12 text-center" mat-cell> {{element.mois}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="annee">
          <th *matHeaderCellDef mat-header-cell  class="text-center">
            Année
          </th>
          <td *matCellDef="let element" class="pt-3 font-12 text-center" mat-cell> {{element.annee}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="specialite">
          <th *matHeaderCellDef mat-header-cell class="text-center">
            Specialité
          </th>
          <td *matCellDef="let element" class="pt-3 font-12 text-center" mat-cell> {{element.nomSpecialite}}</td>
        </ng-container>

        <ng-container matColumnDef="etat">
          <th *matHeaderCellDef mat-header-cell  class="text-center">
            Etat
          </th>
          <td *matCellDef="let element" class="pt-3 font-13 text-center" mat-cell>
            <span class="badge badge-success">{{element.nbrPlanningPourvu}}</span>
            <span class="badge badge-warning ml-1">{{element.nbrPlanningAPourvoir}}</span>
            <span class="badge badge-danger ml-1">{{element.nbrPlanningNonRetenu}}</span>
<!--            <span class="badge badge-success"><span> {{element.nbrPlanningPourvu}}</span></span>-->
<!--            <span-->
<!--              class="badge badge-warning ml-1 text-white"><span>{{element.nbrPlanningAPourvoir}}</span></span>-->
<!--            <span-->
<!--              class="badge badge-danger ml-1"><span>{{element.nbrPlanningNonRetenu}}</span></span>-->
          </td>
        </ng-container>

        <ng-container matColumnDef="Show">
          <th *matHeaderCellDef mat-header-cell><em class="fa fa-cog fa-2x"></em></th>
          <td *matCellDef="let element" mat-cell class="pointer">
            <mat-icon (click)="onChoisirMissionErp(element);" color="vertfoncer" class="font-weight-bold pt-3">visibility</mat-icon>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>
    </div>
    <!-- Listing des differentes dates-->
    <!--      <div class="row animated fadeInRight" *ngIf="!hiddenMisionErp">-->
    <div *ngIf="planningService.showMission" class="row animated fadeInRight">
      <div class="col-md-5 col-lg-5 gestionDates">
        <multiple-date-picker (click)="onClickDatePicker()" *ngIf="highlightDaysErp.length>0"
                              [(ngModel)]="planningService.newDatesOnMissionViaDatePiker"
                              [highlightDays]="highlightDaysErp"
                              [month]="month"></multiple-date-picker>
        <multiple-date-picker (click)="onClickDatePicker()" *ngIf="highlightDaysErp.length === 0"
                              [(ngModel)]="planningService.newDatesOnMissionViaDatePiker"
                              [highlightDays]="highlightDaysErp"
                              [month]="month"></multiple-date-picker>
      </div>
      <div class="col-md-1 col-lg-1"></div>
      <div class="col-md-6 col-lg-6">
        <!--Toutes les variables du compo-->
        <app-gestion-planning [arrayForAddNewVacation]="arrayForAddNewVacationErp"
                              [missionChoisie]="missionChoisieErp"
                              [plannings]="planningsTmpErp"
                              [typeDeGardes]="typeDeGardes_default">

        </app-gestion-planning>
      </div>
    </div>
    <!-- Fin du Listing des differentes dates-->
    <!--Creation du planning-->
    <div *ngIf="planningService.showNewCreate" class="container-fluid animated fadeIn">
      <!--      <div class="container-fluid animated fadeIn" *ngIf="!hiddenCreateErp">-->
      <app-create-planning [ficheSpecialites]="fichespecialites">
      </app-create-planning>
    </div>
    <!--fin de la Creation de planning-->
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator (page)="pagination($event)" [length]="length" [pageSizeOptions]="pageSizeOptions"
                   [pageSize]="pageSize">
    </mat-paginator>
  </mat-card-footer>
</mat-card>

