<div class="container-fluid bg-white animated fadeIn">
  <div class="row" *ngIf="data">
    <div class="col-12">
      <div class="card">
        <!--Header-->
        <div class="card-header">
          <div class="row">
            <div class="col-12 col-md-12 mt-4">
              <h6>
                <a [routerLink]="['/RMS-Admin/renumerations']"><mat-icon>reply_all</mat-icon></a>
                <span> <a class="pointer" routerLink="/RMS-Admin/interim/{{data.idInterimaire}}/show/">Dr {{contratPld.NomPrenom}}</a> pour la mission <span class="text-vertfoncer">{{data.ref}}</span></span>
              </h6>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive">
          <mat-tab-group>
            <mat-tab label="Rénumeration">
              <div class="bg-white mt-3 mb-5 p-3">
                <app-salaire [params]="data"></app-salaire>
              </div>
            </mat-tab>
            <mat-tab label="Gestion Justificatif">
              <div class="bg-white mt-3 mb-5 p-3">
                <app-justificatif [params]="data"></app-justificatif>
              </div>
            </mat-tab>
            <mat-tab label="Relevés d'heures">
              <div class="bg-white mt-3 mb-5 p-3">
                <app-releve-dheure [params]="data"></app-releve-dheure>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>

  </div>
</div>
