<div class="modal-content" *ngIf="editForm">
    <!-- Modal Header -->
    <div class="modal-header text-center">
        <h2 mat-dialog-title>{{displayName}}</h2>
    </div>

    <!-- Modal body -->
    <div class="modal-body">

        <form [formGroup]="editForm">
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field class="erp-full-width ">

                        <input matInput type="text" placeholder="nom contact" formControlName="nom">
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field class="erp-full-width">

                        <input matInput type="text" placeholder="prenom contact" formControlName="prenom">
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field class="erp-full-width">

                        <input matInput type="text" placeholder="telephone" formControlName="telephone">
                    </mat-form-field>

                </div>


            </div>


            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="erp-full-width">

                        <input matInput type="text" placeholder="Raison Sociale" formControlName="raison_sociale">
                    </mat-form-field>
                </div>


                <div class="col-md-4">

                    <mat-form-field class="erp-full-width">
                        <mat-select formControlName="type" placeholder="Type" [compareWith]="compareWithFunc">
                            <mat-option [value]="type.client">
                                Client
                            </mat-option>

                            <mat-option [value]="type.interim">
                                Interim
                            </mat-option>

                        </mat-select>

                    </mat-form-field>


                </div>

                <div class="col-md-4">
                    <mat-form-field class="erp-full-width">
                        <input matInput type="url" placeholder="lien site" formControlName="url">
                    </mat-form-field>

                </div>


            </div>

        </form>

        <div class="row">
            <div class="col-sm-6">
                <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>&nbsp;&nbsp;
                <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial>Valider</button>
            </div>
        </div>


    </div>
</div>