<!--====================================================================================================================-->
<div class="panel panel-default animated fadeIn" style="overflow: hidden">
  <div class="panel-body">
    <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
      <div class="panel panel-default panel-table" style="border-bottom: 2px solid #3a97a2">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 ">
              <h3 class="panel-title"><span style="font-size: 1.26em;color: rgb(47, 64, 80)"> <span
                    class="glyphicon glyphicon-list"></span> HEBERGEMENT
                </span></h3>
            </div>
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">
              <mat-form-field>
                <mat-label>Filtrer</mat-label>
                <mat-select [(ngModel)]="elements" multiple>
                  <mat-option (click)="valutElements()" *ngFor="let item of displayedColumnsFilter" [value]="item.name">
                    {{item.label | uppercase }}
                  </mat-option>
                </mat-select>
              </mat-form-field>


              &nbsp;&nbsp;

              <button (click)="editHebergementModal()" color="success" mat-mini-fab>
                <mat-icon>add_circle</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <form (ngSubmit)="onSubmitFiltre()" [formGroup]="formFilter" class="example-form container center_div">
          <div *ngFor="let item  of elements " class="form-group">
            <div *ngIf="item != 'heure_fin' && item != 'heure_debut'">

              <mat-form-field class="erp-full-width">
                <input class="form-control" formControlName="{{item}}" id="{{item}}" matInput placeholder="{{item}}"
                  required type="text">
              </mat-form-field>
            </div>
            <div *ngIf="item == 'heure_debut' || item == 'heure_fin' ">
              <mat-form-field class="erp-full-width">
                <input class="form-control" formControlName="{{item}}" id="{{item}}" matInput placeholder="{{item}}"
                  required type="time">
              </mat-form-field>
            </div>
          </div>
          <button *ngIf="elements.length > 0" [disabled]="formFilter.invalid" class="btn btn-primary"
            type="submit">Valider
          </button>

        </form>
        <div class="panel-body table-responsive">
          <table #table [dataSource]="dataSource" class="bg-white footable table table-hover table-striped" mat-table
            matSort matSortStart="asc">
            <!-- colonne de checkboc   -->

            <ng-container matColumnDef="select">
              <th *matHeaderCellDef mat-header-cell>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td *matCellDef="let client" mat-cell>
                <mat-checkbox (change)="$event ? selection.toggle(client) : null" (click)="$event.stopPropagation()"
                  [checked]="selection.isSelected(client)">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="number">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>#</th>
              <td *matCellDef="let tg ; let i = index " mat-cell>{{ i + 1}}</td>
            </ng-container>

            <ng-container matColumnDef="etablissement">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>Etablissement</th>
              <td *matCellDef="let tg" mat-cell><span *ngIf="tg">
                  <a
                    routerLink="/RMS-Admin/client/{{tg.fiche_client.client.id}}/show"><strong>{{tg.fiche_client.client.raison_sociale}}</strong></a>
                </span></td>
            </ng-container>


            <ng-container matColumnDef="lieu">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>Lieu</th>
              <td *matCellDef="let tg" mat-cell><span *ngIf="tg">{{tg.lieu}}</span></td>
            </ng-container>

            <ng-container matColumnDef="etoile">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>Etoile</th>
              <td *matCellDef="let tg" mat-cell><span *ngIf="tg">{{tg.nombre_etoile}}</span></td>
            </ng-container>

            <ng-container matColumnDef="adresse">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>Adresse</th>
              <td *matCellDef="let tg" mat-cell><span *ngIf="tg">{{tg.adresse}}</span></td>
            </ng-container>

            <ng-container matColumnDef="telephone">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>Telephone</th>
              <td *matCellDef="let tg" mat-cell><span *ngIf="tg">{{tg.telephone}}</span></td>
            </ng-container>


            <ng-container matColumnDef="auteur">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>Auteur</th>
              <td *matCellDef="let tg" mat-cell>

                <a
                  routerLink="/RMS-Admin/gestionnaire-interne/{{tg.gestionnaire_interne.id}}/show"><strong>{{tg.gestionnaire_interne.user.username}}</strong></a>
              </td>
            </ng-container>


            <ng-container matColumnDef="Edit">
              <th *matHeaderCellDef mat-header-cell>Edit</th>
              <td *matCellDef="let tg; let i = index" mat-cell>
                <button (click)="editHebergementModal(tg.id)" mat-mini-fab="accent">
                  <mat-icon>create</mat-icon>
                </button>

              </td>
            </ng-container>

            <ng-container matColumnDef="archiver">
              <th *matHeaderCellDef mat-header-cell>Archiver</th>
              <td *matCellDef="let tg; let i = index" mat-cell>
                <button (click)="archivedAction(tg.id)" mat-mini-fab="warn" color="warn">
                  <mat-icon>remove</mat-icon>
                </button>

              </td>
            </ng-container>


            <!-- fin des colonnes des champs du tableau -->
            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let tg; columns: displayedColumns;" mat-row>


            </tr>
          </table>

        </div>
        <div class="panel-footer">
          <mat-paginator #paginator (page)="pagination($event)" [length]="length" [pageSizeOptions]="pageSizeOptions"
            [pageSize]="pageSize">
          </mat-paginator>
        </div>


      </div>
    </div>

  </div>
</div>