<div class="container-fluid animated fadeIn">
  <div class="row">
    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2"></div>
    <div class="col-md-8 col-sm-8 col-lg-8 col-xs-8">
      <br>
      <mat-card>
        <mat-card-content>
          <form (ngSubmit)="onValiderPlanningByPeriode()" [formGroup]="myForm"
                style="padding: 8%;font-size: 1.2em;">
            <div class="row">
              <div *ngIf="!actiyeN" class="form-group col-6">
                <label><strong>Choisir la Mission *</strong></label>
                <select (change)="choiceMission()" class="form-control" formControlName="missionForm">
                  <option value="">--- choisir la Mission ---</option>
                  <option *ngFor="let itemMission of missions" [ngValue]="itemMission">
                    <span>{{itemMission.nomSpecialite}} DE {{itemMission.mois}} {{itemMission.annee}}</span>
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-12 example-container">
                <mat-form-field>
                  <mat-label>JTC <span style="color: red">*</span></mat-label>
                  <mat-select formControlName="jtc">
                    <mat-option (click)="showJtc()" *ngFor="let item of jtc_array"
                                [value]="item.value">{{item.label}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
<!--              <div class="col-12 py-3">-->
<!--                <input [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" endKey="end"-->
<!--                       formControlName="periode_Date"-->
<!--                       matInput-->
<!--                       name="daterange"-->
<!--                       ngxDaterangepickerMd-->
<!--                       startKey="start"-->
<!--                       (blur)="changeFiche()"-->
<!--                       type="text"/>-->
<!--              </div>-->
              <!--                          ng DatePiker -->

              <div class="form-group col-12">
                <div class="input-group">
                  <input #datepicker="ngbDatepicker"
                         (dateSelect)="onDateSelection($event)"
                         [autoClose]="'outside'"
                         [dayTemplate]="t"
                         [displayMonths]="2"
                         [startDate]="dateDebut"
                         class="form-control inputDatepiker"
                         name="datepicker"
                         ngbDatepicker
                         outsideDays="hidden">
                  <ng-template #t let-date let-focused="focused">
                              <span (mouseenter)="hoveredDate = date"
                                    (mouseleave)="hoveredDate = null"
                                    [class.faded]="isHovered(date) || isInside(date)"
                                    [class.focused]="focused"
                                    [class.range]="isRange(date)"
                                    class="custom-day">
                                {{ date.day }}
                              </span>
                  </ng-template>
                </div>
              </div>
              <div class="form-group col-6" (blur)="changeFiche()">
                <div class="input-group">
                  <input #dpFromDate
                         (input)="dateDebut = validateInput(dateDebut, dpFromDate.value)"
                         [value]="formatter.format(dateDebut)"
                         class="form-control"
                         name="dpFromDate"
                         placeholder="yyyy-mm-dd">
                  <div class="input-group-append">
                    <button (click)="datepicker.toggle()" (blur)="changeFiche()" class="btn btn-outline-secondary"
                            type="button"> <i class="fa fa-calendar"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-group col-6" (blur)="changeFiche()">
                <div class="input-group">
                  <input #dpToDate
                         (input)="dateFin = validateInput(dateFin, dpToDate.value)"
                         [value]="formatter.format(dateFin)"
                         class="form-control"
                         name="dpToDate"
                         placeholder="yyyy-mm-dd">
                  <div class="input-group-append">
                    <button (click)="datepicker.toggle()" class="btn btn-outline-secondary"
                            type="button">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </div>
                </div>
              </div>
              <!--                          fin ngDatepiker-->
              <hr *ngIf="showAfterJtc">
              <div class="col-6 example-container" *ngIf="showAfterJtc">
                <mat-form-field>
                  <mat-label>Fiche de spécialite<span style="color: red">*</span></mat-label>
                  <mat-select formControlName="fiche_specialiteForm">
                    <mat-option (click)="choiceFicheSpecialite();" *ngFor="let itemSpecialite of ficheSpecialitesTmp;let i = index;"
                                [value]="itemSpecialite">
                      {{itemSpecialite.id}} - {{itemSpecialite.nomspecialite}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-6 example-container" *ngIf="showAfterJtc">
                <mat-form-field>
                  <mat-label>Type de garde<span style="color: red">*</span></mat-label>
                  <mat-select formControlName="type_de_gardeForm">
                    <mat-option (click)="getChoiceTypeDeGarde()"
                                *ngFor="let itemLibelle of typeDeGardeByFicheSpe;let indexOptionSelect = index" [value]="indexOptionSelect">
                      {{itemLibelle.type_de_garde}} / {{itemLibelle.heure_debut}} - {{itemLibelle.heure_fin}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-12 example-container" *ngIf="typeDeGardeDefaut[0]">
                <mat-form-field>
                  <mat-label>qualif<span style="color: red">*</span></mat-label>
                  <mat-select formControlName="qualif">
                    <mat-option *ngFor="let itemSpecialite of typeDeGardeDefaut[0].qualifs;let i = index;"
                                [value]="itemSpecialite.qualif">
                      {{itemSpecialite.qualif}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-6 example-container d-none" *ngIf="typeDeGardeDefaut[0]">
                <mat-form-field>
                  <mat-label>statut<span style="color: red">*</span></mat-label>
                  <mat-select formControlName="statut">
                    <mat-option
                                *ngFor="let itemLibelle of statuts;" [value]="itemLibelle.statut">
                      {{itemLibelle.statut}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-6 pt-2" *ngIf="roleCommercial()">
                <mat-checkbox (change)="enabledMission()" formControlName="activerMission"
                              style="width: 25px;height: 25px">Activer
                </mat-checkbox>
              </div>
              <div class="col-6" *ngIf="roleCommercial()">
                <mat-checkbox (change)="enabledMission()" class="ml-3" formControlName="majorer"
                              style="width: 25px;height: 25px">Majorer
                </mat-checkbox>
              </div>
            </div>
            <hr>
            <div class="row">
              <div *ngIf="loaderValider" class="form-group col-lg-6">
                <label></label>
                <button class="form-control btn-danger" type="button">Annuler</button>
              </div>
              <div *ngIf="loaderValider" class="form-group col-lg-6">
                <label></label>
                <button [disabled]="myForm.invalid" class="form-control btn-success" type="submit">Valider</button>
              </div>
              <div *ngIf="!loaderValider" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <br>
                <img alt="chargement de la requette" src="../../../../../../../../../assets/images/loader.gif">
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<!--<div style="height: 200px"></div>-->
