<div class="container-fluid" style="padding: 0;margin: 0">
  <br>
  <div class="col-12">
    <div class="row pt-4">
      <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="panel panel-default panel-table">
          <div class="panel-heading">
            <div class="row">
              <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 ">
              </div>
              <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">
                <div *ngIf="showLoaderDispo_date_periode" class="animated fadeInRight">
                  <button (click)="showLoaderDispo_date_periode = !showLoaderDispo_date_periode"
                    class="btn btn-primary btn-sm pull-right" type="button">
                    Période <i class="ion-android-add-circle"></i></button>
                </div>
                <div *ngIf="!showLoaderDispo_date_periode" class="animated fadeInRight">
                  <button (click)="showLoaderDispo_date_periode = !showLoaderDispo_date_periode"
                    class="btn btn-success btn-sm pull-right" type="button">
                    Disponibilitées Par Date <i class="glyphicon glyphicon-plus glyphicon-xs"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div *ngIf="showLoaderDispo_date_periode" class="row animated fadeInRight">
              <div *ngIf="interim_id" class="col-12 col-sm-6 col-md-6 col-lg-6">
                <multiple-date-picker (click)="transform_dates_fr()" *ngIf="highlightDays.length>0"
                  [(ngModel)]="initialCount" [disableDaysBefore]="false" [highlightDays]="highlightDays"
                  [month]="month">
                </multiple-date-picker>
                <multiple-date-picker (click)="transform_dates_fr()" *ngIf="highlightDays.length<=0"
                  [(ngModel)]="initialCount" [disableDaysBefore]="true" [highlightDays]="highlightDays" [month]="month">
                </multiple-date-picker>
                <br />
                <input (click)="onMailNotification(initialCount_fr,interim_id);"
                  *ngIf="!showLoaderSend && initialCount.length>0" class="form-control btn btn-success" type="button"
                  value="Valider" />
                <!--<div class="text-center" *ngIf="showLoaderSend">-->
                <!--<br>-->
                <!--<img src="../../../../assets/paramedical/images/loading.gif" alt="loadValider">-->
                <!--</div>-->
              </div>
              <div *ngIf="highlightDays?.length > 0" class="col-11 col-sm-5 col-md-5 col-lg-5 offset-1 text-right">
                <table class="table text-center pt-2">
                  <thead>
                    <tr class="filters">
                      <th><input class="form-control" disabled="" placeholder="Date" type="text"></th>
                      <th><input class="form-control" disabled="" placeholder="Afficher" type="text">
                      </th>
                      <th><input class="form-control" disabled="" placeholder="Action" type="text">
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- ngRepeat: item in datadisponibilite -->
                    <tr *ngFor="let item of this.interimService.listes_mois_disponibilite">
                      <td>{{item[0].mois}}</td>
                      <td class="row">
                        <div class="col-6 text-right pt-2 pointer">
                          <span (click)="onShowDisponibiliteForMonth(item)" class="span_nbre_qualif p-1">
                            {{item.length}}
                          </span>
                        </div>
                        <span class="col-6 text-left">
                          <mat-icon (click)="onShowMatchingForMYRMS(item)" class="ion-eye pointer" color="vertfoncer">
                          </mat-icon>
                        </span>
                      </td>
                      <td>
                        <mat-icon (click)="onDeleteDisponibilite(item)" class="pointer ion-close-circled" color="warn">
                        </mat-icon>
                      </td>
                    </tr><!-- end ngRepeat: item in datadisponibilite -->
                  </tbody>
                </table>
              </div>
            </div>
            <div *ngIf="!showLoaderDispo_date_periode" class="animated fadeInRight row" style="background-color: white">
              <div class="col-lg-2"></div>
              <div class="col-lg-8 text-center pt-3" style="padding: 1%;">
                <mat-card>
                  <mat-card-title>Ajouter une période</mat-card-title>
                  <mat-card-content>
                    <form
                      (ngSubmit)="onValiderDisponibiliteByPeriode();loaderValiderDispoPeriode = !loaderValiderDispoPeriode"
                      [formGroup]="myForm" style="background-color: #ffffff;">
                      <div class="row" style="padding: 2%">
                        <div class="form-group col-12">
                          <input [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" class="form-control" endKey="end"
                            formControlName="periode_Date" matInput name="daterange" ngxDaterangepickerMd
                            startKey="start" type="text" />
                        </div>
                        <!--                          ng DatePiker -->

                        <div class="form-group col-12">
                          <div class="input-group">
                            <input #datepicker="ngbDatepicker" (dateSelect)="onDateSelection($event)"
                              [autoClose]="'outside'" [dayTemplate]="t" [displayMonths]="2" [startDate]="dateDebut"
                              class="form-control inputDatepiker" name="datepicker" ngbDatepicker outsideDays="hidden">
                            <ng-template #t let-date let-focused="focused">
                              <span (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null"
                                [class.faded]="isHovered(date) || isInside(date)" [class.focused]="focused"
                                [class.range]="isRange(date)" class="custom-day">
                                {{ date.day }}
                              </span>
                            </ng-template>
                          </div>
                        </div>
                        <div class="form-group col-6">
                          <div class="input-group">
                            <input #dpFromDate (input)="dateDebut = validateInput(dateDebut, dpFromDate.value)"
                              [value]="formatter.format(dateDebut)" class="form-control" name="dpFromDate"
                              placeholder="yyyy-mm-dd">
                            <div class="input-group-append">
                              <button (click)="datepicker.toggle()" class="btn btn-outline-secondary" type="button"><i
                                  class="fa fa-calendar"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="form-group col-6">
                          <div class="input-group">
                            <input #dpToDate (input)="dateFin = validateInput(dateFin, dpToDate.value)"
                              [value]="formatter.format(dateFin)" class="form-control" name="dpToDate"
                              placeholder="yyyy-mm-dd">
                            <div class="input-group-append">
                              <button (click)="datepicker.toggle()" class="btn btn-outline-secondary" type="button">
                                <i class="fa fa-calendar"></i>
                              </button>
                            </div>
                          </div>
                        </div>

                        <!--                          fin ngDatepiker-->
                      </div>
                      <div class="row" style="padding: 2%">
                        <div *ngIf="loaderValiderDispoPeriode" class="form-group col-lg-6">
                          <label></label>
                          <button (click)="showLoaderDispo_date_periode = !showLoaderDispo_date_periode"
                            class="form-control btn-danger" type="button">
                            Annuler
                          </button>
                        </div>
                        <div *ngIf="loaderValiderDispoPeriode" class="form-group col-lg-6">
                          <label></label>
                          <button class="form-control btn-success" type="submit">Valider
                          </button>
                        </div>
                      </div>
                    </form>
                    <section class="section">
                      <mat-checkbox class="example-margin" [(ngModel)]="mail">{{message_notif}}
                      </mat-checkbox>
                    </section>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <div style="height: 100px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>