.span_nbre_qualif{
  background: #17a2b7;
  color: white;
  /*border-radius: 15px;*/
  font-size: 14px;
}
.mat-icon.mat-vertfoncer {
  color: #3a97a2;
  font-size: 35px;
}
.ion-android-add-circle{
  font-size: 20px;
}

.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
.inputDatepiker{
  border: 1px solid white;
  color: white;
}
