<mat-card class="m-0 p-0 overFlowHidden">
  <mat-card-title class="modal-header">
    <h2 mat-dialog-title>Foire aux questions</h2>
  </mat-card-title>
  <mat-card-content>
    <div class="row pl-3">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-bold">
              J’ai une mission, je suis en retard, Que dois je faire ?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Appelez vite sur nos lignes directes aux heures d’ouverture officielles, sinon appeler sur l’astreinte.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-bold">
              Que faire si j'ai un incident en cours de trajet ?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Vous passerez à chercher une solution alternative qui vous permettra d’être à temps à votre lieu de mission sans oublier de nous prévenir immédiatement sur l’astreinte.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-bold">
              Que faire si le logement mis à ma disposition ne me convient pas ?
            </mat-panel-title >
          </mat-expansion-panel-header>
          <p>Commencez par consulter la fiche Info-pratique de votre mission, et pensez à nous appeler immédiatement</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-bold">
              Que faire si aucun logement n’est prévu à mon arrivé ?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Commencez par consulter la fiche Info-pratique de votre mission, et pensez à nous appeler immédiatement.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-bold">
              Que faire si mon planning ne colle pas avec celui de l'hôpital ?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Se référer à votre contrat de Mission et nous rappeler immédiatement.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-bold">
              Que faire si j’ai perdu mes justificatifs de déplacement ?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Remettez nous des duplicatas si possible.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-bold">
              Que faire en cas de changement d’adresse ?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Vous nous fournirez votre justificatif de domicile pour votre nouvelle adresse et aussi nous transmettre votre Carte Grise renouvelée.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-bold">
              Que faire si le CH souhaite modifier mon planning en cours de mission ?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Il faut nous appelez immédiatement</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-bold">
              Que faire pour suivre mes droits de retraite ?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>MALAKOFF MEDERIC</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-bold">
              Ai-je droit à une mutuelle  en tant qu’intérimaire ?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Oui, à condition de :</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-bold">
              Est-il obligatoire de souscrir à une assurance de responsabilité civile professionnelle ?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Oui, l’assurance responsabilité civile est obligatoire pour tous les intérimaires.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-bold">
              Quelles sont les démarches à faire pour s’inscrire à l’ordre des médecins en France ?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Référence: <a href="http://www.cng.sante.fr">site CNOM et CNG</a></p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
  <mat-card-footer class="row">
    <div class="col-12 py-2">
      <p class="text-right pr-4">
        <button color="warn" mat-dialog-close mat-raised-button>Fermer</button>
      </p>
    </div>
  </mat-card-footer>
</mat-card>
