<mat-nav-list>
  <div *ngFor="let item of data.data; let i = index">
<!--    <a class="pointer" style="color: #0e9aef" [routerLink]="['/RMS-Admin/interim/'+ item.id +'/show/']" mat-list-item>-->
    <span class="pointer" style="color: #0e9aef"  mat-list-item>
      <span mat-line>{{item.nom}}</span>
    </span>
  </div>
</mat-nav-list>
