<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <!--Header-->
        <div class="card-header">
          <div class="row">
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 mt-4">
              <h6><span>GESTION DES GESTIONNAIRES INTERNES</span></h6>
            </div>
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">
              <mat-form-field class="mr-3">
                <mat-label>Filtrer</mat-label>
                <mat-select [(ngModel)]="elements" multiple>
                  <mat-option (click)="valutElements()" *ngFor="let item of displayedColumnsFilter"
                              [value]="item.name">
                    {{item.label | uppercase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button (click)="editGestionnaireModal()" color="success" mat-mini-fab>
                <mat-icon>add_circle</mat-icon>
              </button>
            </div>
          </div>
          <div class="row">
            <form [formGroup]="formFilter" (ngSubmit)="onSubmitFiltre()" class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="row">
                <div *ngFor="let item  of elements " class="col-12 col-sm-6 col-md-4 col-lg-3">
                  <div *ngIf="item != 'activer' && item != 'civilite'">
                    <mat-form-field class="erp-full-width">
                      <input id="{{item}}" matInput formControlName="{{item}}" placeholder="{{item}}"
                             required type="text">
                    </mat-form-field>
                  </div>
                  <div *ngIf="item == 'activer'">

                    <mat-form-field class="erp-full-width">
                      <mat-select id="{{item}}" formControlName="{{item}}" placeholder="{{item}}" required>
                        <mat-option value="oui">Oui</mat-option>
                        <mat-option value="non">Non</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div *ngIf="item == 'civilite'">

                    <mat-form-field class="erp-full-width">
                      <mat-select id="{{item}}" formControlName="{{item}}" placeholder="{{item}}" required>
                        <mat-option value="Monsieur">Monsieur</mat-option>
                        <mat-option value="Madame">Madame</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 text-center">
                  <button *ngIf="elements.length > 0" [disabled]="formFilter.invalid" class="btn btn-primary"
                          type="submit">Valider
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card-body table-responsive">
          <table #table *ngIf="!showLoadInterim" [dataSource]="dataSource"
                 class="footable table table-hover table-striped" mat-table
                 matSort matSortStart="asc">
            <!-- debut des colonnes des champs du tableau -->
            <ng-container matColumnDef="number">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>N.</th>
              <td *matCellDef="let gestionnaireInterne" class="pt-3"
                  mat-cell>{{ dataSource.filteredData.indexOf(gestionnaireInterne) + 1 }}
            </ng-container>

            <ng-container matColumnDef="Nom">
              <th *matHeaderCellDef mat-header-cell mat-sort-header mat-sort-header>Nom</th>
              <td *matCellDef="let gestionnaireInterne" class="pt-3 sizeText" mat-cell>
                <a class="btn btn-xs btn-default mr-2"
                   routerLink="/RMS-Admin/gestionnaire-interne/{{gestionnaireInterne.id}}/show/">
                  {{gestionnaireInterne.nom}}
                </a></td>
            </ng-container>
            <ng-container matColumnDef="Prenom">
              <th *matHeaderCellDef mat-header-cell mat-sort-header mat-sort-header>Prénom</th>
              <td *matCellDef="let gestionnaireInterne" class="pt-3 sizeText"
                  mat-cell>
                <a class="btn btn-xs btn-default mr-2"
                   routerLink="/RMS-Admin/gestionnaire-interne/{{gestionnaireInterne.id}}/show/">
                  {{gestionnaireInterne.prenom}}
                </a>
              </td>
            </ng-container>
            <ng-container matColumnDef="Email">
              <th *matHeaderCellDef class="text-center" mat-header-cell mat-sort-header>
                Email
              </th>
              <td *matCellDef="let gestionnaireInterne" class="pt-3 sizeText" mat-cell>{{gestionnaireInterne.email }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Username">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>Pseudo</th>
              <td *matCellDef="let gestionnaireInterne" class="pt-3 sizeText"
                  mat-cell>{{gestionnaireInterne.username }}</td>
            </ng-container>
            <ng-container matColumnDef="IdReferentiel">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>Id pld</th>
              <td *matCellDef="let gestionnaireInterne" class="pt-3 sizeText" mat-cell>
                <mat-chip-list>
                  <mat-chip *ngIf="gestionnaireInterne.IdReferentiel" color="vert_foncer" selected>
                    {{gestionnaireInterne.IdReferentiel }}
                  </mat-chip>
                </mat-chip-list>
              </td>
            </ng-container>

            <ng-container matColumnDef="Etat">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>Activer</th>
              <td *matCellDef="let gestionnaireInterne" class="pt-3 sizeText" mat-cell>
                <mat-slide-toggle
                  (click)="onActiveOuDesactiveUser(gestionnaireInterne.idUser, !gestionnaireInterne.enabled)"
                  [checked]="gestionnaireInterne.enabled"
                  color="primary"></mat-slide-toggle>
              </td>
            </ng-container>

            <ng-container class="text-center" matColumnDef="Action">
              <th *matHeaderCellDef mat-header-cell mat-sort-header>Action</th>
              <td *matCellDef="let gestionnaireInterne" class="pt-3 sizeText" mat-cell>
                <a class="btn btn-xs btn-default mr-2"
                   routerLink="/RMS-Admin/gestionnaire-interne/{{gestionnaireInterne.id}}/show/">
                  <mat-icon>visibility</mat-icon>
                </a>
                <a (click)="editGestionnaireModal(gestionnaireInterne.id)" class='text-white pointer'>
                  <mat-icon color="accent">edit</mat-icon>
                </a>&nbsp;
              </td>
            </ng-container>
            <!-- fin des colonnes des champs du tableau -->
            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr (click)="selection.toggle(interim)" *matRowDef="let interim; columns: displayedColumns;"
                mat-row></tr>


          </table>
          <div *ngIf="!this.dataSource" class="text-center">
            <strong>Désolé, aucun résultat ne correspond à votre recherche.</strong>
          </div>
        </div>
        <div class="card-footer">
          <mat-paginator (page)="pagination($event)" [length]="length" [pageSizeOptions]="pageSizeOptions"
                         [pageSize]="pageSize">

          </mat-paginator>
        </div>
      </div>
    </div>

  </div>
</div>
