<div class="modal-content" style="padding: 0;margin: 0">
    <div class="modal-header text-center">

        <h3>Suivi Disponibilités</h3>

    </div>

    <div class="modal-body">
        <form [formGroup]="tacheForm" *ngIf="tacheForm">
            <!-- [formGroup]="FicheSpeForm" *ngIf="FicheSpeForm" -->
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="erp-full-width">
                        <input matInput type="text" placeholder="Nom Tache" formControlName="nom">
                    </mat-form-field>

                </div>

                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>Avancement</mat-label>
                        <mat-select formControlName="statut" required>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let e of etats" [value]="e.id">
                                {{e.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="tacheForm.get('statut').hasError('required')">veillez choisir l'avancement de
                            la tache</mat-error>

                    </mat-form-field>
                </div>
                <div class="col-md-4">

                    <mat-form-field>
                        <mat-select placeholder="Ligne Telephonique" formControlName="ligne_telephonique"
                            [compareWith]="compareWithFunc">
                            <mat-option *ngFor="let ligne of lignes " [value]="ligne">{{ligne.email.email | uppercase}}
                                -- {{ligne.telephone | uppercase}} </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-select placeholder="Type De Tache" formControlName="type" [compareWith]="compareWithFunc">
                            <mat-option *ngFor="let type of list_types " [value]="type">
                                {{type.designation | uppercase}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field class="erp-full-width">
                        <input matInput type="time" placeholder="Heure Debut" formControlName="heure_debut">
                    </mat-form-field>

                </div>

                <div class="col-md-4">
                    <mat-form-field class="erp-full-width">
                        <input matInput type="time" placeholder="Heure Fin" formControlName="heure_fin">
                    </mat-form-field>

                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field>
                        <mat-select placeholder="Gestionnaire Interne" formControlName="tache_gestionnaire"
                            [compareWith]="compareWithFunc" multiple>
                            <mat-option *ngFor="let g of gestionnaire_internes | async" [value]="g">
                                {{g.nom | uppercase}} {{g.prenom | uppercase}} </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div class="col-sm-4">
                    <mat-form-field>
                        <input matInput [matDatepicker]="dateDebut" placeholder="Date Debut"
                            formControlName="date_debut">
                        <mat-datepicker-toggle matSuffix [for]="dateDebut"></mat-datepicker-toggle>
                        <mat-datepicker #dateDebut></mat-datepicker>
                    </mat-form-field>

                </div>

                <div class="col-sm-4">
                    <mat-form-field>
                        <input matInput [matDatepicker]="date_fin" placeholder="Date Fin" formControlName="date_fin">
                        <mat-datepicker-toggle matSuffix [for]="date_fin"></mat-datepicker-toggle>
                        <mat-datepicker #date_fin></mat-datepicker>
                    </mat-form-field>

                </div>





            </div>


            <div class="row">
                <div class="col-sm-12">
                    <strong>Description</strong>
                    <ckeditor skin="moono-lisa" language="fr" formControlName="description"></ckeditor>
                </div>


            </div>

            <div class="hr-line-dashed"></div>
            <div class="row">
                <!-- <div class="col-sm-4 col-sm-offset-2">

                      </div> -->
                <div class="col-sm-4 col-sm-offset-2" *ngIf="tacheForm.valid">
                    <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>&nbsp;&nbsp;
                    <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial>Valider</button>
                </div>

            </div>






        </form>
    </div>










</div>