<app-head-panel></app-head-panel>
<!-- ########## START: MAIN PANEL ########## -->
<div class="br-mainpanel" style="background: #F3F3F4">
  <div class="br-pagetitle"></div>
  <div class="animated fadeIn">
    <router-outlet></router-outlet>
  </div><!-- br-pagebody -->
  <footer class="br-footer">
    <div class="footer-left">
      <div class="mg-b-2">
        SARL RÉSEAU MÉDICAL SERVICES @2010 - {{myDate | date:'yyyy'}}. Tous droits réservés. <br>
<!--        SIRET: 518 363 213 00035 <br>-->
<!--        Capital:20000 € <br>-->
      </div>
    </div>
<!--    <div class="footer-right d-flex align-items-center">-->
<!--      <span class="tx-uppercase mg-r-10">Share:</span>-->
<!--      <a target="_blank" class="pd-x-5" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//themepixels.me/bracketplus/intro"><i class="fab fa-facebook tx-20"></i></a>-->
<!--      <a target="_blank" class="pd-x-5" href="https://twitter.com/home?status=Bracket%20Plus,%20your%20best%20choice%20for%20premium%20quality%20admin%20template%20from%20Bootstrap.%20Get%20it%20now%20at%20http%3A//themepixels.me/bracketplus/intro"><i class="fab fa-twitter tx-20"></i></a>-->
<!--    </div>-->
  </footer>
</div><!-- br-mainpanel -->
<!-- ########## END: MAIN PANEL ########## -->
<app-left-panel></app-left-panel>


