<!--====================================================================================================================-->
<div class="panel panel-default animated fadeIn" style="overflow: hidden">
  <div class="panel-body">
    <div class="col col-md-12 col-sm-12 col-xs-12 col-lg-12">
      <div class="panel panel-default panel-table" style="border-bottom: 2px solid #3a97a2">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 ">
              <h3 class="panel-title"><span style="font-size: 1.26em;color: rgb(47, 64, 80)"> <span
                class="glyphicon glyphicon-list"></span> HEBERGEMENT
                                  </span></h3>
            </div>
            <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">


              <button mat-mini-fab color="success" (click)="editHebergementModal()">
                <mat-icon>add_circle</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="panel-body table-responsive">
          <table mat-table #table matSort matSortStart="asc" [dataSource]="dataSource"
                 class="bg-white footable table table-hover table-striped">
            <!-- colonne de checkboc   -->

            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let client">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(client) : null"
                              [checked]="selection.isSelected(client)">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
              <td mat-cell *matCellDef="let tg ; let i = index ">{{ i+1}}</td>
            </ng-container>

            <ng-container matColumnDef="etablissement">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Etablissement</th>
              <td mat-cell *matCellDef="let tg"><span *ngIf="tg">
                              <a routerLink="/RMS-Admin/client/{{tg.fiche_client.client.id}}/show"><strong>{{tg.fiche_client.client.raison_sociale}}</strong></a>
                          </span></td>
            </ng-container>


            <ng-container matColumnDef="lieu">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Lieu</th>
              <td mat-cell *matCellDef="let tg"><span *ngIf="tg">{{tg.lieu}}</span></td>
            </ng-container>

            <ng-container matColumnDef="etoile">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Etoile</th>
              <td mat-cell *matCellDef="let tg"><span *ngIf="tg">{{tg.nombre_etoile}}</span></td>
            </ng-container>

            <ng-container matColumnDef="adresse">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Adresse</th>
              <td mat-cell *matCellDef="let tg"><span *ngIf="tg">{{tg.adresse}}</span></td>
            </ng-container>

            <ng-container matColumnDef="telephone">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Telephone</th>
              <td mat-cell *matCellDef="let tg"><span *ngIf="tg">{{tg.telephone}}</span></td>
            </ng-container>





            <ng-container matColumnDef="auteur">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Auteur</th>
              <td mat-cell *matCellDef="let tg">

                <a routerLink="/RMS-Admin/gestionnaire-ineterne/{{tg.gestionnaire_interne.id}}/show"><strong>{{tg.gestionnaire_interne.user.username}}</strong></a>
              </td>
            </ng-container>


            <ng-container matColumnDef="Edit">
              <th mat-header-cell *matHeaderCellDef>Edit</th>
              <td mat-cell *matCellDef="let tg; let i = index">
                <button  mat-mini-fab="accent" (click)="editHebergementModal(tg.id)">
                  <mat-icon>create</mat-icon>
                </button>

              </td>
            </ng-container>


            <!-- fin des colonnes des champs du tableau -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let tg; columns: displayedColumns;"

            >


            </tr>
          </table>

        </div>
        <div class="panel-footer">
          <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" #paginator
                         (page)="pagination($event)">
          </mat-paginator>
        </div>

        <div class="row">
          <div class="col-md-6">

            <button mat-flat-button color="warn"  mat-dialog-close (click)="onNoClick()" >Annuler</button>&nbsp;&nbsp;
            <button mat-flat-button color="success"  (click)="onClick()" >Valider</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
