<div class="container-fluid p-0">
  <div class="row p-0">
    <div class="col-12 col-lg-4 col-md-12 col-sm-12 mb-3">
      <fieldset>
        <legend>Informations complémentaire</legend>
        <ul class="list-group" *ngIf="contratPld">
          <li class="list-group-item disabled">
            <span class="mr-2"><strong>N° contrat :</strong></span>
            <span class="badge badge-info pointer" (click)="modalContrat()"><strong>{{contratPld.IdContrat}}</strong></span>
          </li>
          <li class="list-group-item disabled">
            <span class="mr-2"><strong>Raison sociale :</strong></span>
            <span class="">{{contratPld.RaisonSociale}}</span>
          </li>
          <li class="list-group-item disabled">
            <span class="mr-2"><strong>Nom & Prenom :</strong></span>
            <span class="">{{contratPld.NomPrenom}}</span>
          </li>
          <li class="list-group-item disabled">
            <span class="mr-2"><strong>Date début :</strong></span>
            <span class="">{{formatageDate(contratPld.DateDebut)}}</span>
          </li>
          <li class="list-group-item disabled">
            <span class="mr-2"><strong>Date fin :</strong></span>
            <span class="">{{formatageDate(contratPld.DateFin)}}</span>
          </li>
          <li class="list-group-item disabled">
            <fieldset class="bg-white">
              <legend>Tableau d'heures</legend>
              <div class="container table-responsive ">
                <div class="row">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-6">
                        <mat-form-field class="example-full-width">
                          <mat-label>Total heure</mat-label>
                          <input matInput disabled value="{{nbrheure}}">
                        </mat-form-field>
                      </div>
                      <div class="col-6" *ngIf="params && params.candidature">
                        <mat-form-field class="example-full-width">
                          <mat-label>Total jour</mat-label>
                          <input matInput disabled value="{{params.candidature.length}}">
                        </mat-form-field>
                      </div>
                      <div class="col-12" *ngIf="params && params.candidature">
                        <div class="container" *ngFor="let item of params.candidature;let i = index">
                          <div class="row">
                            <div class="col-6">
                              <mat-form-field class="example-full-width">
                                <mat-label>Date</mat-label>
                                <input matInput disabled value="{{item.Date.date | date}}">
                              </mat-form-field>
                            </div>
                            <div class="col-6">
                              <mat-form-field class="example-full-width">
                                <mat-label>Heure</mat-label>
                                <input matInput disabled value="{{calculateDiffHeure(item.Debut, item.Fin) == 0 ? 24 : calculateDiffHeure(item.Debut, item.Fin)}}">
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </li>
        </ul>
      </fieldset>
    </div>
    <div class="col-12 col-lg-8" *ngIf="rhData.length == 0">
      <form [formGroup]="formPrestations" (ngSubmit)="onSave()">
        <div class="row">
        <div [ngClass]="{'col-6' : fraisexiste || rhData.length > 0, 'col-12'  : !fraisexiste}">
          <fieldset class="bg-white">
            <legend>PRESTATIONS</legend>
            <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="IFMICP" formControlName="IFMICP">
                </mat-form-field>
            </div>
            <div class="col-md-12 p-0" *ngIf="TabPrimes">
              <fieldset>
                <legend>Tableau de primes</legend>
                <div *ngFor="let item of TabPrimes;let i = index" >
                  <mat-list role="list">
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title class="font-size-12">
                          {{item.TxtPrime}}
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <mat-list role="dense">
                        <div  style="overflow-wrap:break-word">
                          <ul class="list-group">
                            <li class="list-group-item disabled">
                              <span class="mr-2"><strong>Taux réference :</strong></span>
                              <span class="">{{item.TauxReference | number}} €</span>
                            </li>
                            <li class="list-group-item disabled">
                              <span class="mr-2"><strong>Taux payé imposable</strong></span>
                              <span class="">{{item.TauxPayeImposable | number}} €</span>
                            </li>
                            <li class="list-group-item disabled">
                              <span class="mr-2"><strong>Taux facturé</strong></span>
                              <span class="">{{item.TauxFacture | number}} €</span>
                            </li>
                            <li class="list-group-item disabled">
                              <span class="mr-2"><strong>Quantité facturée</strong></span>
                              <span class="">{{item.QuantiteFacture | number}} </span>
                            </li>
                          </ul>
                        </div>
                      </mat-list>

                    </mat-expansion-panel>
                  </mat-list>
                </div>
              </fieldset>
            </div>
          </fieldset>
        </div>
        <div class="col-6" *ngIf="fraisexiste || rhData.length > 0">
          <fieldset class="bg-white">
            <legend>Frais</legend>
            <div class="col-md-12 p-0">
              <fieldset>
                <legend>Tableau de primes</legend>
                <p class="alert alert-danger" *ngIf="onPrimesFraisExistePasPld().length > 0">
                  Prime à ajouter sur PLD:
                  <span *ngFor="let item of onPrimesFraisExistePasPld();let i = index"> {{item}} ,</span>
                </p>
                <div *ngFor="let item of primesPldFrais;let i = index" >
                  <form #frais="ngForm">
                    <mat-list role="list">
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title class="font-size-12">
                            {{item.TxtPrime}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>

                        <mat-list role="dense">
                          <div class="row">
                            <div class="col-6">
                              <mat-form-field class="example-full-width">
                                <mat-label>Qantité payée</mat-label>
                                <input type="number" disabled (change)="primeFraisChanged(frais, item.TxtPrime)" matInput name="QuantiteNonImposable" [ngModel]="item.QuantiteNonImposable">
                              </mat-form-field>
                            </div>
                            <div class="col-6">
                              <mat-form-field class="example-full-width">
                                <mat-label>Taux payé</mat-label>
                                <input type="number" disabled (change)="primeFraisChanged(frais, item.TxtPrime)" name="TauxPayeNonImposable" matInput [ngModel]="item.TauxPayeNonImposable">
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6">
                              <mat-form-field class="example-full-width">
                                <mat-label>Qantité fact</mat-label>
                                <input matInput type="number" [disabled]="!item.rh" (change)="primeFraisChanged(frais, item.TxtPrime)" matInput name="QuantiteFacture" [ngModel]="item.QuantiteFacture">
                              </mat-form-field>
                            </div>
                            <div class="col-6">
                              <mat-form-field class="example-full-width">
                                <mat-label>Taux fact</mat-label>
                                <input matInput type="number" [disabled]="!item.rh" (change)="primeFraisChanged(frais, item.TxtPrime)" matInput name="TauxFacture" [ngModel]="item.TauxFacture">
                              </mat-form-field>
                            </div>
                          </div>
                        </mat-list>

                      </mat-expansion-panel>
                    </mat-list>
                  </form>
                </div>
              </fieldset>
            </div>
          </fieldset>
        </div>
        <div class="col-12">
          <hr>
          <button class="btn btn-info">Générer le(s) relevé(s) d’heure(s) </button>
        </div>
      </div>
      </form>
    </div>
    <div class="col-12  col-lg-8" *ngIf="rhData.length > 0">
          <div class="row">
              <div class="col-6" *ngFor="let item of rhArray;let i = index">
                  <fieldset class="bg-white">
                      <legend>{{item}}</legend>
                      <ul class="list-group mb-2" *ngIf="rhData[i]">
                          <li class="list-group-item disabled">
                              <span class="mr-2"><strong>N°:</strong></span>
                              <span class="badge badge-info"><strong>{{rhData[i].pld.IdRH}}</strong></span>
                              <button class="ml-2" mat-mini-fab color="vert_foncer" (click)="onGenererRh(rhData[i].pld.IdRH)">
                                  <mat-icon>get_app</mat-icon>
                              </button>
                          </li>
                        <mat-list role="list" *ngFor="let prime of rhData[i].pld.TabPrimes;let i = index">
                          <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title class="font-size-12">
                                {{prime.TxtPrime}}
                              </mat-panel-title>
                            </mat-expansion-panel-header>

                            <mat-list>
                              <div  style="overflow-wrap:break-word">
                                <ul class="list-group">
                                  <li class="list-group-item disabled">
                                    <span class="mr-2"><strong>Taux payé imposable</strong></span>
                                    <span class="">{{prime.TauxPayeImposable}} €</span>
                                  </li>
                                  <li class="list-group-item disabled">
                                    <span class="mr-2"><strong>Taux payé non imposable</strong></span>
                                    <span class="">{{prime.TauxPayeNonImposable}} €</span>
                                  </li>
                                  <li class="list-group-item disabled">
                                    <span class="mr-2"><strong>Quantité facturée</strong></span>
                                    <span class="">{{prime.QuantiteFacture | number}}</span>
                                  </li>
                                  <li class="list-group-item disabled">
                                    <span class="mr-2"><strong>Taux facturé</strong></span>
                                    <span class="">{{prime.TauxFacture}} €</span>
                                  </li>
                                </ul>
                              </div>
                            </mat-list>

                          </mat-expansion-panel>
                        </mat-list>
                      </ul>
                    <p *ngIf="item === 'FRAIS' && ((rhData[i] && rhData[i].pld.TabPrimes.length !== primesPldFrais.length) || !rhData[i] )">
                      <a (click)="miseAJourRHFrais(rhData[i] ? rhData[i].pld : null)" class="btn btn-warning btn-sm mt-2 col-12">Modifier</a>
                    </p>
                    <p class="mt-1 alert alert-danger" *ngIf="item === 'FRAIS' && onPrimesFraisExistePasPld().length > 0">
                      Prime à ajouter sur PLD:
                      <span *ngFor="let item of onPrimesFraisExistePasPld();let i = index"> {{item}} ,</span>
                    </p>


                  </fieldset>
              </div>
          </div>
      </div>
  </div>
  <div class="row m-auto" *ngIf="erreur">
    <div class="col-12 alert alert-danger">
      Erreur de chargement de la requette !
    </div>
  </div>
</div>
