<div class="mr-4 ml-4 animated fadeIn">
  <div class="card borderTopCard overFlowHidden">
    <div class="card-header borderTopCard overflow-hidden m-0 p-0">
      <div class="panel-heading">
        <div class="row">
          <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6 pt-3">
            <h5 class="ml-4 font-weight-bold"><span style="color: rgb(47, 64, 80)">LISTES DES MISSIONS</span>
            </h5>
          </div>
          <div class="col col-md-6 col-sm-6 col-xs-6 col-lg-6  text-right">
            <div class="mr-4 pt-2">
              <mat-form-field>
                <mat-label>Filtrer</mat-label>
                <mat-select [(ngModel)]="elements" multiple>
                  <mat-option (click)="valutElements()" *ngFor="let item of displayedColumnsFilter" [value]="item.name">
                    {{item.label | uppercase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <form (ngSubmit)="onSubmitFiltre()" [formGroup]="formFilter"
                class="example-form container center_div col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
              <div *ngFor="let item  of elements " class="form-group col-12 col-sm-6 col-md-4 col-lg-3 m-2">
                <div *ngIf="item != 'mois'   && item != 'enable'">

                  <mat-form-field class="erp-full-width">
                    <input class="form-control" formControlName="{{item}}" id="{{item}}" matInput
                           placeholder="{{item}}"
                           required type="text">
                  </mat-form-field>
                </div>

                <div *ngIf="item === 'mois'" class="pt-4">

                  <mat-form-field class="erp-full-width">
                    <mat-select formControlName="{{item}}" id="{{item}}" placeholder="{{item}}" required>
                      <mat-option *ngFor="let m  of allmois " value="{{m}}">{{m | uppercase }} </mat-option>

                    </mat-select>
                  </mat-form-field>
                </div>

                <div *ngIf="item == 'enable'" class="pt-4">

                  <mat-form-field class="erp-full-width">
                    <mat-select formControlName="{{item}}" id="{{item}}" placeholder="{{item}}" required>
                      <mat-option value="oui">Oui</mat-option>
                      <mat-option value="non">Non</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-4 text-center">
                <button *ngIf="elements.length > 0" [disabled]="formFilter.invalid" class="btn btn-primary btn-sm"
                        type="submit">Valider
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card-body table-responsive">
      <table #table [dataSource]="dataSource" class="bg-white footable table table-hover table-striped" mat-table
             matSort
             matSortStart="asc">
        <!-- colonne de checkboc   -->
        <ng-container matColumnDef="select">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td *matCellDef="let mission" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(mission) : null" (click)="$event.stopPropagation()"
              [checked]="selection.isSelected(mission)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="number">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> &nbsp;&nbsp;#</th>
          <td *matCellDef="let mission" mat-cell>&nbsp;&nbsp;{{ dataSource.filteredData.indexOf(mission) + 1 }}
        </ng-container>


        <ng-container matColumnDef="nom_etablissement">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Etablissement</th>
          <td *matCellDef="let mission" class="font-weight-bold sizeText" mat-cell><a
            [routerLink]="'/RMS-Admin/client/'+mission.id_client+'/show'">{{mission.nom_etablissement}}</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="reference">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Reference</th>
          <td *matCellDef="let mission" class="sizeText" mat-cell>{{mission.reference}}</td>
        </ng-container>
        <ng-container matColumnDef="mois">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Mois</th>
          <td *matCellDef="let mission" class="sizeText" mat-cell>{{ mission.mois }}</td>
        </ng-container>
        <ng-container matColumnDef="annee">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Annee</th>
          <td *matCellDef="let mission" class="sizeText" mat-cell>{{ mission.annee }}</td>
        </ng-container>
        <ng-container matColumnDef="nomSpecialite">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Spécialité</th>
          <td *matCellDef="let mission" class="sizeText" mat-cell>{{ mission.nomSpecialite }}</td>
        </ng-container>
        <ng-container matColumnDef="activer">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Publier</th>
          <td *matCellDef="let mission" class="sizeText" mat-cell>
            <mat-slide-toggle (click)="onActiveBtnRadio(mission, !mission.enable)"
                              checked="{{mission.enable}}"></mat-slide-toggle>
            <span *ngIf="loader !== mission.mission_id">&nbsp;&nbsp;</span>
            <img *ngIf="loader === mission.mission_id" alt="loading..." src="../../../../assets/images/loader.gif"
              width="15px">
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>planning</th>
          <td *matCellDef="let mission" class="sizeText" mat-cell>

            <button color="success" mat-icon-button>
              <mat-icon (click)="planningMission(mission)" color="vertfoncer">date_range</mat-icon>
            </button>

          </td>
        </ng-container>
        <ng-container matColumnDef="disponibilitéesInterim">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Med.Dispo</th>
          <td *matCellDef="let mission" class="sizeText" mat-cell>


            <button color="success" mat-icon-button>
              <mat-icon (click)="machingDisponibilte(mission)" color="vertfoncer">event_available</mat-icon>
            </button>
          </td>
        </ng-container>


        <!-- fin des colonnes des champs du tableau -->
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr  *matRowDef="let client; columns: displayedColumns;" mat-row></tr>
      </table>
      <div *ngIf="this.dataSource.filteredData.length == 0" class="text-center">
        <strong>Désolé, aucun résultat ne correspond à votre recherche.</strong>
      </div>
    </div>
    <div class="card-footer row">
      <div class="col-6">
        <mat-form-field class="example-user-input">
          <mat-select [(ngModel)]="action" placeholder="selectionnez une action">
            <mat-option *ngFor="let action of listActions" [value]="action.value">
              {{action.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button (click)="actionbtn(action,selection.selected)" aria-label="Button pour valider l'action" color="success"
          mat-mini-fab>
          OK
        </button>
      </div>
      <div class="col-6">
        <mat-paginator (page)="pagination($event)" [length]="length" [pageSizeOptions]="pageSizeOptions"
          [pageSize]="pageSize">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModalDispobiliteInterimaires">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header text-center">
        <h4 class="modal-title">Listes des interimaires disponibles sur cette mission</h4>
        <button class="close" data-dismiss="modal" type="button">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div *ngIf="isMissionEnabled">
          <div *ngIf="dataSource_interims_disponibile">
            <div *ngIf="dataSource_interims_disponibile.data.length>0">
              <table #table [dataSource]="dataSource_interims_disponibile"
                class="bg-white footable table table-hover table-striped" mat-table matSort>
                <!-- colonne de checkboc   -->
                <ng-container matColumnDef="select">
                  <ng-container matColumnDef="select">
                    <th *matHeaderCellDef mat-header-cell>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                      </mat-checkbox>
                    </th>
                    <td *matCellDef="let disponibilite" class="text-center" mat-cell>
                      <mat-checkbox (change)="$event ? selection.toggle(disponibilite) : null"
                        (click)="$event.stopPropagation()" [checked]="selection.isSelected(disponibilite)">
                      </mat-checkbox>
                    </td>
                  </ng-container>
                </ng-container>
                <!-- debut des colonnes des champs du tableau -->

                <ng-container matColumnDef="nom">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header><span style="margin-left: 130px"> Nom </span>
                  </th>
                  <td *matCellDef="let disponibilite" class="text-center" mat-cell>
                    <strong>
                      <a data-dismiss="modal" routerLink="/RMS-Admin/interim/{{disponibilite[0].interim_id}}/show/">
                        {{disponibilite[0].nom}}
                      </a>
                    </strong>
                  </td>
                </ng-container>

                <ng-container matColumnDef="prenom">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header><span style="margin-left: 10px"> Prenom </span>
                  </th>
                  <td *matCellDef="let disponibilite" class="text-center" mat-cell>
                    <strong>
                      <a data-dismiss="modal" routerLink="/RMS-Admin/interim/{{disponibilite[0].interim_id}}/show/">
                        {{disponibilite[0].prenom}}
                      </a>
                    </strong>
                  </td>
                </ng-container>
                <ng-container matColumnDef="email">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header><span style="margin-left: 130px"> Email </span>
                  </th>
                  <td *matCellDef="let disponibilite" class="text-center" mat-cell>
                    {{disponibilite[0].email}}
                  </td>
                </ng-container>
                <!-- fin des colonnes des champs du tableau -->
                <!--                <tr *matHeaderRowDef="displayedColumns_interimaire_disponibile" mat-header-row></tr>-->
                <!--                <tr (click)="selection.toggle(disponibilite);"-->
                <!--                    *matRowDef="let disponibilite; columns: displayedColumns_interimaire_disponibile;"-->
                <!--                    mat-row style="cursor: pointer;"></tr>-->
              </table>
            </div>
            <div *ngIf="dataSource_interims_disponibile.data.length<=0">
              <div class="alert alert-primary text-center" role="alert">
                Aucune correspondance ! <br>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!isMissionEnabled">
          <div class="alert alert-warning text-center" role="alert">
            Pour verifier les interimaires disponibles pour cette mission, vous devez l'activer ! <br>
          </div>
        </div>
        <div class="panel-footer">
          <div *ngIf="dataSource_interims_disponibile">
            <div *ngIf="dataSource_interims_disponibile.data.length>0">
              <mat-paginator #listPaginator [pageSizeOptions]="[10, 20, 50]" [pageSize]="10">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal" type="button">fermer</button>
      </div>

    </div>
  </div>
</div>
