<!--// Formulaire de creation de la fiche de poste-->
<div *ngIf="showDiv == true && ficheClient.length==0" class="row">
  <div *ngIf="showDiv == true && ficheClient.length==0"
       style="padding-left: 150px;padding-right: 150px;padding-top: 15px;">
    <mat-card>
      <form (ngSubmit)="onCreateFicheClient()" [formGroup]="ficheClientForm">
        <div class="row">
          <!--Textarea Items-->
          <mat-form-field class="col-4">
                    <textarea formControlName="situation_de_la_structure" matInput
                              placeholder="Situation de la structure"></textarea>
          </mat-form-field>
          <mat-form-field class="col-4">
                    <textarea formControlName="info_pratique_ville" matInput
                              placeholder="Info pratique sur la ville"></textarea>
          </mat-form-field>
          <mat-form-field class="col-4">
            <textarea formControlName="taxi" matInput placeholder="Taxi"></textarea>
          </mat-form-field>
          <div class="col-12" style="margin-top: 10px"></div>
          <!-- Input-->
          <mat-form-field class="col-6">
            <input formControlName="distance_avec_gare" matInput placeholder="Distance avec la gare"
                   type="number">
          </mat-form-field>
          <mat-form-field class="col-6">
            <input formControlName="distance_avec_aeroport" matInput placeholder="Distance avec l'aéroport"
                   type="number">
          </mat-form-field>
          <div class="col-12" style="margin-top: 10px"></div>
          <mat-form-field class="col-6">
            <input formControlName="remarque_hebergement" matInput placeholder="Remarque hebergement">
          </mat-form-field>
          <mat-form-field class="col-6">
            <input formControlName="remarque_repas" matInput placeholder="Remarque repas">
          </mat-form-field>
          <div class="col-12" style="margin-top: 10px"></div>
          <!--Select-->
          <mat-form-field class="col-6">
            <mat-label>Herbergement</mat-label>
            <mat-select [formControl]="hebergement_internat" multiple>
              <mat-option value="Hotel">Hotel</mat-option>
              <mat-option value="Internat">Internat</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-6">
            <mat-label>Répas</mat-label>
            <mat-select [formControl]="repas" multiple>
              <mat-option value="Matin">Matin</mat-option>
              <mat-option value="Midi">Midi</mat-option>
              <mat-option value="Soir">Soir</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="col-12" style="margin-top: 25px"></div>
          <div class="col-1"></div>
          <button [disabled]="ficheClientForm.invalid" class="btn btn-success form-control col-4"
                  style="background: #3a97a2;color: white;"
                  type="submit">Valider
          </button>
          <div class="col-1"></div>
          <button class="btn btn-danger form-control col-4 ml-4" style="background: #ed5565;color: white;"
                  type="button">Annuler
          </button>

        </div>
      </form>
    </mat-card>
  </div>
</div>


<!--formulaire daffichage et de modification -->
<div *ngIf="showDiv == true && ficheClient.id" class="jumbotronListe">
  <!--/Affichage-->
  <div *ngIf="edit" class="row">
    <div class="col-12">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header (closed)="panelOpenState = false" (opened)="panelOpenState = true">
            <mat-panel-title>
              <strong>Situation de la Structure</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div [innerHTML]="ficheClient.situation_de_la_structure"></div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header (closed)="panelOpenState = false" (opened)="panelOpenState = true">
            <mat-panel-title>
              <strong> Info pratique sur la ville </strong>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div [innerHTML]="ficheClient.info_pratique_ville"></div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header (closed)="panelOpenState = false" (opened)="panelOpenState = true">
            <mat-panel-title>
              <strong> Taxi </strong>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div [innerHTML]="ficheClient.taxi"></div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <!--<div class="col-1"></div>-->
    <div class="col-12 mt-3">
      <mat-card>
        <div class="row" style="background: white">
          <div class="col-3">
            <p><strong> Herbergement: </strong> {{ficheClient.hebergemen_internat}} </p>
            <p><strong> Repas: </strong>{{ficheClient.repas}} </p>
            <p><strong> Distance avec la gare: </strong> {{ficheClient.distance_avec_gare}} Km</p>
            <p><strong> Distance avec la gare: </strong> {{ficheClient.distance_avec_gare}} Km</p>
          </div>
          <div class="col-9">
            <p><strong> Distance avec l'aéroport :</strong> {{ficheClient.distance_avec_aeroport}} Km</p>
            <p><strong> Remarque hebergement : </strong>{{ficheClient.remarque_hebergement}}</p>
            <p><strong> Remarque repas: </strong>{{ficheClient.remarque_repas}} </p>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-4 offset-4 text-center py-4">
      <button (click)="onEdit(ficheClient)" class="btn btn-warning btn-xs form-control"
              style="background: #f8ac59; color: white"> Modifier
      </button>
    </div>
  </div>
  <!--Update-->
  <form (ngSubmit)="onCreateFicheClientEdit(ficheClient.id)" *ngIf="!edit" [formGroup]="ficheClientForm">
    <div class="row m-4">
      <!--Textarea Items-->
      <mat-form-field class="col-4">
                    <textarea formControlName="situation_de_la_structure" matInput
                              placeholder="Situation de la structure"></textarea>
      </mat-form-field>
      <mat-form-field class="col-4">
                    <textarea formControlName="info_pratique_ville" matInput
                              placeholder="Info pratique sur la ville"></textarea>
      </mat-form-field>
      <mat-form-field class="col-4">
        <textarea formControlName="taxi" matInput placeholder="Taxi"></textarea>
      </mat-form-field>
      <div class="col-12" style="margin-top: 10px"></div>
      <!-- Input-->
      <mat-form-field class="col-6">
        <input formControlName="distance_avec_gare" matInput placeholder="Distance avec la gare"
               type="number">
      </mat-form-field>
      <mat-form-field class="col-6">
        <input formControlName="distance_avec_aeroport" matInput placeholder="Distance avec l'aéroport"
               type="number">
      </mat-form-field>
      <div class="col-12" style="margin-top: 10px"></div>
      <mat-form-field class="col-6">
        <input formControlName="remarque_hebergement" matInput placeholder="Remarque hebergement">
      </mat-form-field>
      <mat-form-field class="col-6">
        <input formControlName="remarque_repas" matInput placeholder="Remarque repas">
      </mat-form-field>
      <div class="col-12" style="margin-top: 10px"></div>
      <!--Select-->
      <mat-form-field class="col-6">
        <mat-label>Herbergement</mat-label>
        <mat-select [formControl]="hebergement_internat" multiple>
          <mat-option value="Hotel">Hotel</mat-option>
          <mat-option value="Internat">Internat</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-6">
        <mat-label>Repas</mat-label>
        <mat-select [formControl]="repas" multiple>
          <mat-option value="Matin">Matin</mat-option>
          <mat-option value="Midi">Midi</mat-option>
          <mat-option value="Soir">Soir</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="col-12" style="margin-top: 25px"></div>
      <div class="col-1"></div>
      <button [disabled]="ficheClientForm.invalid" class="btn btn-success form-control col-4"
              style="background: #3a97a2;color: white;"
              type="submit">Valider
      </button>
      <div class="col-1"></div>
      <button (click)="edit =!edit" class="btn btn-danger form-control col-4 ml-4" style="background: #ed5565;color: white;"
              type="button">Annuler
      </button>

    </div>
  </form>
</div>

