<div class="row ">
    <div class="col-md-5">

    </div>

    <div class="col-md-5"></div>

    <div class="col-md-2 text-right">


        <div class="col col-md-4 col-sm-4 col-xs-4 col-lg-4">
            <mat-form-field>
                <mat-label>Filtrer</mat-label>
                <mat-select [(ngModel)]="elements" multiple>
                    <mat-option (click)="valutElements()" *ngFor="let item of displayedColumnsFilter" [value]="item.name">
                        {{item.label | uppercase}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </div>
</div>

<form (ngSubmit)="onSubmitFiltre(f)" #f="ngForm">
    <div class="row">
        <div *ngFor="let item  of elements ">



            <div class="col-4" *ngIf="item == 'specialite'">


                <!-- <mat-form-field>
          <mat-select id="{{item}}" name="{{item}}" ngModel required>
            <mat-option *ngFor="let item of listSpecialites" [value]="item.nomspecialite">
              {{item.nomspecialite}}
            </mat-option>

          </mat-select>

        </mat-form-field> -->

            </div>

            <div class="col-4" *ngIf="item == 'annee'">

                <mat-form-field>
                    <mat-select id="{{item}}" name="{{item}}" ngModel required>
                        <mat-option *ngFor="let item of annees" [value]="item.annee">
                            {{item.annee}}
                        </mat-option>

                    </mat-select>

                </mat-form-field>

            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-left">
            <button class="btn btn-primary" type="submit" [disabled]="f.invalid" *ngIf="elements.length > 0">Valider</button>
        </div>
    </div>

</form>
<section class="section">
    <mat-radio-group [(ngModel)]="labelPosition" (change)="newStat()">
        <mat-radio-button class="section-margin" checked value="nbr">N.P</mat-radio-button>
        <mat-radio-button class="section-margin" value="ca">C.A</mat-radio-button>
    </mat-radio-group>
</section>
<div class="row">
    <div class="col-md-8" *ngIf="barChart">

        <div class="card-body">
            <fusioncharts [width]="barChart.width" [height]="barChart.height" [type]="barChart.type" [dataFormat]="barChart.dataFormat" [dataSource]="barChart.dataSource">
            </fusioncharts>
        </div>

    </div>
    <div class="col-md-4" *ngIf="pie3dChart">
        <div class="card-body">
            <div class="row">
                <div class="col-12">

                    <fusioncharts [width]="pie3dChart.width" [height]="pie3dChart.height" [type]="pie3dChart.type" [dataFormat]="pie3dChart.dataFormat" [dataSource]="pie3dChart.dataSource">
                    </fusioncharts>

                </div>
            </div>
        </div>

    </div>



</div>

<div class="row">
    <div class="col-md-12">


        <div class="card-body" *ngIf="barChartVille">
            <div class="row">
                <div class="col-12">

                    <fusioncharts [width]="barChartVille.width" [height]="barChartVille.height" [type]="barChartVille.type" [dataFormat]="barChartVille.dataFormat" [dataSource]="barChartVille.dataSource">
                    </fusioncharts>

                </div>
            </div>
        </div>
    </div>


</div>
<!-- end card-->