.card_{
  padding: 12px;
}
.h4, h4 {
  font-size: 9px;
  font-weight: 900;
}
.rounded {
  border-radius: .25rem!important;
  height: 70px;
}

@media (max-width: 767px) {
  .filtre .text-right { text-align:center }
}



.section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.section-margin {
  margin: 0 10px;
}
