<!-- Modal Header -->
<div class="modal-header">
  <div class="col-12 text-center">
    <button (click)="onNoClick()" class="close btn-default" data-dismiss="modal" type="button">&times;</button>
    <h5 class="modal-title">
      <i class="glyphicon glyphicon-th-list"></i>&nbsp;
      <span style="font-weight: 600">
              POSTULER
            </span>
    </h5>
  </div>
</div>

<!-- Modal body -->
<div class="modal-body table-responsive" style="overflow: auto;max-height: 500px;">
  <div *ngIf="enable">
    <table #table [dataSource]="dataSourceModal" class="bg-white footable table table-hover table-striped" mat-table
           matSort>
      <!-- colonne de checkboc   -->

      <ng-container matColumnDef="select">
        <ng-container matColumnDef="select">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td *matCellDef="let planning" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(planning) : null"
                          (click)="$event.stopPropagation()"
                          [checked]="selection.isSelected(planning)">
            </mat-checkbox>
          </td>
        </ng-container>
      </ng-container>
      <!-- debut des colonnes des champs du tableau -->

      <ng-container matColumnDef="number">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>#</th>
        <td *matCellDef="let planning" mat-cell>{{ dataSourceModal.filteredData.indexOf(planning) + 1 }}
      </ng-container>

      <ng-container matColumnDef="date">
        <th *matHeaderCellDef mat-header-cell mat-sort-header><span> Date </span></th>
        <td *matCellDef="let planning" mat-cell>
          {{planning.datePlanning}}
        </td>
      </ng-container>
      <ng-container matColumnDef="libelle">
        <th *matHeaderCellDef mat-header-cell mat-sort-header><span> Libelle </span></th>
        <td *matCellDef="let planning" mat-cell>
          {{planning.libelleGarde}}
        </td>
      </ng-container>
      <ng-container matColumnDef="debut">
        <th *matHeaderCellDef mat-header-cell mat-sort-header><span> Debut </span></th>
        <td *matCellDef="let planning" mat-cell>
          {{planning.heureDebut}}
        </td>
      </ng-container>
      <ng-container matColumnDef="fin">
        <th *matHeaderCellDef mat-header-cell mat-sort-header><span> Fin </span></th>
        <td *matCellDef="let planning" mat-cell>
          {{planning.heureFin}}
        </td>
      </ng-container>
      <ng-container matColumnDef="tarif">
        <th *matHeaderCellDef mat-header-cell mat-sort-header><span
        > Tarif </span></th>
        <td *matCellDef="let planning" mat-cell>{{planning.tarif}}
        </td>
      </ng-container>
      <!-- fin des colonnes des champs du tableau -->
      <tr *matHeaderRowDef="displayedColumnsModal" mat-header-row></tr>
      <tr (click)="selection.toggle(planning);" *matRowDef="let planning; columns: displayedColumnsModal;"
          mat-row class="pointer"></tr>
    </table>
    <div class="panel-footer">
      <!-- pagination -->
      <mat-paginator #listPaginatorModal [length]="lengthModal" [pageSizeOptions]="pageSizeOptions"
                     pageSize="5"
      >
      </mat-paginator>

    </div>
    <br>
    <div *ngIf="plannings_for_modal.length>0 " class="row">
      <div class="col-8">
        <mat-checkbox [(ngModel)]="send_mail" [checked]="send_mail"></mat-checkbox>
        <span style="color: red;font-size: 0.9em;"> &nbsp;&nbsp; envoyer un  mail  de confirmation candidature à l'interimaire !</span>
      </div>
      <div class="col-4 text-right">
        <mat-checkbox [(ngModel)]="enabled_candidature" [checked]="enabled_candidature"></mat-checkbox>
        <span
          style="color: #3a97a2;font-size: 0.9em;font-weight: 700"> &nbsp;&nbsp; Envoyer les candidatures !</span>
      </div>
      <div class="col-12 pt-4">
        <div class="panel panel-primary">
          <div class="panel-heading text-center py-2 font-weight-bold">Condition(s) du médicin</div>


          <ckeditor [(ngModel)]="condition_medecin" language="fr"
                    skin="moono-lisa"></ckeditor>

        </div>

      </div>
    </div>
    <div *ngIf="plannings_for_modal.length === 0 " class="alert alert-info text-center"
         role="alert">
      <span style="font-size: 1.15em">Plus d'offres disponibles... </span>
    </div>
  </div>
  <div *ngIf="!enable" class="p-4">
    <br>
    <div class="alert alert-warning text-center" role="alert">
      <span style="font-size: 1em">Le dossier de l'interimaire n'est pas encore verifié ou est en cours de verification ... ! </span>
    </div>
  </div>

  <div class="modal-footer">
    <button (click)="onPostuler();onNoClick()" *ngIf="selection.selected.length > 0" class="btn btn-success">Postuler
    </button>
    <button (click)="onNoClick()" class="btn btn-danger" type="button">fermer</button>
  </div>
</div>
