tr.mat-header-row {
  height: 40px;
  border-bottom: 2px solid #17A2B8;
  background: white;
}
.mat-header-cell {
  font-size: 1em;
  font-weight: bold;
  border-bottom: 2px solid #17A2B8;
  padding-bottom: 5px;
}
td.mat-cell, td.mat-footer-cell {
  padding-top: 14px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
